# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — Availability Inspector Actions
  version: 1.494.0
  description: GPT Actions for the availability-inspector GPT — a subset of the Chili Piper Edge API.
    Authenticate with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/user/find:
    get:
      tags:
      - user
      summary: Finds user
      description: 'READ-ONLY. Finds user. Resolve an email or name to a userId. Params: query (required),
        page, pageSize.'
      operationId: userFind
      parameters:
      - name: query
        in: query
        description: Search by email or name
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_User'
        '400':
          description: 'Invalid value for: query parameter query, Invalid value for: query parameter page,
            Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
      x-mcp-tool: user-find
  /v1/org/user/read/{userId}:
    get:
      tags:
      - user
      summary: Reads user information
      description: 'READ-ONLY. Reads user information. Fetch the full profile for one user by userId.
        Params: userId (required).'
      operationId: userRead
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: 'Invalid value for: path parameter userId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
      x-mcp-tool: user-read
  /v1/org/availability/slots-v2:
    put:
      tags:
      - availability
      summary: List available meeting time slots (paginated)
      description: READ-ONLY. List available meeting time slots (paginated). List bookable meeting start
        times for a meeting type over a window, paginated. Takes a JSON body.
      operationId: availabilitySlotsV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingStartTimesPagedRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_MeetingStartTime'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - availability.read
      x-mcp-tool: availability-slots-v2
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    MeetingTypeRef:
      title: MeetingTypeRef
      type: object
      required:
      - id
      - timestamp
      properties:
        id:
          $ref: '#/components/schemas/MeetingTypeId'
          description: Referenced meeting-type identifier.
        timestamp:
          description: Version token (last-modified instant) of the referenced meeting type.
          type: string
          format: date-time
    RequestAttendee_DistributionAssignee:
      title: RequestAttendee_DistributionAssignee
      type: object
      required:
      - distributionId
      - required
      - type
      properties:
        userIds:
          description: Ranked list of eligible user IDs. If omitted, all distribution members are included.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        required:
          type: boolean
        type:
          type: string
          const: DistributionAssignee
    MeetingTypeOverrides:
      title: MeetingTypeOverrides
      type: object
      properties:
        meetingDurationOverride:
          description: Override the meeting length; duration string like '30 minutes' or ISO 8601 'PT30M'.
          type: string
        beforeBufferDurationOverride:
          description: Override the buffer reserved before the meeting.
          type: string
        afterBufferDurationOverride:
          description: Override the buffer reserved after the meeting.
          type: string
        availabilityIncrementOverride:
          description: Override the granularity at which candidate start times are generated.
          type: string
    RequestAttendee:
      title: RequestAttendee
      oneOf:
      - $ref: '#/components/schemas/RequestAttendee_AdditionalAttendee'
      - $ref: '#/components/schemas/RequestAttendee_AssignedViaTeam'
      - $ref: '#/components/schemas/RequestAttendee_DistributionAssignee'
      - $ref: '#/components/schemas/RequestAttendee_ManuallyAssigned'
      discriminator:
        propertyName: type
        mapping:
          AdditionalAttendee: '#/components/schemas/RequestAttendee_AdditionalAttendee'
          AssignedViaTeam: '#/components/schemas/RequestAttendee_AssignedViaTeam'
          DistributionAssignee: '#/components/schemas/RequestAttendee_DistributionAssignee'
          ManuallyAssigned: '#/components/schemas/RequestAttendee_ManuallyAssigned'
    RequestAttendee_ManuallyAssigned:
      title: RequestAttendee_ManuallyAssigned
      type: object
      required:
      - userId
      - required
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        required:
          type: boolean
        type:
          type: string
          const: ManuallyAssigned
    User:
      title: User
      type: object
      required:
      - id
      - name
      - email
      - isSuperAdmin
      - licenses
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        name:
          type: string
          minLength: 1
        email:
          $ref: '#/components/schemas/Email'
          description: User's email address.
        isSuperAdmin:
          description: Whether the user is a super administrator of the tenant.
          type: boolean
        managedWorkspaces:
          description: Workspaces the user administers.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        managedTeams:
          description: Teams the user administers.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        licenses:
          $ref: '#/components/schemas/UserLicenses'
        salesforce:
          $ref: '#/components/schemas/SalesforceUser'
        hubspot:
          $ref: '#/components/schemas/HubspotUser'
        slug:
          description: User's personal booking-page slug; absent if they have none.
          type: string
          pattern: '[-0-9a-z_]+'
        workspaces:
          description: All workspaces the user is a member of.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        personalWorkspaceId:
          description: The user's personal workspace, when they have one.
          type: string
          pattern: '[^\s\\/]+'
        personalDetails:
          $ref: '#/components/schemas/UserPersonalDetails'
        workingHours:
          $ref: '#/components/schemas/WorkingHours'
        timezone:
          description: The user's configured scheduling timezone (IANA id); absent when synced from their
            connected calendar. Populated by user-read only.
          examples:
          - America/New_York
          type: string
    HubspotUser:
      title: HubspotUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked HubSpot user.
        id:
          description: Identifier of the linked HubSpot user.
          type: integer
          format: int64
    AvailabilityExpectedHost_AssigneeFromDistribution:
      title: AvailabilityExpectedHost_AssigneeFromDistribution
      type: object
      required:
      - distributionId
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: AssigneeFromDistribution
    Tier:
      title: Tier
      type: string
      enum:
      - RoutingAndScheduling
      - Experiences
      - ChiliDataPlatform
    MeetingTypeId:
      title: MeetingTypeId
      examples:
      - 4a8f2b3c-7d1e-4f9b-8a2c-3d5e6f789012
      type: string
      format: uuid
    RequestedAttendee_ManuallyAssigned:
      title: RequestedAttendee_ManuallyAssigned
      type: object
      required:
      - userId
      - required
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        required:
          type: boolean
        type:
          type: string
          const: ManuallyAssigned
    AvailabilityExpectedHost_User:
      title: AvailabilityExpectedHost_User
      type: object
      required:
      - userId
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        type:
          type: string
          const: User
    RequestedAttendee:
      title: RequestedAttendee
      oneOf:
      - $ref: '#/components/schemas/RequestedAttendee_AdditionalAttendee'
      - $ref: '#/components/schemas/RequestedAttendee_AssignedViaTeam'
      - $ref: '#/components/schemas/RequestedAttendee_FlexibleRoundRobinAssignee'
      - $ref: '#/components/schemas/RequestedAttendee_ManuallyAssigned'
      - $ref: '#/components/schemas/RequestedAttendee_StrictRoundRobinAssignee'
      discriminator:
        propertyName: type
        mapping:
          AdditionalAttendee: '#/components/schemas/RequestedAttendee_AdditionalAttendee'
          AssignedViaTeam: '#/components/schemas/RequestedAttendee_AssignedViaTeam'
          FlexibleRoundRobinAssignee: '#/components/schemas/RequestedAttendee_FlexibleRoundRobinAssignee'
          ManuallyAssigned: '#/components/schemas/RequestedAttendee_ManuallyAssigned'
          StrictRoundRobinAssignee: '#/components/schemas/RequestedAttendee_StrictRoundRobinAssignee'
    WorkInterval:
      title: WorkInterval
      type: object
      required:
      - start
      - end
      properties:
        start:
          description: Start of the working interval as a local time (HH:mm), in the schedule timezone.
          type: string
        end:
          description: End of the working interval as a local time (HH:mm); must be after start.
          type: string
    TimeInterval:
      title: TimeInterval
      type: object
      required:
      - startsAt
      - duration
      properties:
        startsAt:
          description: Instant the interval begins; slots are computed from this time forward.
          type: string
          format: date-time
        duration:
          description: Duration of the time interval. Accepts Scala FiniteDuration format (e.g. '7 days',
            '1 hour', '30 minutes') or ISO 8601 duration format (e.g. 'P7D', 'PT168H', 'PT1H30M').
          type: string
    MeetingStartTime:
      title: MeetingStartTime
      type: object
      required:
      - startTime
      - attendees
      properties:
        startTime:
          description: Bookable slot start time.
          type: string
          format: date-time
        attendees:
          description: Attendees available at this start time, each with how they were assigned.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RequestedAttendee'
    PaginatedResult_User:
      title: PaginatedResult_User
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    MeetingStartTimesPagedRequest:
      title: MeetingStartTimesPagedRequest
      type: object
      required:
      - expectedHost
      - attendees
      - meetingTypeRef
      - interval
      properties:
        expectedHost:
          $ref: '#/components/schemas/AvailabilityExpectedHost'
        attendees:
          description: Attendees to schedule; availability is the intersection of the required ones.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RequestAttendee'
        meetingTypeRef:
          $ref: '#/components/schemas/MeetingTypeRef'
        meetingTypeOverride:
          $ref: '#/components/schemas/MeetingTypeOverrides'
        interval:
          $ref: '#/components/schemas/TimeInterval'
        pagination:
          $ref: '#/components/schemas/Pagination'
    UserPersonalDetails:
      title: UserPersonalDetails
      type: object
      required:
      - email
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: The user's email address.
        firstName:
          description: The user's first name.
          type: string
        lastName:
          description: The user's last name.
          type: string
        jobTitle:
          description: The user's job title.
          type: string
        conferenceDetails:
          description: Free-text conferencing details shown on the user's meetings.
          type: string
        location:
          description: The user's location.
          type: string
        phoneNumber:
          description: The user's phone number.
          type: string
        imageUrl:
          description: URL of the user's profile picture.
          type: string
        customCompanyLogoUrl:
          description: URL of a custom company logo shown on the user's booking pages.
          type: string
    RequestedAttendee_StrictRoundRobinAssignee:
      title: RequestedAttendee_StrictRoundRobinAssignee
      type: object
      required:
      - distributionId
      - userId
      - required
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        userId:
          $ref: '#/components/schemas/UserId'
        required:
          type: boolean
        type:
          type: string
          const: StrictRoundRobinAssignee
    UserLicenses:
      title: UserLicenses
      type: object
      required:
      - chiliCalOrg
      - handoff
      properties:
        distro:
          description: Whether the user holds a Distro (lead-routing) license.
          type: boolean
        chiliCalOrg:
          description: Whether the user holds a ChiliCal organization license.
          type: boolean
        concierge:
          description: Whether the user holds a Concierge license.
          type: boolean
        conciergeLive:
          description: Whether the user holds a Concierge Live license.
          type: boolean
        chat:
          description: Whether the user holds a Chat license.
          type: boolean
        handoff:
          description: Whether the user holds a Handoff license.
          type: boolean
        tier:
          $ref: '#/components/schemas/Tier'
    PaginatedResult_MeetingStartTime:
      title: PaginatedResult_MeetingStartTime
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/MeetingStartTime'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    RequestedAttendee_FlexibleRoundRobinAssignee:
      title: RequestedAttendee_FlexibleRoundRobinAssignee
      type: object
      required:
      - distributionId
      - userIds
      - required
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        userIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/UserId'
        required:
          type: boolean
        type:
          type: string
          const: FlexibleRoundRobinAssignee
    Pagination:
      title: Pagination
      type: object
      required:
      - page
      - pageSize
      properties:
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    WorkingHours:
      title: WorkingHours
      type: object
      properties:
        monday:
          description: Working intervals on Monday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        tuesday:
          description: Working intervals on Tuesday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        wednesday:
          description: Working intervals on Wednesday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        thursday:
          description: Working intervals on Thursday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        friday:
          description: Working intervals on Friday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        saturday:
          description: Working intervals on Saturday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        sunday:
          description: Working intervals on Sunday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
    DistributionId:
      title: DistributionId
      examples:
      - 7f8a1b2c-3d4e-4f5a-8b9c-0d1e2f3a4b5c
      type: string
      pattern: '[^\s\\/]+'
    RequestAttendee_AdditionalAttendee:
      title: RequestAttendee_AdditionalAttendee
      type: object
      required:
      - userId
      - required
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        required:
          type: boolean
        type:
          type: string
          const: AdditionalAttendee
    RequestedAttendee_AssignedViaTeam:
      title: RequestedAttendee_AssignedViaTeam
      type: object
      required:
      - userId
      - teamId
      - required
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        teamId:
          $ref: '#/components/schemas/TeamId'
        required:
          type: boolean
        type:
          type: string
          const: AssignedViaTeam
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
      properties: {}
    SalesforceUser:
      title: SalesforceUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked Salesforce user.
        id:
          description: Identifier of the linked Salesforce user.
          type: string
          pattern: '[^\s\\/]+'
        name:
          description: Display name of the linked Salesforce user, when known.
          type: string
          minLength: 1
        active:
          description: Whether the linked Salesforce user is active, when known.
          type: boolean
    AvailabilityExpectedHost:
      title: AvailabilityExpectedHost
      oneOf:
      - $ref: '#/components/schemas/AvailabilityExpectedHost_AssigneeFromDistribution'
      - $ref: '#/components/schemas/AvailabilityExpectedHost_User'
      discriminator:
        propertyName: type
        mapping:
          AssigneeFromDistribution: '#/components/schemas/AvailabilityExpectedHost_AssigneeFromDistribution'
          User: '#/components/schemas/AvailabilityExpectedHost_User'
    RequestedAttendee_AdditionalAttendee:
      title: RequestedAttendee_AdditionalAttendee
      type: object
      required:
      - userId
      - required
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        required:
          type: boolean
        type:
          type: string
          const: AdditionalAttendee
    RequestAttendee_AssignedViaTeam:
      title: RequestAttendee_AssignedViaTeam
      type: object
      required:
      - userId
      - teamId
      - required
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        teamId:
          $ref: '#/components/schemas/TeamId'
        required:
          type: boolean
        type:
          type: string
          const: AssignedViaTeam
    TeamId:
      title: TeamId
      examples:
      - 2a9c3f1e-8b7d-4a5c-9e6f-1b2c3d4e5f6a
      type: string
      pattern: '[^\s\\/]+'
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
