# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — Distribution Debugger Actions
  version: 1.252.1
  description: GPT Actions for the distro-debugger GPT — a subset of the Chili Piper Edge API. Authenticate
    with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: "[operation: workspace-list]\n\n\n\nREAD-ONLY\n\n\n\nReturns all workspaces in the\
        \ org. Hierarchy: Tenant → Workspaces → Teams → Users.\n\n- page (opt), pageSize (opt, default\
        \ 200)\n\n→\n\n    [{workspaceId, name, settings}]\n\nsee: workspace-list-users (members), workspace-add/remove-users\
        \ (manage membership), meeting-list/export (filter by workspaceId), concierge-logs (filter by\
        \ workspaceId)"
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
  /v1/org/distro/logs:
    post:
      tags:
      - distro
      summary: List distro logs
      description: "[operation: distro-logs]\n\n\n\nREAD-ONLY\n\n\n\nReturns paginated distro logs (record-level\
        \ audit trail of router flow runs) for a workspace, with optional filtering.\n\n- workspaceId\
        \ (req): workspace to query logs for; use distro-list-routers to find workspaceId\n\n- page (opt,\
        \ default 0), pageSize (opt, default 10): pagination\n\n- body (req; send `{}` for no filtering):\
        \ filter with optional fields:\n\n  - userIds (opt): filter by assignee user IDs\n\n  - status\
        \ (opt): flow lifecycle outcome; one of: \"NotTriggered\" | \"NotMatchedEntryRule\" | \"DelayInProgress\"\
        \ | \"WorkingHours\" | \"SlaInProgress\" | \"NotRouted\" | \"Finished\" | \"SlaFinished\" | \"\
        Error\"\n\n  - distributionMethod (opt): how the user was picked (a distribution-level decision,\
        \ not a distro-level state); one of: \"FromOwnershipArs\" | \"RoundRobinEvaluationSuccess\" |\
        \ \"EvaluatedFromRoundRobinArs\" | \"FallbackTeam\" | \"FallbackUser\" | \"DuplicateMatchOwner\"\
        \ | \"NoDistribution\" | \"NoUserAvailable\" | \"ClientError\"\n\n  - search (opt): text search\n\
        \n  - from (opt): start time (ISO8601 with zone, e.g. \"2024-01-01T00:00:00Z\")\n\n  - to (opt):\
        \ end time (ISO8601 with zone)\n\n→\n\n    {results: [{log: {id, workspaceId, routerId, status,\
        \ assignments: [{userId, distributionId?, method}], trigger?: {entityId, entityType, eventType},\
        \ createdAt, updatedAt}, router: {id, name, workspaceId}}], total, page, pageSize}\n\nsee: distro-list-routers\
        \ (find routers and their workspaceId)"
      operationId: distroLogs
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      - name: workspaceId
        in: query
        description: Id of the workspace
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        description: Filter criteria; body is required (all fields optional — send `{}` for no filtering).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistroLogsFilter'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_DistroLogEntry'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize,
            Invalid value for: query parameter workspaceId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - logs.read
  /v1/org/distro/logs/{logId}:
    get:
      tags:
      - distro
      summary: Get distro log evaluation trace
      description: "[operation: distro-log-get]\n\n\n\nREAD-ONLY\n\n\n\nReturns the per-record evaluation\
        \ trace for a single distro log — the in-app log drill-down that answers \"why did this record\
        \ route here / why didn't it route\".\n\n- logId (req): log id, as returned by distro-logs (log.id)\n\
        \n- routerId (req): router the log belongs to, as returned by distro-logs (log.routerId)\n\n→\n\
        \n    {log: {id, workspaceId, routerId, status, assignments, trigger?, createdAt, updatedAt},\
        \ events: [{stage, status, trigger?, triggerValidation?, changeEvaluation?, entryRule?, route?,\
        \ slaRules, enrichments, assignments, error?, createdAt, updatedAt}]}\n\n  Note: stage is the\
        \ internal processing-stage name of the event (e.g. \"ActionsSuccessful\", \"RuleEvalFailedV2\"\
        ); entryRule, route.rules and slaRules entries are rule evaluations: {ruleId?, ruleName?, matched,\
        \ logic?, conditions: [{index, conditionId?, kind, field?, recordId?, resolvedValue?, operator?,\
        \ expectedValue?, expectedField?, matched, owners, error?}]}.\n\n  Note: each condition shows\
        \ the data-source field as source.object.field with the rule-builder source code (e.g. \"SF.Lead.Email\"\
        \ for Salesforce), the resolved record id and value, the expected value(s) and whether it matched;\
        \ logic combines condition indexes, e.g. \"(1 and 2) or 3\". Enrichment steps list per-field existing\
        \ vs enriched values; route.matchers and route.duplicateMatches cover path matching and duplicate-match\
        \ ownership.\n\nsee: distro-logs (list logs to obtain logId and routerId)"
      operationId: distroLogGet
      parameters:
      - name: logId
        in: path
        description: Log id, as returned by the distro logs list endpoint.
        required: true
        schema:
          type: string
      - name: routerId
        in: query
        description: Router the log belongs to, as returned by the distro logs list endpoint.
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroLogDetail'
        '400':
          description: 'Invalid value for: query parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - logs.read
  /v2/org/distribution/list:
    put:
      tags:
      - distribution
      summary: List all distributions (PUT)
      description: "[operation: distribution-list-put]\n\n\n\nREAD-ONLY\n\n\n\nReturns all published distributions\
        \ in the org. Accepts filter params in request body to avoid query-string length limits.\n\n-\
        \ body.workspaceIds (opt): filter by workspace\n\n- body.name (opt): filter by distribution name\
        \ (substring match)\n\n- body.assignmentType (opt): filter by assignment type; \"Record\" | \"\
        Meeting\" | \"Conversation\"\n\n- body.page (opt), body.pageSize (opt, default 200)\n\n→\n\n \
        \   {results: [{distributionId, name, teamId, assignees, assignmentTypeConfig, capping}]}\n\n\
        see: distribution-list (GET equivalent)"
      operationId: distributionListPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Distribution'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distribution.read
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    DistroLogEnrichmentField:
      title: DistroLogEnrichmentField
      type: object
      required:
      - field
      - overwriteEnabled
      - overwriteExisting
      properties:
        field:
          type: string
        provider:
          type: string
        existingValue: {}
        enrichedValue: {}
        overwriteEnabled:
          type: boolean
        overwriteExisting:
          type: boolean
    DistroLogConditionKind:
      title: DistroLogConditionKind
      type: string
      enum:
      - Comparison
      - FieldComparison
      - Ownership
      - FuzzyOwnership
      - Existence
      - AlwaysTrue
    ReassignmentType:
      title: ReassignmentType
      type: string
      enum:
      - SameUser
      - AnyTeamMember
    DistributionMethod:
      title: DistributionMethod
      type: string
      enum:
      - FromOwnershipArs
      - RoundRobinEvaluationSuccess
      - EvaluatedFromRoundRobinArs
      - FallbackTeam
      - FallbackUser
      - DuplicateMatchOwner
      - NoDistribution
      - NoUserAvailable
      - ClientError
    Monthly1:
      title: Monthly
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    DistroLog:
      title: DistroLog
      type: object
      required:
      - id
      - workspaceId
      - routerId
      - status
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        routerId:
          $ref: '#/components/schemas/RouterId'
        status:
          $ref: '#/components/schemas/DistroLogStatus'
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogAssignment'
        trigger:
          $ref: '#/components/schemas/DistroLogTrigger'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Levels:
      title: Levels
      type: object
      required:
      - current
      - nextAssignmentDelta
      - total
      properties:
        current:
          description: Earned score plus prolonged-reservation projection, before manual calibration.
          type: number
        nextAssignmentDelta:
          description: Score increment that will be added if this user receives the next assignment. Forward-looking;
            not included in `current` or `total`.
          type: number
        calibrationDelta:
          description: Manual-calibration adjustment applied on top of `current`. Absent when no calibration
            is in effect. When present, `total = current + calibrationDelta`.
          type: number
        total:
          description: Current score with manual calibration applied.
          type: number
    DistributionUserState_Disabled:
      title: DistributionUserState_Disabled
      description: User has been explicitly disabled in this distribution (weight set to 0). Still on
        the team but won't receive assignments until re-enabled.
      type: object
      required:
      - userId
      - total
      - disabledAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        disabledAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Disabled
    DistroLogMatcherKind:
      title: DistroLogMatcherKind
      type: string
      enum:
      - Relation
      - DuplicateMatch
      - CustomMatchedObject
    DistributedAssignmentLimitReset:
      title: DistributedAssignmentLimitReset
      oneOf:
      - $ref: '#/components/schemas/Daily1'
      - $ref: '#/components/schemas/HourlyRolling'
      - $ref: '#/components/schemas/Monthly1'
      - $ref: '#/components/schemas/Weekly1'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/Daily1'
          HourlyRolling: '#/components/schemas/HourlyRolling'
          Monthly: '#/components/schemas/Monthly1'
          Weekly: '#/components/schemas/Weekly1'
    DistributionAssignmentTypeConfig:
      title: DistributionAssignmentTypeConfig
      oneOf:
      - $ref: '#/components/schemas/Conversation'
      - $ref: '#/components/schemas/Meeting'
      - $ref: '#/components/schemas/Record'
      discriminator:
        propertyName: type
        mapping:
          Conversation: '#/components/schemas/Conversation'
          Meeting: '#/components/schemas/Meeting'
          Record: '#/components/schemas/Record'
    ListRequest:
      title: ListRequest
      type: object
      properties:
        workspaceIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
        name:
          type: string
        assignmentType:
          $ref: '#/components/schemas/DistributionAssignmentType'
    DistributionAssignmentType:
      title: DistributionAssignmentType
      type: string
      enum:
      - Record
      - Meeting
      - Conversation
    Monthly:
      title: Monthly
      type: object
      required:
      - every
      - startsOn
      - resetDay
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDay:
          type: integer
          format: int32
          minimum: 1
          maximum: 28
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    DistroLogEnrichmentStep:
      title: DistroLogEnrichmentStep
      type: object
      required:
      - stepId
      properties:
        stepId:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogEnrichmentField'
        errors:
          type: array
          items:
            type: string
    DistroLogRouteEvaluation:
      title: DistroLogRouteEvaluation
      type: object
      properties:
        routeId:
          type: string
        ruleName:
          type: string
        matchers:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogMatcherEvaluation'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogRuleEvaluation'
        duplicateMatches:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogDuplicateMatch'
    Flexible:
      title: Flexible
      type: object
      required:
      - reassignmentType
      - allowPickingAssignee
      - type
      properties:
        reassignmentType:
          $ref: '#/components/schemas/ReassignmentType'
        allowPickingAssignee:
          type: boolean
        type:
          type: string
          const: Flexible
    DistroLogConditionEvaluation:
      title: DistroLogConditionEvaluation
      type: object
      required:
      - index
      - kind
      - matched
      properties:
        index:
          type: integer
          format: int32
        conditionId:
          type: string
        kind:
          $ref: '#/components/schemas/DistroLogConditionKind'
        field:
          type: string
        recordId:
          type: string
        resolvedValue: {}
        operator:
          type: string
        expectedValue: {}
        expectedField:
          type: string
        matched:
          type: boolean
        owners:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogEvaluatedOwner'
        error:
          type: string
    TeamRef:
      title: TeamRef
      type: object
      required:
      - id
      - revision
      properties:
        id:
          $ref: '#/components/schemas/TeamId'
        revision:
          type: integer
          format: int32
    DistributionUserState_Capped:
      title: DistributionUserState_Capped
      description: User has reached their assignment cap for the current period and is temporarily excluded
        until the cap resets.
      type: object
      required:
      - userId
      - total
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Capped
    DistroLogError:
      title: DistroLogError
      type: object
      required:
      - errorType
      - message
      - errorCode
      properties:
        errorType:
          type: string
        message:
          type: string
        errorCode:
          type: string
    Daily1:
      title: Daily
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    MeetingLimitReset:
      title: MeetingLimitReset
      oneOf:
      - $ref: '#/components/schemas/Daily'
      - $ref: '#/components/schemas/Monthly'
      - $ref: '#/components/schemas/Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/Daily'
          Monthly: '#/components/schemas/Monthly'
          Weekly: '#/components/schemas/Weekly'
    RouterId:
      title: RouterId
      examples:
      - c5d6e7f8-a9b0-4c1d-ae2f-3a4b5c6d7e8f
      type: string
      pattern: '[^\s\\/]+'
    DistributionUserState_Removed:
      title: DistributionUserState_Removed
      description: User was removed from the team entirely — historical record, no assignments will go
        to this user.
      type: object
      required:
      - userId
      - total
      - removedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        removedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Removed
    Record:
      title: Record
      type: object
      required:
      - handling
      - type
      properties:
        handling:
          $ref: '#/components/schemas/RecordHandling'
        type:
          type: string
          const: Record
    DistroLogTriggerEventType:
      title: DistroLogTriggerEventType
      type: string
      enum:
      - Created
      - Updated
      - Signaled
    DistributionState:
      title: DistributionState
      type: object
      properties:
        userStates:
          type: array
          items:
            $ref: '#/components/schemas/DistributionUserState'
        lastReset:
          type: string
          format: date-time
    DistributionUserState:
      title: DistributionUserState
      oneOf:
      - $ref: '#/components/schemas/DistributionUserState_Active'
      - $ref: '#/components/schemas/DistributionUserState_Capped'
      - $ref: '#/components/schemas/DistributionUserState_Disabled'
      - $ref: '#/components/schemas/DistributionUserState_NoLicense'
      - $ref: '#/components/schemas/DistributionUserState_Removed'
      discriminator:
        propertyName: type
        mapping:
          Active: '#/components/schemas/DistributionUserState_Active'
          Capped: '#/components/schemas/DistributionUserState_Capped'
          Disabled: '#/components/schemas/DistributionUserState_Disabled'
          NoLicense: '#/components/schemas/DistributionUserState_NoLicense'
          Removed: '#/components/schemas/DistributionUserState_Removed'
    DistroLogsFilter:
      title: DistroLogsFilter
      type: object
      properties:
        userIds:
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        status:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogStatus'
        distributionMethod:
          type: array
          items:
            $ref: '#/components/schemas/DistributionMethod'
        search:
          type: string
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
    DistributionId:
      title: DistributionId
      examples:
      - 7f8a1b2c-3d4e-4f5a-8b9c-0d1e2f3a4b5c
      type: string
      pattern: '[^\s\\/]+'
    DistroLogEvaluatedOwner:
      title: DistroLogEvaluatedOwner
      type: object
      properties:
        userId:
          type: string
          pattern: '[^\s\\/]+'
        email:
          type: string
          pattern: .+@.+
    RecordHandling:
      title: RecordHandling
      oneOf:
      - $ref: '#/components/schemas/Strict1'
      - $ref: '#/components/schemas/WorkingHours'
      discriminator:
        propertyName: type
        mapping:
          Strict: '#/components/schemas/Strict1'
          WorkingHours: '#/components/schemas/WorkingHours'
    DistroLogStatus:
      title: DistroLogStatus
      type: string
      enum:
      - NotTriggered
      - NotMatchedEntryRule
      - DelayInProgress
      - WorkingHours
      - SlaInProgress
      - NotRouted
      - Finished
      - SlaFinished
      - Error
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    UserStatistics:
      title: UserStatistics
      type: object
      required:
      - assigned
      - cancelled
      - noShow
      - reassignedToThis
      - reassignedFromThis
      properties:
        assigned:
          description: Number of assignments booked directly to this user in the current period.
          type: integer
          format: int32
        cancelled:
          description: Number of assignments that were later cancelled.
          type: integer
          format: int32
        noShow:
          description: Number of assignments where the invitee did not show up.
          type: integer
          format: int32
        reassignedToThis:
          description: Number of assignments that were reassigned to this user from another.
          type: integer
          format: int32
        reassignedFromThis:
          description: Number of assignments originally made to this user that were reassigned away.
          type: integer
          format: int32
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    Conversation:
      title: Conversation
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Conversation
    Weekly:
      title: Weekly
      type: object
      required:
      - every
      - startsOn
      - resetDayOfWeek
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDayOfWeek:
          examples:
          - MONDAY
          type: string
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Weekly
    DistributionUserState_NoLicense:
      title: DistributionUserState_NoLicense
      description: User is still on the team but has lost their license, so they cannot receive assignments.
        Re-licensing restores them.
      type: object
      required:
      - userId
      - total
      - licenseRemovedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        licenseRemovedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: NoLicense
    Meeting:
      title: Meeting
      type: object
      required:
      - handling
      - limits
      - type
      properties:
        handling:
          $ref: '#/components/schemas/MeetingHandling'
        limits:
          $ref: '#/components/schemas/MeetingLimit'
        type:
          type: string
          const: Meeting
    DistroLogEventDetail:
      title: DistroLogEventDetail
      type: object
      required:
      - stage
      - status
      - createdAt
      - updatedAt
      properties:
        stage:
          type: string
        status:
          $ref: '#/components/schemas/DistroLogStatus'
        trigger:
          $ref: '#/components/schemas/DistroLogTrigger'
        triggerValidation:
          type: string
        changeEvaluation:
          type: string
        entryRule:
          $ref: '#/components/schemas/DistroLogRuleEvaluation'
        route:
          $ref: '#/components/schemas/DistroLogRouteEvaluation'
        slaRules:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogRuleEvaluation'
        enrichments:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogEnrichmentStep'
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogAssignment'
        error:
          $ref: '#/components/schemas/DistroLogError'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    DistroLogRuleEvaluation:
      title: DistroLogRuleEvaluation
      type: object
      required:
      - matched
      properties:
        ruleId:
          type: string
          pattern: '[^\s\\/]+'
        ruleName:
          type: string
        matched:
          type: boolean
        logic:
          type: string
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogConditionEvaluation'
    DistroLogDuplicateMatch:
      title: DistroLogDuplicateMatch
      type: object
      required:
      - ownerId
      properties:
        routeId:
          type: string
        objectType:
          type: string
        objectId:
          type: string
        ownerId:
          $ref: '#/components/schemas/UserId'
        ownerEmail:
          type: string
          pattern: .+@.+
    UserLimit:
      title: UserLimit
      type: object
      required:
      - userId
      - limit
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        limit:
          type: integer
          format: int32
          minimum: 0
    Strict1:
      title: Strict
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Strict
    PaginatedResult_DistroLogEntry:
      title: PaginatedResult_DistroLogEntry
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogEntry'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    DistroLogMatcherEvaluation:
      title: DistroLogMatcherEvaluation
      type: object
      required:
      - kind
      - matched
      properties:
        routeId:
          type: string
        kind:
          $ref: '#/components/schemas/DistroLogMatcherKind'
        objectType:
          type: string
        exists:
          type: boolean
        matchToAccountOwner:
          type: boolean
        matched:
          type: boolean
        recordId:
          type: string
    PaginatedResult_Distribution:
      title: PaginatedResult_Distribution
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    ConfigurationDTO:
      title: ConfigurationDTO
      type: object
      required:
      - distributionId
      - workspaceId
      - assignmentTypeConfig
      - teamRef
      - metadata
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        assignmentTypeConfig:
          $ref: '#/components/schemas/DistributionAssignmentTypeConfig'
        teamRef:
          $ref: '#/components/schemas/TeamRef'
        weights:
          type: array
          items:
            $ref: '#/components/schemas/UserWeight'
        name:
          type: string
        manualCalibration:
          type: array
          items:
            $ref: '#/components/schemas/UserCalibration'
        capping:
          $ref: '#/components/schemas/DistributedAssignmentLimit'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    DistroLogEntry:
      title: DistroLogEntry
      type: object
      required:
      - log
      - router
      properties:
        log:
          $ref: '#/components/schemas/DistroLog'
        router:
          $ref: '#/components/schemas/DistroRouterSummary'
    MeetingLimitSet:
      title: MeetingLimitSet
      type: object
      required:
      - resetPeriodicity
      - type
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/MeetingLimitReset'
        type:
          type: string
          const: MeetingLimitSet
    Daily:
      title: Daily
      type: object
      required:
      - every
      - startsOn
      - resetLocalTime
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetLocalTime:
          type: string
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    UserWeight:
      title: UserWeight
      type: object
      required:
      - userId
      - weight
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        weight:
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        emoji:
          type: string
        logo:
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    TeamId:
      title: TeamId
      examples:
      - 2a9c3f1e-8b7d-4a5c-9e6f-1b2c3d4e5f6a
      type: string
      pattern: '[^\s\\/]+'
    Distribution:
      title: Distribution
      type: object
      required:
      - id
      - published
      - state
      - prioritization
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        published:
          $ref: '#/components/schemas/ConfigurationDTO'
        state:
          $ref: '#/components/schemas/DistributionState'
        prioritization:
          $ref: '#/components/schemas/Prioritization'
    Strict:
      title: Strict
      type: object
      required:
      - hideAssignee
      - type
      properties:
        hideAssignee:
          type: boolean
        type:
          type: string
          const: Strict
    MeetingLimit:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitSet'
      - $ref: '#/components/schemas/MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimitUnset'
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    Prioritization:
      title: Prioritization
      type: object
      properties:
        queue:
          description: Ordered list of active user IDs in the order they will receive the next assignments.
            This is the authoritative assignment-ordering surface; level fields are informational.
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        onVacation:
          description: Users currently on vacation and skipped by the queue until they return.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        reachedCap:
          description: Users who have reached their assignment cap for the current period and are skipped
            until the cap resets.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    DistroLogTrigger:
      title: DistroLogTrigger
      type: object
      required:
      - entityId
      - entityType
      - eventType
      properties:
        entityId:
          type: string
        entityType:
          type: string
        eventType:
          $ref: '#/components/schemas/DistroLogTriggerEventType'
    Weekly1:
      title: Weekly
      type: object
      required:
      - timeZone
      - dayOfWeek
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        dayOfWeek:
          type: integer
          format: int32
          minimum: 1
          maximum: 7
        type:
          type: string
          const: Weekly
    UserCalibration:
      title: UserCalibration
      type: object
      required:
      - userId
      - calibration
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        calibration:
          type: integer
          format: int32
    DistroLogAssignment:
      title: DistroLogAssignment
      type: object
      required:
      - userId
      - method
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        distributionId:
          type: string
          pattern: '[^\s\\/]+'
        method:
          $ref: '#/components/schemas/DistributionMethod'
    WorkingHours:
      title: WorkingHours
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: WorkingHours
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    HourlyRolling:
      title: HourlyRolling
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: HourlyRolling
    DistributionUserState_Active:
      title: DistributionUserState_Active
      description: User is active in the distribution and eligible for assignments. Carries the user's
        current level.
      type: object
      required:
      - userId
      - total
      - level
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        level:
          $ref: '#/components/schemas/Levels'
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Active
    DistroRouterSummary:
      title: DistroRouterSummary
      type: object
      required:
      - id
      - name
      - workspaceId
      properties:
        id:
          $ref: '#/components/schemas/RouterId'
        name:
          type: string
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
    DistroLogDetail:
      title: DistroLogDetail
      type: object
      required:
      - log
      properties:
        log:
          $ref: '#/components/schemas/DistroLog'
        events:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogEventDetail'
    MeetingLimitUnset:
      title: MeetingLimitUnset
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: MeetingLimitUnset
    DistributedAssignmentLimit:
      title: DistributedAssignmentLimit
      type: object
      required:
      - resetPeriodicity
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/DistributedAssignmentLimitReset'
    MeetingHandling:
      title: MeetingHandling
      oneOf:
      - $ref: '#/components/schemas/Flexible'
      - $ref: '#/components/schemas/Strict'
      discriminator:
        propertyName: type
        mapping:
          Flexible: '#/components/schemas/Flexible'
          Strict: '#/components/schemas/Strict'
