# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — Meeting Type Management Actions
  version: 1.494.0
  description: GPT Actions for the meeting-type-management GPT — a subset of the Chili Piper Edge API.
    Authenticate with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: 'READ-ONLY. Read all workspaces. List the workspaces that partition the org and their
        workspaceIds. Params: page, pageSize.'
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
      x-mcp-tool: workspace-list
  /v1/org/meeting-types/list:
    get:
      tags:
      - meeting-type
      summary: List meeting types
      description: 'READ-ONLY. List meeting types. Browse the tenant''s reusable team meeting types. Params:
        workspaceId.'
      operationId: meetingTypeList
      parameters:
      - name: workspaceId
        in: query
        description: Filter meeting types by workspace ID. Omit to list across all of the tenant's workspaces.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.read
      x-mcp-tool: meeting-type-list
  /v1/org/meeting-types/{meetingTypeId}:
    get:
      tags:
      - meeting-type
      summary: Get meeting type
      description: 'READ-ONLY. Get meeting type. Fetch one team meeting type by id, including its attached
        reminders. Params: meetingTypeId (required).'
      operationId: meetingTypeGet
      parameters:
      - name: meetingTypeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: path parameter meetingTypeId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.read
      x-mcp-tool: meeting-type-get
    put:
      tags:
      - meeting-type
      summary: Update meeting type
      description: 'MUTATING — IDEMPOTENT. Update meeting type. Edit a team meeting type. Params: meetingTypeId
        (required). Takes a JSON body.'
      operationId: meetingTypeUpdate
      parameters:
      - name: meetingTypeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingTypeUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: path parameter meetingTypeId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.modify
      x-mcp-tool: meeting-type-update
    delete:
      tags:
      - meeting-type
      summary: Remove meeting type
      description: 'MUTATING — DESTRUCTIVE. Remove meeting type. Delete a team meeting type by id. Params:
        meetingTypeId (required).'
      operationId: meetingTypeDelete
      parameters:
      - name: meetingTypeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter meetingTypeId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.remove
      x-mcp-tool: meeting-type-delete
  /v1/org/meeting-types:
    post:
      tags:
      - meeting-type
      summary: Create meeting type
      description: MUTATING. Create meeting type. Create a reusable team meeting type with product defaults
        filled in. Takes a JSON body.
      operationId: meetingTypeCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingTypeCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.create
      x-mcp-tool: meeting-type-create
  /v1/org/meeting-types/{meetingTypeId}/reminders/{reminderId}:
    put:
      tags:
      - meeting-type
      summary: Attach reminder to meeting type
      description: 'MUTATING — IDEMPOTENT. Attach reminder to meeting type. Attach an existing reminder
        to a team meeting type. Params: meetingTypeId (required), reminderId (required).'
      operationId: meetingTypeAttachReminder
      parameters:
      - name: meetingTypeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: reminderId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: path parameter meetingTypeId, Invalid value for: path parameter
            reminderId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.modify
      x-mcp-tool: meeting-type-attach-reminder
    delete:
      tags:
      - meeting-type
      summary: Detach reminder from meeting type
      description: 'MUTATING — IDEMPOTENT. Detach reminder from meeting type. Detach a reminder from a
        team meeting type. Params: meetingTypeId (required), reminderId (required).'
      operationId: meetingTypeDetachReminder
      parameters:
      - name: meetingTypeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: reminderId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: path parameter meetingTypeId, Invalid value for: path parameter
            reminderId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.modify
      x-mcp-tool: meeting-type-detach-reminder
  /v1/org/meeting-type-reminders/list:
    get:
      tags:
      - meeting-type-reminder
      summary: List meeting type reminders
      description: 'READ-ONLY. List meeting type reminders. Browse the tenant''s meeting-type reminders
        (Email/SMS notifications). Params: workspaceId.'
      operationId: meetingTypeReminderList
      parameters:
      - name: workspaceId
        in: query
        description: Filter reminders by workspace ID. Omit to list across all of the tenant's workspaces.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reminder'
        '400':
          description: 'Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.read
      x-mcp-tool: meeting-type-reminder-list
  /v1/org/meeting-type-reminders:
    post:
      tags:
      - meeting-type-reminder
      summary: Create meeting type reminder
      description: MUTATING. Create meeting type reminder. Create a reminder in a workspace to later attach
        to meeting types. Takes a JSON body.
      operationId: meetingTypeReminderCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReminderCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reminder'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.create
      x-mcp-tool: meeting-type-reminder-create
  /v1/org/meeting-type-reminders/{reminderId}:
    put:
      tags:
      - meeting-type-reminder
      summary: Update meeting type reminder
      description: 'MUTATING — IDEMPOTENT. Update meeting type reminder. Edit a reminder in place; attached
        meeting types pick up the change. Params: reminderId (required), workspaceId (required). Takes
        a JSON body.'
      operationId: meetingTypeReminderUpdate
      parameters:
      - name: reminderId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: workspaceId
        in: query
        description: The workspace the reminder belongs to.
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReminderUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reminder'
        '400':
          description: 'Invalid value for: path parameter reminderId, Invalid value for: query parameter
            workspaceId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.modify
      x-mcp-tool: meeting-type-reminder-update
    delete:
      tags:
      - meeting-type-reminder
      summary: Remove meeting type reminder
      description: 'MUTATING — DESTRUCTIVE. Remove meeting type reminder. Delete a reminder entirely.
        Params: reminderId (required), workspaceId (required).'
      operationId: meetingTypeReminderDelete
      parameters:
      - name: reminderId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: workspaceId
        in: query
        description: The workspace the reminder belongs to.
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter reminderId, Invalid value for: query parameter
            workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.remove
      x-mcp-tool: meeting-type-reminder-delete
  /v1/org/personal-meeting-types:
    get:
      tags:
      - personal-meeting-type
      summary: List personal meeting types
      description: 'READ-ONLY. List personal meeting types. Browse ALL personal meeting types across the
        tenant (every user''s booking pages). Params: workspaceId, page, pageSize.'
      operationId: personalMeetingTypeList
      parameters:
      - name: workspaceId
        in: query
        description: 'Optional: scope the list to a single personal workspace.'
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
      - name: pageSize
        in: query
        description: Number of items per page.
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_PersonalMeetingType'
        '400':
          description: 'Invalid value for: query parameter workspaceId, Invalid value for: query parameter
            page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.read
      x-mcp-tool: personal-meeting-type-list
    post:
      tags:
      - personal-meeting-type
      summary: Create personal meeting type
      description: MUTATING. Create personal meeting type. Create a personal meeting type in a user's
        personal workspace. Takes a JSON body.
      operationId: personalMeetingTypeCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalMeetingTypeCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalMeetingType'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.create
      x-mcp-tool: personal-meeting-type-create
  /v1/org/personal-meeting-types/{meetingTypeId}:
    get:
      tags:
      - personal-meeting-type
      summary: Get personal meeting type
      description: 'READ-ONLY. Get personal meeting type. Fetch one personal meeting type by id, including
        its attached reminders. Params: meetingTypeId (required).'
      operationId: personalMeetingTypeGet
      parameters:
      - name: meetingTypeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalMeetingType'
        '400':
          description: 'Invalid value for: path parameter meetingTypeId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.read
      x-mcp-tool: personal-meeting-type-get
    put:
      tags:
      - personal-meeting-type
      summary: Update personal meeting type
      description: 'MUTATING — IDEMPOTENT. Update personal meeting type. Edit a personal meeting type
        (e.g. change its location). Params: meetingTypeId (required). Takes a JSON body.'
      operationId: personalMeetingTypeUpdate
      parameters:
      - name: meetingTypeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalMeetingTypeUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalMeetingType'
        '400':
          description: 'Invalid value for: path parameter meetingTypeId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.modify
      x-mcp-tool: personal-meeting-type-update
    delete:
      tags:
      - personal-meeting-type
      summary: Remove personal meeting type
      description: 'MUTATING — DESTRUCTIVE. Remove personal meeting type. Delete a personal meeting type
        by id. Params: meetingTypeId (required).'
      operationId: personalMeetingTypeDelete
      parameters:
      - name: meetingTypeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter meetingTypeId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.remove
      x-mcp-tool: personal-meeting-type-delete
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    MeetingLocation_GoToMeetingLink:
      title: MeetingLocation_GoToMeetingLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: GoToMeetingLink
    MeetingTypeUpdate:
      title: MeetingTypeUpdate
      type: object
      properties:
        name:
          description: New internal name; omit to keep the current value.
          type: string
        description:
          description: New internal description; omit to keep the current value.
          type: string
        inviteTitle:
          description: New calendar-invite subject; omit to keep the current value.
          type: string
        inviteDescription:
          description: New calendar-invite body; omit to keep the current value.
          type: string
        duration:
          description: New meeting length; omit to keep the current value.
          type: string
        status:
          $ref: '#/components/schemas/MeetingTypeStatus'
        location:
          $ref: '#/components/schemas/MeetingLocations'
        buffers:
          $ref: '#/components/schemas/MeetingBuffers'
        meetingLimit:
          $ref: '#/components/schemas/MeetingBookingLimit'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
    ReminderSmsSendFrom:
      title: ReminderSmsSendFrom
      type: string
      enum:
      - AnyNumber
      - LocalAreaNumber
    MeetingLocation_DefinedInMeetingType:
      title: MeetingLocation_DefinedInMeetingType
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        value:
          type: string
          minLength: 1
        type:
          type: string
          const: DefinedInMeetingType
    MeetingLocation_HostsDefaultPhysicalLocation:
      title: MeetingLocation_HostsDefaultPhysicalLocation
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: HostsDefaultPhysicalLocation
    MeetingTypeId:
      title: MeetingTypeId
      examples:
      - 4a8f2b3c-7d1e-4f9b-8a2c-3d5e6f789012
      type: string
      format: uuid
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    MeetingLocations:
      title: MeetingLocations
      type: object
      required:
      - default
      properties:
        default:
          $ref: '#/components/schemas/MeetingLocation'
        others:
          description: Additional selectable meeting locations offered alongside the default.
          type: array
          items:
            $ref: '#/components/schemas/MeetingLocation'
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
          description: Unique identifier of the workspace.
        name:
          description: Human-readable workspace name.
          type: string
        emoji:
          description: Optional emoji shown as the workspace's icon.
          type: string
        logo:
          description: Optional URL of the workspace's logo image.
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    MeetingBookingLimitBy:
      title: MeetingBookingLimitBy
      type: string
      enum:
      - Email
      - Domain
    MeetingBookingLimitTimeframe:
      title: MeetingBookingLimitTimeframe
      type: string
      enum:
      - Hourly
      - Daily
      - Weekly
      - Monthly
      - Yearly
    ReminderSendFrom:
      title: ReminderSendFrom
      type: string
      enum:
      - SendFromHost
      - SendFromBooker
      - SendFromNoReply
    MeetingLocation_AskTheGuest:
      title: MeetingLocation_AskTheGuest
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        type:
          type: string
          const: AskTheGuest
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    PersonalMeetingTypeCreate:
      title: PersonalMeetingTypeCreate
      type: object
      required:
      - ownerUserId
      - name
      - duration
      properties:
        ownerUserId:
          $ref: '#/components/schemas/UserId'
          description: The user in whose personal workspace the meeting type is created.
        name:
          description: Internal meeting-type name.
          type: string
        duration:
          description: Meeting length.
          type: string
        description:
          description: Internal description; a product default is used when omitted.
          type: string
        inviteTitle:
          description: Calendar-invite subject; defaults to the name when omitted.
          type: string
        inviteDescription:
          description: Calendar-invite body; supports {!CP.Object.Field} merge tags.
          type: string
        location:
          $ref: '#/components/schemas/MeetingLocations'
        syncToCrm:
          description: Whether bookings are synced to the CRM; defaults off when omitted.
          type: boolean
        idempotencyKey:
          description: 'Caller-generated UUID that makes create idempotent: a retry with the same key
            returns the already-created meeting type instead of duplicating it; reusing it with a different
            payload fails with 409.'
          type: string
          format: uuid
    MeetingBuffers:
      title: MeetingBuffers
      type: object
      properties:
        before:
          description: Buffer reserved before the meeting to prevent back-to-back bookings.
          type: string
        after:
          description: Buffer reserved after the meeting to prevent back-to-back bookings.
          type: string
    MeetingTypeStatus:
      title: MeetingTypeStatus
      type: string
      enum:
      - Active
      - Inactive
    MeetingLocation_WebexLink:
      title: MeetingLocation_WebexLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: WebexLink
    MeetingLocationHost:
      title: MeetingLocationHost
      type: string
      enum:
      - Host
      - AssigneeIfExists
      - BookerIfExists
    PersonalMeetingTypeUpdate:
      title: PersonalMeetingTypeUpdate
      type: object
      properties:
        name:
          description: New internal name; omit to keep the current value.
          type: string
        description:
          description: New internal description; omit to keep the current value.
          type: string
        inviteTitle:
          description: New calendar-invite subject; omit to keep the current value.
          type: string
        inviteDescription:
          description: New calendar-invite body; omit to keep the current value.
          type: string
        duration:
          description: New meeting length; omit to keep the current value.
          type: string
        status:
          $ref: '#/components/schemas/MeetingTypeStatus'
        location:
          $ref: '#/components/schemas/MeetingLocations'
        buffers:
          $ref: '#/components/schemas/MeetingBuffers'
        meetingLimit:
          $ref: '#/components/schemas/MeetingBookingLimit'
        syncToCrm:
          description: Enable/disable CRM sync; omit to keep the current value.
          type: boolean
    ReminderTriggerKind:
      title: ReminderTriggerKind
      type: string
      enum:
      - BeforeMeeting
      - BeforeMeetingNoResponse
      - MeetingBooked
      - AfterMeeting
    MeetingLocation:
      title: MeetingLocation
      oneOf:
      - $ref: '#/components/schemas/MeetingLocation_AskTheGuest'
      - $ref: '#/components/schemas/MeetingLocation_CalendarPlatformConference'
      - $ref: '#/components/schemas/MeetingLocation_DefinedInMeetingType'
      - $ref: '#/components/schemas/MeetingLocation_GoToMeetingLink'
      - $ref: '#/components/schemas/MeetingLocation_GongLink'
      - $ref: '#/components/schemas/MeetingLocation_HostsDefaultConferenceDetails'
      - $ref: '#/components/schemas/MeetingLocation_HostsDefaultPhysicalLocation'
      - $ref: '#/components/schemas/MeetingLocation_RingCentralLink'
      - $ref: '#/components/schemas/MeetingLocation_TeamsMeetingLink'
      - $ref: '#/components/schemas/MeetingLocation_WebexLink'
      - $ref: '#/components/schemas/MeetingLocation_ZoomOneTimeLink'
      discriminator:
        propertyName: type
        mapping:
          AskTheGuest: '#/components/schemas/MeetingLocation_AskTheGuest'
          CalendarPlatformConference: '#/components/schemas/MeetingLocation_CalendarPlatformConference'
          DefinedInMeetingType: '#/components/schemas/MeetingLocation_DefinedInMeetingType'
          GoToMeetingLink: '#/components/schemas/MeetingLocation_GoToMeetingLink'
          GongLink: '#/components/schemas/MeetingLocation_GongLink'
          HostsDefaultConferenceDetails: '#/components/schemas/MeetingLocation_HostsDefaultConferenceDetails'
          HostsDefaultPhysicalLocation: '#/components/schemas/MeetingLocation_HostsDefaultPhysicalLocation'
          RingCentralLink: '#/components/schemas/MeetingLocation_RingCentralLink'
          TeamsMeetingLink: '#/components/schemas/MeetingLocation_TeamsMeetingLink'
          WebexLink: '#/components/schemas/MeetingLocation_WebexLink'
          ZoomOneTimeLink: '#/components/schemas/MeetingLocation_ZoomOneTimeLink'
    ReminderCreate:
      title: ReminderCreate
      type: object
      required:
      - workspaceId
      - channel
      - trigger
      - name
      - body
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
          description: Workspace to create the reminder in.
        channel:
          $ref: '#/components/schemas/ReminderChannel'
        trigger:
          $ref: '#/components/schemas/ReminderTrigger'
        name:
          description: Internal reminder name; not shown to recipients.
          type: string
        title:
          description: Optional subject line (used by the email channel).
          type: string
        body:
          description: Reminder message content delivered to the recipient.
          type: string
        sendTo:
          $ref: '#/components/schemas/ReminderSendTo'
        sendFrom:
          $ref: '#/components/schemas/ReminderSendFrom'
        smsSendFrom:
          $ref: '#/components/schemas/ReminderSmsSendFrom'
    ReminderUpdate:
      title: ReminderUpdate
      type: object
      properties:
        name:
          description: New internal reminder name; omit to keep the current value.
          type: string
        trigger:
          $ref: '#/components/schemas/ReminderTrigger'
        title:
          description: New subject line; omit to keep the current value.
          type: string
        body:
          description: New message content; omit to keep the current value.
          type: string
        sendTo:
          $ref: '#/components/schemas/ReminderSendTo'
        sendFrom:
          $ref: '#/components/schemas/ReminderSendFrom'
        smsSendFrom:
          $ref: '#/components/schemas/ReminderSmsSendFrom'
    ReminderSendTo:
      title: ReminderSendTo
      type: string
      enum:
      - SendToAllGuests
      - SendToMainGuestOnly
    ReminderTrigger:
      title: ReminderTrigger
      type: object
      required:
      - kind
      properties:
        kind:
          $ref: '#/components/schemas/ReminderTriggerKind'
        offset:
          description: Lead time before (or lag after) the meeting for timed kinds; absent for the MeetingBooked
            kind.
          type: string
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    MeetingLocation_HostsDefaultConferenceDetails:
      title: MeetingLocation_HostsDefaultConferenceDetails
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: HostsDefaultConferenceDetails
    MeetingLocation_RingCentralLink:
      title: MeetingLocation_RingCentralLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: RingCentralLink
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    MeetingType:
      title: MeetingType
      type: object
      required:
      - id
      - workspaceId
      - name
      - inviteTitle
      - inviteDescription
      - status
      - duration
      - location
      - buffers
      properties:
        id:
          $ref: '#/components/schemas/MeetingTypeId'
          description: Unique meeting-type identifier.
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
          description: Workspace the meeting type belongs to.
        name:
          description: Internal meeting-type name; not shown to guests on the invite.
          type: string
        description:
          description: Internal description; not shown to guests (see inviteDescription).
          type: string
        inviteTitle:
          description: Calendar-invite subject shown to the guest; supports {!CP.Object.Field} merge tags.
          type: string
        inviteDescription:
          description: Calendar-invite body shown to the guest; supports {!CP.Object.Field} merge tags.
          type: string
        status:
          $ref: '#/components/schemas/MeetingTypeStatus'
        isActive:
          description: Convenience flag; true iff status is Active.
          type: boolean
        duration:
          description: Meeting length.
          type: string
        location:
          $ref: '#/components/schemas/MeetingLocations'
        buffers:
          $ref: '#/components/schemas/MeetingBuffers'
        meetingLimit:
          $ref: '#/components/schemas/MeetingBookingLimit'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
        reminders:
          description: Reminders attached to the meeting type; null on the list path (ids only, not fetched).
          type: array
          items:
            $ref: '#/components/schemas/Reminder'
    MeetingTypeCreate:
      title: MeetingTypeCreate
      type: object
      required:
      - workspaceId
      - name
      - duration
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
          description: Workspace to create the meeting type in.
        name:
          description: Internal meeting-type name.
          type: string
        duration:
          description: Meeting length.
          type: string
        description:
          description: Internal description; a product default is used when omitted.
          type: string
        inviteTitle:
          description: Calendar-invite subject; defaults to the name when omitted.
          type: string
        inviteDescription:
          description: Calendar-invite body; supports {!CP.Object.Field} merge tags.
          type: string
        location:
          $ref: '#/components/schemas/MeetingLocations'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
        idempotencyKey:
          description: 'Caller-generated UUID that makes create idempotent: a retry with the same key
            returns the already-created meeting type instead of duplicating it; reusing it with a different
            payload fails with 409.'
          type: string
          format: uuid
    SharedWith_Teams:
      title: SharedWith_Teams
      type: object
      required:
      - type
      properties:
        teamIds:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        type:
          type: string
          const: Teams
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
      properties: {}
    MeetingLocation_GongLink:
      title: MeetingLocation_GongLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: GongLink
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    MeetingLocation_ZoomOneTimeLink:
      title: MeetingLocation_ZoomOneTimeLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: ZoomOneTimeLink
    MeetingBookingLimit:
      title: MeetingBookingLimit
      type: object
      required:
      - limitBy
      - timeframe
      - count
      properties:
        limitBy:
          $ref: '#/components/schemas/MeetingBookingLimitBy'
        timeframe:
          $ref: '#/components/schemas/MeetingBookingLimitTimeframe'
        count:
          description: Maximum bookings a single person (per the limitBy scope) may make within each timeframe
            window.
          type: integer
          format: int32
    SharedWith_Workspace:
      title: SharedWith_Workspace
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Workspace
    Reminder:
      title: Reminder
      type: object
      required:
      - id
      - workspaceId
      - channel
      - trigger
      - name
      - body
      properties:
        id:
          description: Server-assigned reminder identifier.
          type: string
          pattern: '[^\s\\/]+'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
          description: Workspace the reminder lives in; required to update or delete it.
        channel:
          $ref: '#/components/schemas/ReminderChannel'
        trigger:
          $ref: '#/components/schemas/ReminderTrigger'
        name:
          description: Internal reminder name; not shown to recipients.
          type: string
        title:
          description: Optional subject line (used by the email channel).
          type: string
        body:
          description: Reminder message content delivered to the recipient.
          type: string
        sendTo:
          $ref: '#/components/schemas/ReminderSendTo'
        sendFrom:
          $ref: '#/components/schemas/ReminderSendFrom'
        smsSendFrom:
          $ref: '#/components/schemas/ReminderSmsSendFrom'
    ReminderChannel:
      title: ReminderChannel
      type: string
      enum:
      - Email
      - Sms
    PaginatedResult_PersonalMeetingType:
      title: PaginatedResult_PersonalMeetingType
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PersonalMeetingType'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    SharedWith:
      title: SharedWith
      oneOf:
      - $ref: '#/components/schemas/SharedWith_Teams'
      - $ref: '#/components/schemas/SharedWith_Workspace'
      discriminator:
        propertyName: type
        mapping:
          Teams: '#/components/schemas/SharedWith_Teams'
          Workspace: '#/components/schemas/SharedWith_Workspace'
    MeetingLocation_TeamsMeetingLink:
      title: MeetingLocation_TeamsMeetingLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: TeamsMeetingLink
    PersonalMeetingType:
      title: PersonalMeetingType
      type: object
      required:
      - id
      - workspaceId
      - name
      - slug
      - inviteTitle
      - inviteDescription
      - status
      - duration
      - location
      - buffers
      - syncToCrm
      properties:
        id:
          $ref: '#/components/schemas/MeetingTypeId'
          description: Unique meeting-type identifier.
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
          description: The owner's personal workspace the meeting type belongs to.
        name:
          description: Internal meeting-type name; not shown to guests on the invite.
          type: string
        slug:
          description: URL slug of the personal booking page.
          type: string
        description:
          description: Internal description; not shown to guests (see inviteDescription).
          type: string
        inviteTitle:
          description: Calendar-invite subject shown to the guest; supports {!CP.Object.Field} merge tags.
          type: string
        inviteDescription:
          description: Calendar-invite body shown to the guest; supports {!CP.Object.Field} merge tags.
          type: string
        status:
          $ref: '#/components/schemas/MeetingTypeStatus'
        isActive:
          description: Convenience flag; true iff status is Active.
          type: boolean
        duration:
          description: Meeting length.
          type: string
        location:
          $ref: '#/components/schemas/MeetingLocations'
        buffers:
          $ref: '#/components/schemas/MeetingBuffers'
        meetingLimit:
          $ref: '#/components/schemas/MeetingBookingLimit'
        syncToCrm:
          description: Whether bookings on this personal meeting type are synced to the CRM.
          type: boolean
        reminders:
          description: Reminders attached to the meeting type; null on the list path (ids only, not fetched).
          type: array
          items:
            $ref: '#/components/schemas/Reminder'
    MeetingLocation_CalendarPlatformConference:
      title: MeetingLocation_CalendarPlatformConference
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        type:
          type: string
          const: CalendarPlatformConference
