# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — User Meetings Actions
  version: 1.494.0
  description: GPT Actions for the user-meetings GPT — a subset of the Chili Piper Edge API. Authenticate
    with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/user/find:
    get:
      tags:
      - user
      summary: Finds user
      description: 'READ-ONLY. Finds user. Resolve an email or name to a userId. Params: query (required),
        page, pageSize.'
      operationId: userFind
      parameters:
      - name: query
        in: query
        description: Search by email or name
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_User'
        '400':
          description: 'Invalid value for: query parameter query, Invalid value for: query parameter page,
            Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
      x-mcp-tool: user-find
  /v3/org/meetings/meetings/export:
    put:
      tags:
      - meetings
      summary: Export Meetings streaming (PUT)
      description: READ-ONLY. Export Meetings streaming (PUT). Export meetings in a time range as streaming
        CSV (preferred export). Takes a JSON body.
      operationId: meetingExportV2Put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportMeetingsRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
            Content-Type:
              required: true
              schema:
                type: string
            Content-Disposition:
              required: true
              schema:
                type: string
          content:
            text/csv; charset=utf-8:
              schema:
                type: string
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting.read
      x-mcp-tool: meeting-export-v2-put
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: 'READ-ONLY. Read all workspaces. List the workspaces that partition the org and their
        workspaceIds. Params: page, pageSize.'
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
      x-mcp-tool: workspace-list
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    User:
      title: User
      type: object
      required:
      - id
      - name
      - email
      - isSuperAdmin
      - licenses
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        name:
          type: string
          minLength: 1
        email:
          $ref: '#/components/schemas/Email'
          description: User's email address.
        isSuperAdmin:
          description: Whether the user is a super administrator of the tenant.
          type: boolean
        managedWorkspaces:
          description: Workspaces the user administers.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        managedTeams:
          description: Teams the user administers.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        licenses:
          $ref: '#/components/schemas/UserLicenses'
        salesforce:
          $ref: '#/components/schemas/SalesforceUser'
        hubspot:
          $ref: '#/components/schemas/HubspotUser'
        slug:
          description: User's personal booking-page slug; absent if they have none.
          type: string
          pattern: '[-0-9a-z_]+'
        workspaces:
          description: All workspaces the user is a member of.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        personalWorkspaceId:
          description: The user's personal workspace, when they have one.
          type: string
          pattern: '[^\s\\/]+'
        personalDetails:
          $ref: '#/components/schemas/UserPersonalDetails'
        workingHours:
          $ref: '#/components/schemas/WorkingHours'
        timezone:
          description: The user's configured scheduling timezone (IANA id); absent when synced from their
            connected calendar. Populated by user-read only.
          examples:
          - America/New_York
          type: string
    HubspotUser:
      title: HubspotUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked HubSpot user.
        id:
          description: Identifier of the linked HubSpot user.
          type: integer
          format: int64
    Tier:
      title: Tier
      type: string
      enum:
      - RoutingAndScheduling
      - Experiences
      - ChiliDataPlatform
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    WorkInterval:
      title: WorkInterval
      type: object
      required:
      - start
      - end
      properties:
        start:
          description: Start of the working interval as a local time (HH:mm), in the schedule timezone.
          type: string
        end:
          description: End of the working interval as a local time (HH:mm); must be after start.
          type: string
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
          description: Unique identifier of the workspace.
        name:
          description: Human-readable workspace name.
          type: string
        emoji:
          description: Optional emoji shown as the workspace's icon.
          type: string
        logo:
          description: Optional URL of the workspace's logo image.
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    PaginatedResult_User:
      title: PaginatedResult_User
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    UserPersonalDetails:
      title: UserPersonalDetails
      type: object
      required:
      - email
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: The user's email address.
        firstName:
          description: The user's first name.
          type: string
        lastName:
          description: The user's last name.
          type: string
        jobTitle:
          description: The user's job title.
          type: string
        conferenceDetails:
          description: Free-text conferencing details shown on the user's meetings.
          type: string
        location:
          description: The user's location.
          type: string
        phoneNumber:
          description: The user's phone number.
          type: string
        imageUrl:
          description: URL of the user's profile picture.
          type: string
        customCompanyLogoUrl:
          description: URL of a custom company logo shown on the user's booking pages.
          type: string
    UserLicenses:
      title: UserLicenses
      type: object
      required:
      - chiliCalOrg
      - handoff
      properties:
        distro:
          description: Whether the user holds a Distro (lead-routing) license.
          type: boolean
        chiliCalOrg:
          description: Whether the user holds a ChiliCal organization license.
          type: boolean
        concierge:
          description: Whether the user holds a Concierge license.
          type: boolean
        conciergeLive:
          description: Whether the user holds a Concierge Live license.
          type: boolean
        chat:
          description: Whether the user holds a Chat license.
          type: boolean
        handoff:
          description: Whether the user holds a Handoff license.
          type: boolean
        tier:
          $ref: '#/components/schemas/Tier'
    MeetingStatus:
      title: MeetingStatus
      type: string
      enum:
      - Active
      - Canceled
      - NoShow
      - Completed
    WorkingHours:
      title: WorkingHours
      type: object
      properties:
        monday:
          description: Working intervals on Monday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        tuesday:
          description: Working intervals on Tuesday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        wednesday:
          description: Working intervals on Wednesday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        thursday:
          description: Working intervals on Thursday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        friday:
          description: Working intervals on Friday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        saturday:
          description: Working intervals on Saturday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        sunday:
          description: Working intervals on Sunday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    SalesforceUser:
      title: SalesforceUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked Salesforce user.
        id:
          description: Identifier of the linked Salesforce user.
          type: string
          pattern: '[^\s\\/]+'
        name:
          description: Display name of the linked Salesforce user, when known.
          type: string
          minLength: 1
        active:
          description: Whether the linked Salesforce user is active, when known.
          type: boolean
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
      properties: {}
    ExportMeetingsRequest:
      title: ExportMeetingsRequest
      type: object
      required:
      - start
      - end
      properties:
        workspaceIds:
          description: Restrict the export to meetings in these workspaces. Omit to export across all
            accessible workspaces.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        start:
          description: Start of the export window, inclusive. ISO-8601 instant. The window (start..end)
            must be at most 7 days wide.
          type: string
          format: date-time
        end:
          description: End of the export window, exclusive. ISO-8601 instant. Must be after start and
            no more than 7 days after it.
          type: string
          format: date-time
        assigneeIds:
          description: Filter to meetings assigned to any of these user ids.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        hostIds:
          description: Filter to meetings hosted by any of these user ids.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        bookerIds:
          description: Filter to meetings booked by any of these user ids.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        meetingTypeIds:
          description: Filter to meetings created from any of these meeting types.
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        status:
          description: Filter by meeting status. One or more of Active, Canceled, NoShow, Completed. Omit
            to include all statuses.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingStatus'
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
