# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — Concierge Router Configuration Actions
  version: 1.273.1
  description: GPT Actions for the concierge-router-configuration GPT — a subset of the Chili Piper Edge
    API. Authenticate with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: "[operation: workspace-list]\n\n\n\nREAD-ONLY\n\n\n\nReturns all workspaces in the\
        \ org. Hierarchy: Tenant → Workspaces → Teams → Users.\n\n- page (opt), pageSize (opt, default\
        \ 200)\n\n→\n\n    [{workspaceId, name, settings}]\n\nsee: workspace-list-users (members), workspace-add/remove-users\
        \ (manage membership), meeting-list/export (filter by workspaceId), concierge-logs (filter by\
        \ workspaceId)"
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
  /v1/org/concierge/routers/concierge/list:
    post:
      tags:
      - concierge
      summary: Lists all concierge routers
      description: "[operation: concierge-list-routers]\n\n\n\nREAD-ONLY\n\n\n\nReturns all Concierge\
        \ routers in the org. A router evaluates inbound lead data and routes to teams/users via rules.\n\
        \n- workspaceId (opt): restrict to one workspace\n\n→\n\n    {routers: [{router: {id (routerId),\
        \ name, slug, formMapping, settings, routing, meta}, dataFields: [...], workspaceId}]}\n\n  Note:\
        \ routerId is at routers[N].router.id; slug is at routers[N].router.slug\n\nsee: concierge-logs\
        \ (audit decisions, needs routerId+workspaceId), concierge-route-by-slug (execute routing, needs\
        \ slug)"
      operationId: conciergeListRouters
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRoutersListResponse'
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.read
  /v1/org/concierge/routers/concierge/{routerId}:
    get:
      tags:
      - concierge
      summary: Get concierge router
      description: "[operation: concierge-router-get]\n\n\n\nREAD-ONLY\n\n\n\nFetches a single Concierge\
        \ router by id — its identity, a lossy per-row summary of what its routing does, and its full-config\
        \ dimensions (guest form, branding/cover, localizations).\n\n- routerId (req): the router's id;\
        \ use concierge-list-routers (routers[N].router.id)\n\n→\n\n    {id, workspaceId, name?, slug?,\
        \ routing: {known, representable, rows: [{ruleId?, ruleType?, outcome}], catchAll?: {outcome}},\
        \ form?, branding?, localizations?}\n    outcome (one of): {type: \"Schedule\", distributionId?,\
        \ userId?, meetingTypeId?} | {type: \"Redirect\", url?} | {type: \"OwnerAssign\"} | {type: \"\
        ContactOptions\"} | {type: \"CrmAction\"} | {type: \"Other\", kind}\n    form: {representable,\
        \ fields: [{dataField, label, description?, required, hidden?}], readOnlyTriggers: [string]}\n\
        \    branding: {coverImage?, headingText?, language?}\n    localizations: {\"<lang-tag>\": {\"\
        <key>\": \"<text>\"}}\n\n  Note: the routing summary is lossy by design — it NAMES each row's\
        \ outcome (including ones Edge can't itself produce, e.g. Redirect/CrmAction) so you can see what\
        \ the router does even when it was built in the app\n\n  Note: routing.representable is true only\
        \ when the current routing — both the draft tree and the published tree — is exactly what Edge's\
        \ create/update would have produced; when false, an update with a new routing may be rejected\
        \ (edit it in the Concierge app instead). A router that has no routing tree yet also reports representable=false,\
        \ but an update setting routing on it is still accepted (nothing is destroyed).\n\n  Note: form.representable\
        \ is true only when the router's webform is a Chili form (or absent) — only then is a form update\
        \ accepted. form.fields lists the editable Chili-form fields; form.readOnlyTriggers names trigger\
        \ kinds Edge doesn't edit here (ThirdPartyForm/InAppButton/RouterLink). branding/localizations\
        \ are absent when unset.\n\nsee: concierge-list-routers (browse to find a routerId), concierge-router-update\
        \ (replace routing/form/branding/localizations)"
      operationId: conciergeRouterGet
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRouter'
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.read
    put:
      tags:
      - concierge
      summary: Update concierge router
      description: "[operation: concierge-router-update]\n\n\n\nMUTATING — IDEMPOTENT\n\n\n\nUpdates a\
        \ Concierge router and PUBLISHES it — the new config is live immediately. Only the fields you\
        \ supply change; omitted fields are preserved (including config dimensions Edge doesn't model,\
        \ e.g. other trigger kinds and CRM-upsert settings).\n\n- routerId (req): the router's id (path)\n\
        \n- name (opt): new display name (the URL slug is re-derived from it on publish — there is no\
        \ separate slug field)\n\n- routing (opt): when present, fully REPLACES the routing matrix (it\
        \ is not a partial merge); when omitted, the current routing is kept. Each row's rule, when it\
        \ matches, runs that row's `outcome`; the catch-all `outcome` runs when no row matches:\n\n  \
        \  {routes: [{ruleId, outcome}], catchAll: outcome}\n\n  outcome (one of):\n\n    {type: \"Schedule\"\
        , assignment, meetingTypeId, timeout?, crmActions?}\n    {type: \"Redirect\", url}\n\n  Schedule\
        \ assigns the lead and books a meeting type. assignment is {type: \"Distribution\", distributionId}\
        \ or {type: \"User\", userId}. timeout (opt) {minutes, onTimeout} sets the no-show fallback; onTimeout\
        \ is {type: \"Landing\"} or {type: \"Url\", url}; omit timeout for the default (10 min → Landing).\
        \ crmActions (opt) is an ordered post-booking chain, each {type: \"ConvertLead\"} or {type: \"\
        Notify\", slackChannel?} (omit slackChannel to notify the assigned host instead of a named channel).\
        \ Redirect sends the lead to a URL instead of booking. ruleId is required on every row; an always-match\
        \ route is the catchAll. routes may be empty (then only the catchAll applies).\n\n- form (opt):\
        \ when present, fully REPLACES the guest form with a Chili form built from these fields (the in-app-button\
        \ / router-link triggers, if any, are preserved); MUST include the email field (PersonEmail).\
        \ Omit to keep the current form:\n\n    [{dataField, label, description?, required?, hidden?}]\n\
        \n  Note: dataField is a CRM data-field reference — a default field name (e.g. PersonEmail, PersonFirstName)\
        \ or a custom-field UUID; a made-up name is rejected (400). label is the field's display name;\
        \ required toggles whether the guest must fill it. hidden (opt) is a PREFILLED value (a string)\
        \ stored on the field but NOT shown to the guest — it is a value, not a show/hide flag; omit it\
        \ for a normal visible field.\n\n- branding (opt): the cover/heading/language. Merged PER SUB-FIELD:\
        \ a sub-field you supply is replaced; one you omit is PRESERVED (so a partial {headingText} does\
        \ not wipe coverImage/language). localizations are preserved. To clear a sub-field entirely, edit\
        \ the router in the Concierge app. — {coverImage?, headingText?, language?}\n\n- localizations\
        \ (opt): when present, fully REPLACES the per-language overrides (preserving branding) — {\"<lang-tag>\"\
        : {\"<key>\": \"<text>\"}}\n\n→\n\n    {id, workspaceId, name?, slug?, routing: {known, representable,\
        \ rows: [{ruleId?, ruleType?, outcome}], catchAll?: {outcome}}, form?, branding?, localizations?}\n\
        \n  Note: the returned routing is the lossy per-row summary (same shape as concierge-router-get),\
        \ not the matrix you sent\n\n⚠ full-replace + publishes live immediately: supplying routing/form/localizations\
        \ replaces that ENTIRE dimension, not a partial merge (branding is the exception — it merges per\
        \ sub-field, see above)\n\n⚠ routing REJECTED (409) when the router's existing routing — its DRAFT\
        \ tree or its PUBLISHED tree — isn't representable in this simplified model (advanced routing\
        \ built in the Concierge app — owner-assign, contact-options / multiple-choice, call-rep, multiple\
        \ assignees per row, CRM actions beyond convert-lead / Slack-notify, enrichment or spam-check\
        \ steps, etc.) — to avoid silently destroying it, edit those routers in the Concierge app instead.\
        \ Check routing.representable via concierge-router-get first.\n\n⚠ form REJECTED (409) when the\
        \ router's current webform is a third-party form (not a Chili form) — replacing it would destroy\
        \ that mapping; check form.representable via concierge-router-get first. branding/localizations\
        \ are always accepted. A name-only update always succeeds.\n\n⚠ every update publishes the router's\
        \ current DRAFT — if the draft carries unpublished edits made in the Concierge app, those go live\
        \ as a side effect, even on a name-only patch\n\n⚠ if the final publish step fails, the changes\
        \ are saved on an UNPUBLISHED draft and a typed 422 error is returned — fix or delete the draft\
        \ in the Concierge app\n\nsee: concierge-router-get (check routing.representable / form.representable\
        \ before replacing), rule-list (find ruleIds), distribution-list (find distributionIds), user-find\
        \ (find userIds), meeting-type-list (find meetingTypeIds)"
      operationId: conciergeRouterUpdate
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConciergeRouterUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRouter'
        '400':
          description: 'Invalid value for: path parameter routerId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.modify
    delete:
      tags:
      - concierge
      summary: Remove concierge router
      description: '[operation: concierge-router-delete]




        MUTATING — DESTRUCTIVE




        Deletes a Concierge router by id.


        - routerId (req): the router''s id (path)


        ⚠ irreversible via API; any embeds or links pointing at this router stop working


        see: concierge-list-routers or concierge-router-get (confirm the id before deleting)'
      operationId: conciergeRouterDelete
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.remove
  /v1/org/concierge/routers/concierge:
    post:
      tags:
      - concierge
      summary: Create concierge router
      description: "[operation: concierge-router-create]\n\n\n\nMUTATING\n\n\n\nCreates a Concierge router\
        \ with a name and a simplified routing matrix, and PUBLISHES it — the router is live (functional)\
        \ immediately; there is no unpublished-draft step. The guest form, branding, and localizations\
        \ are optional; when the form is omitted a minimal valid Chili form (a single email field) is\
        \ generated automatically.\n\n- workspaceId (req): the workspace to create the router in; must\
        \ be a team workspace of this tenant (400 otherwise)\n\n- name (req): display name (the URL slug\
        \ is derived from it on publish — there is no separate slug field)\n\n- routing (req): the routing\
        \ matrix — ordered rules evaluated top-down, plus a mandatory catch-all fallback. Each row's rule,\
        \ when it matches, runs that row's `outcome`; the catch-all `outcome` runs when no row matches:\n\
        \n    {routes: [{ruleId, outcome}], catchAll: outcome}\n\n  outcome (one of):\n\n    {type: \"\
        Schedule\", assignment, meetingTypeId, timeout?, crmActions?}\n    {type: \"Redirect\", url}\n\
        \n  Schedule assigns the lead and books a meeting type. assignment is {type: \"Distribution\"\
        , distributionId} (round-robin / ownership / whatever the distribution does) or {type: \"User\"\
        , userId} (a specific host). timeout (opt) {minutes, onTimeout} sets the no-show fallback; onTimeout\
        \ is {type: \"Landing\"} or {type: \"Url\", url}; omit timeout for the default (10 min → Landing).\
        \ crmActions (opt) is an ordered post-booking chain, each {type: \"ConvertLead\"} or {type: \"\
        Notify\", slackChannel?} (omit slackChannel to notify the assigned host instead of a named channel).\
        \ Redirect sends the lead to a URL instead of booking. ruleId is required on every row; an always-match\
        \ route is the catchAll. routes may be empty (then only the catchAll applies).\n\n- form (opt):\
        \ the Chili-hosted guest form fields the lead fills in; MUST include the email field (PersonEmail)\
        \ or the create is rejected. Omit for a default email-only form:\n\n    [{dataField, label, description?,\
        \ required?, hidden?}]\n\n  Note: dataField is a CRM data-field reference — a default field name\
        \ (e.g. PersonEmail, PersonFirstName) or a custom-field UUID; a made-up name is rejected (400).\
        \ label is the field's display name; required toggles whether the guest must fill it. hidden (opt)\
        \ is a PREFILLED value (a string) stored on the field but NOT shown to the guest — it is a value,\
        \ not a show/hide flag; omit it for a normal visible field.\n\n- branding (opt): the booking page's\
        \ cover/heading/language — {coverImage?, headingText?, language?}\n\n- localizations (opt): per-language\
        \ text overrides — {\"<lang-tag>\": {\"<key>\": \"<text>\"}}\n\n→\n\n    {id, workspaceId, name?,\
        \ slug?, routing: {known, representable, rows: [{ruleId?, ruleType?, outcome}], catchAll?: {outcome}},\
        \ form?, branding?, localizations?}\n\n  Note: the returned routing is the lossy per-row summary\
        \ (same shape as concierge-router-get), not the matrix you sent; form/branding/localizations echo\
        \ the created config (same shape as concierge-router-get)\n\n⚠ if the final publish step fails,\
        \ the router is left behind as an UNPUBLISHED draft and a typed 422 error is returned — retrying\
        \ the create mints ANOTHER draft; fix or delete the leftover draft in the Concierge app\n\nsee:\
        \ concierge-list-routers (find a workspaceId), rule-list (find ruleIds), distribution-list (find\
        \ distributionIds), user-find (find userIds), meeting-type-list (find meetingTypeIds), concierge-router-update\
        \ (replace config afterwards)"
      operationId: conciergeRouterCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConciergeRouterCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRouter'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.create
  /v1/org/rule/list:
    get:
      tags:
      - rule
      summary: List rules
      description: "[operation: rule-list]\n\n\n\nREAD-ONLY\n\n\n\nReturns active routing rules (ExplicitV1\
        \ builder only; legacy excluded).\n\n- page (opt): 0-indexed page number, default 0\n\n- pageSize\
        \ (opt): rules per page, default 200\n\n- workspaceId (opt): filter to rules in a specific workspace\n\
        \n- name (opt): filter rules by name\n\n→\n\n    {results: [{type, id, workspaceId, name, conditions,\
        \ ruleBuilderVersion, product?, metadata: {revision, ...}, teamId?}], total, page, pageSize}\n\
        \n⚠ always call immediately before rule-modify/rule-delete to get a fresh revision — stale revision\
        \ causes conflict error\n\nsee: rule-get (fetch single rule by id), rule-modify (update rule),\
        \ rule-delete (remove rule)"
      operationId: ruleList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
      - name: pageSize
        in: query
        description: Number of items per page.
        required: false
        schema:
          default: 200
          type: integer
          format: int64
          exclusiveMinimum: 0
      - name: workspaceId
        in: query
        description: Filter rules by workspace ID.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: name
        in: query
        description: Filter rules by name.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_RuleView'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize,
            Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - rule.read
  /v2/org/distribution/list:
    put:
      tags:
      - distribution
      summary: List all distributions (PUT)
      description: "[operation: distribution-list-put]\n\n\n\nREAD-ONLY\n\n\n\nReturns all published distributions\
        \ in the org. Accepts filter params in request body to avoid query-string length limits.\n\n-\
        \ body.workspaceIds (opt): filter by workspace\n\n- body.name (opt): filter by distribution name\
        \ (substring match)\n\n- body.assignmentType (opt): filter by assignment type; \"Record\" | \"\
        Meeting\" | \"Conversation\"\n\n- body.page (opt), body.pageSize (opt, default 200)\n\n→\n\n \
        \   {results: [{distributionId, name, teamId, assignees, assignmentTypeConfig, capping}]}\n\n\
        see: distribution-list (GET equivalent)"
      operationId: distributionListPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Distribution'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distribution.read
  /v1/org/meeting-types/list:
    get:
      tags:
      - meeting-type
      summary: List meeting types
      description: "[operation: meeting-type-list]\n\n\n\nREAD-ONLY\n\n\n\nReturns team meeting types\
        \ (personal meeting types are excluded).\n\n- workspaceId (opt): list only meeting types in this\
        \ workspace; omit to fan out across all of the tenant's workspaces\n\n→\n\n    [{id, workspaceId,\
        \ name, description?, inviteTitle, inviteDescription, status, duration, location: {default: {type,\
        \ index, host?, value?}, others: [{type, index, host?, value?}]}, buffers: {before?, after?},\
        \ meetingLimit?: {limitBy: \"Email\"|\"Domain\", timeframe: \"Hourly\"|\"Daily\"|\"Weekly\"|\"\
        Monthly\"|\"Yearly\", count}, sharedWith?: {type: \"Workspace\"}|{type: \"Teams\", teamIds}, reminders?:\
        \ [{id, workspaceId, channel, trigger: {kind, offset?}, name, title?, body}]}]\n\n  Note: reminders\
        \ are not fetched on list (the field is null) — use meeting-type-get to read a meeting type's\
        \ reminders; null means \"not fetched\", never \"no reminders\".\n\n  Note: meetingLimit.timeframe\
        \ is approximate — the backend's reset schedule (e.g. every-2-weeks) is summarised to the nearest\
        \ timeframe; finer reset details (every-N, anchor day) are not surfaced.\n\n  Note: sharedWith\
        \ (the sharing scope: whole workspace vs specific teams) is read from the meeting type's admin\
        \ (one-on-one) scheduling link; it is null when no such link, or more than one, is found — null\
        \ means \"indeterminate\", not \"workspace\".\n\nsee: meeting-type-get (fetch a single meeting\
        \ type), meeting-type-create (add one), meeting-type-update (edit one)"
      operationId: meetingTypeList
      parameters:
      - name: workspaceId
        in: query
        description: Filter meeting types by workspace ID. Omit to list across all of the tenant's workspaces.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.read
  /v1/org/user/find:
    get:
      tags:
      - user
      summary: Finds user
      description: '[operation: user-find]




        READ-ONLY




        Searches users by free-text query matched against email and name (partial matches supported).
        Paginated.


        - query (req): partial email or name


        - page (opt), pageSize (opt, default 200)


        → paginated list of users, each with: {id, name, email, isSuperAdmin, licenses, workspaces, salesforce
        (opt), hubspot (opt), slug (opt), managedWorkspaces, managedTeams}


        see: user-read (full profile), user-find-by-ids (batch by ID), user-find-by-filter (advanced multi-field
        filtering)'
      operationId: userFind
      parameters:
      - name: query
        in: query
        description: Search by email or name
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_User'
        '400':
          description: 'Invalid value for: query parameter query, Invalid value for: query parameter page,
            Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    Flexible:
      title: Flexible
      type: object
      required:
      - reassignmentType
      - allowPickingAssignee
      - type
      properties:
        reassignmentType:
          $ref: '#/components/schemas/ReassignmentType'
        allowPickingAssignee:
          type: boolean
        type:
          type: string
          const: Flexible
    RelativeDay1:
      title: RelativeDay
      type: object
      required:
      - length
      - offset
      - timeZone
      - type
      properties:
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        offset:
          type: integer
          format: int32
        timeZone:
          type: string
        type:
          type: string
          const: RelativeDay
    RoutingOutcome_Schedule:
      title: RoutingOutcome_Schedule
      type: object
      required:
      - type
      properties:
        distributionId:
          type: string
          pattern: '[^\s\\/]+'
        userId:
          type: string
          pattern: '[^\s\\/]+'
        meetingTypeId:
          type: string
          format: uuid
        type:
          type: string
          const: Schedule
    CrmUpdateContactOwnershipTarget:
      title: CrmUpdateContactOwnershipTarget
      type: string
      enum:
      - Contact
      - Account
      - Opportunity
      - Case
    SendSlack:
      title: SendSlack
      type: object
      required:
      - type
      properties:
        channel:
          type: string
          minLength: 1
        type:
          type: string
          const: SendSlack
    AlwaysCreateLead:
      title: AlwaysCreateLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: AlwaysCreateLead
    BookerCalendarIfExist:
      title: BookerCalendarIfExist
      deprecated: true
      type: object
      required:
      - autoDeclineOnBookersBehalf
      - required
      - type
      properties:
        autoDeclineOnBookersBehalf:
          type: boolean
        required:
          type: boolean
        type:
          type: string
          const: BookerCalendarIfExist
    Monthly1:
      title: Monthly
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    Reminder:
      title: Reminder
      type: object
      required:
      - id
      - workspaceId
      - channel
      - trigger
      - name
      - body
      properties:
        id:
          type: string
          pattern: '[^\s\\/]+'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        channel:
          $ref: '#/components/schemas/ReminderChannel'
        trigger:
          $ref: '#/components/schemas/ReminderTrigger'
        name:
          type: string
        title:
          type: string
        body:
          type: string
    MeetingTypeStatus:
      title: MeetingTypeStatus
      type: string
      enum:
      - Active
      - Inactive
    RelatedChildObjectRef:
      title: RelatedChildObjectRef
      type: string
      pattern: '[a-zA-Z0-9_]+__rc'
    MeetingBuffers:
      title: MeetingBuffers
      type: object
      properties:
        before:
          type: string
        after:
          type: string
    Option_ChiliProduct:
      $ref: '#/components/schemas/ChiliProduct'
    ProcessedThirdPartyFormTrigger:
      title: ProcessedThirdPartyFormTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ConciergeFormMappingEntry'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedThirdPartyFormTrigger
    SharedWith_Teams:
      title: SharedWith_Teams
      type: object
      required:
      - type
      properties:
        teamIds:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        type:
          type: string
          const: SharedWith_Teams
    RouteOutcome_Schedule:
      title: RouteOutcome_Schedule
      type: object
      required:
      - assignment
      - meetingTypeId
      - type
      properties:
        assignment:
          $ref: '#/components/schemas/RouteAssignment'
        meetingTypeId:
          $ref: '#/components/schemas/MeetingTypeId'
        timeout:
          $ref: '#/components/schemas/RouteTimeout'
        crmActions:
          type: array
          items:
            $ref: '#/components/schemas/CrmAction'
        type:
          type: string
          const: Schedule
    SpamCheckSettings:
      title: SpamCheckSettings
      type: object
      required:
      - writeToDataField
      properties:
        writeToDataField:
          type: boolean
    DataFieldReference:
      title: DataFieldReference
      oneOf:
      - $ref: '#/components/schemas/CustomDataFieldRef'
      - $ref: '#/components/schemas/DefaultDataFieldRef'
      - $ref: '#/components/schemas/InternalDataFieldRef'
      discriminator:
        propertyName: type
        mapping:
          CustomDataFieldRef: '#/components/schemas/CustomDataFieldRef'
          DefaultDataFieldRef: '#/components/schemas/DefaultDataFieldRef'
          InternalDataFieldRef: '#/components/schemas/InternalDataFieldRef'
    CrmAddToCampaign:
      title: CrmAddToCampaign
      type: object
      required:
      - campaignId
      - memberStatus
      - type
      properties:
        campaignId:
          $ref: '#/components/schemas/CampaignId'
        memberStatus:
          type: string
          minLength: 1
        type:
          type: string
          const: CrmAddToCampaign
    CrmUpdateLeadOwnership:
      title: CrmUpdateLeadOwnership
      type: object
      required:
      - field
      properties:
        field:
          type: string
          pattern: '[^\s\\/]+'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
    Map_Locale_Map_String_String:
      title: Map_Locale_Map_String_String
      type: object
      additionalProperties:
        $ref: '#/components/schemas/Map_String_String'
    ThisPathRuleUser:
      title: ThisPathRuleUser
      type: object
      required:
      - type
      properties:
        id:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ThisPathRuleUser
    RouterBranding:
      title: RouterBranding
      type: object
      properties:
        coverImage:
          examples:
          - https://example.com
          type: string
        headingText:
          type: string
          minLength: 1
        language:
          type: string
          minLength: 1
    ExternalAttendeeId:
      title: ExternalAttendeeId
      type: object
      required:
      - email
      - type
      properties:
        email:
          $ref: '#/components/schemas/Email'
        type:
          type: string
          const: ExternalAttendeeId
    BookerInvitedIfExist:
      title: BookerInvitedIfExist
      deprecated: true
      type: object
      required:
      - autoDeclineOnBookersBehalf
      - required
      - type
      properties:
        autoDeclineOnBookersBehalf:
          type: boolean
        required:
          type: boolean
        type:
          type: string
          const: BookerInvitedIfExist
    AttendeeId:
      title: AttendeeId
      oneOf:
      - $ref: '#/components/schemas/ExternalAttendeeId'
      - $ref: '#/components/schemas/UserAttendeeId'
      discriminator:
        propertyName: type
        mapping:
          ExternalAttendeeId: '#/components/schemas/ExternalAttendeeId'
          UserAttendeeId: '#/components/schemas/UserAttendeeId'
    Opportunity:
      title: Opportunity
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Opportunity
    MeetingLimit:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitSet'
      - $ref: '#/components/schemas/MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimitUnset'
    DistributionUserState_Capped:
      title: DistributionUserState_Capped
      description: User has reached their assignment cap for the current period and is temporarily excluded
        until the cap resets.
      type: object
      required:
      - userId
      - total
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Capped
    ZoomOneTimeLink:
      title: ZoomOneTimeLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: ZoomOneTimeLink
    ChiliProduct:
      title: ChiliProduct
      type: string
      enum:
      - Chat
      - ChiliCal
      - Concierge
      - Distro
      - Handoff
    CalendarPlatformConference:
      title: CalendarPlatformConference
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        type:
          type: string
          const: CalendarPlatformConference
    CreateContact:
      title: CreateContact
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateContact
    EngagementOwner:
      title: EngagementOwner
      oneOf:
      - $ref: '#/components/schemas/Assignee1'
      - $ref: '#/components/schemas/Booker'
      discriminator:
        propertyName: type
        mapping:
          Assignee: '#/components/schemas/Assignee1'
          Booker: '#/components/schemas/Booker'
    ConciergeFormMappingEntry:
      title: ConciergeFormMappingEntry
      type: object
      required:
      - name
      - dataFieldRef
      properties:
        name:
          type: string
          minLength: 1
        dataFieldRef:
          $ref: '#/components/schemas/DataFieldRef'
        label:
          type: string
          minLength: 1
        waterfallId:
          type: string
          pattern: '[^\s\\/]+'
    OwnershipReference:
      title: OwnershipReference
      type: object
      required:
      - source
      - object
      - field
      properties:
        source:
          $ref: '#/components/schemas/DataSource'
        object:
          $ref: '#/components/schemas/DataObject'
        field:
          $ref: '#/components/schemas/DataField'
    Strict:
      title: Strict
      type: object
      required:
      - hideAssignee
      - type
      properties:
        hideAssignee:
          type: boolean
        type:
          type: string
          const: Strict
    AdditionalAttendee:
      title: AdditionalAttendee
      type: object
      required:
      - id
      - required
      properties:
        id:
          $ref: '#/components/schemas/AttendeeId'
        required:
          type: boolean
    ExecutableAction:
      title: ExecutableAction
      oneOf:
      - $ref: '#/components/schemas/CrmAddToCampaign'
      - $ref: '#/components/schemas/CrmConvertLead'
      - $ref: '#/components/schemas/CrmCreateEvent'
      - $ref: '#/components/schemas/CrmMultiUpdateField'
      - $ref: '#/components/schemas/CrmMultiUpdateOwnership'
      - $ref: '#/components/schemas/CrmUpsertRecord1'
      - $ref: '#/components/schemas/HubspotCreateEngagement'
      - $ref: '#/components/schemas/HubspotMultiUpdateField'
      - $ref: '#/components/schemas/HubspotMultiUpdateOwnership'
      - $ref: '#/components/schemas/HubspotUpsertRecord'
      - $ref: '#/components/schemas/Notify'
      discriminator:
        propertyName: type
        mapping:
          CrmAddToCampaign: '#/components/schemas/CrmAddToCampaign'
          CrmConvertLead: '#/components/schemas/CrmConvertLead'
          CrmCreateEvent: '#/components/schemas/CrmCreateEvent'
          CrmMultiUpdateField: '#/components/schemas/CrmMultiUpdateField'
          CrmMultiUpdateOwnership: '#/components/schemas/CrmMultiUpdateOwnership'
          CrmUpsertRecord: '#/components/schemas/CrmUpsertRecord1'
          HubspotCreateEngagement: '#/components/schemas/HubspotCreateEngagement'
          HubspotMultiUpdateField: '#/components/schemas/HubspotMultiUpdateField'
          HubspotMultiUpdateOwnership: '#/components/schemas/HubspotMultiUpdateOwnership'
          HubspotUpsertRecord: '#/components/schemas/HubspotUpsertRecord'
          Notify: '#/components/schemas/Notify'
    HubspotUser:
      title: HubspotUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
        id:
          type: integer
          format: int64
    RelatedDataObject:
      title: RelatedDataObject
      description: 'Related object path in slash-separated string format: <relation1>/<relation2>/.../topObject.
        The topObject is the last segment; relations precede it. Example: "Account/Lead" means Lead with
        Account as a relation. Each segment is a SimpleDataObject (NormalDataObject, MatchedObject, CustomMatchedObjectRef,
        or RelatedChildObjectRef).'
      type: string
    DoNothing1:
      title: DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    ObjectExistsCondition:
      title: ObjectExistsCondition
      type: object
      required:
      - conditionId
      - reference
      - exists
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        reference:
          $ref: '#/components/schemas/DataObjectReference'
        exists:
          type: boolean
        type:
          type: string
          const: ObjectExistsCondition
    ValueCondition:
      title: ValueCondition
      type: object
      required:
      - conditionId
      - lhsReference
      - operator
      - rhsReference
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        lhsReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        rhsReference:
          $ref: '#/components/schemas/DataReference'
        type:
          type: string
          const: ValueCondition
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    PaginatedResult_RuleView:
      title: PaginatedResult_RuleView
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/RuleView'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    UserStatistics:
      title: UserStatistics
      type: object
      required:
      - assigned
      - cancelled
      - noShow
      - reassignedToThis
      - reassignedFromThis
      properties:
        assigned:
          description: Number of assignments booked directly to this user in the current period.
          type: integer
          format: int32
        cancelled:
          description: Number of assignments that were later cancelled.
          type: integer
          format: int32
        noShow:
          description: Number of assignments where the invitee did not show up.
          type: integer
          format: int32
        reassignedToThis:
          description: Number of assignments that were reassigned to this user from another.
          type: integer
          format: int32
        reassignedFromThis:
          description: Number of assignments originally made to this user that were reassigned away.
          type: integer
          format: int32
    CampaignId:
      title: CampaignId
      type: string
      pattern: ^(701)[a-zA-Z0-9]{15}
    ConciergeRoutersListResponse:
      title: ConciergeRoutersListResponse
      type: object
      properties:
        routers:
          type: array
          items:
            $ref: '#/components/schemas/ExpandedRouterWithDataFields'
    WebexLink:
      title: WebexLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: WebexLink
    AssignToTarget:
      title: AssignToTarget
      oneOf:
      - $ref: '#/components/schemas/AnotherDistributionV2'
      - $ref: '#/components/schemas/ThisPathRuleUser'
      - $ref: '#/components/schemas/ThisPathTeam'
      - $ref: '#/components/schemas/ThisPathUser'
      discriminator:
        propertyName: type
        mapping:
          AnotherDistributionV2: '#/components/schemas/AnotherDistributionV2'
          ThisPathRuleUser: '#/components/schemas/ThisPathRuleUser'
          ThisPathTeam: '#/components/schemas/ThisPathTeam'
          ThisPathUser: '#/components/schemas/ThisPathUser'
    MeetingTypeId:
      title: MeetingTypeId
      examples:
      - 4a8f2b3c-7d1e-4f9b-8a2c-3d5e6f789012
      type: string
      format: uuid
    MeetingBookingLimitBy:
      title: MeetingBookingLimitBy
      type: string
      enum:
      - Email
      - Domain
    MeetingBookingLimit:
      title: MeetingBookingLimit
      type: object
      required:
      - limitBy
      - timeframe
      - count
      properties:
        limitBy:
          $ref: '#/components/schemas/MeetingBookingLimitBy'
        timeframe:
          $ref: '#/components/schemas/MeetingBookingLimitTimeframe'
        count:
          type: integer
          format: int32
    ProcessedRouterLinkTrigger:
      title: ProcessedRouterLinkTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProcessedRouterLinkMapping'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedRouterLinkTrigger
    UpdateLeadOnly:
      title: UpdateLeadOnly
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: UpdateLeadOnly
    Levels:
      title: Levels
      type: object
      required:
      - current
      - nextAssignmentDelta
      - total
      properties:
        current:
          description: Earned score plus prolonged-reservation projection, before manual calibration.
          type: number
        nextAssignmentDelta:
          description: Score increment that will be added if this user receives the next assignment. Forward-looking;
            not included in `current` or `total`.
          type: number
        calibrationDelta:
          description: Manual-calibration adjustment applied on top of `current`. Absent when no calibration
            is in effect. When present, `total = current + calibrationDelta`.
          type: number
        total:
          description: Current score with manual calibration applied.
          type: number
    SendEmail:
      title: SendEmail
      type: object
      required:
      - type
      properties:
        cc:
          type: array
          minItems: 1
          items:
            type: string
            pattern: .+@.+
        type:
          type: string
          const: SendEmail
    Notify:
      title: Notify
      type: object
      required:
      - channels
      - assignTo
      - type
      properties:
        channels:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ConciergeNotificationChannel'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
        type:
          type: string
          const: Notify
    WorkingHours:
      title: WorkingHours
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: WorkingHours
    ConciergeRouterSettings:
      title: ConciergeRouterSettings
      type: object
      properties:
        headerImage:
          type: string
        headingText:
          type: string
          minLength: 1
        language:
          type: string
          minLength: 1
        localizations:
          $ref: '#/components/schemas/Map_Locale_Map_String_String'
    LeadOrContactSettings:
      title: LeadOrContactSettings
      type: object
      required:
      - noMatch
      - whenMatch
      properties:
        noMatch:
          $ref: '#/components/schemas/NoMatchBehaviour'
        whenMatch:
          $ref: '#/components/schemas/WhenMatchBehaviour'
    Booker:
      title: Booker
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Booker
    StaticDate:
      title: StaticDate
      type: object
      required:
      - value
      - type
      properties:
        value:
          type: string
          format: date-time
        type:
          type: string
          const: StaticDate
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        emoji:
          type: string
        logo:
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    Case:
      title: Case
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Case
    RingCentralLink:
      title: RingCentralLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: RingCentralLink
    RelativeQuarter:
      title: RelativeQuarter
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
          type: integer
          format: int32
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        timeZone:
          $ref: '#/components/schemas/Option_String'
        type:
          type: string
          const: RelativeQuarter
    DistributedAssignmentLimit:
      title: DistributedAssignmentLimit
      type: object
      required:
      - resetPeriodicity
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/DistributedAssignmentLimitReset'
    SalesforceUser:
      title: SalesforceUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
        id:
          type: string
          pattern: '[^\s\\/]+'
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
    ConciergeRouter:
      title: ConciergeRouter
      type: object
      required:
      - id
      - workspaceId
      - routing
      properties:
        id:
          $ref: '#/components/schemas/ConciergeRouterId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        routing:
          $ref: '#/components/schemas/RouterRoutingSummary'
        form:
          $ref: '#/components/schemas/RouterForm'
        branding:
          $ref: '#/components/schemas/RouterBranding'
        localizations:
          $ref: '#/components/schemas/Map_Locale_Map_String_String'
    CreateContactOrLead:
      title: CreateContactOrLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateContactOrLead
    RelativeYear1:
      title: RelativeYear
      type: object
      required:
      - length
      - offset
      - timeZone
      - type
      properties:
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        offset:
          type: integer
          format: int32
        timeZone:
          type: string
        type:
          type: string
          const: RelativeYear
    ThisPathTeam:
      title: ThisPathTeam
      type: object
      required:
      - id
      - type
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: ThisPathTeam
    UserAttendeeId:
      title: UserAttendeeId
      type: object
      required:
      - userId
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        type:
          type: string
          const: UserAttendeeId
    RouteAssignment_Distribution:
      title: RouteAssignment_Distribution
      type: object
      required:
      - distributionId
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: Distribution
    CallRepSettings:
      title: CallRepSettings
      type: object
      required:
      - meetingTypeIds
      - routeCallTo
      - pickUpTime
      - maximumCallAttempts
      - callSuccess
      - callMissed
      - type
      properties:
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        routeCallTo:
          $ref: '#/components/schemas/Assignment'
        pickUpTime:
          type: string
        maximumCallAttempts:
          type: integer
          format: int32
          exclusiveMinimum: 0
        callSuccess:
          $ref: '#/components/schemas/CallSucceededActions'
        callMissed:
          $ref: '#/components/schemas/CallMissedActions'
        type:
          type: string
          const: CallRepSettings
    CustomDataFieldRef:
      title: CustomDataFieldRef
      type: object
      required:
      - value
      - type
      properties:
        value:
          type: string
          format: uuid
        type:
          type: string
          const: CustomDataFieldRef
    ProcessedRouterLinkMapping:
      title: ProcessedRouterLinkMapping
      type: object
      required:
      - dataField
      - label
      - required
      properties:
        dataField:
          $ref: '#/components/schemas/DataFieldRef'
        label:
          type: string
          minLength: 1
        required:
          type: boolean
        hidden:
          type: string
        waterfallId:
          type: string
          pattern: '[^\s\\/]+'
    HubspotUpdateContactOwnership:
      title: HubspotUpdateContactOwnership
      type: object
      required:
      - object
      - field
      properties:
        object:
          $ref: '#/components/schemas/HubspotUpdateContactOwnershipTarget'
        field:
          type: string
          pattern: '[^\s\\/]+'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
    ConciergeRouterUpdate:
      title: ConciergeRouterUpdate
      type: object
      properties:
        name:
          type: string
        routing:
          $ref: '#/components/schemas/RouterRouting'
        form:
          type: array
          items:
            $ref: '#/components/schemas/RouterFormField'
        branding:
          $ref: '#/components/schemas/RouterBranding'
        localizations:
          $ref: '#/components/schemas/Map_Locale_Map_String_String'
    AnotherDistributionV2:
      title: AnotherDistributionV2
      type: object
      required:
      - id
      - type
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: AnotherDistributionV2
    ProcessedChiliFormTrigger:
      title: ProcessedChiliFormTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProcessedChiliFormMapping'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedChiliFormTrigger
    RelationDisabled:
      title: RelationDisabled
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: RelationDisabled
    ExpandedRoutes:
      title: ExpandedRoutes
      type: object
      required:
      - catchAll
      properties:
        sharedCrmUpsertRecord:
          $ref: '#/components/schemas/CrmUpsertRecord'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/NonCatchAllRoute'
        catchAll:
          $ref: '#/components/schemas/CatchAllRoute'
    ReassignmentType:
      title: ReassignmentType
      type: string
      enum:
      - SameUser
      - AnyTeamMember
    CrmUpsertRecord:
      title: CrmUpsertRecord
      type: object
      required:
      - settings
      properties:
        settings:
          $ref: '#/components/schemas/LeadOrContactSettings'
    Monthly:
      title: Monthly
      type: object
      required:
      - every
      - startsOn
      - resetDay
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDay:
          type: integer
          format: int32
          minimum: 1
          maximum: 28
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    NoRedirect:
      title: NoRedirect
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NoRedirect
    SchedulingSettings1:
      title: SchedulingSettings
      type: object
      required:
      - assignments
      - meetingTypeIds
      - meetingHost
      - scheduling
      - timeout
      - type
      properties:
        assignments:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Assignment'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        meetingCreatedTarget:
          $ref: '#/components/schemas/MeetingCreatedTarget'
        bookerInviteSettings:
          $ref: '#/components/schemas/BookerInviteSettings'
        meetingHost:
          $ref: '#/components/schemas/MeetingHost'
        additionalAttendees:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/AdditionalAttendee'
        additionalNotificationRecipients:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        scheduling:
          $ref: '#/components/schemas/SchedulingActions'
        timeout:
          $ref: '#/components/schemas/TimeoutActions'
        type:
          type: string
          const: SchedulingSettings
    ConciergeFormMappingProcessedV1:
      title: ConciergeFormMappingProcessedV1
      type: object
      required:
      - fields
      - emailField
      - type
      properties:
        fields:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ConciergeFormMappingEntry'
        emailField:
          $ref: '#/components/schemas/ConciergeFormMappingEntry'
        phoneField:
          $ref: '#/components/schemas/ConciergeFormMappingEntry'
        type:
          type: string
          const: ConciergeFormMappingProcessedV1
    CustomMatchedObjectRef:
      title: CustomMatchedObjectRef
      description: 'custom matched object ref - format: $id__$tpe


        available types: LeadToAccountMatchingConfigType,ContactToDuplicateContactMatchingConfigType,LeadToDuplicateContactMatchingConfigType,ProspectToContactMatchingConfigType,LeadToDuplicateLeadMatchingConfigType,ContactToDuplicateLeadMatchingConfigType,ProspectToLeadMatchingConfigType,LeadToRelatedLeadMatchingConfigType,LeadToOpportunityMatchingConfigType,ContactToOpportunityMatchingConfigType,LeadToCaseMatchingConfigType,ContactToCaseMatchingConfigType,RelatedChildConfigType'
      type: string
    HubspotMultiUpdateOwnership:
      title: HubspotMultiUpdateOwnership
      type: object
      required:
      - assignTo
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/HubspotUpdateContactOwnership'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
          deprecated: true
        type:
          type: string
          const: HubspotMultiUpdateOwnership
    RouterRoutingSummary:
      title: RouterRoutingSummary
      type: object
      required:
      - known
      - representable
      properties:
        known:
          type: boolean
        representable:
          type: boolean
        rows:
          type: array
          items:
            $ref: '#/components/schemas/RoutingRowSummary'
        catchAll:
          $ref: '#/components/schemas/RoutingCatchAllSummary'
    Option_String:
      title: Option_String
      type: string
    HubspotMultiUpdateField:
      title: HubspotMultiUpdateField
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/HubspotUpdateContactField'
        type:
          type: string
          const: HubspotMultiUpdateField
    Assignee1:
      title: Assignee
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Assignee
    AssignTo:
      title: AssignTo
      type: object
      required:
      - target
      properties:
        target:
          $ref: '#/components/schemas/AssignToTarget'
    RouterForm:
      title: RouterForm
      type: object
      required:
      - representable
      properties:
        representable:
          type: boolean
        fields:
          type: array
          items:
            $ref: '#/components/schemas/RouterFormField'
        readOnlyTriggers:
          type: array
          items:
            type: string
    MeetingBookingLimitTimeframe:
      title: MeetingBookingLimitTimeframe
      type: string
      enum:
      - Hourly
      - Daily
      - Weekly
      - Monthly
      - Yearly
    DoNothing3:
      title: DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    GongLink:
      title: GongLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: GongLink
    BookerInviteSettings:
      title: BookerInviteSettings
      type: object
      required:
      - autoDeclineOnBookersBehalf
      - required
      properties:
        autoDeclineOnBookersBehalf:
          type: boolean
        required:
          type: boolean
    RouteAssignment:
      title: RouteAssignment
      oneOf:
      - $ref: '#/components/schemas/RouteAssignment_Distribution'
      - $ref: '#/components/schemas/RouteAssignment_User'
      discriminator:
        propertyName: type
        mapping:
          Distribution: '#/components/schemas/RouteAssignment_Distribution'
          User: '#/components/schemas/RouteAssignment_User'
    RoutingOutcome_Redirect:
      title: RoutingOutcome_Redirect
      type: object
      required:
      - type
      properties:
        url:
          examples:
          - https://example.com
          type: string
        type:
          type: string
          const: Redirect
    RouteTimeout:
      title: RouteTimeout
      type: object
      required:
      - minutes
      - onTimeout
      properties:
        minutes:
          type: integer
          format: int32
        onTimeout:
          $ref: '#/components/schemas/TimeoutRedirect'
    Evaluable:
      title: Evaluable
      oneOf:
      - $ref: '#/components/schemas/RelativeDay'
      - $ref: '#/components/schemas/RelativeMonth'
      - $ref: '#/components/schemas/RelativeQuarter'
      - $ref: '#/components/schemas/RelativeWeek'
      - $ref: '#/components/schemas/RelativeYear'
      discriminator:
        propertyName: type
        mapping:
          RelativeDay: '#/components/schemas/RelativeDay'
          RelativeMonth: '#/components/schemas/RelativeMonth'
          RelativeQuarter: '#/components/schemas/RelativeQuarter'
          RelativeWeek: '#/components/schemas/RelativeWeek'
          RelativeYear: '#/components/schemas/RelativeYear'
    HourlyRolling:
      title: HourlyRolling
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: HourlyRolling
    DefinedInMeetingType:
      title: DefinedInMeetingType
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        value:
          type: string
          minLength: 1
        type:
          type: string
          const: DefinedInMeetingType
    Strict1:
      title: Strict
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Strict
    UserLimit:
      title: UserLimit
      type: object
      required:
      - userId
      - limit
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        limit:
          type: integer
          format: int32
          minimum: 0
    HubspotCreateEngagement:
      title: HubspotCreateEngagement
      type: object
      required:
      - relatedTo
      - owner
      - meetingCancellationBehavior
      - type
      properties:
        relatedTo:
          $ref: '#/components/schemas/EngagementRelatedTo'
        owner:
          $ref: '#/components/schemas/EngagementOwner'
        meetingCancellationBehavior:
          $ref: '#/components/schemas/MeetingCancellationBehavior'
        type:
          type: string
          const: HubspotCreateEngagement
    CrudMeta:
      title: CrudMeta
      type: object
      required:
      - createdBy
      - updatedBy
      - createdOn
      - updatedOn
      properties:
        createdBy:
          $ref: '#/components/schemas/UserId'
        updatedBy:
          $ref: '#/components/schemas/UserId'
        createdOn:
          type: string
          format: date-time
        updatedOn:
          type: string
          format: date-time
    DistributionId:
      title: DistributionId
      examples:
      - 7f8a1b2c-3d4e-4f5a-8b9c-0d1e2f3a4b5c
      type: string
      pattern: '[^\s\\/]+'
    UserCalibration:
      title: UserCalibration
      type: object
      required:
      - userId
      - calibration
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        calibration:
          type: integer
          format: int32
    MeetingHost:
      title: MeetingHost
      oneOf:
      - $ref: '#/components/schemas/Assignee2'
      - $ref: '#/components/schemas/Booker1'
      discriminator:
        propertyName: type
        mapping:
          Assignee: '#/components/schemas/Assignee2'
          Booker: '#/components/schemas/Booker1'
    Redirect:
      title: Redirect
      oneOf:
      - $ref: '#/components/schemas/Landing'
      - $ref: '#/components/schemas/NoRedirect1'
      - $ref: '#/components/schemas/Url'
      discriminator:
        propertyName: type
        mapping:
          Landing: '#/components/schemas/Landing'
          NoRedirect: '#/components/schemas/NoRedirect1'
          Url: '#/components/schemas/Url'
    Daily:
      title: Daily
      type: object
      required:
      - every
      - startsOn
      - resetLocalTime
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetLocalTime:
          type: string
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    RouteAssignment_User:
      title: RouteAssignment_User
      type: object
      required:
      - userId
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        type:
          type: string
          const: User
    ReminderTrigger:
      title: ReminderTrigger
      type: object
      required:
      - kind
      properties:
        kind:
          $ref: '#/components/schemas/ReminderTriggerKind'
        offset:
          type: string
    MeetingLimitSet:
      title: MeetingLimitSet
      type: object
      required:
      - resetPeriodicity
      - type
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/MeetingLimitReset'
        type:
          type: string
          const: MeetingLimitSet
    CrmAction:
      title: CrmAction
      oneOf:
      - $ref: '#/components/schemas/CrmAction_ConvertLead'
      - $ref: '#/components/schemas/CrmAction_Notify'
      discriminator:
        propertyName: type
        mapping:
          ConvertLead: '#/components/schemas/CrmAction_ConvertLead'
          Notify: '#/components/schemas/CrmAction_Notify'
    Url:
      title: Url
      type: object
      required:
      - url
      - type
      properties:
        url:
          type: string
        forwardFormDataAsQueryParams:
          type: boolean
        delayBeforeRedirect:
          type: string
        type:
          type: string
          const: Url
    HubspotUpdateContactFieldTarget:
      title: HubspotUpdateContactFieldTarget
      type: string
      enum:
      - Contact
      - Company
      - Deal
      - Ticket
    TeamsMeetingLink:
      title: TeamsMeetingLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: TeamsMeetingLink
    CrmMultiUpdateOwnership:
      title: CrmMultiUpdateOwnership
      type: object
      required:
      - assignTo
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateContactOwnership'
        lead:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateLeadOwnership'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
          deprecated: true
        type:
          type: string
          const: CrmMultiUpdateOwnership
    CrmCreateEvent:
      title: CrmCreateEvent
      type: object
      required:
      - relatedTo
      - meetingCancellationBehavior
      - guestsBehavior
      - type
      properties:
        relatedTo:
          $ref: '#/components/schemas/EventRelatedTo'
        meetingCancellationBehavior:
          $ref: '#/components/schemas/MeetingCancellationBehavior'
        guestsBehavior:
          $ref: '#/components/schemas/GuestsBehavior'
        type:
          type: string
          const: CrmCreateEvent
    TimeoutRedirect:
      title: TimeoutRedirect
      oneOf:
      - $ref: '#/components/schemas/TimeoutRedirect_Landing'
      - $ref: '#/components/schemas/TimeoutRedirect_Url'
      discriminator:
        propertyName: type
        mapping:
          Landing: '#/components/schemas/TimeoutRedirect_Landing'
          Url: '#/components/schemas/TimeoutRedirect_Url'
    ConfigurationDTO:
      title: ConfigurationDTO
      type: object
      required:
      - distributionId
      - workspaceId
      - assignmentTypeConfig
      - teamRef
      - metadata
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        assignmentTypeConfig:
          $ref: '#/components/schemas/DistributionAssignmentTypeConfig'
        teamRef:
          $ref: '#/components/schemas/TeamRef'
        weights:
          type: array
          items:
            $ref: '#/components/schemas/UserWeight'
        name:
          type: string
        manualCalibration:
          type: array
          items:
            $ref: '#/components/schemas/UserCalibration'
        capping:
          $ref: '#/components/schemas/DistributedAssignmentLimit'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    UseRule:
      title: UseRule
      type: object
      required:
      - required
      - type
      properties:
        id:
          type: string
          pattern: '[^\s\\/]+'
        required:
          type: boolean
        type:
          type: string
          const: UseRule
    HubspotUpdateContactField:
      title: HubspotUpdateContactField
      type: object
      required:
      - object
      - field
      - value
      properties:
        object:
          $ref: '#/components/schemas/HubspotUpdateContactFieldTarget'
        field:
          type: string
          pattern: '[^\s\\/]+'
        value:
          $ref: '#/components/schemas/UpdateFieldValue'
    UserWeight:
      title: UserWeight
      type: object
      required:
      - userId
      - weight
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        weight:
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
    DistributionUserState_Removed:
      title: DistributionUserState_Removed
      description: User was removed from the team entirely — historical record, no assignments will go
        to this user.
      type: object
      required:
      - userId
      - total
      - removedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        removedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Removed
    Operator:
      title: Operator
      type: string
      enum:
      - <
      - '>'
      - <=
      - '>='
      - startsWithAnyOf
      - endsWithAnyOf
      - isAnyOf
      - isNotAnyOf
      - equal
      - notEqual
      - contains
      - doesNotContain
      - containsAnyOf
      - containsNoneOf
      - startsWith
      - endsWith
    CrmConvertLead:
      title: CrmConvertLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CrmConvertLead
    EngagementRelatedTo:
      title: EngagementRelatedTo
      oneOf:
      - $ref: '#/components/schemas/Company'
      - $ref: '#/components/schemas/Deal'
      - $ref: '#/components/schemas/Ticket'
      discriminator:
        propertyName: type
        mapping:
          Company: '#/components/schemas/Company'
          Deal: '#/components/schemas/Deal'
          Ticket: '#/components/schemas/Ticket'
    ConditionId:
      title: ConditionId
      type: string
      pattern: '[^\s\\/]+'
    TimeoutActions:
      title: TimeoutActions
      type: object
      required:
      - timeout
      - redirect
      properties:
        timeout:
          type: string
        redirect:
          $ref: '#/components/schemas/Redirect'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ExecutableAction'
    Option_TeamId:
      $ref: '#/components/schemas/TeamId'
    Booker1:
      title: Booker
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Booker
    Assignment:
      title: Assignment
      oneOf:
      - $ref: '#/components/schemas/DistributionV3'
      - $ref: '#/components/schemas/UseRule'
      - $ref: '#/components/schemas/User4'
      discriminator:
        propertyName: type
        mapping:
          DistributionV3: '#/components/schemas/DistributionV3'
          UseRule: '#/components/schemas/UseRule'
          User: '#/components/schemas/User4'
    Marketo:
      title: Marketo
      type: object
      required:
      - object
      - field
      - overwrite
      - type
      properties:
        object:
          type: string
          pattern: '[^\s\\/]+'
        field:
          type: string
          pattern: '[^\s\\/]+'
        overwrite:
          type: boolean
        type:
          type: string
          const: Marketo
    MeetingLocationHost:
      title: MeetingLocationHost
      type: string
      enum:
      - Host
      - AssigneeIfExists
      - BookerIfExists
    SingleParameterCondition:
      title: SingleParameterCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/SingleOperator'
        type:
          type: string
          const: SingleParameterCondition
    NoRedirect1:
      title: NoRedirect
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NoRedirect
    HubspotNoMatchBehaviour:
      title: HubspotNoMatchBehaviour
      oneOf:
      - $ref: '#/components/schemas/CreateContact'
      - $ref: '#/components/schemas/CreateContactIfCompanyExists'
      - $ref: '#/components/schemas/DoNothing4'
      discriminator:
        propertyName: type
        mapping:
          CreateContact: '#/components/schemas/CreateContact'
          CreateContactIfCompanyExists: '#/components/schemas/CreateContactIfCompanyExists'
          DoNothing: '#/components/schemas/DoNothing4'
    HubspotUpsertRecord:
      title: HubspotUpsertRecord
      type: object
      required:
      - settings
      - type
      properties:
        settings:
          $ref: '#/components/schemas/HubspotUpsertRecordSettings'
        type:
          type: string
          const: HubspotUpsertRecord
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    DataFieldMappingsDto:
      title: DataFieldMappingsDto
      type: object
      required:
      - reference
      properties:
        reference:
          $ref: '#/components/schemas/DataFieldReference'
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/DataFieldMapping'
    RuleId:
      title: RuleId
      examples:
      - 3b4c5d6e-7f8a-4b9c-9d0e-1f2a3b4c5d6e
      type: string
      pattern: '[^\s\\/]+'
    MeetingLocations:
      title: MeetingLocations
      type: object
      required:
      - default
      properties:
        default:
          $ref: '#/components/schemas/MeetingLocation'
        others:
          type: array
          items:
            $ref: '#/components/schemas/MeetingLocation'
    RelativeWeek:
      title: RelativeWeek
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
          type: integer
          format: int32
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        timeZone:
          $ref: '#/components/schemas/Option_String'
        type:
          type: string
          const: RelativeWeek
    OwnershipConditionsRequest:
      title: OwnershipConditionsRequest
      oneOf:
      - $ref: '#/components/schemas/ConditionGroup'
      - $ref: '#/components/schemas/EvaluableCondition'
      - $ref: '#/components/schemas/ObjectExistsCondition'
      - $ref: '#/components/schemas/OwnershipCondition'
      - $ref: '#/components/schemas/SingleParameterCondition'
      - $ref: '#/components/schemas/StaticValueCondition'
      - $ref: '#/components/schemas/ValueCondition'
      discriminator:
        propertyName: type
        mapping:
          ConditionGroup: '#/components/schemas/ConditionGroup'
          EvaluableCondition: '#/components/schemas/EvaluableCondition'
          ObjectExistsCondition: '#/components/schemas/ObjectExistsCondition'
          OwnershipCondition: '#/components/schemas/OwnershipCondition'
          SingleParameterCondition: '#/components/schemas/SingleParameterCondition'
          StaticValueCondition: '#/components/schemas/StaticValueCondition'
          ValueCondition: '#/components/schemas/ValueCondition'
    InternalDataFieldRef:
      title: InternalDataFieldRef
      type: object
      required:
      - value
      - type
      properties:
        value:
          $ref: '#/components/schemas/InternalDataFieldId'
        type:
          type: string
          const: InternalDataFieldRef
    PaginatedResult_User:
      title: PaginatedResult_User
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User1'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    ProcessedRouterTrigger:
      title: ProcessedRouterTrigger
      oneOf:
      - $ref: '#/components/schemas/ProcessedChiliFormTrigger'
      - $ref: '#/components/schemas/ProcessedInAppButtonTrigger'
      - $ref: '#/components/schemas/ProcessedRouterLinkTrigger'
      - $ref: '#/components/schemas/ProcessedThirdPartyFormTrigger'
      discriminator:
        propertyName: type
        mapping:
          ProcessedChiliFormTrigger: '#/components/schemas/ProcessedChiliFormTrigger'
          ProcessedInAppButtonTrigger: '#/components/schemas/ProcessedInAppButtonTrigger'
          ProcessedRouterLinkTrigger: '#/components/schemas/ProcessedRouterLinkTrigger'
          ProcessedThirdPartyFormTrigger: '#/components/schemas/ProcessedThirdPartyFormTrigger'
    RouteRow:
      title: RouteRow
      type: object
      required:
      - outcome
      properties:
        ruleId:
          type: string
          pattern: '[^\s\\/]+'
        outcome:
          $ref: '#/components/schemas/RouteOutcome'
    OwnershipRule:
      title: OwnershipRule
      type: object
      required:
      - id
      - workspaceId
      - name
      - conditions
      - ruleBuilderVersion
      - metadata
      - type
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        teamId:
          $ref: '#/components/schemas/Option_TeamId'
        name:
          type: string
        conditions:
          $ref: '#/components/schemas/OwnershipConditionsRequest'
        ruleBuilderVersion:
          $ref: '#/components/schemas/RuleBuilderVersion'
        product:
          $ref: '#/components/schemas/Option_ChiliProduct'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
        type:
          type: string
          const: OwnershipRule
    DistributionUserState_NoLicense:
      title: DistributionUserState_NoLicense
      description: User is still on the team but has lost their license, so they cannot receive assignments.
        Re-licensing restores them.
      type: object
      required:
      - userId
      - total
      - licenseRemovedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        licenseRemovedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: NoLicense
    Assignee2:
      title: Assignee
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
          minimum: 0
        type:
          type: string
          const: Assignee
    RoutingRowSummary:
      title: RoutingRowSummary
      type: object
      required:
      - outcome
      properties:
        ruleId:
          type: string
          pattern: '[^\s\\/]+'
        ruleType:
          type: string
        outcome:
          $ref: '#/components/schemas/RoutingOutcome'
    SpamCheckRoute:
      title: SpamCheckRoute
      type: object
      required:
      - 'yes'
      - type
      properties:
        'yes':
          $ref: '#/components/schemas/YesActions'
        settings:
          $ref: '#/components/schemas/SpamCheckSettings'
        type:
          type: string
          const: SpamCheckRoute
    DoNothing5:
      title: DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    EventRelatedTo:
      title: EventRelatedTo
      oneOf:
      - $ref: '#/components/schemas/Account'
      - $ref: '#/components/schemas/Campaign'
      - $ref: '#/components/schemas/Case'
      - $ref: '#/components/schemas/ExplicitObject'
      - $ref: '#/components/schemas/NoRelationNeeded'
      - $ref: '#/components/schemas/Opportunity'
      - $ref: '#/components/schemas/RelationDisabled'
      discriminator:
        propertyName: type
        mapping:
          Account: '#/components/schemas/Account'
          Campaign: '#/components/schemas/Campaign'
          Case: '#/components/schemas/Case'
          ExplicitObject: '#/components/schemas/ExplicitObject'
          NoRelationNeeded: '#/components/schemas/NoRelationNeeded'
          Opportunity: '#/components/schemas/Opportunity'
          RelationDisabled: '#/components/schemas/RelationDisabled'
    RoutingOutcome:
      title: RoutingOutcome
      oneOf:
      - $ref: '#/components/schemas/RoutingOutcome_ContactOptions'
      - $ref: '#/components/schemas/RoutingOutcome_CrmAction'
      - $ref: '#/components/schemas/RoutingOutcome_Other'
      - $ref: '#/components/schemas/RoutingOutcome_OwnerAssign'
      - $ref: '#/components/schemas/RoutingOutcome_Redirect'
      - $ref: '#/components/schemas/RoutingOutcome_Schedule'
      discriminator:
        propertyName: type
        mapping:
          ContactOptions: '#/components/schemas/RoutingOutcome_ContactOptions'
          CrmAction: '#/components/schemas/RoutingOutcome_CrmAction'
          Other: '#/components/schemas/RoutingOutcome_Other'
          OwnerAssign: '#/components/schemas/RoutingOutcome_OwnerAssign'
          Redirect: '#/components/schemas/RoutingOutcome_Redirect'
          Schedule: '#/components/schemas/RoutingOutcome_Schedule'
    ExplicitObject:
      title: ExplicitObject
      type: object
      required:
      - id
      - type
      properties:
        id:
          $ref: '#/components/schemas/GenericSalesforceId'
        type:
          type: string
          const: ExplicitObject
    StaticValue:
      title: StaticValue
    CreateContactIfCompanyExists:
      title: CreateContactIfCompanyExists
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateContactIfCompanyExists
    ReminderTriggerKind:
      title: ReminderTriggerKind
      type: string
      enum:
      - BeforeMeeting
      - BeforeMeetingNoResponse
      - MeetingBooked
      - AfterMeeting
    DataFieldMapping:
      title: DataFieldMapping
      oneOf:
      - $ref: '#/components/schemas/Hubspot'
      - $ref: '#/components/schemas/Marketo'
      - $ref: '#/components/schemas/Salesforce'
      discriminator:
        propertyName: type
        mapping:
          Hubspot: '#/components/schemas/Hubspot'
          Marketo: '#/components/schemas/Marketo'
          Salesforce: '#/components/schemas/Salesforce'
[...]
