# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — Concierge Router Configuration Actions
  version: 1.494.0
  description: GPT Actions for the concierge-router-configuration GPT — a subset of the Chili Piper Edge
    API. Authenticate with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: 'READ-ONLY. Read all workspaces. List the workspaces that partition the org and their
        workspaceIds. Params: page, pageSize.'
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
      x-mcp-tool: workspace-list
  /v1/org/concierge/routers/concierge/list:
    post:
      tags:
      - concierge
      summary: Lists all concierge routers
      description: READ-ONLY. Lists all concierge routers. Browse Concierge routers to find their routerIds
        and slugs.
      operationId: conciergeListRouters
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRoutersListResponse'
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.read
      x-mcp-tool: concierge-list-routers
  /v1/org/concierge/routers/concierge/{routerId}:
    get:
      tags:
      - concierge
      summary: Get concierge router
      description: 'READ-ONLY. Get concierge router. Fetch one Concierge router''s identity, routing summary
        and full config. Params: routerId (required).'
      operationId: conciergeRouterGet
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRouter'
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.read
      x-mcp-tool: concierge-router-get
    put:
      tags:
      - concierge
      summary: Update concierge router
      description: 'MUTATING — IDEMPOTENT. Update concierge router. Edit a Concierge router and republish
        it live. Params: routerId (required). Takes a JSON body.'
      operationId: conciergeRouterUpdate
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConciergeRouterUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRouter'
        '400':
          description: 'Invalid value for: path parameter routerId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.modify
      x-mcp-tool: concierge-router-update
    delete:
      tags:
      - concierge
      summary: Remove concierge router
      description: 'MUTATING — DESTRUCTIVE. Remove concierge router. Delete a Concierge router by id.
        Params: routerId (required).'
      operationId: conciergeRouterDelete
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.remove
      x-mcp-tool: concierge-router-delete
  /v1/org/concierge/routers/concierge:
    post:
      tags:
      - concierge
      summary: Create concierge router
      description: MUTATING. Create concierge router. Create a Concierge router and publish it live in
        one step. Takes a JSON body.
      operationId: conciergeRouterCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConciergeRouterCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRouter'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.create
      x-mcp-tool: concierge-router-create
  /v1/org/rule/list:
    get:
      tags:
      - rule
      summary: List rules
      description: 'READ-ONLY. List rules. Browse the org''s reusable routing rules to find ruleIds and
        revisions. Params: page, pageSize, workspaceId, name.'
      operationId: ruleList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
      - name: pageSize
        in: query
        description: Number of items per page.
        required: false
        schema:
          default: 200
          type: integer
          format: int64
          exclusiveMinimum: 0
      - name: workspaceId
        in: query
        description: Filter rules by workspace ID.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: name
        in: query
        description: Filter rules by name.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_RuleView'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize,
            Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - rule.read
      x-mcp-tool: rule-list
  /v2/org/distribution/list:
    put:
      tags:
      - distribution
      summary: List all distributions (PUT)
      description: READ-ONLY. List all distributions (PUT). Browse published distributions in the org
        (preferred list). Takes a JSON body.
      operationId: distributionListPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Distribution'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distribution.read
      x-mcp-tool: distribution-list-put
  /v1/org/meeting-types/list:
    get:
      tags:
      - meeting-type
      summary: List meeting types
      description: 'READ-ONLY. List meeting types. Browse the tenant''s reusable team meeting types. Params:
        workspaceId.'
      operationId: meetingTypeList
      parameters:
      - name: workspaceId
        in: query
        description: Filter meeting types by workspace ID. Omit to list across all of the tenant's workspaces.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.read
      x-mcp-tool: meeting-type-list
  /v1/org/user/find:
    get:
      tags:
      - user
      summary: Finds user
      description: 'READ-ONLY. Finds user. Resolve an email or name to a userId. Params: query (required),
        page, pageSize.'
      operationId: userFind
      parameters:
      - name: query
        in: query
        description: Search by email or name
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_User'
        '400':
          description: 'Invalid value for: query parameter query, Invalid value for: query parameter page,
            Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
      x-mcp-tool: user-find
  /v1/org/campaign/list:
    get:
      tags:
      - campaign
      summary: List Salesforce campaigns
      description: 'READ-ONLY. List Salesforce campaigns. List Salesforce campaigns to find the campaignId
        for a router''s Add-to-Campaign action. Params: isActive, page, pageSize.'
      operationId: campaignList
      parameters:
      - name: isActive
        in: query
        description: Filter to active (true) or inactive (false) campaigns; omit for all.
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesforceCampaignPage'
        '400':
          description: 'Invalid value for: query parameter isActive, Invalid value for: query parameter
            page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - tenant.read
      x-mcp-tool: campaign-list
  /v1/org/campaign/search:
    get:
      tags:
      - campaign
      summary: Search Salesforce campaigns
      description: 'READ-ONLY. Search Salesforce campaigns. Search Salesforce campaigns by text to find
        the campaignId for a router''s Add-to-Campaign action. Params: searchText (required), isActive,
        page, pageSize.'
      operationId: campaignSearch
      parameters:
      - name: searchText
        in: query
        description: Text to match against campaign names; at least 2 characters.
        required: true
        schema:
          type: string
      - name: isActive
        in: query
        description: Filter to active (true) or inactive (false) campaigns; omit for all.
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesforceCampaignPage'
        '400':
          description: 'Invalid value for: query parameter searchText, Invalid value for: query parameter
            isActive, Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - tenant.read
      x-mcp-tool: campaign-search
  /v1/org/data-fields/list:
    get:
      tags:
      - data-field
      summary: List data fields
      description: READ-ONLY. List data fields. List the tenant's data fields (custom, default and internal).
      operationId: dataFieldList
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataFieldDetails'
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - data-field.read
      x-mcp-tool: data-field-list
  /v1/org/data-fields/{reference}:
    get:
      tags:
      - data-field
      summary: Get data field
      description: 'READ-ONLY. Get data field. Fetch one data field by reference. Params: reference (required).'
      operationId: dataFieldGet
      parameters:
      - name: reference
        in: path
        description: 'The data field''s reference: a custom field''s UUID, or a default/internal field''s
          stable name.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFieldDetails'
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - data-field.read
      x-mcp-tool: data-field-get
    put:
      tags:
      - data-field
      summary: Update data field
      description: 'MUTATING — IDEMPOTENT. Update data field. Edit a custom data field and republish.
        Params: reference (required). Takes a JSON body.'
      operationId: dataFieldUpdate
      parameters:
      - name: reference
        in: path
        description: 'The data field''s reference: a custom field''s UUID, or a default/internal field''s
          stable name.'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFieldUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFieldDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - data-field.manage
      x-mcp-tool: data-field-update
    delete:
      tags:
      - data-field
      summary: Remove data field
      description: 'MUTATING — DESTRUCTIVE. Remove data field. Delete a custom data field. Params: reference
        (required).'
      operationId: dataFieldDelete
      parameters:
      - name: reference
        in: path
        description: 'The data field''s reference: a custom field''s UUID, or a default/internal field''s
          stable name.'
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - data-field.manage
      x-mcp-tool: data-field-delete
  /v1/org/data-fields:
    post:
      tags:
      - data-field
      summary: Create data field
      description: MUTATING. Create data field. Create a custom data field and publish it. Takes a JSON
        body.
      operationId: dataFieldCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFieldCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFieldDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - data-field.manage
      x-mcp-tool: data-field-create
  /v1/org/enrichment/waterfall:
    get:
      tags:
      - enrichment
      summary: List enrichment waterfalls
      description: 'READ-ONLY. List enrichment waterfalls. List a workspace''s enrichment waterfalls and
        their ordered provider fields. Params: workspaceId (required), page, pageSize.'
      operationId: enrichmentWaterfallList
      parameters:
      - name: workspaceId
        in: query
        description: Workspace whose enrichment waterfalls to list.
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
      - name: pageSize
        in: query
        description: Number of items per page.
        required: false
        schema:
          default: 200
          type: integer
          format: int64
          exclusiveMinimum: 0
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_EnrichmentWaterfall'
        '400':
          description: 'Invalid value for: query parameter workspaceId, Invalid value for: query parameter
            page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - data-field.read
      x-mcp-tool: enrichment-waterfall-list
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    EngagementOwner:
      title: EngagementOwner
      oneOf:
      - $ref: '#/components/schemas/EngagementOwner_Assignee'
      - $ref: '#/components/schemas/EngagementOwner_Booker'
      discriminator:
        propertyName: type
        mapping:
          Assignee: '#/components/schemas/EngagementOwner_Assignee'
          Booker: '#/components/schemas/EngagementOwner_Booker'
    HubspotNoMatchBehaviour_DoNothing:
      title: HubspotNoMatchBehaviour_DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    SingleOperator:
      title: SingleOperator
      type: string
      enum:
      - notEmpty
      - empty
    ConciergeRouterCreate:
      title: ConciergeRouterCreate
      type: object
      required:
      - workspaceId
      - name
      - routing
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          description: Customer-facing router name; the slug is derived from it on publish.
          type: string
        routing:
          $ref: '#/components/schemas/RouterRouting'
        form:
          description: Chili webform guest fields; the mapping must include the email field (PersonEmail).
          type: array
          items:
            $ref: '#/components/schemas/RouterFormField'
        thirdPartyForm:
          description: Third-party (external) webform field mappings (externalFieldName to dataField);
            must include PersonEmail. Mutually exclusive with form.
          type: array
          items:
            $ref: '#/components/schemas/RouterThirdPartyFormField'
        inAppButton:
          description: In-app-button trigger field mappings; the mapping must include the email field
            (PersonEmail).
          type: array
          items:
            $ref: '#/components/schemas/RouterInAppButtonField'
        routerLink:
          description: Router-link trigger field mappings (yields a shareable Router Link URL); must include
            the email field (PersonEmail).
          type: array
          items:
            $ref: '#/components/schemas/RouterLinkField'
        branding:
          $ref: '#/components/schemas/RouterBranding'
          description: Cover image, heading and language for the routing page.
        localizations:
          $ref: '#/components/schemas/Map_Locale_Map_String_String'
          description: Per-language string overrides for the routing page.
        routingSteps:
          description: Ordered pre-routing steps (enrichment, spam-check) run before the routes.
          type: array
          items:
            $ref: '#/components/schemas/ConciergeRoutingStep'
    NonOwnershipConditionsRequest_ValueCondition:
      title: NonOwnershipConditionsRequest_ValueCondition
      type: object
      required:
      - conditionId
      - lhsReference
      - operator
      - rhsReference
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        lhsReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        rhsReference:
          $ref: '#/components/schemas/DataReference'
        type:
          type: string
          const: ValueCondition
    RoutingOutcome_Other:
      title: RoutingOutcome_Other
      type: object
      required:
      - kind
      - type
      properties:
        kind:
          type: string
        type:
          type: string
          const: Other
    EventRelatedTo_NoRelationNeeded:
      title: EventRelatedTo_NoRelationNeeded
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NoRelationNeeded
    HubspotWhenMatchBehaviour:
      title: HubspotWhenMatchBehaviour
      oneOf:
      - $ref: '#/components/schemas/HubspotWhenMatchBehaviour_DoNothing'
      - $ref: '#/components/schemas/HubspotWhenMatchBehaviour_UpdateContact'
      discriminator:
        propertyName: type
        mapping:
          DoNothing: '#/components/schemas/HubspotWhenMatchBehaviour_DoNothing'
          UpdateContact: '#/components/schemas/HubspotWhenMatchBehaviour_UpdateContact'
    UserStatistics:
      title: UserStatistics
      type: object
      required:
      - assigned
      - cancelled
      - noShow
      - reassignedToThis
      - reassignedFromThis
      properties:
        assigned:
          description: Number of assignments booked directly to this user in the current period.
          type: integer
          format: int32
        cancelled:
          description: Number of assignments that were later cancelled.
          type: integer
          format: int32
        noShow:
          description: Number of assignments where the invitee did not show up.
          type: integer
          format: int32
        reassignedToThis:
          description: Number of assignments that were reassigned to this user from another.
          type: integer
          format: int32
        reassignedFromThis:
          description: Number of assignments originally made to this user that were reassigned away.
          type: integer
          format: int32
    DistributedAssignmentLimitReset:
      title: DistributedAssignmentLimitReset
      oneOf:
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
          HourlyRolling: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
          Monthly: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
          Weekly: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
    FieldDataType_DateTime:
      title: FieldDataType_DateTime
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DateTime
    Option_ChiliProduct:
      $ref: '#/components/schemas/ChiliProduct'
    ConciergeRouteAssignment_User:
      title: ConciergeRouteAssignment_User
      type: object
      required:
      - userId
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        type:
          type: string
          const: User
    CrmAction_HubspotUpsertRecord:
      title: CrmAction_HubspotUpsertRecord
      type: object
      required:
      - settings
      - type
      properties:
        settings:
          $ref: '#/components/schemas/HubspotUpsertRecordSettings'
        type:
          type: string
          const: HubspotUpsertRecord
    ConciergeRouter:
      title: ConciergeRouter
      type: object
      required:
      - id
      - workspaceId
      - routing
      properties:
        id:
          $ref: '#/components/schemas/ConciergeRouterId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          description: Customer-facing router name; may be absent for legacy routers.
          type: string
        slug:
          description: URL slug derived from the name on publish; used in the routing link path.
          type: string
          pattern: '[-0-9a-z_]+'
        routing:
          $ref: '#/components/schemas/RouterRoutingSummary'
          description: Per-row summary of the routing matrix (rule to outcome), including outcomes Edge
            cannot itself represent.
        form:
          $ref: '#/components/schemas/RouterForm'
        inAppButton:
          $ref: '#/components/schemas/RouterInAppButton'
        routerLink:
          $ref: '#/components/schemas/RouterLink'
        branding:
          $ref: '#/components/schemas/RouterBranding'
          description: Cover image, heading and language for the routing page.
        localizations:
          $ref: '#/components/schemas/Map_Locale_Map_String_String'
          description: Per-language string overrides for the routing page.
        formFields:
          description: The Chili-webform guest fields with render metadata (type, options, order); empty
            for a third-party webform.
          type: array
          items:
            $ref: '#/components/schemas/ConciergeFormField'
        thirdPartyForm:
          $ref: '#/components/schemas/RouterThirdPartyForm'
        routingSteps:
          description: Ordered pre-routing steps (enrichment, spam-check) run before the routes.
          type: array
          items:
            $ref: '#/components/schemas/ConciergeRoutingStep'
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    MeetingLimit:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitSet'
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimit_MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
    MeetingLocation_ZoomOneTimeLink:
      title: MeetingLocation_ZoomOneTimeLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: ZoomOneTimeLink
    CrmAction_SalesforceUpdateFields:
      title: CrmAction_SalesforceUpdateFields
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateContactField'
        lead:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateLeadField'
        type:
          type: string
          const: SalesforceUpdateFields
    MeetingLimit_MeetingLimitUnset:
      title: MeetingLimit_MeetingLimitUnset
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: MeetingLimitUnset
    EventRelatedTo_ExplicitObject:
      title: EventRelatedTo_ExplicitObject
      type: object
      required:
      - id
      - type
      properties:
        id:
          $ref: '#/components/schemas/GenericSalesforceId'
        type:
          type: string
          const: ExplicitObject
    HubspotNoMatchBehaviour_CreateContactIfCompanyExists:
      title: HubspotNoMatchBehaviour_CreateContactIfCompanyExists
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateContactIfCompanyExists
    DistributedAssignmentLimitReset_Daily:
      title: DistributedAssignmentLimitReset_Daily
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    Assignment_UseAssignmentTable:
      title: Assignment_UseAssignmentTable
      type: object
      required:
      - ruleId
      - columnKey
      - required
      - type
      properties:
        ruleId:
          $ref: '#/components/schemas/RuleId'
        columnKey:
          description: Key of the assignment-table column whose value is used as the assignee.
          type: string
          pattern: '[^\s\\/]+'
        required:
          description: Whether this assignee's attendance is required (true) or optional (false).
          type: boolean
        type:
          type: string
          const: UseAssignmentTable
    MeetingLocation_DefinedInMeetingType:
      title: MeetingLocation_DefinedInMeetingType
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        value:
          type: string
          minLength: 1
        type:
          type: string
          const: DefinedInMeetingType
    CustomMatchedObjectRef:
      title: CustomMatchedObjectRef
      description: 'custom matched object ref - format: $id__$tpe


        available types: LeadToAccountMatchingConfigType,ContactToDuplicateContactMatchingConfigType,LeadToDuplicateContactMatchingConfigType,ProspectToContactMatchingConfigType,LeadToDuplicateLeadMatchingConfigType,ContactToDuplicateLeadMatchingConfigType,ProspectToLeadMatchingConfigType,LeadToRelatedLeadMatchingConfigType,LeadToOpportunityMatchingConfigType,ContactToOpportunityMatchingConfigType,LeadToCaseMatchingConfigType,ContactToCaseMatchingConfigType,RelatedChildConfigType'
      type: string
    RoutingOutcome_Redirect:
      title: RoutingOutcome_Redirect
      type: object
      required:
      - type
      properties:
        url:
          examples:
          - https://example.com
          type: string
        type:
          type: string
          const: Redirect
    Distribution:
      title: Distribution
      type: object
      required:
      - id
      - published
      - state
      - prioritization
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        published:
          $ref: '#/components/schemas/ConfigurationDTO'
        state:
          $ref: '#/components/schemas/DistributionState'
        prioritization:
          $ref: '#/components/schemas/Prioritization'
    ExpandedRoutes:
      title: ExpandedRoutes
      type: object
      required:
      - catchAll
      properties:
        sharedCrmUpsertRecord:
          $ref: '#/components/schemas/CrmUpsertRecord'
        rules:
          description: Ordered rule and spam-check routes, evaluated top to bottom.
          type: array
          items:
            $ref: '#/components/schemas/NonCatchAllRoute'
        catchAll:
          $ref: '#/components/schemas/CatchAllRoute'
    SalesforceCampaign:
      title: SalesforceCampaign
      type: object
      required:
      - id
      - name
      - active
      properties:
        id:
          $ref: '#/components/schemas/CampaignId'
        name:
          description: Campaign name.
          type: string
        status:
          description: Campaign status (e.g. Planned, In Progress, Completed, Aborted), if set.
          type: string
        startDate:
          description: Campaign start date (ISO-8601, e.g. 2025-01-31), if set.
          type: string
          format: date
        endDate:
          description: Campaign end date (ISO-8601, e.g. 2025-01-31), if set.
          type: string
          format: date
        active:
          description: Whether the campaign is active in Salesforce.
          type: boolean
    DistributionUserState:
      title: DistributionUserState
      oneOf:
      - $ref: '#/components/schemas/DistributionUserState_Active'
      - $ref: '#/components/schemas/DistributionUserState_Capped'
      - $ref: '#/components/schemas/DistributionUserState_Disabled'
      - $ref: '#/components/schemas/DistributionUserState_NoLicense'
      - $ref: '#/components/schemas/DistributionUserState_Removed'
      discriminator:
        propertyName: type
        mapping:
          Active: '#/components/schemas/DistributionUserState_Active'
          Capped: '#/components/schemas/DistributionUserState_Capped'
          Disabled: '#/components/schemas/DistributionUserState_Disabled'
          NoLicense: '#/components/schemas/DistributionUserState_NoLicense'
          Removed: '#/components/schemas/DistributionUserState_Removed'
    GuestsBehavior_CreateEvents:
      title: GuestsBehavior_CreateEvents
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateEvents
    FieldDataType_LongText:
      title: FieldDataType_LongText
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: LongText
    RecordHandling:
      title: RecordHandling
      oneOf:
      - $ref: '#/components/schemas/RecordHandling_Strict'
      - $ref: '#/components/schemas/RecordHandling_WorkingHours'
      discriminator:
        propertyName: type
        mapping:
          Strict: '#/components/schemas/RecordHandling_Strict'
          WorkingHours: '#/components/schemas/RecordHandling_WorkingHours'
    SchedulingActions:
      title: SchedulingActions
      type: object
      required:
      - redirect
      properties:
        redirect:
          $ref: '#/components/schemas/Redirect'
        actions:
          description: CRM/notification actions executed after a meeting is scheduled.
          type: array
          items:
            $ref: '#/components/schemas/ExecutableAction'
    DistributionUserState_Active:
      title: DistributionUserState_Active
      description: User is active in the distribution and eligible for assignments. Carries the user's
        current level.
      type: object
      required:
      - userId
      - total
      - level
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        level:
          $ref: '#/components/schemas/Levels'
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Active
    MeetingBookingLimit:
      title: MeetingBookingLimit
      type: object
      required:
      - limitBy
      - timeframe
      - count
      properties:
        limitBy:
          $ref: '#/components/schemas/MeetingBookingLimitBy'
        timeframe:
          $ref: '#/components/schemas/MeetingBookingLimitTimeframe'
        count:
          description: Maximum bookings a single person (per the limitBy scope) may make within each timeframe
            window.
          type: integer
          format: int32
    SharedWith_Workspace:
      title: SharedWith_Workspace
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Workspace
    RouteOutcome:
      title: RouteOutcome
      oneOf:
      - $ref: '#/components/schemas/RouteOutcome_Redirect'
      - $ref: '#/components/schemas/RouteOutcome_Schedule'
      discriminator:
        propertyName: type
        mapping:
          Redirect: '#/components/schemas/RouteOutcome_Redirect'
          Schedule: '#/components/schemas/RouteOutcome_Schedule'
    NormalDataObject:
      title: NormalDataObject
      description: Standard CRM object name, e.g. "Account", "Contact", "Lead", "Opportunity", "Case".
        Use for direct conditions on any Salesforce/CRM object. Do NOT use MatchedAccount/MatchedContact/etc.
        here — those are special matching-config references.
      type: string
    EngagementRelatedTo_Company:
      title: EngagementRelatedTo_Company
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Company
    UpdateFieldValue_RelativeYear:
      title: UpdateFieldValue_RelativeYear
      type: object
      required:
      - length
      - offset
      - timeZone
      - type
      properties:
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        offset:
          type: integer
          format: int32
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: RelativeYear
    GuestsBehavior:
      title: GuestsBehavior
      oneOf:
      - $ref: '#/components/schemas/GuestsBehavior_CreateEvents'
      - $ref: '#/components/schemas/GuestsBehavior_DoNothing'
      discriminator:
        propertyName: type
        mapping:
          CreateEvents: '#/components/schemas/GuestsBehavior_CreateEvents'
          DoNothing: '#/components/schemas/GuestsBehavior_DoNothing'
    LeadOrContactSettings:
      title: LeadOrContactSettings
      type: object
      required:
      - noMatch
      - whenMatch
      properties:
        noMatch:
          $ref: '#/components/schemas/NoMatchBehaviour'
        whenMatch:
          $ref: '#/components/schemas/WhenMatchBehaviour'
    DataFieldMapping_Hubspot:
      title: DataFieldMapping_Hubspot
      type: object
      required:
      - object
      - property
      - overwrite
      - type
      properties:
        object:
          type: string
          pattern: '[^\s\\/]+'
        property:
          type: string
          pattern: '[^\s\\/]+'
        overwrite:
          type: boolean
        type:
          type: string
          const: Hubspot
    ConciergeEnrichmentMapping:
      title: ConciergeEnrichmentMapping
      type: object
      required:
      - dataField
      - waterfallId
      properties:
        dataField:
          $ref: '#/components/schemas/DataFieldRef'
        waterfallId:
          description: Enrichment waterfall supplying the value (opaque id, not validated).
          type: string
    CrmUpdateContactOwnership:
      title: CrmUpdateContactOwnership
      type: object
      required:
      - object
      - field
      properties:
        object:
          $ref: '#/components/schemas/CrmUpdateContactOwnershipTarget'
        field:
          description: Salesforce field that stores the owner.
          type: string
          pattern: '[^\s\\/]+'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
    RuleId:
      title: RuleId
      examples:
      - 3b4c5d6e-7f8a-4b9c-9d0e-1f2a3b4c5d6e
      type: string
      pattern: '[^\s\\/]+'
    ListRequest:
      title: ListRequest
      type: object
      properties:
        workspaceIds:
          description: Restrict results to these workspaces. Omit to search all accessible workspaces.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        page:
          description: Zero-based page index. Defaults to 0.
          type: integer
          format: int64
          minimum: 0
        pageSize:
          description: Number of distributions per page.
          type: integer
          format: int64
          exclusiveMinimum: 0
        name:
          description: Filter to distributions matching this name.
          type: string
        assignmentType:
          $ref: '#/components/schemas/DistributionAssignmentType'
    DataFieldDetails:
      title: DataFieldDetails
      type: object
      required:
      - reference
      - objectType
      - label
      - dataType
      properties:
        reference:
          $ref: '#/components/schemas/DataFieldReference'
        objectType:
          $ref: '#/components/schemas/DataFieldObjectType'
        label:
          description: Human-readable name of the data field.
          type: string
        dataType:
          $ref: '#/components/schemas/DataFieldDataType'
        mappings:
          description: Per-CRM mappings of the data field to a concrete CRM object/field.
          type: array
          items:
            $ref: '#/components/schemas/DataFieldMapping'
        smartParameters:
          description: 'URL-parameter aliases that map into this field: booking/concierge links carrying
            ?<alias>=<value> pre-fill the field. Lowercase slugs matching [-0-9a-z_]+. Empty if none.'
          type: array
          items:
            type: string
    FieldDataType:
      title: FieldDataType
      oneOf:
      - $ref: '#/components/schemas/FieldDataType_Checkbox'
      - $ref: '#/components/schemas/FieldDataType_Date'
      - $ref: '#/components/schemas/FieldDataType_DateTime'
      - $ref: '#/components/schemas/FieldDataType_Email'
      - $ref: '#/components/schemas/FieldDataType_LongText'
      - $ref: '#/components/schemas/FieldDataType_Number'
      - $ref: '#/components/schemas/FieldDataType_Phone'
      - $ref: '#/components/schemas/FieldDataType_Picklist'
      - $ref: '#/components/schemas/FieldDataType_RadioButton'
      - $ref: '#/components/schemas/FieldDataType_ShortText'
      - $ref: '#/components/schemas/FieldDataType_TrueFalse'
      discriminator:
        propertyName: type
        mapping:
          Checkbox: '#/components/schemas/FieldDataType_Checkbox'
          Date: '#/components/schemas/FieldDataType_Date'
          DateTime: '#/components/schemas/FieldDataType_DateTime'
          Email: '#/components/schemas/FieldDataType_Email'
          LongText: '#/components/schemas/FieldDataType_LongText'
          Number: '#/components/schemas/FieldDataType_Number'
          Phone: '#/components/schemas/FieldDataType_Phone'
          Picklist: '#/components/schemas/FieldDataType_Picklist'
          RadioButton: '#/components/schemas/FieldDataType_RadioButton'
          ShortText: '#/components/schemas/FieldDataType_ShortText'
          TrueFalse: '#/components/schemas/FieldDataType_TrueFalse'
    DistributionAssignmentTypeConfig_Record:
      title: DistributionAssignmentTypeConfig_Record
      type: object
      required:
      - handling
      - type
      properties:
        handling:
          $ref: '#/components/schemas/RecordHandling'
        type:
          type: string
          const: Record
    ConciergeRouterSettings:
      title: ConciergeRouterSettings
      type: object
      properties:
        headerImage:
          type: string
        headingText:
          description: Heading text shown on the routing page.
          type: string
          minLength: 1
        language:
          description: Default language of the routing page.
          type: string
          minLength: 1
        localizations:
          $ref: '#/components/schemas/Map_Locale_Map_String_String'
          description: Per-language string overrides for the routing page.
    ExecutableAction_CrmMultiUpdateOwnership:
      title: ExecutableAction_CrmMultiUpdateOwnership
      type: object
      required:
      - assignTo
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateContactOwnership'
        lead:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateLeadOwnership'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
          deprecated: true
        type:
          type: string
          const: CrmMultiUpdateOwnership
    DataFieldMapping_Salesforce:
      title: DataFieldMapping_Salesforce
      type: object
      required:
      - object
      - field
      - overwrite
      - type
      properties:
        object:
          type: string
          pattern: '[^\s\\/]+'
        field:
          type: string
          pattern: '[^\s\\/]+'
        overwrite:
          type: boolean
        type:
          type: string
          const: Salesforce
    ConciergeRoutingStep_SpamCheck:
      title: ConciergeRoutingStep_SpamCheck
      type: object
      required:
      - writeSpamScoreToDataField
      - type
      properties:
        writeSpamScoreToDataField:
          description: When true, writes the computed spam score to the default spam data-field.
          type: boolean
        onSpam:
          $ref: '#/components/schemas/RouteOutcome'
        type:
          type: string
          const: SpamCheck
    FieldDataType_Picklist:
      title: FieldDataType_Picklist
      type: object
      required:
      - values
      - type
      properties:
        values:
          type: array
          minItems: 1
          items:
            type: string
        type:
          type: string
          const: Picklist
    OwnershipConditionsRequest_StaticValueCondition:
      title: OwnershipConditionsRequest_StaticValueCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - value
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        value:
          $ref: '#/components/schemas/StaticValue'
        type:
          type: string
          const: StaticValueCondition
    NonOwnershipConditionsRequest_ConditionGroup:
      title: NonOwnershipConditionsRequest_ConditionGroup
      type: object
      required:
      - id
      - operator
      - conditions
      - type
      properties:
        id:
          $ref: '#/components/schemas/ConditionGroupId'
        name:
          $ref: '#/components/schemas/Option_String'
        operator:
          $ref: '#/components/schemas/LogicalOperator'
        conditions:
          $ref: '#/components/schemas/NonEmptyList_NonOwnershipConditionsRequest'
        type:
          type: string
          const: ConditionGroup
    CrmAction_Other:
      title: CrmAction_Other
      type: object
      required:
      - kind
      - type
      properties:
        kind:
          type: string
        type:
          type: string
          const: Other
    ProcessedRouterTrigger_ProcessedInAppButtonTrigger:
      title: ProcessedRouterTrigger_ProcessedInAppButtonTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProcessedInAppButtonMapping'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedInAppButtonTrigger
    CallMissedActions_Actions:
      title: CallMissedActions_Actions
      type: object
      required:
      - redirect
      - type
      properties:
        redirect:
          $ref: '#/components/schemas/Redirect'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ExecutableAction'
        type:
          type: string
          const: Actions
    ProcessedRouterTrigger_ProcessedChiliFormTrigger:
      title: ProcessedRouterTrigger_ProcessedChiliFormTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProcessedChiliFormMapping'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedChiliFormTrigger
    MeetingCreatedTarget_BookerInvitedIfExist:
      title: MeetingCreatedTarget_BookerInvitedIfExist
      deprecated: true
      type: object
      required:
      - autoDeclineOnBookersBehalf
      - required
      - type
      properties:
        autoDeclineOnBookersBehalf:
          type: boolean
        required:
          type: boolean
        type:
          type: string
          const: BookerInvitedIfExist
    OwnershipConditionsRequest_ConditionGroup:
      title: OwnershipConditionsRequest_ConditionGroup
      type: object
      required:
      - id
      - operator
      - conditions
      - type
      properties:
        id:
          $ref: '#/components/schemas/ConditionGroupId'
        name:
          $ref: '#/components/schemas/Option_String'
        operator:
          $ref: '#/components/schemas/LogicalOperator'
        conditions:
          $ref: '#/components/schemas/NonEmptyList_OwnershipConditionsRequest'
        type:
          type: string
          const: ConditionGroup
    RouterForm:
      title: RouterForm
      type: object
      required:
      - representable
      properties:
        representable:
          description: True iff the webform is a Chili form (or absent); false iff it is a third-party
            form (edit via thirdPartyForm).
          type: boolean
        fields:
          description: The Chili-form fields; empty when the webform is a third-party form Edge cannot
            model for write.
          type: array
          items:
            $ref: '#/components/schemas/RouterFormField'
        readOnlyTriggers:
          description: Retained for backwards compatibility; now always empty since every trigger kind
            is editable.
          type: array
          items:
            type: string
    HubspotContactOwnershipRow:
      title: HubspotContactOwnershipRow
      type: object
      required:
      - object
      - field
      properties:
        object:
          $ref: '#/components/schemas/HubspotUpdateContactOwnershipTarget'
        field:
          description: HubSpot property that stores the owner.
          type: string
          pattern: '[^\s\\/]+'
    Evaluable_RelativeDay:
      title: Evaluable_RelativeDay
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
          description: Signed number of periods to shift from the current one; 0 = current period, negative
            = past, positive = future.
          type: integer
          format: int32
        length:
          description: How many consecutive periods the window spans.
          type: integer
          format: int32
          exclusiveMinimum: 0
        timeZone:
          $ref: '#/components/schemas/Option_String'
        type:
          type: string
          const: RelativeDay
    ReminderSmsSendFrom:
      title: ReminderSmsSendFrom
      type: string
      enum:
      - AnyNumber
      - LocalAreaNumber
    MatchedObject:
      title: MatchedObject
      description: Matched/related-object reference from a matching configuration (e.g. MatchedAccount
        = account matched via Lead-to-Account config). NOT for ordinary Salesforce objects — use NormalDataObject
        (plain string) for those.
      type: string
      enum:
      - MatchedAccount
      - MatchedCase
      - MatchedOpportunity
      - RelatedLead
      - DuplicateLead
      - DuplicateContact
      - MatchedLead
      - MatchedContact
      - PrimaryOwner
      - MatchedCompany
      - MatchedDeal
      - MatchedTicket
    WhenMatchBehaviour_DoNothing:
      title: WhenMatchBehaviour_DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    MeetingTypeId:
      title: MeetingTypeId
      examples:
      - 4a8f2b3c-7d1e-4f9b-8a2c-3d5e6f789012
      type: string
      format: uuid
    MeetingLocations:
      title: MeetingLocations
      type: object
      required:
      - default
      properties:
        default:
          $ref: '#/components/schemas/MeetingLocation'
        others:
          description: Additional selectable meeting locations offered alongside the default.
          type: array
          items:
            $ref: '#/components/schemas/MeetingLocation'
    AdditionalAttendee:
      title: AdditionalAttendee
      type: object
      required:
      - id
      - required
      properties:
        id:
          $ref: '#/components/schemas/AttendeeId'
        required:
          description: Whether this attendee's attendance is required.
          type: boolean
    CallSucceededRedirect_OnPickUp:
      title: CallSucceededRedirect_OnPickUp
      type: object
      required:
      - redirect
      - type
      properties:
        redirect:
          $ref: '#/components/schemas/Redirect'
        type:
          type: string
          const: OnPickUp
    ConciergeRouteAssignment_UseAssignmentTable:
      title: ConciergeRouteAssignment_UseAssignmentTable
      type: object
      required:
      - ruleId
      - columnKey
      - type
      properties:
        ruleId:
          $ref: '#/components/schemas/RuleId'
        columnKey:
          description: Key of the assignment-table column whose value is used as the assignee.
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: UseAssignmentTable
    Assignment_User:
      title: Assignment_User
      type: object
      required:
      - id
      - required
      - type
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        required:
          description: Whether this assignee's attendance is required (true) or optional (false).
          type: boolean
        type:
          type: string
          const: User
    RouterBranding:
      title: RouterBranding
      type: object
      properties:
        coverImage:
          description: Cover/header image URL for the routing page.
          examples:
          - https://example.com
          type: string
        headingText:
          description: Heading text shown on the routing page.
          type: string
          minLength: 1
        language:
          description: Default language of the routing page.
          type: string
          minLength: 1
    TimeoutRedirect:
      title: TimeoutRedirect
      oneOf:
      - $ref: '#/components/schemas/TimeoutRedirect_Landing'
      - $ref: '#/components/schemas/TimeoutRedirect_Url'
      discriminator:
        propertyName: type
        mapping:
          Landing: '#/components/schemas/TimeoutRedirect_Landing'
          Url: '#/components/schemas/TimeoutRedirect_Url'
    UpdateFieldValue_RelativeQuarter:
      title: UpdateFieldValue_RelativeQuarter
      type: object
      required:
      - offset
      - timeZone
      - type
      properties:
        offset:
          type: integer
          format: int32
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: RelativeQuarter
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    ConciergeRouteAssignment:
      title: ConciergeRouteAssignment
      oneOf:
      - $ref: '#/components/schemas/ConciergeRouteAssignment_Distribution'
      - $ref: '#/components/schemas/ConciergeRouteAssignment_UseAssignmentTable'
      - $ref: '#/components/schemas/ConciergeRouteAssignment_User'
      discriminator:
        propertyName: type
        mapping:
          Distribution: '#/components/schemas/ConciergeRouteAssignment_Distribution'
          UseAssignmentTable: '#/components/schemas/ConciergeRouteAssignment_UseAssignmentTable'
          User: '#/components/schemas/ConciergeRouteAssignment_User'
    ConciergeRoutingStep_Enrichment:
      title: ConciergeRoutingStep_Enrichment
      type: object
      required:
      - type
      properties:
        waterfalls:
          description: Ordered enrichment waterfall mappings to run before routing; must be non-empty
            to author an Enrichment step.
          type: array
          items:
            $ref: '#/components/schemas/ConciergeEnrichmentMapping'
        timeoutSeconds:
          description: Optional whole-second cap on the enrichment waterfall call; absent means no timeout.
          type: integer
          format: int64
        type:
          type: string
          const: Enrichment
    OwnershipConditionsRequest:
      title: OwnershipConditionsRequest
      oneOf:
      - $ref: '#/components/schemas/OwnershipConditionsRequest_ConditionGroup'
      - $ref: '#/components/schemas/OwnershipConditionsRequest_EvaluableCondition'
      - $ref: '#/components/schemas/OwnershipConditionsRequest_ObjectExistsCondition'
      - $ref: '#/components/schemas/OwnershipConditionsRequest_OwnershipCondition'
      - $ref: '#/components/schemas/OwnershipConditionsRequest_SingleParameterCondition'
      - $ref: '#/components/schemas/OwnershipConditionsRequest_StaticValueCondition'
      - $ref: '#/components/schemas/OwnershipConditionsRequest_ValueCondition'
      discriminator:
        propertyName: type
        mapping:
          ConditionGroup: '#/components/schemas/OwnershipConditionsRequest_ConditionGroup'
          EvaluableCondition: '#/components/schemas/OwnershipConditionsRequest_EvaluableCondition'
          ObjectExistsCondition: '#/components/schemas/OwnershipConditionsRequest_ObjectExistsCondition'
          OwnershipCondition: '#/components/schemas/OwnershipConditionsRequest_OwnershipCondition'
          SingleParameterCondition: '#/components/schemas/OwnershipConditionsRequest_SingleParameterCondition'
          StaticValueCondition: '#/components/schemas/OwnershipConditionsRequest_StaticValueCondition'
          ValueCondition: '#/components/schemas/OwnershipConditionsRequest_ValueCondition'
    GenericSalesforceId:
      title: GenericSalesforceId
      type: string
      pattern: ^[a-zA-Z0-9]{18}
    UpdateFieldValue_RelativeDay:
      title: UpdateFieldValue_RelativeDay
      type: object
      required:
      - length
      - offset
      - timeZone
      - type
      properties:
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        offset:
          type: integer
          format: int32
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: RelativeDay
    RouterRouting:
      title: RouterRouting
      type: object
      properties:
        routes:
          description: Ordered conditional rows; the first whose rule matches wins.
          type: array
          items:
            $ref: '#/components/schemas/RouteRow'
        catchAll:
          $ref: '#/components/schemas/RouteOutcome'
    ReminderChannel:
      title: ReminderChannel
      type: string
      enum:
      - Email
      - Sms
    NonOwnershipConditionsRequest_ObjectExistsCondition:
      title: NonOwnershipConditionsRequest_ObjectExistsCondition
      type: object
      required:
      - conditionId
      - reference
      - exists
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        reference:
          $ref: '#/components/schemas/DataObjectReference'
        exists:
          description: Whether the condition matches when the referenced object exists (true) or is absent
            (false).
          type: boolean
        type:
          type: string
          const: ObjectExistsCondition
    RouteOutcome_Redirect:
      title: RouteOutcome_Redirect
      type: object
      required:
      - url
      - type
      properties:
        url:
          examples:
          - https://example.com
          type: string
        type:
          type: string
          const: Redirect
    DataFieldDataType_Phone:
      title: DataFieldDataType_Phone
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Phone
    DistributionAssignmentTypeConfig:
      title: DistributionAssignmentTypeConfig
      oneOf:
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
      discriminator:
        propertyName: type
        mapping:
          Conversation: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
          Meeting: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
          Record: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
    HubspotUser:
      title: HubspotUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked HubSpot user.
        id:
          description: Identifier of the linked HubSpot user.
          type: integer
          format: int64
    CrmUpdateLeadField:
      title: CrmUpdateLeadField
      type: object
      required:
      - field
      - value
      properties:
        field:
          description: Salesforce lead field to write.
          type: string
          pattern: '[^\s\\/]+'
        value:
          $ref: '#/components/schemas/UpdateFieldValue'
    AttendeeId_UserAttendeeId:
      title: AttendeeId_UserAttendeeId
      type: object
      required:
      - userId
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        type:
          type: string
          const: UserAttendeeId
    DataFieldDataType_ShortText:
      title: DataFieldDataType_ShortText
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: ShortText
    RuleView:
      title: RuleView
      oneOf:
      - $ref: '#/components/schemas/RuleView_AssignmentTableRule'
      - $ref: '#/components/schemas/RuleView_NonOwnershipRule'
      - $ref: '#/components/schemas/RuleView_OwnershipRule'
      discriminator:
        propertyName: type
        mapping:
          AssignmentTableRule: '#/components/schemas/RuleView_AssignmentTableRule'
          NonOwnershipRule: '#/components/schemas/RuleView_NonOwnershipRule'
          OwnershipRule: '#/components/schemas/RuleView_OwnershipRule'
    WorkInterval:
      title: WorkInterval
      type: object
      required:
      - start
      - end
      properties:
        start:
          description: Start of the working interval as a local time (HH:mm), in the schedule timezone.
          type: string
        end:
          description: End of the working interval as a local time (HH:mm); must be after start.
          type: string
    FieldDataType_Date:
      title: FieldDataType_Date
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Date
    EngagementRelatedTo_Ticket:
      title: EngagementRelatedTo_Ticket
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Ticket
    RouterLink:
      title: RouterLink
      type: object
      properties:
        fields:
          description: The link's field mappings; the same shape accepted on write. Any backend waterfallId
            is not surfaced but is preserved on update.
          type: array
          items:
            $ref: '#/components/schemas/RouterLinkField'
    AssignmentTableId:
      title: AssignmentTableId
      type: string
      pattern: '[^\s\\/]+'
    MeetingHandling_Strict:
      title: MeetingHandling_Strict
      type: object
      required:
      - hideAssignee
      - type
      properties:
        hideAssignee:
          type: boolean
        type:
          type: string
          const: Strict
    DataFieldDataType_Checkbox:
      title: DataFieldDataType_Checkbox
      type: object
      required:
      - values
      - type
      properties:
        values:
          type: array
          minItems: 1
          items:
            type: string
        type:
          type: string
          const: Checkbox
    CrmAction_HubspotUpdateFields:
      title: CrmAction_HubspotUpdateFields
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/HubspotUpdateContactField'
        type:
          type: string
          const: HubspotUpdateFields
    DistributionUserState_NoLicense:
      title: DistributionUserState_NoLicense
      description: User is still on the team but has lost their license, so they cannot receive assignments.
        Re-licensing restores them.
      type: object
      required:
      - userId
      - total
      - licenseRemovedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        licenseRemovedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: NoLicense
    FieldDataType_TrueFalse:
      title: FieldDataType_TrueFalse
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: TrueFalse
    EnrichmentWaterfall:
      title: EnrichmentWaterfall
      type: object
      required:
      - id
      - name
      - isCustom
      - isTemplate
      - metadata
      properties:
        id:
          description: Unique identifier of the waterfall.
          type: string
        name:
          description: Human-readable waterfall name.
          type: string
        isCustom:
          description: True for a tenant-authored waterfall; false for a built-in template.
          type: boolean
        isTemplate:
          description: True when the waterfall is a reusable template not bound to any single usage.
          type: boolean
        fields:
          description: Provider-qualified enrichment fields in evaluation order (e.g. LeadIq.Person.FullName);
            the engine tries each in turn until one resolves.
          type: array
          items:
            type: string
        tiedToDataField:
          description: The CRM data field this waterfall is bound to, if any (its result populates that
            field).
          type: string
          pattern: '[^\s\\/]+'
        exclusivelyFor:
          description: If set, the single reference (format type/id, e.g. RuleRef/1234) this waterfall
            is exclusively used by.
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    DataFieldMapping_Marketo:
      title: DataFieldMapping_Marketo
      type: object
      required:
      - object
      - field
      - overwrite
      - type
      properties:
        object:
          type: string
          pattern: '[^\s\\/]+'
        field:
          type: string
          pattern: '[^\s\\/]+'
        overwrite:
          type: boolean
        type:
          type: string
          const: Marketo
    CrmUpdateContactFieldTarget:
      title: CrmUpdateContactFieldTarget
      type: string
      enum:
      - Contact
      - Account
      - Opportunity
      - Case
    ConciergeFormMappingProcessed_ProcessedTriggers:
      title: ConciergeFormMappingProcessed_ProcessedTriggers
      type: object
      required:
      - get
      - type
      properties:
        get:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProcessedRouterTrigger'
        type:
          type: string
          const: ProcessedTriggers
    DataField:
      title: DataField
      type: string
      pattern: '[^\s\\/]+'
    DataFieldDataType_Date:
      title: DataFieldDataType_Date
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Date
    DataFieldDataType_Number:
      title: DataFieldDataType_Number
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Number
    UpdateFieldValue:
      title: UpdateFieldValue
      oneOf:
      - $ref: '#/components/schemas/UpdateFieldValue_RelativeDay'
      - $ref: '#/components/schemas/UpdateFieldValue_RelativeMonth'
      - $ref: '#/components/schemas/UpdateFieldValue_RelativeQuarter'
      - $ref: '#/components/schemas/UpdateFieldValue_RelativeWeek'
      - $ref: '#/components/schemas/UpdateFieldValue_RelativeYear'
      - $ref: '#/components/schemas/UpdateFieldValue_StaticDate'
      - $ref: '#/components/schemas/UpdateFieldValue_StaticValue'
      discriminator:
        propertyName: type
        mapping:
          RelativeDay: '#/components/schemas/UpdateFieldValue_RelativeDay'
          RelativeMonth: '#/components/schemas/UpdateFieldValue_RelativeMonth'
          RelativeQuarter: '#/components/schemas/UpdateFieldValue_RelativeQuarter'
          RelativeWeek: '#/components/schemas/UpdateFieldValue_RelativeWeek'
          RelativeYear: '#/components/schemas/UpdateFieldValue_RelativeYear'
          StaticDate: '#/components/schemas/UpdateFieldValue_StaticDate'
          StaticValue: '#/components/schemas/UpdateFieldValue_StaticValue'
    AssignToTarget_ThisPathRuleUser:
      title: AssignToTarget_ThisPathRuleUser
      type: object
      required:
      - type
      properties:
        id:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ThisPathRuleUser
    WhenMatchBehaviour_UpdateLeadOnly:
      title: WhenMatchBehaviour_UpdateLeadOnly
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: UpdateLeadOnly
    RouterFormField:
      title: RouterFormField
      type: object
      required:
      - dataField
      - label
      - required
      properties:
        dataField:
          $ref: '#/components/schemas/DataFieldRef'
          description: CRM data-field the answer maps to (a default field name, an internal name, or a
            custom-field UUID).
        label:
          description: The field's display name shown to the guest.
          type: string
          minLength: 1
        description:
          description: Optional helper text shown under the field.
          type: string
          minLength: 1
        required:
          description: Whether the guest must fill the field.
          type: boolean
        hidden:
          description: A prefilled value stored on the field but not shown to the guest; absent for a
            normal visible field.
          type: string
    CrmAction_SalesforceCreateEvent:
      title: CrmAction_SalesforceCreateEvent
      type: object
      required:
      - meetingCancellationBehavior
      - guestsBehavior
      - type
      properties:
        relatedTo:
          $ref: '#/components/schemas/EventRelatedTo'
        meetingCancellationBehavior:
          $ref: '#/components/schemas/MeetingCancellationBehavior'
        guestsBehavior:
          $ref: '#/components/schemas/GuestsBehavior'
        type:
          type: string
          const: SalesforceCreateEvent
    ProcessedRouterTrigger_ProcessedThirdPartyFormTrigger:
      title: ProcessedRouterTrigger_ProcessedThirdPartyFormTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ConciergeFormMappingEntry'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedThirdPartyFormTrigger
    LogicalOperator:
      title: LogicalOperator
      type: string
      enum:
      - and
      - or
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
    DistributionState:
      title: DistributionState
      type: object
      properties:
        userStates:
          description: Per-user state and statistics for every user in the distribution.
          type: array
          items:
            $ref: '#/components/schemas/DistributionUserState'
        lastReset:
          description: When the distribution's counters were last reset; absent if never reset.
          type: string
          format: date-time
    ConciergeFormMappingEntry:
      title: ConciergeFormMappingEntry
      type: object
      required:
      - name
      - dataFieldRef
      properties:
        name:
          description: Form field name as submitted by the guest.
          type: string
          minLength: 1
        dataFieldRef:
          $ref: '#/components/schemas/DataFieldRef'
          description: CRM data-field the answer maps to.
        label:
          description: Display label override for the field.
          type: string
          minLength: 1
        waterfallId:
          type: string
          pattern: '[^\s\\/]+'
    SchedulingSettings:
      title: SchedulingSettings
      type: object
      required:
      - assignments
      - meetingTypeIds
      - meetingHost
      - scheduling
      - timeout
      properties:
        assignments:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Assignment'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        meetingCreatedTarget:
          $ref: '#/components/schemas/MeetingCreatedTarget'
        bookerInviteSettings:
          $ref: '#/components/schemas/BookerInviteSettings'
        meetingHost:
          $ref: '#/components/schemas/MeetingHost'
        additionalAttendees:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/AdditionalAttendee'
        additionalNotificationRecipients:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        scheduling:
          $ref: '#/components/schemas/SchedulingActions'
        timeout:
          $ref: '#/components/schemas/TimeoutActions'
    Assignment_UseRule:
      title: Assignment_UseRule
      type: object
      required:
      - required
      - type
      properties:
        id:
          type: string
          pattern: '[^\s\\/]+'
        required:
          description: Whether this assignee's attendance is required (true) or optional (false).
          type: boolean
        type:
          type: string
          const: UseRule
    NonCatchAllRoute_RuleRoute:
      title: NonCatchAllRoute_RuleRoute
      type: object
      required:
      - id
      - ruleIds
      - ruleType
      - 'yes'
      - type
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        ruleIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RuleId'
        ruleType:
          $ref: '#/components/schemas/RuleType'
        'yes':
          $ref: '#/components/schemas/YesActions'
        type:
          type: string
          const: RuleRoute
    MeetingLimitReset:
      title: MeetingLimitReset
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitReset_Daily'
      - $ref: '#/components/schemas/MeetingLimitReset_Monthly'
      - $ref: '#/components/schemas/MeetingLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/MeetingLimitReset_Daily'
          Monthly: '#/components/schemas/MeetingLimitReset_Monthly'
          Weekly: '#/components/schemas/MeetingLimitReset_Weekly'
    DataFieldDataType:
      title: DataFieldDataType
      oneOf:
      - $ref: '#/components/schemas/DataFieldDataType_Checkbox'
      - $ref: '#/components/schemas/DataFieldDataType_Date'
      - $ref: '#/components/schemas/DataFieldDataType_DateTime'
      - $ref: '#/components/schemas/DataFieldDataType_Email'
      - $ref: '#/components/schemas/DataFieldDataType_LongText'
      - $ref: '#/components/schemas/DataFieldDataType_Number'
[...]
