openapi: 3.0.0
info:
  title: Chili Piper — Routing Audit Actions
  description: Endpoints used by the Routing Audit GPT to inspect routers, rules, logs, and distributions.
  version: 0.1.0
servers:
  - url: https://api.chilipiper.com
    description: Chili Piper API

security:
  - bearerAuth: []

paths:
  /workspaces:
    get:
      operationId: listWorkspaces
      summary: List all workspaces
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 100
      responses:
        "200":
          description: Workspaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'

  /concierge/routers:
    get:
      operationId: listRouters
      summary: List concierge routers
      parameters:
        - name: workspaceId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Routers
          content:
            application/json:
              schema:
                type: object
                properties:
                  routers:
                    type: array
                    items:
                      $ref: '#/components/schemas/RouterEntry'

  /concierge/routers/{routerId}/rules:
    get:
      operationId: listRules
      summary: List routing rules for a router
      parameters:
        - name: routerId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Routing rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoutingRule'

  /concierge/routers/{routerId}/logs:
    post:
      operationId: getRoutingLogs
      summary: Get routing decision logs for a router (max 30-day window)
      parameters:
        - name: routerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspaceId, start, end]
              properties:
                workspaceId:
                  type: string
                start:
                  type: string
                  format: date-time
                end:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Routing log entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoutingLogEntry'

  /workspaces/{workspaceId}/distributions/list:
    post:
      operationId: listDistributions
      summary: List distributions in a workspace
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  default: 0
                pageSize:
                  type: integer
                  default: 100
      responses:
        "200":
          description: Distributions
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Distribution'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    Workspace:
      type: object
      properties:
        workspaceId:
          type: string
        name:
          type: string

    RouterEntry:
      type: object
      properties:
        router:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            slug:
              type: string
        workspaceId:
          type: string

    RoutingRule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [CrmOwnership, WithoutOwnership, CatchAll]
        conditions:
          type: array
          items:
            type: object

    RoutingLogEntry:
      type: object
      properties:
        status:
          type: string
          enum: [Booked, Offered, NoMatch, NotQualified, Timeout, Error]
        guestEmail:
          type: string
        triggeredAt:
          type: string
          format: date-time
        matchedPath:
          type: string

    Distribution:
      type: object
      properties:
        distributionId:
          type: string
        name:
          type: string
        teamId:
          type: string
        assignees:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
              weight:
                type: number
        assignmentTypeConfig:
          type: string
        capping:
          type: object
