# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — Scheduling Link Management Actions
  version: 1.287.2
  description: GPT Actions for the scheduling-link-management GPT — a subset of the Chili Piper Edge API.
    Authenticate with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: "[operation: workspace-list]\n\n\n\nREAD-ONLY\n\n\n\nLists the workspaces that partition\
        \ the org and yields the workspaceId most other calls need to scope their work. Hierarchy: Tenant\
        \ → Workspaces → Teams → Users. Paginated (default pageSize 200).\n\n→\n\n    [{workspaceId, name,\
        \ settings}]\n\nsee: workspace-list-users (members), workspace-add/remove-users (manage membership),\
        \ meeting-list/export (filter by workspaceId), concierge-logs (filter by workspaceId)"
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
  /v1/org/schedulingLinks/list-personal/{userId}:
    get:
      tags:
      - schedulingLinks
      summary: Scheduling Links - personal
      description: "[operation: scheduling-link-list-personal]\n\n\n\nREAD-ONLY\n\n\n\nLists a user's\
        \ own personal scheduling links (their individual booking URLs, not team/distribution-backed ones).\
        \ Use scheduling-link-list-round-robin and the other list-* tools for team links.\n\n→\n\n   \
        \ [{slug, meetingTypeId, meetingTypeName, bookingUrl}]\n\nsee: user-find (resolve userId), scheduling-link-list-round-robin\
        \ (team/distribution-backed links)"
      operationId: schedulingLinkListPersonal
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: List of personal scheduling links with full details.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonalSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: path parameter userId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
  /v1/org/schedulingLinks/list-round-robin:
    post:
      tags:
      - schedulingLinks
      summary: Scheduling Links - round robin
      description: "[operation: scheduling-link-list-round-robin]\n\n\n\nREAD-ONLY\n\n\n\nLists round-robin\
        \ scheduling links — booking URLs backed by a distribution, so each booking is assigned round-robin\
        \ across the distribution's members. All filters are optional; omit them all for org-wide results.\n\
        \n→\n\n    {links: [{workspaceId, distributionId, linkId, name, slug, meetingTypeIds, members,\
        \ assignments, bookingUrl}]}\n\nsee: distribution-list (find distributionIds), workspace-list\
        \ (find workspaceIds), scheduling-link-list-personal (per-user links)"
      operationId: schedulingLinkListRoundRobin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoundRobinSchedulingLinksRequest'
        required: true
      responses:
        '200':
          description: List of round robin scheduling links. Payload structure might change.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundRobinSchedulingLinkDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.read
  /v1/org/schedulingLinks/list-admin-one-on-one:
    post:
      tags:
      - schedulingLinks
      summary: Scheduling Links - admin (one-on-one)
      description: "[operation: scheduling-link-list-admin-one-on-one]\n\n\n\nREAD-ONLY\n\n\n\nLists admin\
        \ (one-on-one) scheduling links — admin-provisioned links that each book with a single fixed host\
        \ (no round-robin). All filters are optional; omit them all for org-wide results.\n\n→\n\n   \
        \ {links: [{workspaceId, linkId, name, slug, meetingTypeIds, bookingUrl}]}\n\nsee: workspace-list\
        \ (find workspaceIds), scheduling-link-init (book via linkId)"
      operationId: schedulingLinkListAdminOneOnOne
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSchedulingLinksRequest'
        required: true
      responses:
        '200':
          description: List of admin (one-on-one) scheduling links.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSchedulingLinkDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.read
  /v1/org/schedulingLinks/list-group:
    post:
      tags:
      - schedulingLinks
      summary: Scheduling Links - group
      description: "[operation: scheduling-link-list-group]\n\n\n\nREAD-ONLY\n\n\n\nLists group scheduling\
        \ links — meetings with a fixed set of multiple attendees, each independently required or optional.\
        \ The invite goes to everyone, but offered slots are the intersection of the required attendees'\
        \ availability only. Attendees can be specific users or picked round-robin at book time. All filters\
        \ are optional; omit them all for org-wide results.\n\n→\n\n    {links: [{workspaceId, linkId,\
        \ name, slug, meetingTypeIds, bookingUrl}]}\n\nsee: workspace-list (find workspaceIds), scheduling-link-init\
        \ (book via linkId)"
      operationId: schedulingLinkListGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupSchedulingLinksRequest'
        required: true
      responses:
        '200':
          description: List of group scheduling links.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSchedulingLinkDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.read
  /v1/org/schedulingLinks/list-ownership:
    post:
      tags:
      - schedulingLinks
      summary: Scheduling Links - ownership
      description: "[operation: scheduling-link-list-ownership]\n\n\n\nREAD-ONLY\n\n\n\nLists ownership\
        \ scheduling links — links that route each booking to the guest's CRM account owner (lead or contact\
        \ owner), resolved at book time, which is why scheduling-link-init requires guestEmail. A link\
        \ may add fixed or round-robin assignees and reference distributions as assignees, as a fallback\
        \ when no owner matches, or both. All filters are optional; omit them all for org-wide results.\n\
        \n- filterDistributionIds (opt): matches links referencing any of these distributions (as assignee,\
        \ fallback, or both); use distribution-list.\n\n→\n\n    {links: [{workspaceId, linkId, name,\
        \ slug, meetingTypeIds, ownership, distribution, pageConfig, sharedWith, bookingUrl}]}\n\nsee:\
        \ distribution-list (find distributionIds), workspace-list (find workspaceIds), scheduling-link-init\
        \ (book via linkId, guestEmail required)"
      operationId: schedulingLinkListOwnership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnershipSchedulingLinksRequest'
        required: true
      responses:
        '200':
          description: List of ownership scheduling links.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnershipSchedulingLinkDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.read
  /v1/org/schedulingLinks/round-robin:
    post:
      tags:
      - schedulingLinks
      summary: Create round-robin scheduling link
      description: "[operation: scheduling-link-create-round-robin]\n\n\n\nMUTATING\n\n\n\nCreates a round-robin\
        \ scheduling link — bookings are distributed across the backing distributions' members. Each distribution\
        \ is a required assignee and the first one supplies the host.\n\n- slug: URL slug (lowercase letters,\
        \ digits, hyphens, underscores).\n\n- distributionIds: one or more distributions; use distribution-list.\n\
        \n- sharedWith (opt): sharing scope, {type: \"Workspace\"} (default) or {type: \"Teams\", teamIds}.\n\
        \n→\n\n    {workspaceId, linkId, name, slug, meetingTypeIds, assignments, bookingUrl}\n\nsee:\
        \ distribution-list (find distributionIds), scheduling-link-list-round-robin (browse existing)"
      operationId: schedulingLinkCreateRoundRobin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoundRobinLinkCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundRobinSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.create
  /v1/org/schedulingLinks/round-robin/{linkId}:
    put:
      tags:
      - schedulingLinks
      summary: Update round-robin scheduling link
      description: "[operation: scheduling-link-update-round-robin]\n\n\n\nMUTATING — IDEMPOTENT\n\n\n\
        \nPatches a round-robin scheduling link. Send only the fields you want to change; omitted fields\
        \ keep their current value. Passing distributionIds replaces the backing distributions (the first\
        \ becomes the host).\n\n→\n\n    {workspaceId, linkId, name, slug, meetingTypeIds, assignments,\
        \ bookingUrl}\n\n⚠ takes effect immediately\n\nsee: scheduling-link-list-round-robin (find a linkId)"
      operationId: schedulingLinkUpdateRoundRobin
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoundRobinLinkUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundRobinSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: path parameter linkId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.modify
    delete:
      tags:
      - schedulingLinks
      summary: Remove round-robin scheduling link
      description: '[operation: scheduling-link-delete-round-robin]




        MUTATING — DESTRUCTIVE




        Deletes a round-robin scheduling link by id.


        - linkId (req): the round-robin link''s id


        ⚠ irreversible via API; the booking URL stops working immediately


        see: scheduling-link-list-round-robin (confirm the id before deleting)'
      operationId: schedulingLinkDeleteRoundRobin
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter linkId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.remove
  /v1/org/schedulingLinks/admin-one-on-one:
    post:
      tags:
      - schedulingLinks
      summary: Create admin (one-on-one) scheduling link
      description: "[operation: scheduling-link-create-admin-one-on-one]\n\n\n\nMUTATING\n\n\n\nCreates\
        \ an admin (one-on-one) scheduling link — each booking gets a single fixed host, drawn from the\
        \ sharedWith scope.\n\n- slug: URL slug (lowercase letters, digits, hyphens, underscores).\n\n\
        - sharedWith (opt): who can host, {type: \"Workspace\"} (default) or {type: \"Teams\", teamIds}.\n\
        \n→\n\n    {workspaceId, linkId, name, slug, meetingTypeIds, bookingUrl}\n\nsee: scheduling-link-list-admin-one-on-one\
        \ (browse existing)"
      operationId: schedulingLinkCreateAdminOneOnOne
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLinkCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.create
  /v1/org/schedulingLinks/admin-one-on-one/{linkId}:
    put:
      tags:
      - schedulingLinks
      summary: Update admin (one-on-one) scheduling link
      description: "[operation: scheduling-link-update-admin-one-on-one]\n\n\n\nMUTATING — IDEMPOTENT\n\
        \n\n\nPatches an admin (one-on-one) scheduling link. Send only the fields you want to change;\
        \ omitted fields keep their current value.\n\n→\n\n    {workspaceId, linkId, name, slug, meetingTypeIds,\
        \ bookingUrl}\n\n⚠ takes effect immediately\n\nsee: scheduling-link-list-admin-one-on-one (find\
        \ a linkId)"
      operationId: schedulingLinkUpdateAdminOneOnOne
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLinkUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: path parameter linkId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.modify
    delete:
      tags:
      - schedulingLinks
      summary: Remove admin (one-on-one) scheduling link
      description: '[operation: scheduling-link-delete-admin-one-on-one]




        MUTATING — DESTRUCTIVE




        Deletes an admin (one-on-one) scheduling link by id.


        - linkId (req): the admin link''s id


        ⚠ irreversible via API; the booking URL stops working immediately


        see: scheduling-link-list-admin-one-on-one (confirm the id before deleting)'
      operationId: schedulingLinkDeleteAdminOneOnOne
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter linkId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.remove
  /v1/org/schedulingLinks/group:
    post:
      tags:
      - schedulingLinks
      summary: Create group scheduling link
      description: "[operation: scheduling-link-create-group]\n\n\n\nMUTATING\n\n\n\nCreates a group scheduling\
        \ link — a meeting with a fixed host plus additional members. Offered slots are the intersection\
        \ of the host and required members' availability; optional members are invited but do not gate\
        \ availability.\n\n- slug: URL slug (lowercase letters, digits, hyphens, underscores).\n\n- hostUserId:\
        \ the host user; use user-find.\n\n- sharedWith (opt): sharing scope, {type: \"Workspace\"} (default)\
        \ or {type: \"Teams\", teamIds}.\n\n→\n\n    {workspaceId, linkId, name, slug, meetingTypeIds,\
        \ bookingUrl}\n\nsee: user-find (resolve user ids), scheduling-link-list-group (browse existing)"
      operationId: schedulingLinkCreateGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupLinkCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.create
  /v1/org/schedulingLinks/group/{linkId}:
    put:
      tags:
      - schedulingLinks
      summary: Update group scheduling link
      description: "[operation: scheduling-link-update-group]\n\n\n\nMUTATING — IDEMPOTENT\n\n\n\nPatches\
        \ a group scheduling link. Send only the fields you want to change; omitted fields keep their\
        \ current value. Passing requiredMemberIds or optionalMemberIds replaces that member list wholesale.\n\
        \n→\n\n    {workspaceId, linkId, name, slug, meetingTypeIds, bookingUrl}\n\n⚠ takes effect immediately\n\
        \nsee: user-find (resolve user ids), scheduling-link-list-group (find a linkId)"
      operationId: schedulingLinkUpdateGroup
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupLinkUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: path parameter linkId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.modify
    delete:
      tags:
      - schedulingLinks
      summary: Remove group scheduling link
      description: '[operation: scheduling-link-delete-group]




        MUTATING — DESTRUCTIVE




        Deletes a group scheduling link by id.


        - linkId (req): the group link''s id


        ⚠ irreversible via API; the booking URL stops working immediately


        see: scheduling-link-list-group (confirm the id before deleting)'
      operationId: schedulingLinkDeleteGroup
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter linkId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.remove
  /v1/org/schedulingLinks/ownership:
    post:
      tags:
      - schedulingLinks
      summary: Create ownership scheduling link
      description: "[operation: scheduling-link-create-ownership]\n\n\n\nMUTATING\n\n\n\nCreates an ownership\
        \ scheduling link — routes each booking to the guest's CRM account owner, with a distribution-backed\
        \ round-robin fallback when no owner matches.\n\n- slug: URL slug (lowercase letters, digits,\
        \ hyphens, underscores).\n\n- ownership: owner-routing config, {ownershipSettings, host, bookerInvitation,\
        \ alwaysInvitedUsers}.\n\n- distribution: round-robin fallback config, {assignments: [{distributionId,\
        \ required}], host, bookerInvitation, alwaysInvitedUsers}.\n\n- pageConfig (opt): {title?}. sharedWith\
        \ (opt): {type: \"Workspace\"} (default) or {type: \"Teams\", teamIds}.\n\n  Note: the ownership/distribution\
        \ shapes mirror the scheduling-link-list-ownership response, except assignments here are lean\
        \ {distributionId, required} — do not send the read-side members field (members are resolved from\
        \ the distribution by the backend).\n\n→\n\n    {workspaceId, linkId, name, slug, meetingTypeIds,\
        \ ownership, distribution, pageConfig, sharedWith, bookingUrl}\n\nsee: scheduling-link-list-ownership\
        \ (browse existing for the exact ownership/distribution shape), distribution-list (find distributionIds)"
      operationId: schedulingLinkCreateOwnership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnershipLinkCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnershipSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.create
  /v1/org/schedulingLinks/ownership/{linkId}:
    put:
      tags:
      - schedulingLinks
      summary: Update ownership scheduling link
      description: "[operation: scheduling-link-update-ownership]\n\n\n\nMUTATING — IDEMPOTENT\n\n\n\n\
        Patches an ownership scheduling link. Send only the fields you want to change; omitted fields\
        \ keep their current value. Passing ownership or distribution replaces that whole config block.\
        \ As on create, distribution assignments are lean {distributionId, required} — no members field.\n\
        \n→\n\n    {workspaceId, linkId, name, slug, meetingTypeIds, ownership, distribution, pageConfig,\
        \ sharedWith, bookingUrl}\n\n⚠ takes effect immediately\n\nsee: scheduling-link-list-ownership\
        \ (find a linkId and inspect current config)"
      operationId: schedulingLinkUpdateOwnership
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnershipLinkUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnershipSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: path parameter linkId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.modify
    delete:
      tags:
      - schedulingLinks
      summary: Remove ownership scheduling link
      description: '[operation: scheduling-link-delete-ownership]




        MUTATING — DESTRUCTIVE




        Deletes an ownership scheduling link by id.


        - linkId (req): the ownership link''s id


        ⚠ irreversible via API; the booking URL stops working immediately


        see: scheduling-link-list-ownership (confirm the id before deleting)'
      operationId: schedulingLinkDeleteOwnership
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter linkId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.remove
  /v1/org/meeting-types/list:
    get:
      tags:
      - meeting-type
      summary: List meeting types
      description: "[operation: meeting-type-list]\n\n\n\nREAD-ONLY\n\n\n\nBrowses the tenant's reusable\
        \ team meeting types — the templates that scheduling links and routers reference. Personal meeting\
        \ types are excluded. Omit workspaceId to fan out across every workspace; pass it to scope to\
        \ one.\n\n→\n\n    [{id, workspaceId, name, description?, inviteTitle, inviteDescription, status,\
        \ duration, location: {default: {type, index, host?, value?}, others: [{type, index, host?, value?}]},\
        \ buffers: {before?, after?}, meetingLimit?: {limitBy: \"Email\"|\"Domain\", timeframe: \"Hourly\"\
        |\"Daily\"|\"Weekly\"|\"Monthly\"|\"Yearly\", count}, sharedWith?: {type: \"Workspace\"}|{type:\
        \ \"Teams\", teamIds}, reminders?: [{id, workspaceId, channel, trigger: {kind, offset?}, name,\
        \ title?, body}]}]\n\n  Note: reminders are not fetched on list (the field is null) — use meeting-type-get\
        \ to read a meeting type's reminders; null means \"not fetched\", never \"no reminders\".\n\n\
        \  Note: meetingLimit.timeframe is approximate — the backend's reset schedule (e.g. every-2-weeks)\
        \ is summarised to the nearest timeframe; finer reset details (every-N, anchor day) are not surfaced.\n\
        \n  Note: sharedWith (the sharing scope: whole workspace vs specific teams) is read from the meeting\
        \ type's admin (one-on-one) scheduling link; it is null when no such link, or more than one, is\
        \ found — null means \"indeterminate\", not \"workspace\".\n\nsee: meeting-type-get (fetch a single\
        \ meeting type), meeting-type-create (add one), meeting-type-update (edit one)"
      operationId: meetingTypeList
      parameters:
      - name: workspaceId
        in: query
        description: Filter meeting types by workspace ID. Omit to list across all of the tenant's workspaces.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.read
  /v2/org/distribution/list:
    put:
      tags:
      - distribution
      summary: List all distributions (PUT)
      description: "[operation: distribution-list-put]\n\n\n\nREAD-ONLY\n\n\n\nBrowses published distributions\
        \ in the org — the preferred, non-deprecated list. Filters go in the request body (avoiding query-string\
        \ length limits): workspaceIds, name (substring match), and assignmentType (\"Record\" | \"Meeting\"\
        \ | \"Conversation\"). Paginated (pageSize default 200).\n\n→\n\n    {results: [{distributionId,\
        \ name, teamId, assignees, assignmentTypeConfig, capping}]}\n\nsee: distribution-list (GET equivalent)"
      operationId: distributionListPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Distribution'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distribution.read
  /v1/org/user/find:
    get:
      tags:
      - user
      summary: Finds user
      description: '[operation: user-find]




        READ-ONLY




        Resolves an email or name to the userId that team, workspace, distribution, and license calls
        all reference. Matches the free-text query against email and name (partial matches). Paginated
        (default pageSize 200).


        → paginated list of users, each with: {id, name, email, isSuperAdmin, licenses, workspaces, salesforce
        (opt), hubspot (opt), slug (opt), managedWorkspaces, managedTeams}


        see: user-read (full profile by id), user-find-by-ids (batch by id), user-find-by-filter (structured
        multi-field filtering)'
      operationId: userFind
      parameters:
      - name: query
        in: query
        description: Search by email or name
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_User'
        '400':
          description: 'Invalid value for: query parameter query, Invalid value for: query parameter page,
            Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    MeetingTypeId:
      title: MeetingTypeId
      examples:
      - 4a8f2b3c-7d1e-4f9b-8a2c-3d5e6f789012
      type: string
      format: uuid
    OwnershipSettings_WithMixedRouting:
      title: OwnershipSettings_WithMixedRouting
      type: object
      required:
      - strategies
      - type
      properties:
        strategies:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RoutingStrategy'
        type:
          type: string
          const: WithMixedRouting
    ReminderTrigger:
      title: ReminderTrigger
      type: object
      required:
      - kind
      properties:
        kind:
          $ref: '#/components/schemas/ReminderTriggerKind'
        offset:
          type: string
    Tier:
      title: Tier
      type: string
      enum:
      - RoutingAndScheduling
      - Experiences
      - ChiliDataPlatform
    Distribution:
      title: Distribution
      type: object
      required:
      - id
      - published
      - state
      - prioritization
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        published:
          $ref: '#/components/schemas/ConfigurationDTO'
        state:
          $ref: '#/components/schemas/DistributionState'
        prioritization:
          $ref: '#/components/schemas/Prioritization'
    ReassignmentType:
      title: ReassignmentType
      type: string
      enum:
      - SameUser
      - AnyTeamMember
    ReminderChannel:
      title: ReminderChannel
      type: string
      enum:
      - Email
      - Sms
    DistributedAssignmentLimitReset:
      title: DistributedAssignmentLimitReset
      oneOf:
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
          HourlyRolling: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
          Monthly: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
          Weekly: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
    AdminSchedulingLinkId:
      title: AdminSchedulingLinkId
      examples:
      - a5b6c7d8-e9f0-4a1b-9c2d-3e4f5a6b7c8d
      type: string
      pattern: '[^\s\\/]+'
    AdminLinkUpdate:
      title: AdminLinkUpdate
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
    AdminSchedulingLinkDetail:
      title: AdminSchedulingLinkDetail
      type: object
      required:
      - workspaceId
      - linkId
      - name
      - slug
      - bookingUrl
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        linkId:
          $ref: '#/components/schemas/AdminSchedulingLinkId'
        name:
          type: string
          minLength: 1
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          type: array
          items:
            type: string
            format: uuid
        bookingUrl:
          examples:
          - https://example.com
          type: string
    RoundRobinSchedulingLinksRequest:
      title: RoundRobinSchedulingLinksRequest
      type: object
      properties:
        filterWorkspaceIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        filterLinkSlugs:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[-0-9a-z_]+'
        filterMeetingTypeId:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        filterDistributionIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
    Levels:
      title: Levels
      type: object
      required:
      - current
      - nextAssignmentDelta
      - total
      properties:
        current:
          description: Earned score plus prolonged-reservation projection, before manual calibration.
          type: number
        nextAssignmentDelta:
          description: Score increment that will be added if this user receives the next assignment. Forward-looking;
            not included in `current` or `total`.
          type: number
        calibrationDelta:
          description: Manual-calibration adjustment applied on top of `current`. Absent when no calibration
            is in effect. When present, `total = current + calibrationDelta`.
          type: number
        total:
          description: Current score with manual calibration applied.
          type: number
    GroupSchedulingLinkDetail:
      title: GroupSchedulingLinkDetail
      type: object
      required:
      - workspaceId
      - linkId
      - name
      - slug
      - bookingUrl
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        linkId:
          $ref: '#/components/schemas/GroupSchedulingLinkId'
        name:
          type: string
          minLength: 1
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          type: array
          items:
            type: string
            format: uuid
        bookingUrl:
          examples:
          - https://example.com
          type: string
    OwnershipLinkCreate:
      title: OwnershipLinkCreate
      type: object
      required:
      - workspaceId
      - name
      - slug
      - meetingTypeIds
      - ownership
      - distribution
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        ownership:
          $ref: '#/components/schemas/OwnershipInvitation'
        distribution:
          $ref: '#/components/schemas/DistributionInvitationInput'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
        pageConfig:
          $ref: '#/components/schemas/LinkPageConfig'
    DistributionUserState_Active:
      title: DistributionUserState_Active
      description: User is active in the distribution and eligible for assignments. Carries the user's
        current level.
      type: object
      required:
      - userId
      - total
      - level
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        level:
          $ref: '#/components/schemas/Levels'
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Active
    RecordHandling_WorkingHours:
      title: RecordHandling_WorkingHours
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: WorkingHours
    OwnershipSettings_WithSimpleRule:
      title: OwnershipSettings_WithSimpleRule
      type: object
      required:
      - rule
      - scheduleWithTeamMember
      - required
      - type
      properties:
        rule:
          $ref: '#/components/schemas/SimpleRule'
        scheduleWithTeamMember:
          $ref: '#/components/schemas/ScheduleWithTeamMember'
        required:
          type: boolean
        type:
          type: string
          const: WithSimpleRule
    RoundRobinSchedulingLinkId:
      title: RoundRobinSchedulingLinkId
      examples:
      - b7c8d9e0-f1a2-4b3c-8d4e-5f6a7b8c9d0e
      type: string
      pattern: '[^\s\\/]+'
    RecordHandling:
      title: RecordHandling
      oneOf:
      - $ref: '#/components/schemas/RecordHandling_Strict'
      - $ref: '#/components/schemas/RecordHandling_WorkingHours'
      discriminator:
        propertyName: type
        mapping:
          Strict: '#/components/schemas/RecordHandling_Strict'
          WorkingHours: '#/components/schemas/RecordHandling_WorkingHours'
    MeetingTypeStatus:
      title: MeetingTypeStatus
      type: string
      enum:
      - Active
      - Inactive
    MeetingBookingLimitBy:
      title: MeetingBookingLimitBy
      type: string
      enum:
      - Email
      - Domain
    DistributedAssignmentLimitReset_Weekly:
      title: DistributedAssignmentLimitReset_Weekly
      type: object
      required:
      - timeZone
      - dayOfWeek
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        dayOfWeek:
          type: integer
          format: int32
          minimum: 1
          maximum: 7
        type:
          type: string
          const: Weekly
    OwnershipHost_AssigneeFromSimpleRule:
      title: OwnershipHost_AssigneeFromSimpleRule
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: AssigneeFromSimpleRule
    SimpleRule_SalesforceSimpleRule:
      title: SimpleRule_SalesforceSimpleRule
      type: object
      required:
      - ownershipObject
      - teamId
      - type
      properties:
        ownershipObject:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/SalesforceObjectOwner'
        teamId:
          $ref: '#/components/schemas/TeamId'
        type:
          type: string
          const: SalesforceSimpleRule
    SharedWith_Teams:
      title: SharedWith_Teams
      type: object
      required:
      - type
      properties:
        teamIds:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        type:
          type: string
          const: Teams
    MeetingLocation_ZoomOneTimeLink:
      title: MeetingLocation_ZoomOneTimeLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: ZoomOneTimeLink
    RoundRobinSchedulingLinkDetails:
      title: RoundRobinSchedulingLinkDetails
      type: object
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/RoundRobinSchedulingLinkDetail'
    MeetingHandling:
      title: MeetingHandling
      oneOf:
      - $ref: '#/components/schemas/MeetingHandling_Flexible'
      - $ref: '#/components/schemas/MeetingHandling_Strict'
      discriminator:
        propertyName: type
        mapping:
          Flexible: '#/components/schemas/MeetingHandling_Flexible'
          Strict: '#/components/schemas/MeetingHandling_Strict'
    MeetingHandling_Flexible:
      title: MeetingHandling_Flexible
      type: object
      required:
      - reassignmentType
      - allowPickingAssignee
      - type
      properties:
        reassignmentType:
          $ref: '#/components/schemas/ReassignmentType'
        allowPickingAssignee:
          type: boolean
        type:
          type: string
          const: Flexible
    MeetingLocationHost:
      title: MeetingLocationHost
      type: string
      enum:
      - Host
      - AssigneeIfExists
      - BookerIfExists
    OwnershipSchedulingLinkDetail:
      title: OwnershipSchedulingLinkDetail
      type: object
      required:
      - workspaceId
      - linkId
      - name
      - slug
      - ownership
      - distribution
      - pageConfig
      - sharedWith
      - bookingUrl
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        linkId:
          $ref: '#/components/schemas/OwnershipSchedulingLinkId'
        name:
          type: string
          minLength: 1
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          type: array
          items:
            type: string
            format: uuid
        ownership:
          $ref: '#/components/schemas/OwnershipInvitation'
        distribution:
          $ref: '#/components/schemas/DistributionInvitation'
        pageConfig:
          $ref: '#/components/schemas/LinkPageConfig'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
        bookingUrl:
          examples:
          - https://example.com
          type: string
    ReminderTriggerKind:
      title: ReminderTriggerKind
      type: string
      enum:
      - BeforeMeeting
      - BeforeMeetingNoResponse
      - MeetingBooked
      - AfterMeeting
    RecordHandling_Strict:
      title: RecordHandling_Strict
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Strict
    TeamRef:
      title: TeamRef
      type: object
      required:
      - id
      - revision
      properties:
        id:
          $ref: '#/components/schemas/TeamId'
        revision:
          type: integer
          format: int32
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    MeetingBuffers:
      title: MeetingBuffers
      type: object
      properties:
        before:
          type: string
        after:
          type: string
    MeetingLocation_HostsDefaultConferenceDetails:
      title: MeetingLocation_HostsDefaultConferenceDetails
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: HostsDefaultConferenceDetails
    MeetingLocation_GoToMeetingLink:
      title: MeetingLocation_GoToMeetingLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: GoToMeetingLink
    MeetingLimitReset_Weekly:
      title: MeetingLimitReset_Weekly
      type: object
      required:
      - every
      - startsOn
      - resetDayOfWeek
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDayOfWeek:
          examples:
          - MONDAY
          type: string
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Weekly
    PersonalSchedulingLinkDetail:
      title: PersonalSchedulingLinkDetail
      type: object
      required:
      - slug
      - meetingTypeId
      - meetingTypeName
      - bookingUrl
      properties:
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeId:
          $ref: '#/components/schemas/MeetingTypeId'
        meetingTypeName:
          type: string
        bookingUrl:
          examples:
          - https://example.com
          type: string
    MeetingLocation_AskTheGuest:
      title: MeetingLocation_AskTheGuest
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        type:
          type: string
          const: AskTheGuest
    DistributionState:
      title: DistributionState
      type: object
      properties:
        userStates:
          type: array
          items:
            $ref: '#/components/schemas/DistributionUserState'
        lastReset:
          type: string
          format: date-time
    DistributionUserState_Removed:
      title: DistributionUserState_Removed
      description: User was removed from the team entirely — historical record, no assignments will go
        to this user.
      type: object
      required:
      - userId
      - total
      - removedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        removedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Removed
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    MeetingLocation_DefinedInMeetingType:
      title: MeetingLocation_DefinedInMeetingType
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        value:
          type: string
          minLength: 1
        type:
          type: string
          const: DefinedInMeetingType
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        emoji:
          type: string
        logo:
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    TeamId:
      title: TeamId
      examples:
      - 2a9c3f1e-8b7d-4a5c-9e6f-1b2c3d4e5f6a
      type: string
      pattern: '[^\s\\/]+'
    AdminSchedulingLinksRequest:
      title: AdminSchedulingLinksRequest
      type: object
      properties:
        filterWorkspaceIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        filterLinkSlugs:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[-0-9a-z_]+'
        filterMeetingTypeId:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
    BookerInvitation:
      title: BookerInvitation
      oneOf:
      - $ref: '#/components/schemas/BookerInvitation_DoNotInvite'
      - $ref: '#/components/schemas/BookerInvitation_Invite'
      discriminator:
        propertyName: type
        mapping:
          DoNotInvite: '#/components/schemas/BookerInvitation_DoNotInvite'
          Invite: '#/components/schemas/BookerInvitation_Invite'
    MeetingLocation_WebexLink:
      title: MeetingLocation_WebexLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: WebexLink
    SchedulingLinkMemberDetail:
      title: SchedulingLinkMemberDetail
      type: object
      required:
      - id
      properties:
        email:
          type: string
          pattern: .+@.+
        id:
          $ref: '#/components/schemas/UserId'
        name:
          type: string
          minLength: 1
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
    GroupSchedulingLinkId:
      title: GroupSchedulingLinkId
      examples:
      - c9d0e1f2-a3b4-4c5d-9e6f-7a8b9c0d1e2f
      type: string
      pattern: '[^\s\\/]+'
    MeetingLimitReset_Daily:
      title: MeetingLimitReset_Daily
      type: object
      required:
      - every
      - startsOn
      - resetLocalTime
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetLocalTime:
          type: string
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    PaginatedResult_User:
      title: PaginatedResult_User
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User1'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    SimpleRule:
      title: SimpleRule
      oneOf:
      - $ref: '#/components/schemas/SimpleRule_HubspotSimpleRule'
      - $ref: '#/components/schemas/SimpleRule_SalesforceSimpleRule'
      discriminator:
        propertyName: type
        mapping:
          HubspotSimpleRule: '#/components/schemas/SimpleRule_HubspotSimpleRule'
          SalesforceSimpleRule: '#/components/schemas/SimpleRule_SalesforceSimpleRule'
    GroupLinkUpdate:
      title: GroupLinkUpdate
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        hostUserId:
          type: string
          pattern: '[^\s\\/]+'
        requiredMemberIds:
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        optionalMemberIds:
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
    DistributedAssignmentLimitReset_Monthly:
      title: DistributedAssignmentLimitReset_Monthly
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    SharedWith_Workspace:
      title: SharedWith_Workspace
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Workspace
    MeetingLimit_MeetingLimitUnset:
      title: MeetingLimit_MeetingLimitUnset
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: MeetingLimitUnset
    DistributionUserState_Capped:
      title: DistributionUserState_Capped
      description: User has reached their assignment cap for the current period and is temporarily excluded
        until the cap resets.
      type: object
      required:
      - userId
      - total
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Capped
    DistributionInvitation:
      title: DistributionInvitation
      type: object
      required:
      - assignments
      - host
      - bookerInvitation
      properties:
        assignments:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistributionAssignment'
        host:
          $ref: '#/components/schemas/DistributionHost'
        bookerInvitation:
          $ref: '#/components/schemas/BookerInvitation'
        alwaysInvitedUsers:
          type: array
          items:
            $ref: '#/components/schemas/AlwaysInvitedUser'
    DistributionAssignmentTypeConfig_Conversation:
      title: DistributionAssignmentTypeConfig_Conversation
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Conversation
    DistributionUserState:
      title: DistributionUserState
      oneOf:
      - $ref: '#/components/schemas/DistributionUserState_Active'
      - $ref: '#/components/schemas/DistributionUserState_Capped'
      - $ref: '#/components/schemas/DistributionUserState_Disabled'
      - $ref: '#/components/schemas/DistributionUserState_NoLicense'
      - $ref: '#/components/schemas/DistributionUserState_Removed'
      discriminator:
        propertyName: type
        mapping:
          Active: '#/components/schemas/DistributionUserState_Active'
          Capped: '#/components/schemas/DistributionUserState_Capped'
          Disabled: '#/components/schemas/DistributionUserState_Disabled'
          NoLicense: '#/components/schemas/DistributionUserState_NoLicense'
          Removed: '#/components/schemas/DistributionUserState_Removed'
    GroupLinkCreate:
      title: GroupLinkCreate
      type: object
      required:
      - workspaceId
      - name
      - slug
      - meetingTypeIds
      - hostUserId
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        hostUserId:
          $ref: '#/components/schemas/UserId'
        requiredMemberIds:
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        optionalMemberIds:
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
    DistributionAssignmentTypeConfig_Record:
      title: DistributionAssignmentTypeConfig_Record
      type: object
      required:
      - handling
      - type
      properties:
        handling:
          $ref: '#/components/schemas/RecordHandling'
        type:
          type: string
          const: Record
    RoutingStrategy:
      title: RoutingStrategy
      oneOf:
      - $ref: '#/components/schemas/RoutingStrategy_DistributionBasedRouting'
      - $ref: '#/components/schemas/RoutingStrategy_RuleBasedRouting'
      discriminator:
        propertyName: type
        mapping:
          DistributionBasedRouting: '#/components/schemas/RoutingStrategy_DistributionBasedRouting'
          RuleBasedRouting: '#/components/schemas/RoutingStrategy_RuleBasedRouting'
    DistributionAssignmentTypeConfig:
      title: DistributionAssignmentTypeConfig
      oneOf:
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
      discriminator:
        propertyName: type
        mapping:
          Conversation: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
          Meeting: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
          Record: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
    SharedWith:
      title: SharedWith
      oneOf:
      - $ref: '#/components/schemas/SharedWith_Teams'
      - $ref: '#/components/schemas/SharedWith_Workspace'
      discriminator:
        propertyName: type
        mapping:
          Teams: '#/components/schemas/SharedWith_Teams'
          Workspace: '#/components/schemas/SharedWith_Workspace'
    OwnershipHost:
      title: OwnershipHost
      oneOf:
      - $ref: '#/components/schemas/OwnershipHost_AssigneeFromDistribution'
      - $ref: '#/components/schemas/OwnershipHost_AssigneeFromOwnershipRule'
      - $ref: '#/components/schemas/OwnershipHost_AssigneeFromSimpleRule'
      - $ref: '#/components/schemas/OwnershipHost_BookerIfExists'
      discriminator:
        propertyName: type
        mapping:
          AssigneeFromDistribution: '#/components/schemas/OwnershipHost_AssigneeFromDistribution'
          AssigneeFromOwnershipRule: '#/components/schemas/OwnershipHost_AssigneeFromOwnershipRule'
          AssigneeFromSimpleRule: '#/components/schemas/OwnershipHost_AssigneeFromSimpleRule'
          BookerIfExists: '#/components/schemas/OwnershipHost_BookerIfExists'
    Reminder:
      title: Reminder
      type: object
      required:
      - id
      - workspaceId
      - channel
      - trigger
      - name
      - body
      properties:
        id:
          type: string
          pattern: '[^\s\\/]+'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        channel:
          $ref: '#/components/schemas/ReminderChannel'
        trigger:
          $ref: '#/components/schemas/ReminderTrigger'
        name:
          type: string
        title:
          type: string
        body:
          type: string
    UserWeight:
      title: UserWeight
      type: object
      required:
      - userId
      - weight
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        weight:
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
    DistributedAssignmentLimit:
      title: DistributedAssignmentLimit
      type: object
      required:
      - resetPeriodicity
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/DistributedAssignmentLimitReset'
    MeetingType:
      title: MeetingType
      type: object
      required:
      - id
      - workspaceId
      - name
      - inviteTitle
      - inviteDescription
      - status
      - duration
      - location
      - buffers
      properties:
        id:
          $ref: '#/components/schemas/MeetingTypeId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        description:
          type: string
        inviteTitle:
          type: string
        inviteDescription:
          type: string
        status:
          $ref: '#/components/schemas/MeetingTypeStatus'
        duration:
          type: string
        location:
          $ref: '#/components/schemas/MeetingLocations'
        buffers:
          $ref: '#/components/schemas/MeetingBuffers'
        meetingLimit:
          $ref: '#/components/schemas/MeetingBookingLimit'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
        reminders:
          type: array
          items:
            $ref: '#/components/schemas/Reminder'
    OwnershipSchedulingLinkId:
      title: OwnershipSchedulingLinkId
      examples:
      - d1e2f3a4-b5c6-4d7e-ae8f-9b0c1d2e3f4a
      type: string
      pattern: '[^\s\\/]+'
    SalesforceUser:
      title: SalesforceUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
        id:
          type: string
          pattern: '[^\s\\/]+'
    OwnershipLinkUpdate:
      title: OwnershipLinkUpdate
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        ownership:
          $ref: '#/components/schemas/OwnershipInvitation'
        distribution:
          $ref: '#/components/schemas/DistributionInvitationInput'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
        pageConfig:
          $ref: '#/components/schemas/LinkPageConfig'
    RuleId:
      title: RuleId
      examples:
      - 3b4c5d6e-7f8a-4b9c-9d0e-1f2a3b4c5d6e
      type: string
      pattern: '[^\s\\/]+'
    MeetingLimit_MeetingLimitSet:
      title: MeetingLimit_MeetingLimitSet
      type: object
      required:
      - resetPeriodicity
      - type
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/MeetingLimitReset'
        type:
          type: string
          const: MeetingLimitSet
    DistributionAssignment:
      title: DistributionAssignment
      type: object
      required:
      - distributionId
      - required
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        required:
          type: boolean
        members:
          type: array
          items:
            $ref: '#/components/schemas/SchedulingLinkMemberDetail'
    MeetingLocations:
      title: MeetingLocations
      type: object
      required:
      - default
      properties:
        default:
          $ref: '#/components/schemas/MeetingLocation'
        others:
          type: array
          items:
            $ref: '#/components/schemas/MeetingLocation'
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    OwnershipInvitation:
      title: OwnershipInvitation
      type: object
      required:
      - ownershipSettings
      - host
      - bookerInvitation
      properties:
        ownershipSettings:
          $ref: '#/components/schemas/OwnershipSettings'
        host:
          $ref: '#/components/schemas/OwnershipHost'
        bookerInvitation:
          $ref: '#/components/schemas/BookerInvitation'
        alwaysInvitedUsers:
          type: array
          items:
            $ref: '#/components/schemas/AlwaysInvitedUser'
    DistributionHost:
      title: DistributionHost
      oneOf:
      - $ref: '#/components/schemas/DistributionHost_AssigneeFromDistribution'
      - $ref: '#/components/schemas/DistributionHost_BookerIfExists'
      discriminator:
        propertyName: type
        mapping:
          AssigneeFromDistribution: '#/components/schemas/DistributionHost_AssigneeFromDistribution'
          BookerIfExists: '#/components/schemas/DistributionHost_BookerIfExists'
    DistributionAssignmentType:
      title: DistributionAssignmentType
      type: string
      enum:
      - Record
      - Meeting
      - Conversation
    OwnershipSchedulingLinkDetails:
      title: OwnershipSchedulingLinkDetails
      type: object
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/OwnershipSchedulingLinkDetail'
    DistributionHost_AssigneeFromDistribution:
      title: DistributionHost_AssigneeFromDistribution
      type: object
      required:
      - distributionId
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: AssigneeFromDistribution
    OwnershipHost_AssigneeFromDistribution:
      title: OwnershipHost_AssigneeFromDistribution
      type: object
      required:
      - distributionId
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: AssigneeFromDistribution
    RoundRobinLinkCreate:
      title: RoundRobinLinkCreate
      type: object
      required:
      - workspaceId
      - name
      - slug
      - meetingTypeIds
      - distributionIds
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        distributionIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistributionId'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
    AlwaysInvitedUser:
      title: AlwaysInvitedUser
      type: object
      required:
      - userId
      - optional
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        optional:
          type: boolean
    LinkPageConfig:
      title: LinkPageConfig
      type: object
      properties:
        title:
          type: string
    PaginatedResult_Distribution:
      title: PaginatedResult_Distribution
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
    HubspotUser:
      title: HubspotUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
        id:
          type: integer
          format: int64
    MeetingLimit:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitSet'
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimit_MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
    BookerInvitation_Invite:
      title: BookerInvitation_Invite
      type: object
      required:
      - autoDeclineOnBookersBehalf
      - required
      - type
      properties:
        autoDeclineOnBookersBehalf:
          type: boolean
        required:
          type: boolean
        type:
          type: string
          const: Invite
    MeetingLocation_HostsDefaultPhysicalLocation:
      title: MeetingLocation_HostsDefaultPhysicalLocation
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: HostsDefaultPhysicalLocation
    ConfigurationDTO:
      title: ConfigurationDTO
      type: object
      required:
      - distributionId
      - workspaceId
      - assignmentTypeConfig
      - teamRef
      - metadata
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        assignmentTypeConfig:
          $ref: '#/components/schemas/DistributionAssignmentTypeConfig'
        teamRef:
          $ref: '#/components/schemas/TeamRef'
        weights:
          type: array
          items:
            $ref: '#/components/schemas/UserWeight'
        name:
          type: string
        manualCalibration:
          type: array
          items:
            $ref: '#/components/schemas/UserCalibration'
        capping:
          $ref: '#/components/schemas/DistributedAssignmentLimit'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    UserLimit:
      title: UserLimit
      type: object
      required:
      - userId
      - limit
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        limit:
          type: integer
          format: int32
          minimum: 0
    DistributionHost_BookerIfExists:
      title: DistributionHost_BookerIfExists
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: BookerIfExists
    SimpleRule_HubspotSimpleRule:
      title: SimpleRule_HubspotSimpleRule
      type: object
      required:
      - ownershipObject
      - teamId
      - type
      properties:
        ownershipObject:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/HubspotObjectOwner'
        teamId:
          $ref: '#/components/schemas/TeamId'
        type:
          type: string
          const: HubspotSimpleRule
    MeetingLimitReset_Monthly:
      title: MeetingLimitReset_Monthly
      type: object
      required:
      - every
      - startsOn
      - resetDay
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDay:
          type: integer
          format: int32
          minimum: 1
          maximum: 28
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    BookerInvitation_DoNotInvite:
      title: BookerInvitation_DoNotInvite
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNotInvite
    DistributionInvitationInput:
      title: DistributionInvitationInput
      type: object
      required:
      - assignments
      - host
      - bookerInvitation
      properties:
        assignments:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistributionAssignmentInput'
        host:
          $ref: '#/components/schemas/DistributionHost'
        bookerInvitation:
          $ref: '#/components/schemas/BookerInvitation'
        alwaysInvitedUsers:
          type: array
          items:
            $ref: '#/components/schemas/AlwaysInvitedUser'
    MeetingLimitReset:
      title: MeetingLimitReset
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitReset_Daily'
      - $ref: '#/components/schemas/MeetingLimitReset_Monthly'
      - $ref: '#/components/schemas/MeetingLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/MeetingLimitReset_Daily'
          Monthly: '#/components/schemas/MeetingLimitReset_Monthly'
          Weekly: '#/components/schemas/MeetingLimitReset_Weekly'
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
    DistributionUserState_Disabled:
      title: DistributionUserState_Disabled
      description: User has been explicitly disabled in this distribution (weight set to 0). Still on
        the team but won't receive assignments until re-enabled.
      type: object
      required:
      - userId
      - total
      - disabledAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        disabledAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Disabled
    RoundRobinSchedulingLinkDetail:
      title: RoundRobinSchedulingLinkDetail
      type: object
      required:
      - workspaceId
      - linkId
      - name
      - slug
      - assignments
      - bookingUrl
      properties:
        workspaceId:
[...]
