# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — Scheduling Link Management Actions
  version: 1.494.0
  description: GPT Actions for the scheduling-link-management GPT — a subset of the Chili Piper Edge API.
    Authenticate with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: 'READ-ONLY. Read all workspaces. List the workspaces that partition the org and their
        workspaceIds. Params: page, pageSize.'
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
      x-mcp-tool: workspace-list
  /v1/org/schedulingLinks/list-personal-v2/{userId}:
    get:
      tags:
      - schedulingLinks
      summary: Scheduling Links - personal (v2)
      description: 'READ-ONLY. Scheduling Links - personal (v2). List a user''s own personal scheduling
        links. Params: userId (required).'
      operationId: schedulingLinkListPersonalV2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: List of personal scheduling links with full details.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalSchedulingLinkDetails'
        '400':
          description: 'Invalid value for: path parameter userId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
      x-mcp-tool: scheduling-link-list-personal-v2
  /v1/org/schedulingLinks/list-round-robin:
    post:
      tags:
      - schedulingLinks
      summary: Scheduling Links - round robin
      description: READ-ONLY. Scheduling Links - round robin. List round-robin scheduling links (distribution-backed
        booking URLs). Takes a JSON body.
      operationId: schedulingLinkListRoundRobin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoundRobinSchedulingLinksRequest'
        required: true
      responses:
        '200':
          description: List of round robin scheduling links. Payload structure might change.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundRobinSchedulingLinkDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.read
      x-mcp-tool: scheduling-link-list-round-robin
  /v1/org/schedulingLinks/list-admin-one-on-one:
    post:
      tags:
      - schedulingLinks
      summary: Scheduling Links - admin (one-on-one)
      description: READ-ONLY. Scheduling Links - admin (one-on-one). List admin one-on-one scheduling
        links (single fixed host). Takes a JSON body.
      operationId: schedulingLinkListAdminOneOnOne
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSchedulingLinksRequest'
        required: true
      responses:
        '200':
          description: List of admin (one-on-one) scheduling links.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSchedulingLinkDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.read
      x-mcp-tool: scheduling-link-list-admin-one-on-one
  /v1/org/schedulingLinks/list-group:
    post:
      tags:
      - schedulingLinks
      summary: Scheduling Links - group
      description: READ-ONLY. Scheduling Links - group. List group scheduling links (a fixed set of multiple
        attendees). Takes a JSON body.
      operationId: schedulingLinkListGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupSchedulingLinksRequest'
        required: true
      responses:
        '200':
          description: List of group scheduling links.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSchedulingLinkDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.read
      x-mcp-tool: scheduling-link-list-group
  /v1/org/schedulingLinks/list-ownership:
    post:
      tags:
      - schedulingLinks
      summary: Scheduling Links - ownership
      description: READ-ONLY. Scheduling Links - ownership. List ownership scheduling links (routes to
        the guest's CRM owner). Takes a JSON body.
      operationId: schedulingLinkListOwnership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnershipSchedulingLinksRequest'
        required: true
      responses:
        '200':
          description: List of ownership scheduling links.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnershipSchedulingLinkDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.read
      x-mcp-tool: scheduling-link-list-ownership
  /v1/org/schedulingLinks/round-robin:
    post:
      tags:
      - schedulingLinks
      summary: Create round-robin scheduling link
      description: MUTATING. Create round-robin scheduling link. Create a round-robin scheduling link
        backed by distributions. Takes a JSON body.
      operationId: schedulingLinkCreateRoundRobin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoundRobinLinkCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundRobinSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.create
      x-mcp-tool: scheduling-link-create-round-robin
  /v1/org/schedulingLinks/round-robin/{linkId}:
    put:
      tags:
      - schedulingLinks
      summary: Update round-robin scheduling link
      description: 'MUTATING — IDEMPOTENT. Update round-robin scheduling link. Update a round-robin scheduling
        link. Params: linkId (required). Takes a JSON body.'
      operationId: schedulingLinkUpdateRoundRobin
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoundRobinLinkUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundRobinSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: path parameter linkId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.modify
      x-mcp-tool: scheduling-link-update-round-robin
    delete:
      tags:
      - schedulingLinks
      summary: Remove round-robin scheduling link
      description: 'MUTATING — DESTRUCTIVE. Remove round-robin scheduling link. Delete a round-robin scheduling
        link by id. Params: linkId (required).'
      operationId: schedulingLinkDeleteRoundRobin
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter linkId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.remove
      x-mcp-tool: scheduling-link-delete-round-robin
  /v1/org/schedulingLinks/admin-one-on-one:
    post:
      tags:
      - schedulingLinks
      summary: Create admin (one-on-one) scheduling link
      description: MUTATING. Create admin (one-on-one) scheduling link. Create an admin one-on-one scheduling
        link with a single fixed host. Takes a JSON body.
      operationId: schedulingLinkCreateAdminOneOnOne
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLinkCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.create
      x-mcp-tool: scheduling-link-create-admin-one-on-one
  /v1/org/schedulingLinks/admin-one-on-one/{linkId}:
    put:
      tags:
      - schedulingLinks
      summary: Update admin (one-on-one) scheduling link
      description: 'MUTATING — IDEMPOTENT. Update admin (one-on-one) scheduling link. Update an admin
        one-on-one scheduling link. Params: linkId (required). Takes a JSON body.'
      operationId: schedulingLinkUpdateAdminOneOnOne
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLinkUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: path parameter linkId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.modify
      x-mcp-tool: scheduling-link-update-admin-one-on-one
    delete:
      tags:
      - schedulingLinks
      summary: Remove admin (one-on-one) scheduling link
      description: 'MUTATING — DESTRUCTIVE. Remove admin (one-on-one) scheduling link. Delete an admin
        one-on-one scheduling link by id. Params: linkId (required).'
      operationId: schedulingLinkDeleteAdminOneOnOne
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter linkId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.remove
      x-mcp-tool: scheduling-link-delete-admin-one-on-one
  /v1/org/schedulingLinks/group:
    post:
      tags:
      - schedulingLinks
      summary: Create group scheduling link
      description: MUTATING. Create group scheduling link. Create a group scheduling link (fixed host
        plus additional members). Takes a JSON body.
      operationId: schedulingLinkCreateGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupLinkCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.create
      x-mcp-tool: scheduling-link-create-group
  /v1/org/schedulingLinks/group/{linkId}:
    put:
      tags:
      - schedulingLinks
      summary: Update group scheduling link
      description: 'MUTATING — IDEMPOTENT. Update group scheduling link. Update a group scheduling link.
        Params: linkId (required). Takes a JSON body.'
      operationId: schedulingLinkUpdateGroup
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupLinkUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: path parameter linkId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.modify
      x-mcp-tool: scheduling-link-update-group
    delete:
      tags:
      - schedulingLinks
      summary: Remove group scheduling link
      description: 'MUTATING — DESTRUCTIVE. Remove group scheduling link. Delete a group scheduling link
        by id. Params: linkId (required).'
      operationId: schedulingLinkDeleteGroup
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter linkId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.remove
      x-mcp-tool: scheduling-link-delete-group
  /v1/org/schedulingLinks/ownership:
    post:
      tags:
      - schedulingLinks
      summary: Create ownership scheduling link
      description: MUTATING. Create ownership scheduling link. Create an ownership scheduling link routing
        to the guest's CRM owner. Takes a JSON body.
      operationId: schedulingLinkCreateOwnership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnershipLinkCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnershipSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.create
      x-mcp-tool: scheduling-link-create-ownership
  /v1/org/schedulingLinks/ownership/{linkId}:
    put:
      tags:
      - schedulingLinks
      summary: Update ownership scheduling link
      description: 'MUTATING — IDEMPOTENT. Update ownership scheduling link. Update an ownership scheduling
        link. Params: linkId (required). Takes a JSON body.'
      operationId: schedulingLinkUpdateOwnership
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnershipLinkUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnershipSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: path parameter linkId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.modify
      x-mcp-tool: scheduling-link-update-ownership
    delete:
      tags:
      - schedulingLinks
      summary: Remove ownership scheduling link
      description: 'MUTATING — DESTRUCTIVE. Remove ownership scheduling link. Delete an ownership scheduling
        link by id. Params: linkId (required).'
      operationId: schedulingLinkDeleteOwnership
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter linkId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.remove
      x-mcp-tool: scheduling-link-delete-ownership
  /v1/org/meeting-types/list:
    get:
      tags:
      - meeting-type
      summary: List meeting types
      description: 'READ-ONLY. List meeting types. Browse the tenant''s reusable team meeting types. Params:
        workspaceId.'
      operationId: meetingTypeList
      parameters:
      - name: workspaceId
        in: query
        description: Filter meeting types by workspace ID. Omit to list across all of the tenant's workspaces.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.read
      x-mcp-tool: meeting-type-list
  /v2/org/distribution/list:
    put:
      tags:
      - distribution
      summary: List all distributions (PUT)
      description: READ-ONLY. List all distributions (PUT). Browse published distributions in the org
        (preferred list). Takes a JSON body.
      operationId: distributionListPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Distribution'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distribution.read
      x-mcp-tool: distribution-list-put
  /v1/org/user/find:
    get:
      tags:
      - user
      summary: Finds user
      description: 'READ-ONLY. Finds user. Resolve an email or name to a userId. Params: query (required),
        page, pageSize.'
      operationId: userFind
      parameters:
      - name: query
        in: query
        description: Search by email or name
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_User'
        '400':
          description: 'Invalid value for: query parameter query, Invalid value for: query parameter page,
            Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
      x-mcp-tool: user-find
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    DistributionAssignmentTypeConfig:
      title: DistributionAssignmentTypeConfig
      oneOf:
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
      discriminator:
        propertyName: type
        mapping:
          Conversation: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
          Meeting: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
          Record: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
    HubspotUser:
      title: HubspotUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked HubSpot user.
        id:
          description: Identifier of the linked HubSpot user.
          type: integer
          format: int64
    Levels:
      title: Levels
      type: object
      required:
      - current
      - nextAssignmentDelta
      - total
      properties:
        current:
          description: Earned score plus prolonged-reservation projection, before manual calibration.
          type: number
        nextAssignmentDelta:
          description: Score increment that will be added if this user receives the next assignment. Forward-looking;
            not included in `current` or `total`.
          type: number
        calibrationDelta:
          description: Manual-calibration adjustment applied on top of `current`. Absent when no calibration
            is in effect. When present, `total = current + calibrationDelta`.
          type: number
        total:
          description: Current score with manual calibration applied.
          type: number
    Prioritization:
      title: Prioritization
      type: object
      properties:
        queue:
          description: Ordered list of active user IDs in the order they will receive the next assignments.
            This is the authoritative assignment-ordering surface; level fields are informational.
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        onVacation:
          description: Users currently on vacation and skipped by the queue until they return.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        reachedCap:
          description: Users who have reached their assignment cap for the current period and are skipped
            until the cap resets.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
    DistributionAssignmentType:
      title: DistributionAssignmentType
      type: string
      enum:
      - Record
      - Meeting
      - Conversation
    WorkInterval:
      title: WorkInterval
      type: object
      required:
      - start
      - end
      properties:
        start:
          description: Start of the working interval as a local time (HH:mm), in the schedule timezone.
          type: string
        end:
          description: End of the working interval as a local time (HH:mm); must be after start.
          type: string
    RoutingStrategy_DistributionBasedRouting:
      title: RoutingStrategy_DistributionBasedRouting
      type: object
      required:
      - distributionId
      - required
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        required:
          type: boolean
        type:
          type: string
          const: DistributionBasedRouting
    MeetingLocation_AskTheGuest:
      title: MeetingLocation_AskTheGuest
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        type:
          type: string
          const: AskTheGuest
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    RecordHandling_Strict:
      title: RecordHandling_Strict
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Strict
    DistributedAssignmentLimit:
      title: DistributedAssignmentLimit
      type: object
      required:
      - resetPeriodicity
      properties:
        userCaps:
          description: Per-user assignment caps.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/DistributedAssignmentLimitReset'
    UserCalibration:
      title: UserCalibration
      type: object
      required:
      - userId
      - calibration
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        calibration:
          description: Manual offset added to this user's computed score to bias their position in the
            assignment queue (signed).
          type: integer
          format: int32
    UserStatistics:
      title: UserStatistics
      type: object
      required:
      - assigned
      - cancelled
      - noShow
      - reassignedToThis
      - reassignedFromThis
      properties:
        assigned:
          description: Number of assignments booked directly to this user in the current period.
          type: integer
          format: int32
        cancelled:
          description: Number of assignments that were later cancelled.
          type: integer
          format: int32
        noShow:
          description: Number of assignments where the invitee did not show up.
          type: integer
          format: int32
        reassignedToThis:
          description: Number of assignments that were reassigned to this user from another.
          type: integer
          format: int32
        reassignedFromThis:
          description: Number of assignments originally made to this user that were reassigned away.
          type: integer
          format: int32
    MeetingHandling_Strict:
      title: MeetingHandling_Strict
      type: object
      required:
      - hideAssignee
      - type
      properties:
        hideAssignee:
          type: boolean
        type:
          type: string
          const: Strict
    UserPersonalDetails:
      title: UserPersonalDetails
      type: object
      required:
      - email
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: The user's email address.
        firstName:
          description: The user's first name.
          type: string
        lastName:
          description: The user's last name.
          type: string
        jobTitle:
          description: The user's job title.
          type: string
        conferenceDetails:
          description: Free-text conferencing details shown on the user's meetings.
          type: string
        location:
          description: The user's location.
          type: string
        phoneNumber:
          description: The user's phone number.
          type: string
        imageUrl:
          description: URL of the user's profile picture.
          type: string
        customCompanyLogoUrl:
          description: URL of a custom company logo shown on the user's booking pages.
          type: string
    DistributedAssignmentLimitReset:
      title: DistributedAssignmentLimitReset
      oneOf:
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
          HourlyRolling: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
          Monthly: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
          Weekly: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
    UserLicenses:
      title: UserLicenses
      type: object
      required:
      - chiliCalOrg
      - handoff
      properties:
        distro:
          description: Whether the user holds a Distro (lead-routing) license.
          type: boolean
        chiliCalOrg:
          description: Whether the user holds a ChiliCal organization license.
          type: boolean
        concierge:
          description: Whether the user holds a Concierge license.
          type: boolean
        conciergeLive:
          description: Whether the user holds a Concierge Live license.
          type: boolean
        chat:
          description: Whether the user holds a Chat license.
          type: boolean
        handoff:
          description: Whether the user holds a Handoff license.
          type: boolean
        tier:
          $ref: '#/components/schemas/Tier'
    DistributionUserState_NoLicense:
      title: DistributionUserState_NoLicense
      description: User is still on the team but has lost their license, so they cannot receive assignments.
        Re-licensing restores them.
      type: object
      required:
      - userId
      - total
      - licenseRemovedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        licenseRemovedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: NoLicense
    RoutingStrategy:
      title: RoutingStrategy
      oneOf:
      - $ref: '#/components/schemas/RoutingStrategy_DistributionBasedRouting'
      - $ref: '#/components/schemas/RoutingStrategy_RuleBasedRouting'
      discriminator:
        propertyName: type
        mapping:
          DistributionBasedRouting: '#/components/schemas/RoutingStrategy_DistributionBasedRouting'
          RuleBasedRouting: '#/components/schemas/RoutingStrategy_RuleBasedRouting'
    WorkingHours:
      title: WorkingHours
      type: object
      properties:
        monday:
          description: Working intervals on Monday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        tuesday:
          description: Working intervals on Tuesday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        wednesday:
          description: Working intervals on Wednesday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        thursday:
          description: Working intervals on Thursday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        friday:
          description: Working intervals on Friday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        saturday:
          description: Working intervals on Saturday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        sunday:
          description: Working intervals on Sunday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
    DistributionId:
      title: DistributionId
      examples:
      - 7f8a1b2c-3d4e-4f5a-8b9c-0d1e2f3a4b5c
      type: string
      pattern: '[^\s\\/]+'
    RoundRobinSchedulingLinkDetails:
      title: RoundRobinSchedulingLinkDetails
      type: object
      properties:
        links:
          description: The round-robin scheduling links.
          type: array
          items:
            $ref: '#/components/schemas/RoundRobinSchedulingLinkDetail'
    DistributionHost_BookerIfExists:
      title: DistributionHost_BookerIfExists
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: BookerIfExists
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    OwnershipSchedulingLinksRequest:
      title: OwnershipSchedulingLinksRequest
      type: object
      properties:
        filterWorkspaceIds:
          description: Restrict to links in these workspaces; omit for all accessible workspaces.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        filterLinkSlugs:
          description: Restrict to links with these slugs.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[-0-9a-z_]+'
        filterMeetingTypeId:
          description: Restrict to links offering any of these meeting types.
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        filterDistributionIds:
          description: Restrict to links backed by any of these distributions.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
    RoundRobinSchedulingLinkId:
      title: RoundRobinSchedulingLinkId
      examples:
      - b7c8d9e0-f1a2-4b3c-8d4e-5f6a7b8c9d0e
      type: string
      pattern: '[^\s\\/]+'
    MeetingLimit:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitSet'
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimit_MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
    MeetingLocation_ZoomOneTimeLink:
      title: MeetingLocation_ZoomOneTimeLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: ZoomOneTimeLink
    MeetingHandling:
      title: MeetingHandling
      oneOf:
      - $ref: '#/components/schemas/MeetingHandling_Flexible'
      - $ref: '#/components/schemas/MeetingHandling_Strict'
      discriminator:
        propertyName: type
        mapping:
          Flexible: '#/components/schemas/MeetingHandling_Flexible'
          Strict: '#/components/schemas/MeetingHandling_Strict'
    ScheduleWithTeamMember:
      title: ScheduleWithTeamMember
      type: string
      enum:
      - OwnerOnly
      - AllowWithAny
    DistributionHost_AssigneeFromDistribution:
      title: DistributionHost_AssigneeFromDistribution
      type: object
      required:
      - distributionId
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: AssigneeFromDistribution
    MeetingLimit_MeetingLimitUnset:
      title: MeetingLimit_MeetingLimitUnset
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: MeetingLimitUnset
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
    SimpleRule_HubspotSimpleRule:
      title: SimpleRule_HubspotSimpleRule
      type: object
      required:
      - ownershipObject
      - teamId
      - type
      properties:
        ownershipObject:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/HubspotObjectOwner'
        teamId:
          $ref: '#/components/schemas/TeamId'
        type:
          type: string
          const: HubspotSimpleRule
    SharedWith:
      title: SharedWith
      oneOf:
      - $ref: '#/components/schemas/SharedWith_Teams'
      - $ref: '#/components/schemas/SharedWith_Workspace'
      discriminator:
        propertyName: type
        mapping:
          Teams: '#/components/schemas/SharedWith_Teams'
          Workspace: '#/components/schemas/SharedWith_Workspace'
    UserLimit:
      title: UserLimit
      type: object
      required:
      - userId
      - limit
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        limit:
          description: Maximum assignments this user may receive per reset period (non-negative).
          type: integer
          format: int32
          minimum: 0
    GroupSchedulingLinkDetails:
      title: GroupSchedulingLinkDetails
      type: object
      properties:
        links:
          description: The group scheduling links.
          type: array
          items:
            $ref: '#/components/schemas/GroupSchedulingLinkDetail'
    MeetingLocation_CalendarPlatformConference:
      title: MeetingLocation_CalendarPlatformConference
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        type:
          type: string
          const: CalendarPlatformConference
    PaginatedResult_Distribution:
      title: PaginatedResult_Distribution
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    DistributionState:
      title: DistributionState
      type: object
      properties:
        userStates:
          description: Per-user state and statistics for every user in the distribution.
          type: array
          items:
            $ref: '#/components/schemas/DistributionUserState'
        lastReset:
          description: When the distribution's counters were last reset; absent if never reset.
          type: string
          format: date-time
    DistributedAssignmentLimitReset_Daily:
      title: DistributedAssignmentLimitReset_Daily
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    MeetingLocation_DefinedInMeetingType:
      title: MeetingLocation_DefinedInMeetingType
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        value:
          type: string
          minLength: 1
        type:
          type: string
          const: DefinedInMeetingType
    OwnershipSettings:
      title: OwnershipSettings
      oneOf:
      - $ref: '#/components/schemas/OwnershipSettings_WithMixedRouting'
      - $ref: '#/components/schemas/OwnershipSettings_WithSimpleRule'
      discriminator:
        propertyName: type
        mapping:
          WithMixedRouting: '#/components/schemas/OwnershipSettings_WithMixedRouting'
          WithSimpleRule: '#/components/schemas/OwnershipSettings_WithSimpleRule'
    OwnershipLinkCreate:
      title: OwnershipLinkCreate
      type: object
      required:
      - workspaceId
      - name
      - slug
      - meetingTypeIds
      - ownership
      - distribution
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        slug:
          description: URL slug for the link's public booking page; must be unique within the workspace.
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          description: Meeting types offered on this link.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        ownership:
          $ref: '#/components/schemas/OwnershipInvitation'
          description: Primary ownership-based routing configuration.
        distribution:
          $ref: '#/components/schemas/DistributionInvitationInput'
          description: Fallback distribution-based routing used when ownership routing yields no assignee.
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
        pageConfig:
          $ref: '#/components/schemas/LinkPageConfig'
          description: Optional custom settings for the public booking page.
    OwnershipHost_AssigneeFromSimpleRule:
      title: OwnershipHost_AssigneeFromSimpleRule
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: AssigneeFromSimpleRule
    MeetingLimitReset_Weekly:
      title: MeetingLimitReset_Weekly
      type: object
      required:
      - every
      - startsOn
      - resetDayOfWeek
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDayOfWeek:
          examples:
          - MONDAY
          type: string
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Weekly
    MeetingLimitReset_Monthly:
      title: MeetingLimitReset_Monthly
      type: object
      required:
      - every
      - startsOn
      - resetDay
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDay:
          type: integer
          format: int32
          minimum: 1
          maximum: 28
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
          description: Unique identifier of the workspace.
        name:
          description: Human-readable workspace name.
          type: string
        emoji:
          description: Optional emoji shown as the workspace's icon.
          type: string
        logo:
          description: Optional URL of the workspace's logo image.
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    Distribution:
      title: Distribution
      type: object
      required:
      - id
      - published
      - state
      - prioritization
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        published:
          $ref: '#/components/schemas/ConfigurationDTO'
        state:
          $ref: '#/components/schemas/DistributionState'
        prioritization:
          $ref: '#/components/schemas/Prioritization'
    MeetingBookingLimitTimeframe:
      title: MeetingBookingLimitTimeframe
      type: string
      enum:
      - Hourly
      - Daily
      - Weekly
      - Monthly
      - Yearly
    MeetingLimitReset:
      title: MeetingLimitReset
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitReset_Daily'
      - $ref: '#/components/schemas/MeetingLimitReset_Monthly'
      - $ref: '#/components/schemas/MeetingLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/MeetingLimitReset_Daily'
          Monthly: '#/components/schemas/MeetingLimitReset_Monthly'
          Weekly: '#/components/schemas/MeetingLimitReset_Weekly'
    RoundRobinSchedulingLinkDetail:
      title: RoundRobinSchedulingLinkDetail
      type: object
      required:
      - workspaceId
      - linkId
      - name
      - slug
      - assignments
      - bookingUrl
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        distributionId:
          deprecated: true
          type: string
          pattern: '[^\s\\/]+'
        linkId:
          $ref: '#/components/schemas/RoundRobinSchedulingLinkId'
        name:
          type: string
          minLength: 1
        slug:
          description: URL slug of the link.
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          description: Meeting types offered on this link.
          type: array
          items:
            type: string
            format: uuid
        members:
          deprecated: true
          type: array
          items:
            $ref: '#/components/schemas/SchedulingLinkMemberDetail'
        assignments:
          description: Distributions assigned to this link, with per-distribution attendance and resolved
            members.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistributionAssignment'
        bookingUrl:
          description: Public URL a guest uses to book this link.
          examples:
          - https://example.com
          type: string
    DistributionUserState:
      title: DistributionUserState
      oneOf:
      - $ref: '#/components/schemas/DistributionUserState_Active'
      - $ref: '#/components/schemas/DistributionUserState_Capped'
      - $ref: '#/components/schemas/DistributionUserState_Disabled'
      - $ref: '#/components/schemas/DistributionUserState_NoLicense'
      - $ref: '#/components/schemas/DistributionUserState_Removed'
      discriminator:
        propertyName: type
        mapping:
          Active: '#/components/schemas/DistributionUserState_Active'
          Capped: '#/components/schemas/DistributionUserState_Capped'
          Disabled: '#/components/schemas/DistributionUserState_Disabled'
          NoLicense: '#/components/schemas/DistributionUserState_NoLicense'
          Removed: '#/components/schemas/DistributionUserState_Removed'
    DistributionAssignmentTypeConfig_Conversation:
      title: DistributionAssignmentTypeConfig_Conversation
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Conversation
    SalesforceObjectOwner:
      title: SalesforceObjectOwner
      type: string
      enum:
      - Lead
      - Contact
      - Account
    BookerInvitation:
      title: BookerInvitation
      oneOf:
      - $ref: '#/components/schemas/BookerInvitation_DoNotInvite'
      - $ref: '#/components/schemas/BookerInvitation_Invite'
      discriminator:
        propertyName: type
        mapping:
          DoNotInvite: '#/components/schemas/BookerInvitation_DoNotInvite'
          Invite: '#/components/schemas/BookerInvitation_Invite'
    PersonalSchedulingLinkDetails:
      title: PersonalSchedulingLinkDetails
      type: object
      properties:
        links:
          description: The user's personal scheduling links.
          type: array
          items:
            $ref: '#/components/schemas/PersonalSchedulingLinkDetail'
    BookerInvitation_Invite:
      title: BookerInvitation_Invite
      type: object
      required:
      - autoDeclineOnBookersBehalf
      - required
      - type
      properties:
        autoDeclineOnBookersBehalf:
          type: boolean
        required:
          type: boolean
        type:
          type: string
          const: Invite
    HubspotObjectOwner:
      title: HubspotObjectOwner
      type: string
      enum:
      - Contact
      - Company
    MeetingTypeStatus:
      title: MeetingTypeStatus
      type: string
      enum:
      - Active
      - Inactive
    MeetingHandling_Flexible:
      title: MeetingHandling_Flexible
      type: object
      required:
      - reassignmentType
      - allowPickingAssignee
      - type
      properties:
        reassignmentType:
          $ref: '#/components/schemas/ReassignmentType'
        allowPickingAssignee:
          type: boolean
        type:
          type: string
          const: Flexible
    SchedulingLinkMemberDetail:
      title: SchedulingLinkMemberDetail
      type: object
      required:
      - id
      properties:
        email:
          description: Member's email address; absent if not available.
          type: string
          pattern: .+@.+
        id:
          $ref: '#/components/schemas/UserId'
        name:
          type: string
          minLength: 1
        slug:
          description: Member's personal booking-page slug; absent if they have none.
          type: string
          pattern: '[-0-9a-z_]+'
    BookerInvitation_DoNotInvite:
      title: BookerInvitation_DoNotInvite
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNotInvite
    RecordHandling:
      title: RecordHandling
      oneOf:
      - $ref: '#/components/schemas/RecordHandling_Strict'
      - $ref: '#/components/schemas/RecordHandling_WorkingHours'
      discriminator:
        propertyName: type
        mapping:
          Strict: '#/components/schemas/RecordHandling_Strict'
          WorkingHours: '#/components/schemas/RecordHandling_WorkingHours'
    ReminderTrigger:
      title: ReminderTrigger
      type: object
      required:
      - kind
      properties:
        kind:
          $ref: '#/components/schemas/ReminderTriggerKind'
        offset:
          description: Lead time before (or lag after) the meeting for timed kinds; absent for the MeetingBooked
            kind.
          type: string
    OwnershipHost_BookerIfExists:
      title: OwnershipHost_BookerIfExists
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: BookerIfExists
    MeetingLocation_HostsDefaultConferenceDetails:
      title: MeetingLocation_HostsDefaultConferenceDetails
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: HostsDefaultConferenceDetails
    MeetingLocation_RingCentralLink:
      title: MeetingLocation_RingCentralLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: RingCentralLink
    OwnershipHost_AssigneeFromOwnershipRule:
      title: OwnershipHost_AssigneeFromOwnershipRule
      type: object
      required:
      - ruleId
      - type
      properties:
        ruleId:
          $ref: '#/components/schemas/RuleId'
        type:
          type: string
          const: AssigneeFromOwnershipRule
    DistributionUserState_Active:
      title: DistributionUserState_Active
      description: User is active in the distribution and eligible for assignments. Carries the user's
        current level.
      type: object
      required:
      - userId
      - total
      - level
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        level:
          $ref: '#/components/schemas/Levels'
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Active
    AlwaysInvitedUser:
      title: AlwaysInvitedUser
      type: object
      required:
      - userId
      - optional
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
          description: User added to the invite on every meeting booked through this link.
        optional:
          description: If true the user attends as an optional guest; if false they are a required attendee.
          type: boolean
    SalesforceUser:
      title: SalesforceUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked Salesforce user.
        id:
          description: Identifier of the linked Salesforce user.
          type: string
          pattern: '[^\s\\/]+'
        name:
          description: Display name of the linked Salesforce user, when known.
          type: string
          minLength: 1
        active:
          description: Whether the linked Salesforce user is active, when known.
          type: boolean
    OwnershipSettings_WithMixedRouting:
      title: OwnershipSettings_WithMixedRouting
      type: object
      required:
      - strategies
      - type
      properties:
        strategies:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RoutingStrategy'
        type:
          type: string
          const: WithMixedRouting
    OwnershipLinkUpdate:
      title: OwnershipLinkUpdate
      type: object
      properties:
        name:
          type: string
        slug:
          description: New URL slug; must be unique within the workspace.
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          description: Replacement set of meeting types offered on this link.
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        ownership:
          $ref: '#/components/schemas/OwnershipInvitation'
          description: New primary ownership-based routing configuration.
        distribution:
          $ref: '#/components/schemas/DistributionInvitationInput'
          description: New fallback distribution-based routing configuration.
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
        pageConfig:
          $ref: '#/components/schemas/LinkPageConfig'
          description: New custom settings for the public booking page.
    MeetingBookingLimit:
      title: MeetingBookingLimit
      type: object
      required:
      - limitBy
      - timeframe
      - count
      properties:
        limitBy:
          $ref: '#/components/schemas/MeetingBookingLimitBy'
        timeframe:
          $ref: '#/components/schemas/MeetingBookingLimitTimeframe'
        count:
          description: Maximum bookings a single person (per the limitBy scope) may make within each timeframe
            window.
          type: integer
          format: int32
    SharedWith_Workspace:
      title: SharedWith_Workspace
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Workspace
    UserWeight:
      title: UserWeight
      type: object
      required:
      - userId
      - weight
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        weight:
          description: Relative assignment share for the user (0–10000, default 100); higher weight receives
            proportionally more assignments, 0 disables the user.
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
    MeetingLocation_GoToMeetingLink:
      title: MeetingLocation_GoToMeetingLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: GoToMeetingLink
    RoundRobinSchedulingLinksRequest:
      title: RoundRobinSchedulingLinksRequest
      type: object
      properties:
        filterWorkspaceIds:
          description: Restrict to links in these workspaces; omit for all accessible workspaces.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        filterLinkSlugs:
          description: Restrict to links with these slugs.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[-0-9a-z_]+'
        filterMeetingTypeId:
          description: Restrict to links offering any of these meeting types.
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        filterDistributionIds:
          description: Restrict to links backed by any of these distributions.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
    User:
      title: User
      type: object
      required:
      - id
      - name
      - email
      - isSuperAdmin
      - licenses
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        name:
          type: string
          minLength: 1
        email:
          $ref: '#/components/schemas/Email'
          description: User's email address.
        isSuperAdmin:
          description: Whether the user is a super administrator of the tenant.
          type: boolean
        managedWorkspaces:
          description: Workspaces the user administers.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        managedTeams:
          description: Teams the user administers.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        licenses:
          $ref: '#/components/schemas/UserLicenses'
        salesforce:
          $ref: '#/components/schemas/SalesforceUser'
        hubspot:
          $ref: '#/components/schemas/HubspotUser'
        slug:
          description: User's personal booking-page slug; absent if they have none.
          type: string
          pattern: '[-0-9a-z_]+'
        workspaces:
          description: All workspaces the user is a member of.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        personalWorkspaceId:
          description: The user's personal workspace, when they have one.
          type: string
          pattern: '[^\s\\/]+'
        personalDetails:
          $ref: '#/components/schemas/UserPersonalDetails'
        workingHours:
          $ref: '#/components/schemas/WorkingHours'
        timezone:
          description: The user's configured scheduling timezone (IANA id); absent when synced from their
            connected calendar. Populated by user-read only.
          examples:
          - America/New_York
          type: string
    DistributionAssignmentTypeConfig_Meeting:
      title: DistributionAssignmentTypeConfig_Meeting
      type: object
      required:
      - handling
      - limits
      - type
      properties:
        handling:
          $ref: '#/components/schemas/MeetingHandling'
        limits:
          $ref: '#/components/schemas/MeetingLimit'
        type:
          type: string
          const: Meeting
    PersonalSchedulingLinkDetail:
      title: PersonalSchedulingLinkDetail
      type: object
      required:
      - slug
      - meetingTypeId
      - meetingTypeName
      - bookingUrl
      properties:
        slug:
          description: URL slug of the link.
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeId:
          $ref: '#/components/schemas/MeetingTypeId'
        meetingTypeName:
          description: Name of the meeting type booked through this link.
          type: string
        bookingUrl:
          description: Public URL a guest uses to book this link.
          examples:
          - https://example.com
          type: string
    AdminSchedulingLinkDetails:
      title: AdminSchedulingLinkDetails
      type: object
      properties:
        links:
          description: The admin (one-on-one) scheduling links.
          type: array
          items:
            $ref: '#/components/schemas/AdminSchedulingLinkDetail'
    DistributionUserState_Disabled:
      title: DistributionUserState_Disabled
      description: User has been explicitly disabled in this distribution (weight set to 0). Still on
        the team but won't receive assignments until re-enabled.
      type: object
      required:
      - userId
      - total
      - disabledAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        disabledAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Disabled
    TeamRef:
      title: TeamRef
      type: object
      required:
      - id
      - revision
      properties:
        id:
          $ref: '#/components/schemas/TeamId'
        revision:
          type: integer
          format: int32
    AdminLinkCreate:
      title: AdminLinkCreate
      type: object
      required:
      - workspaceId
      - name
      - slug
      - meetingTypeIds
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        slug:
          description: URL slug for the link's public booking page; must be unique within the workspace.
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          description: Meeting types offered on this link.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    MeetingBookingLimitBy:
      title: MeetingBookingLimitBy
      type: string
      enum:
      - Email
      - Domain
    SimpleRule_SalesforceSimpleRule:
      title: SimpleRule_SalesforceSimpleRule
      type: object
      required:
      - ownershipObject
      - teamId
      - type
      properties:
        ownershipObject:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/SalesforceObjectOwner'
        teamId:
          $ref: '#/components/schemas/TeamId'
        type:
          type: string
          const: SalesforceSimpleRule
    ReminderSendFrom:
      title: ReminderSendFrom
      type: string
      enum:
      - SendFromHost
      - SendFromBooker
      - SendFromNoReply
    MeetingBuffers:
      title: MeetingBuffers
      type: object
      properties:
        before:
          description: Buffer reserved before the meeting to prevent back-to-back bookings.
          type: string
        after:
          description: Buffer reserved after the meeting to prevent back-to-back bookings.
          type: string
    RuleId:
      title: RuleId
      examples:
      - 3b4c5d6e-7f8a-4b9c-9d0e-1f2a3b4c5d6e
      type: string
      pattern: '[^\s\\/]+'
    ListRequest:
      title: ListRequest
      type: object
      properties:
        workspaceIds:
          description: Restrict results to these workspaces. Omit to search all accessible workspaces.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        page:
          description: Zero-based page index. Defaults to 0.
          type: integer
          format: int64
          minimum: 0
        pageSize:
          description: Number of distributions per page.
          type: integer
          format: int64
          exclusiveMinimum: 0
        name:
          description: Filter to distributions matching this name.
          type: string
        assignmentType:
          $ref: '#/components/schemas/DistributionAssignmentType'
    PaginatedResult_User:
      title: PaginatedResult_User
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    AdminSchedulingLinkDetail:
      title: AdminSchedulingLinkDetail
      type: object
      required:
      - workspaceId
      - linkId
      - name
      - slug
      - bookingUrl
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        linkId:
          $ref: '#/components/schemas/AdminSchedulingLinkId'
        name:
          type: string
          minLength: 1
        slug:
          description: URL slug of the link.
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          description: Meeting types offered on this link.
          type: array
          items:
            type: string
            format: uuid
        bookingUrl:
          description: Public URL a guest uses to book this link.
          examples:
          - https://example.com
          type: string
    MeetingLocationHost:
      title: MeetingLocationHost
      type: string
      enum:
      - Host
      - AssigneeIfExists
      - BookerIfExists
    OwnershipHost:
      title: OwnershipHost
      oneOf:
      - $ref: '#/components/schemas/OwnershipHost_AssigneeFromDistribution'
      - $ref: '#/components/schemas/OwnershipHost_AssigneeFromOwnershipRule'
      - $ref: '#/components/schemas/OwnershipHost_AssigneeFromSimpleRule'
      - $ref: '#/components/schemas/OwnershipHost_BookerIfExists'
      discriminator:
        propertyName: type
        mapping:
          AssigneeFromDistribution: '#/components/schemas/OwnershipHost_AssigneeFromDistribution'
          AssigneeFromOwnershipRule: '#/components/schemas/OwnershipHost_AssigneeFromOwnershipRule'
          AssigneeFromSimpleRule: '#/components/schemas/OwnershipHost_AssigneeFromSimpleRule'
          BookerIfExists: '#/components/schemas/OwnershipHost_BookerIfExists'
    MeetingLocation_WebexLink:
      title: MeetingLocation_WebexLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: WebexLink
    DistributionAssignmentTypeConfig_Record:
      title: DistributionAssignmentTypeConfig_Record
      type: object
      required:
      - handling
      - type
      properties:
        handling:
          $ref: '#/components/schemas/RecordHandling'
        type:
          type: string
          const: Record
    ReminderTriggerKind:
      title: ReminderTriggerKind
      type: string
      enum:
      - BeforeMeeting
      - BeforeMeetingNoResponse
      - MeetingBooked
      - AfterMeeting
    MeetingLimitReset_Daily:
      title: MeetingLimitReset_Daily
      type: object
      required:
      - every
      - startsOn
      - resetLocalTime
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetLocalTime:
          type: string
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    OwnershipHost_AssigneeFromDistribution:
      title: OwnershipHost_AssigneeFromDistribution
      type: object
      required:
      - distributionId
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: AssigneeFromDistribution
    DistributedAssignmentLimitReset_Weekly:
      title: DistributedAssignmentLimitReset_Weekly
      type: object
      required:
      - timeZone
      - dayOfWeek
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        dayOfWeek:
          type: integer
          format: int32
          minimum: 1
          maximum: 7
        type:
          type: string
          const: Weekly
    DistributedAssignmentLimitReset_Monthly:
      title: DistributedAssignmentLimitReset_Monthly
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    ReassignmentType:
      title: ReassignmentType
      type: string
      enum:
      - SameUser
      - AnyTeamMember
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
      properties: {}
    SharedWith_Teams:
      title: SharedWith_Teams
      type: object
      required:
      - type
      properties:
        teamIds:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        type:
          type: string
          const: Teams
    MeetingLocation_GongLink:
      title: MeetingLocation_GongLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: GongLink
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    RoundRobinLinkUpdate:
      title: RoundRobinLinkUpdate
      type: object
      properties:
        name:
          type: string
        slug:
          description: New URL slug; must be unique within the workspace.
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          description: Replacement set of meeting types offered on this link.
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        distributionIds:
          description: Replacement distributions; the first listed is used as the round-robin host.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        sharedWith:
          $ref: '#/components/schemas/SharedWith'
    Reminder:
      title: Reminder
      type: object
      required:
      - id
      - workspaceId
      - channel
      - trigger
      - name
      - body
      properties:
        id:
          description: Server-assigned reminder identifier.
          type: string
          pattern: '[^\s\\/]+'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
          description: Workspace the reminder lives in; required to update or delete it.
        channel:
          $ref: '#/components/schemas/ReminderChannel'
        trigger:
          $ref: '#/components/schemas/ReminderTrigger'
        name:
          description: Internal reminder name; not shown to recipients.
          type: string
        title:
          description: Optional subject line (used by the email channel).
          type: string
        body:
          description: Reminder message content delivered to the recipient.
          type: string
        sendTo:
          $ref: '#/components/schemas/ReminderSendTo'
        sendFrom:
          $ref: '#/components/schemas/ReminderSendFrom'
        smsSendFrom:
          $ref: '#/components/schemas/ReminderSmsSendFrom'
    DistributionUserState_Removed:
      title: DistributionUserState_Removed
      description: User was removed from the team entirely — historical record, no assignments will go
        to this user.
      type: object
      required:
      - userId
      - total
      - removedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        removedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Removed
    DistributedAssignmentLimitReset_HourlyRolling:
      title: DistributedAssignmentLimitReset_HourlyRolling
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: HourlyRolling
    DistributionUserState_Capped:
      title: DistributionUserState_Capped
[...]
