openapi: 3.0.0
info:
  title: Chili Piper — User Copy Actions
  description: Endpoints used by the User Copy GPT to read and replicate workspace/team memberships.
  version: 0.1.0
servers:
  - url: https://api.chilipiper.com
    description: Chili Piper API

security:
  - bearerAuth: []

paths:
  /users/search:
    get:
      operationId: findUsers
      summary: Search for users by email or name
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Matching users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSummary'

  /workspaces:
    get:
      operationId: listWorkspaces
      summary: List all workspaces
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 100
      responses:
        "200":
          description: Workspaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'

  /workspaces/{workspaceId}/users:
    get:
      operationId: listWorkspaceUsers
      summary: List users in a workspace
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Users in workspace
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSummary'
    post:
      operationId: addWorkspaceUsers
      summary: Add users to a workspace
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userIds]
              properties:
                userIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Users added

  /teams/list:
    post:
      operationId: listTeams
      summary: List all teams
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  default: 0
                pageSize:
                  type: integer
                  default: 100
      responses:
        "200":
          description: Teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'

  /teams/{teamId}/users:
    post:
      operationId: addTeamUsers
      summary: Add users to a team
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userIds]
              properties:
                userIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Users added

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    UserSummary:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string

    Workspace:
      type: object
      properties:
        workspaceId:
          type: string
        name:
          type: string

    Team:
      type: object
      properties:
        teamId:
          type: string
        name:
          type: string
        workspaceId:
          type: string
        members:
          type: array
          items:
            type: string
          description: Array of user ID strings
