# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — Handoff Router Configuration Actions
  version: 1.494.0
  description: GPT Actions for the handoff-router-configuration GPT — a subset of the Chili Piper Edge
    API. Authenticate with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: 'READ-ONLY. Read all workspaces. List the workspaces that partition the org and their
        workspaceIds. Params: page, pageSize.'
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
      x-mcp-tool: workspace-list
  /v1/org/handoff/routers/handoff/list:
    get:
      tags:
      - handoff
      summary: Lists all handoff routers
      description: 'READ-ONLY. Lists all handoff routers. Browse Handoff routers to find routerIds and
        what each routes. Params: workspaceId.'
      operationId: handoffRouterList
      parameters:
      - name: workspaceId
        in: query
        description: Filter handoff routers by workspace ID. Omit to list across all of the tenant's workspaces.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HandoffRouter'
        '400':
          description: 'Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - handoff.read
      x-mcp-tool: handoff-router-list
  /v1/org/handoff/routers/handoff/{routerId}:
    get:
      tags:
      - handoff
      summary: Get handoff router
      description: 'READ-ONLY. Get handoff router. Fetch one Handoff router''s identity and routing summary.
        Params: routerId (required).'
      operationId: handoffRouterGet
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandoffRouter'
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - handoff.read
      x-mcp-tool: handoff-router-get
    put:
      tags:
      - handoff
      summary: Update handoff router
      description: 'MUTATING — IDEMPOTENT. Update handoff router. Edit a Handoff router and republish
        it live. Params: routerId (required). Takes a JSON body.'
      operationId: handoffRouterUpdate
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HandoffRouterUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandoffRouter'
        '400':
          description: 'Invalid value for: path parameter routerId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - handoff.modify
      x-mcp-tool: handoff-router-update
    delete:
      tags:
      - handoff
      summary: Remove handoff router
      description: 'MUTATING — DESTRUCTIVE. Remove handoff router. Permanently delete a Handoff router.
        Params: routerId (required).'
      operationId: handoffRouterDelete
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - handoff.remove
      x-mcp-tool: handoff-router-delete
  /v1/org/handoff/routers/handoff:
    post:
      tags:
      - handoff
      summary: Create handoff router
      description: MUTATING. Create handoff router. Create a Handoff router and publish it live in one
        step. Takes a JSON body.
      operationId: handoffRouterCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HandoffRouterCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandoffRouter'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - handoff.create
      x-mcp-tool: handoff-router-create
  /v1/org/rule/list:
    get:
      tags:
      - rule
      summary: List rules
      description: 'READ-ONLY. List rules. Browse the org''s reusable routing rules to find ruleIds and
        revisions. Params: page, pageSize, workspaceId, name.'
      operationId: ruleList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
      - name: pageSize
        in: query
        description: Number of items per page.
        required: false
        schema:
          default: 200
          type: integer
          format: int64
          exclusiveMinimum: 0
      - name: workspaceId
        in: query
        description: Filter rules by workspace ID.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: name
        in: query
        description: Filter rules by name.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_RuleView'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize,
            Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - rule.read
      x-mcp-tool: rule-list
  /v2/org/distribution/list:
    put:
      tags:
      - distribution
      summary: List all distributions (PUT)
      description: READ-ONLY. List all distributions (PUT). Browse published distributions in the org
        (preferred list). Takes a JSON body.
      operationId: distributionListPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Distribution'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distribution.read
      x-mcp-tool: distribution-list-put
  /v1/org/meeting-types/list:
    get:
      tags:
      - meeting-type
      summary: List meeting types
      description: 'READ-ONLY. List meeting types. Browse the tenant''s reusable team meeting types. Params:
        workspaceId.'
      operationId: meetingTypeList
      parameters:
      - name: workspaceId
        in: query
        description: Filter meeting types by workspace ID. Omit to list across all of the tenant's workspaces.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingType'
        '400':
          description: 'Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting-type.read
      x-mcp-tool: meeting-type-list
  /v1/org/user/find:
    get:
      tags:
      - user
      summary: Finds user
      description: 'READ-ONLY. Finds user. Resolve an email or name to a userId. Params: query (required),
        page, pageSize.'
      operationId: userFind
      parameters:
      - name: query
        in: query
        description: Search by email or name
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_User'
        '400':
          description: 'Invalid value for: query parameter query, Invalid value for: query parameter page,
            Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
      x-mcp-tool: user-find
  /v1/org/campaign/list:
    get:
      tags:
      - campaign
      summary: List Salesforce campaigns
      description: 'READ-ONLY. List Salesforce campaigns. List Salesforce campaigns to find the campaignId
        for a router''s Add-to-Campaign action. Params: isActive, page, pageSize.'
      operationId: campaignList
      parameters:
      - name: isActive
        in: query
        description: Filter to active (true) or inactive (false) campaigns; omit for all.
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesforceCampaignPage'
        '400':
          description: 'Invalid value for: query parameter isActive, Invalid value for: query parameter
            page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - tenant.read
      x-mcp-tool: campaign-list
  /v1/org/campaign/search:
    get:
      tags:
      - campaign
      summary: Search Salesforce campaigns
      description: 'READ-ONLY. Search Salesforce campaigns. Search Salesforce campaigns by text to find
        the campaignId for a router''s Add-to-Campaign action. Params: searchText (required), isActive,
        page, pageSize.'
      operationId: campaignSearch
      parameters:
      - name: searchText
        in: query
        description: Text to match against campaign names; at least 2 characters.
        required: true
        schema:
          type: string
      - name: isActive
        in: query
        description: Filter to active (true) or inactive (false) campaigns; omit for all.
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesforceCampaignPage'
        '400':
          description: 'Invalid value for: query parameter searchText, Invalid value for: query parameter
            isActive, Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - tenant.read
      x-mcp-tool: campaign-search
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    EngagementOwner:
      title: EngagementOwner
      oneOf:
      - $ref: '#/components/schemas/EngagementOwner_Assignee'
      - $ref: '#/components/schemas/EngagementOwner_Booker'
      discriminator:
        propertyName: type
        mapping:
          Assignee: '#/components/schemas/EngagementOwner_Assignee'
          Booker: '#/components/schemas/EngagementOwner_Booker'
    DistributionAssignmentTypeConfig:
      title: DistributionAssignmentTypeConfig
      oneOf:
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
      discriminator:
        propertyName: type
        mapping:
          Conversation: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
          Meeting: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
          Record: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
    HubspotUser:
      title: HubspotUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked HubSpot user.
        id:
          description: Identifier of the linked HubSpot user.
          type: integer
          format: int64
    CrmUpdateLeadField:
      title: CrmUpdateLeadField
      type: object
      required:
      - field
      - value
      properties:
        field:
          description: Salesforce lead field to write.
          type: string
          pattern: '[^\s\\/]+'
        value:
          $ref: '#/components/schemas/UpdateFieldValue'
    HubspotNoMatchBehaviour_DoNothing:
      title: HubspotNoMatchBehaviour_DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    Levels:
      title: Levels
      type: object
      required:
      - current
      - nextAssignmentDelta
      - total
      properties:
        current:
          description: Earned score plus prolonged-reservation projection, before manual calibration.
          type: number
        nextAssignmentDelta:
          description: Score increment that will be added if this user receives the next assignment. Forward-looking;
            not included in `current` or `total`.
          type: number
        calibrationDelta:
          description: Manual-calibration adjustment applied on top of `current`. Absent when no calibration
            is in effect. When present, `total = current + calibrationDelta`.
          type: number
        total:
          description: Current score with manual calibration applied.
          type: number
    Prioritization:
      title: Prioritization
      type: object
      properties:
        queue:
          description: Ordered list of active user IDs in the order they will receive the next assignments.
            This is the authoritative assignment-ordering surface; level fields are informational.
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        onVacation:
          description: Users currently on vacation and skipped by the queue until they return.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        reachedCap:
          description: Users who have reached their assignment cap for the current period and are skipped
            until the cap resets.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
    RuleView:
      title: RuleView
      oneOf:
      - $ref: '#/components/schemas/RuleView_AssignmentTableRule'
      - $ref: '#/components/schemas/RuleView_NonOwnershipRule'
      - $ref: '#/components/schemas/RuleView_OwnershipRule'
      discriminator:
        propertyName: type
        mapping:
          AssignmentTableRule: '#/components/schemas/RuleView_AssignmentTableRule'
          NonOwnershipRule: '#/components/schemas/RuleView_NonOwnershipRule'
          OwnershipRule: '#/components/schemas/RuleView_OwnershipRule'
    SingleOperator:
      title: SingleOperator
      type: string
      enum:
      - notEmpty
      - empty
    DistributionAssignmentType:
      title: DistributionAssignmentType
      type: string
      enum:
      - Record
      - Meeting
      - Conversation
    RouteAssignment_Distribution:
      title: RouteAssignment_Distribution
      type: object
      required:
      - distributionId
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: Distribution
    NonOwnershipConditionsRequest_ValueCondition:
      title: NonOwnershipConditionsRequest_ValueCondition
      type: object
      required:
      - conditionId
      - lhsReference
      - operator
      - rhsReference
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        lhsReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        rhsReference:
          $ref: '#/components/schemas/DataReference'
        type:
          type: string
          const: ValueCondition
    RuleView_AssignmentTableRule:
      title: RuleView_AssignmentTableRule
      type: object
      required:
      - id
      - workspaceId
      - name
      - assignmentTableId
      - conditions
      - ruleBuilderVersion
      - metadata
      - type
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          description: Human-readable name of the rule.
          type: string
        assignmentTableId:
          $ref: '#/components/schemas/AssignmentTableId'
        conditions:
          $ref: '#/components/schemas/NonOwnershipConditionsRequest'
        ruleBuilderVersion:
          $ref: '#/components/schemas/RuleBuilderVersion'
        product:
          $ref: '#/components/schemas/Option_ChiliProduct'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
        type:
          type: string
          const: AssignmentTableRule
    RoutingOutcome_Other:
      title: RoutingOutcome_Other
      type: object
      required:
      - kind
      - type
      properties:
        kind:
          type: string
        type:
          type: string
          const: Other
    WorkInterval:
      title: WorkInterval
      type: object
      required:
      - start
      - end
      properties:
        start:
          description: Start of the working interval as a local time (HH:mm), in the schedule timezone.
          type: string
        end:
          description: End of the working interval as a local time (HH:mm); must be after start.
          type: string
    RouterRoutingSummary:
      title: RouterRoutingSummary
      type: object
      required:
      - known
      - representable
      properties:
        known:
          description: False when built without the full routing tree; then rows/catchAll are empty.
          type: boolean
        representable:
          description: True only when the routing is exactly what Edge's create/update would produce (safe
            to replace).
          type: boolean
        rows:
          description: The rule chain walked in order.
          type: array
          items:
            $ref: '#/components/schemas/RoutingRowSummary'
        catchAll:
          $ref: '#/components/schemas/RoutingCatchAllSummary'
    HubspotUpdateContactFieldTarget:
      title: HubspotUpdateContactFieldTarget
      type: string
      enum:
      - Contact
      - Company
      - Deal
      - Ticket
    EngagementRelatedTo_Ticket:
      title: EngagementRelatedTo_Ticket
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Ticket
    MeetingLocation_AskTheGuest:
      title: MeetingLocation_AskTheGuest
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        type:
          type: string
          const: AskTheGuest
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    RecordHandling_Strict:
      title: RecordHandling_Strict
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Strict
    DataSource:
      title: DataSource
      type: string
      enum:
      - SF
      - DF
      - CP
      - HS
      - MK
      - AT
    EventRelatedTo_NoRelationNeeded:
      title: EventRelatedTo_NoRelationNeeded
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NoRelationNeeded
    DistributedAssignmentLimit:
      title: DistributedAssignmentLimit
      type: object
      required:
      - resetPeriodicity
      properties:
        userCaps:
          description: Per-user assignment caps.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/DistributedAssignmentLimitReset'
    UserCalibration:
      title: UserCalibration
      type: object
      required:
      - userId
      - calibration
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        calibration:
          description: Manual offset added to this user's computed score to bias their position in the
            assignment queue (signed).
          type: integer
          format: int32
    Evaluable_RelativeQuarter:
      title: Evaluable_RelativeQuarter
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
          description: Signed number of periods to shift from the current one; 0 = current period, negative
            = past, positive = future.
          type: integer
          format: int32
        length:
          description: How many consecutive periods the window spans.
          type: integer
          format: int32
          exclusiveMinimum: 0
        timeZone:
          $ref: '#/components/schemas/Option_String'
        type:
          type: string
          const: RelativeQuarter
    HubspotWhenMatchBehaviour:
      title: HubspotWhenMatchBehaviour
      oneOf:
      - $ref: '#/components/schemas/HubspotWhenMatchBehaviour_DoNothing'
      - $ref: '#/components/schemas/HubspotWhenMatchBehaviour_UpdateContact'
      discriminator:
        propertyName: type
        mapping:
          DoNothing: '#/components/schemas/HubspotWhenMatchBehaviour_DoNothing'
          UpdateContact: '#/components/schemas/HubspotWhenMatchBehaviour_UpdateContact'
    EngagementOwner_Booker:
      title: EngagementOwner_Booker
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Booker
    AssignmentTableId:
      title: AssignmentTableId
      type: string
      pattern: '[^\s\\/]+'
    EngagementOwner_Assignee:
      title: EngagementOwner_Assignee
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Assignee
    UserStatistics:
      title: UserStatistics
      type: object
      required:
      - assigned
      - cancelled
      - noShow
      - reassignedToThis
      - reassignedFromThis
      properties:
        assigned:
          description: Number of assignments booked directly to this user in the current period.
          type: integer
          format: int32
        cancelled:
          description: Number of assignments that were later cancelled.
          type: integer
          format: int32
        noShow:
          description: Number of assignments where the invitee did not show up.
          type: integer
          format: int32
        reassignedToThis:
          description: Number of assignments that were reassigned to this user from another.
          type: integer
          format: int32
        reassignedFromThis:
          description: Number of assignments originally made to this user that were reassigned away.
          type: integer
          format: int32
    RelatedChildObjectRef:
      title: RelatedChildObjectRef
      type: string
      pattern: '[a-zA-Z0-9_]+__rc'
    EventRelatedTo_RelationDisabled:
      title: EventRelatedTo_RelationDisabled
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: RelationDisabled
    MeetingHandling_Strict:
      title: MeetingHandling_Strict
      type: object
      required:
      - hideAssignee
      - type
      properties:
        hideAssignee:
          type: boolean
        type:
          type: string
          const: Strict
    UserPersonalDetails:
      title: UserPersonalDetails
      type: object
      required:
      - email
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: The user's email address.
        firstName:
          description: The user's first name.
          type: string
        lastName:
          description: The user's last name.
          type: string
        jobTitle:
          description: The user's job title.
          type: string
        conferenceDetails:
          description: Free-text conferencing details shown on the user's meetings.
          type: string
        location:
          description: The user's location.
          type: string
        phoneNumber:
          description: The user's phone number.
          type: string
        imageUrl:
          description: URL of the user's profile picture.
          type: string
        customCompanyLogoUrl:
          description: URL of a custom company logo shown on the user's booking pages.
          type: string
    DistributedAssignmentLimitReset:
      title: DistributedAssignmentLimitReset
      oneOf:
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
          HourlyRolling: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
          Monthly: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
          Weekly: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
    HandoffRouteRow:
      title: HandoffRouteRow
      type: object
      required:
      - outcome
      properties:
        ruleId:
          description: Rule that gates this row; required for every row (use catchAll for always-match).
          type: string
          pattern: '[^\s\\/]+'
        outcome:
          $ref: '#/components/schemas/HandoffRouteOutcome'
    UserLicenses:
      title: UserLicenses
      type: object
      required:
      - chiliCalOrg
      - handoff
      properties:
        distro:
          description: Whether the user holds a Distro (lead-routing) license.
          type: boolean
        chiliCalOrg:
          description: Whether the user holds a ChiliCal organization license.
          type: boolean
        concierge:
          description: Whether the user holds a Concierge license.
          type: boolean
        conciergeLive:
          description: Whether the user holds a Concierge Live license.
          type: boolean
        chat:
          description: Whether the user holds a Chat license.
          type: boolean
        handoff:
          description: Whether the user holds a Handoff license.
          type: boolean
        tier:
          $ref: '#/components/schemas/Tier'
    DistributionUserState_NoLicense:
      title: DistributionUserState_NoLicense
      description: User is still on the team but has lost their license, so they cannot receive assignments.
        Re-licensing restores them.
      type: object
      required:
      - userId
      - total
      - licenseRemovedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        licenseRemovedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: NoLicense
    CrmAction_HubspotUpdateFields:
      title: CrmAction_HubspotUpdateFields
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/HubspotUpdateContactField'
        type:
          type: string
          const: HubspotUpdateFields
    CrmAction_HubspotCreateEngagement:
      title: CrmAction_HubspotCreateEngagement
      type: object
      required:
      - owner
      - meetingCancellationBehavior
      - type
      properties:
        relatedTo:
          $ref: '#/components/schemas/EngagementRelatedTo'
        owner:
          $ref: '#/components/schemas/EngagementOwner'
        meetingCancellationBehavior:
          $ref: '#/components/schemas/MeetingCancellationBehavior'
        type:
          type: string
          const: HubspotCreateEngagement
    HandoffCrmAction_HubspotCreateEngagement:
      title: HandoffCrmAction_HubspotCreateEngagement
      type: object
      required:
      - owner
      - meetingCancellationBehavior
      - type
      properties:
        relatedTo:
          $ref: '#/components/schemas/EngagementRelatedTo'
        owner:
          $ref: '#/components/schemas/EngagementOwner'
        meetingCancellationBehavior:
          $ref: '#/components/schemas/MeetingCancellationBehavior'
        type:
          type: string
          const: HubspotCreateEngagement
    UpdateFieldValue_StaticDate:
      title: UpdateFieldValue_StaticDate
      type: object
      required:
      - value
      - type
      properties:
        value:
          type: string
          format: date-time
        type:
          type: string
          const: StaticDate
    HandoffRouterCreate:
      title: HandoffRouterCreate
      type: object
      required:
      - workspaceId
      - name
      - routing
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          description: Customer-facing router name; the slug is derived from it on publish.
          type: string
        routing:
          $ref: '#/components/schemas/HandoffRouterRouting'
    MeetingCancellationBehavior_DoNothing:
      title: MeetingCancellationBehavior_DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    Option_ChiliProduct:
      $ref: '#/components/schemas/ChiliProduct'
    HandoffCrmAction_HubspotUpdateFields:
      title: HandoffCrmAction_HubspotUpdateFields
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/HubspotUpdateContactField'
        type:
          type: string
          const: HubspotUpdateFields
    CrmUpdateContactFieldTarget:
      title: CrmUpdateContactFieldTarget
      type: string
      enum:
      - Contact
      - Account
      - Opportunity
      - Case
    HandoffCrmAction_SalesforceUpdateOwnership:
      title: HandoffCrmAction_SalesforceUpdateOwnership
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/SalesforceContactOwnershipRow'
        lead:
          type: array
          items:
            $ref: '#/components/schemas/SalesforceLeadOwnershipRow'
        type:
          type: string
          const: SalesforceUpdateOwnership
    WorkingHours:
      title: WorkingHours
      type: object
      properties:
        monday:
          description: Working intervals on Monday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        tuesday:
          description: Working intervals on Tuesday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        wednesday:
          description: Working intervals on Wednesday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        thursday:
          description: Working intervals on Thursday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        friday:
          description: Working intervals on Friday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        saturday:
          description: Working intervals on Saturday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        sunday:
          description: Working intervals on Sunday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
    CrmAction_HubspotUpsertRecord:
      title: CrmAction_HubspotUpsertRecord
      type: object
      required:
      - settings
      - type
      properties:
        settings:
          $ref: '#/components/schemas/HubspotUpsertRecordSettings'
        type:
          type: string
          const: HubspotUpsertRecord
    DistributionId:
      title: DistributionId
      examples:
      - 7f8a1b2c-3d4e-4f5a-8b9c-0d1e2f3a4b5c
      type: string
      pattern: '[^\s\\/]+'
    DataField:
      title: DataField
      type: string
      pattern: '[^\s\\/]+'
    HandoffCrmAction_ConvertLead:
      title: HandoffCrmAction_ConvertLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: ConvertLead
    SalesforceLeadOwnershipRow:
      title: SalesforceLeadOwnershipRow
      type: object
      required:
      - field
      properties:
        field:
          description: Salesforce lead field that stores the owner.
          type: string
          pattern: '[^\s\\/]+'
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    Option_OwnershipReference:
      $ref: '#/components/schemas/OwnershipReference'
    NoMatchBehaviour_AlwaysCreateLead:
      title: NoMatchBehaviour_AlwaysCreateLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: AlwaysCreateLead
    MeetingLimit:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitSet'
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimit_MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
    UpdateFieldValue:
      title: UpdateFieldValue
      oneOf:
      - $ref: '#/components/schemas/UpdateFieldValue_RelativeDay'
      - $ref: '#/components/schemas/UpdateFieldValue_RelativeMonth'
      - $ref: '#/components/schemas/UpdateFieldValue_RelativeQuarter'
      - $ref: '#/components/schemas/UpdateFieldValue_RelativeWeek'
      - $ref: '#/components/schemas/UpdateFieldValue_RelativeYear'
      - $ref: '#/components/schemas/UpdateFieldValue_StaticDate'
      - $ref: '#/components/schemas/UpdateFieldValue_StaticValue'
      discriminator:
        propertyName: type
        mapping:
          RelativeDay: '#/components/schemas/UpdateFieldValue_RelativeDay'
          RelativeMonth: '#/components/schemas/UpdateFieldValue_RelativeMonth'
          RelativeQuarter: '#/components/schemas/UpdateFieldValue_RelativeQuarter'
          RelativeWeek: '#/components/schemas/UpdateFieldValue_RelativeWeek'
          RelativeYear: '#/components/schemas/UpdateFieldValue_RelativeYear'
          StaticDate: '#/components/schemas/UpdateFieldValue_StaticDate'
          StaticValue: '#/components/schemas/UpdateFieldValue_StaticValue'
    Operator:
      title: Operator
      type: string
      enum:
      - <
      - '>'
      - <=
      - '>='
      - startsWithAnyOf
      - endsWithAnyOf
      - isAnyOf
      - isNotAnyOf
      - equal
      - notEqual
      - contains
      - doesNotContain
      - containsAnyOf
      - containsNoneOf
      - startsWith
      - endsWith
    WhenMatchBehaviour_UpdateLeadOnly:
      title: WhenMatchBehaviour_UpdateLeadOnly
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: UpdateLeadOnly
    MeetingLocation_ZoomOneTimeLink:
      title: MeetingLocation_ZoomOneTimeLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: ZoomOneTimeLink
    MeetingHandling:
      title: MeetingHandling
      oneOf:
      - $ref: '#/components/schemas/MeetingHandling_Flexible'
      - $ref: '#/components/schemas/MeetingHandling_Strict'
      discriminator:
        propertyName: type
        mapping:
          Flexible: '#/components/schemas/MeetingHandling_Flexible'
          Strict: '#/components/schemas/MeetingHandling_Strict'
    CrmAction_SalesforceCreateEvent:
      title: CrmAction_SalesforceCreateEvent
      type: object
      required:
      - meetingCancellationBehavior
      - guestsBehavior
      - type
      properties:
        relatedTo:
          $ref: '#/components/schemas/EventRelatedTo'
        meetingCancellationBehavior:
          $ref: '#/components/schemas/MeetingCancellationBehavior'
        guestsBehavior:
          $ref: '#/components/schemas/GuestsBehavior'
        type:
          type: string
          const: SalesforceCreateEvent
    CrmAction_SalesforceUpdateFields:
      title: CrmAction_SalesforceUpdateFields
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateContactField'
        lead:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateLeadField'
        type:
          type: string
          const: SalesforceUpdateFields
    MeetingLimit_MeetingLimitUnset:
      title: MeetingLimit_MeetingLimitUnset
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: MeetingLimitUnset
    LogicalOperator:
      title: LogicalOperator
      type: string
      enum:
      - and
      - or
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
    UserLimit:
      title: UserLimit
      type: object
      required:
      - userId
      - limit
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        limit:
          description: Maximum assignments this user may receive per reset period (non-negative).
          type: integer
          format: int32
          minimum: 0
    SharedWith:
      title: SharedWith
      oneOf:
      - $ref: '#/components/schemas/SharedWith_Teams'
      - $ref: '#/components/schemas/SharedWith_Workspace'
      discriminator:
        propertyName: type
        mapping:
          Teams: '#/components/schemas/SharedWith_Teams'
          Workspace: '#/components/schemas/SharedWith_Workspace'
    NonOwnershipConditionsRequest_SingleParameterCondition:
      title: NonOwnershipConditionsRequest_SingleParameterCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/SingleOperator'
        type:
          type: string
          const: SingleParameterCondition
    EventRelatedTo_ExplicitObject:
      title: EventRelatedTo_ExplicitObject
      type: object
      required:
      - id
      - type
      properties:
        id:
          $ref: '#/components/schemas/GenericSalesforceId'
        type:
          type: string
          const: ExplicitObject
    PaginatedResult_Distribution:
      title: PaginatedResult_Distribution
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    DistributionState:
      title: DistributionState
      type: object
      properties:
        userStates:
          description: Per-user state and statistics for every user in the distribution.
          type: array
          items:
            $ref: '#/components/schemas/DistributionUserState'
        lastReset:
          description: When the distribution's counters were last reset; absent if never reset.
          type: string
          format: date-time
    MeetingLocation_CalendarPlatformConference:
      title: MeetingLocation_CalendarPlatformConference
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        type:
          type: string
          const: CalendarPlatformConference
    WhenMatchBehaviour:
      title: WhenMatchBehaviour
      oneOf:
      - $ref: '#/components/schemas/WhenMatchBehaviour_DoNothing'
      - $ref: '#/components/schemas/WhenMatchBehaviour_UpdateContactOrLead'
      - $ref: '#/components/schemas/WhenMatchBehaviour_UpdateLeadOnly'
      discriminator:
        propertyName: type
        mapping:
          DoNothing: '#/components/schemas/WhenMatchBehaviour_DoNothing'
          UpdateContactOrLead: '#/components/schemas/WhenMatchBehaviour_UpdateContactOrLead'
          UpdateLeadOnly: '#/components/schemas/WhenMatchBehaviour_UpdateLeadOnly'
    HubspotNoMatchBehaviour_CreateContactIfCompanyExists:
      title: HubspotNoMatchBehaviour_CreateContactIfCompanyExists
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateContactIfCompanyExists
    DistributedAssignmentLimitReset_Daily:
      title: DistributedAssignmentLimitReset_Daily
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    Option_TeamId:
      $ref: '#/components/schemas/TeamId'
    MeetingLocation_DefinedInMeetingType:
      title: MeetingLocation_DefinedInMeetingType
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
        value:
          type: string
          minLength: 1
        type:
          type: string
          const: DefinedInMeetingType
    ChiliProduct:
      title: ChiliProduct
      type: string
      enum:
      - Chat
      - ChiliCal
      - Concierge
      - Distro
      - Handoff
    NonOwnershipConditionsRequest_EvaluableCondition:
      title: NonOwnershipConditionsRequest_EvaluableCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - evaluable
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        evaluable:
          $ref: '#/components/schemas/Evaluable'
        type:
          type: string
          const: EvaluableCondition
    CustomMatchedObjectRef:
      title: CustomMatchedObjectRef
      description: 'custom matched object ref - format: $id__$tpe


        available types: LeadToAccountMatchingConfigType,ContactToDuplicateContactMatchingConfigType,LeadToDuplicateContactMatchingConfigType,ProspectToContactMatchingConfigType,LeadToDuplicateLeadMatchingConfigType,ContactToDuplicateLeadMatchingConfigType,ProspectToLeadMatchingConfigType,LeadToRelatedLeadMatchingConfigType,LeadToOpportunityMatchingConfigType,ContactToOpportunityMatchingConfigType,LeadToCaseMatchingConfigType,ContactToCaseMatchingConfigType,RelatedChildConfigType'
      type: string
    ConditionId:
      title: ConditionId
      type: string
      pattern: '[^\s\\/]+'
    RoutingOutcome_Redirect:
      title: RoutingOutcome_Redirect
      type: object
      required:
      - type
      properties:
        url:
          examples:
          - https://example.com
          type: string
        type:
          type: string
          const: Redirect
    MeetingLimitReset_Weekly:
      title: MeetingLimitReset_Weekly
      type: object
      required:
      - every
      - startsOn
      - resetDayOfWeek
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDayOfWeek:
          examples:
          - MONDAY
          type: string
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Weekly
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
          description: Unique identifier of the workspace.
        name:
          description: Human-readable workspace name.
          type: string
        emoji:
          description: Optional emoji shown as the workspace's icon.
          type: string
        logo:
          description: Optional URL of the workspace's logo image.
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    Distribution:
      title: Distribution
      type: object
      required:
      - id
      - published
      - state
      - prioritization
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        published:
          $ref: '#/components/schemas/ConfigurationDTO'
        state:
          $ref: '#/components/schemas/DistributionState'
        prioritization:
          $ref: '#/components/schemas/Prioritization'
    MeetingLimitReset:
      title: MeetingLimitReset
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitReset_Daily'
      - $ref: '#/components/schemas/MeetingLimitReset_Monthly'
      - $ref: '#/components/schemas/MeetingLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/MeetingLimitReset_Daily'
          Monthly: '#/components/schemas/MeetingLimitReset_Monthly'
          Weekly: '#/components/schemas/MeetingLimitReset_Weekly'
    MeetingBookingLimitTimeframe:
      title: MeetingBookingLimitTimeframe
      type: string
      enum:
      - Hourly
      - Daily
      - Weekly
      - Monthly
      - Yearly
    CrmAction:
      title: CrmAction
      oneOf:
      - $ref: '#/components/schemas/CrmAction_AddToCampaign'
      - $ref: '#/components/schemas/CrmAction_ConvertLead'
      - $ref: '#/components/schemas/CrmAction_HubspotCreateEngagement'
      - $ref: '#/components/schemas/CrmAction_HubspotUpdateFields'
      - $ref: '#/components/schemas/CrmAction_HubspotUpdateOwnership'
      - $ref: '#/components/schemas/CrmAction_HubspotUpsertRecord'
      - $ref: '#/components/schemas/CrmAction_Notify'
      - $ref: '#/components/schemas/CrmAction_Other'
      - $ref: '#/components/schemas/CrmAction_SalesforceCreateEvent'
      - $ref: '#/components/schemas/CrmAction_SalesforceUpdateFields'
      - $ref: '#/components/schemas/CrmAction_SalesforceUpdateOwnership'
      - $ref: '#/components/schemas/CrmAction_SalesforceUpsertRecord'
      discriminator:
        propertyName: type
        mapping:
          AddToCampaign: '#/components/schemas/CrmAction_AddToCampaign'
          ConvertLead: '#/components/schemas/CrmAction_ConvertLead'
          HubspotCreateEngagement: '#/components/schemas/CrmAction_HubspotCreateEngagement'
          HubspotUpdateFields: '#/components/schemas/CrmAction_HubspotUpdateFields'
          HubspotUpdateOwnership: '#/components/schemas/CrmAction_HubspotUpdateOwnership'
          HubspotUpsertRecord: '#/components/schemas/CrmAction_HubspotUpsertRecord'
          Notify: '#/components/schemas/CrmAction_Notify'
          Other: '#/components/schemas/CrmAction_Other'
          SalesforceCreateEvent: '#/components/schemas/CrmAction_SalesforceCreateEvent'
          SalesforceUpdateFields: '#/components/schemas/CrmAction_SalesforceUpdateFields'
          SalesforceUpdateOwnership: '#/components/schemas/CrmAction_SalesforceUpdateOwnership'
          SalesforceUpsertRecord: '#/components/schemas/CrmAction_SalesforceUpsertRecord'
    CrmAction_ConvertLead:
      title: CrmAction_ConvertLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: ConvertLead
    RoutingOutcome:
      title: RoutingOutcome
      oneOf:
      - $ref: '#/components/schemas/RoutingOutcome_ContactOptions'
      - $ref: '#/components/schemas/RoutingOutcome_CrmAction'
      - $ref: '#/components/schemas/RoutingOutcome_Other'
      - $ref: '#/components/schemas/RoutingOutcome_OwnerAssign'
      - $ref: '#/components/schemas/RoutingOutcome_Redirect'
      - $ref: '#/components/schemas/RoutingOutcome_Schedule'
      discriminator:
        propertyName: type
        mapping:
          ContactOptions: '#/components/schemas/RoutingOutcome_ContactOptions'
          CrmAction: '#/components/schemas/RoutingOutcome_CrmAction'
          Other: '#/components/schemas/RoutingOutcome_Other'
          OwnerAssign: '#/components/schemas/RoutingOutcome_OwnerAssign'
          Redirect: '#/components/schemas/RoutingOutcome_Redirect'
          Schedule: '#/components/schemas/RoutingOutcome_Schedule'
    SalesforceCampaign:
      title: SalesforceCampaign
      type: object
      required:
      - id
      - name
      - active
      properties:
        id:
          $ref: '#/components/schemas/CampaignId'
        name:
          description: Campaign name.
          type: string
        status:
          description: Campaign status (e.g. Planned, In Progress, Completed, Aborted), if set.
          type: string
        startDate:
          description: Campaign start date (ISO-8601, e.g. 2025-01-31), if set.
          type: string
          format: date
        endDate:
          description: Campaign end date (ISO-8601, e.g. 2025-01-31), if set.
          type: string
          format: date
        active:
          description: Whether the campaign is active in Salesforce.
          type: boolean
    HandoffCrmAction_SalesforceCreateEvent:
      title: HandoffCrmAction_SalesforceCreateEvent
      type: object
      required:
      - meetingCancellationBehavior
      - guestsBehavior
      - type
      properties:
        relatedTo:
          $ref: '#/components/schemas/EventRelatedTo'
        meetingCancellationBehavior:
          $ref: '#/components/schemas/MeetingCancellationBehavior'
        guestsBehavior:
          $ref: '#/components/schemas/GuestsBehavior'
        type:
          type: string
          const: SalesforceCreateEvent
    RoutingOutcome_CrmAction:
      title: RoutingOutcome_CrmAction
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CrmAction
    HandoffRouterRouting:
      title: HandoffRouterRouting
      type: object
      properties:
        routes:
          description: Ordered conditional rows; the first whose rule matches wins.
          type: array
          items:
            $ref: '#/components/schemas/HandoffRouteRow'
        catchAll:
          $ref: '#/components/schemas/HandoffRouteOutcome'
    DistributionUserState:
      title: DistributionUserState
      oneOf:
      - $ref: '#/components/schemas/DistributionUserState_Active'
      - $ref: '#/components/schemas/DistributionUserState_Capped'
      - $ref: '#/components/schemas/DistributionUserState_Disabled'
      - $ref: '#/components/schemas/DistributionUserState_NoLicense'
      - $ref: '#/components/schemas/DistributionUserState_Removed'
      discriminator:
        propertyName: type
        mapping:
          Active: '#/components/schemas/DistributionUserState_Active'
          Capped: '#/components/schemas/DistributionUserState_Capped'
          Disabled: '#/components/schemas/DistributionUserState_Disabled'
          NoLicense: '#/components/schemas/DistributionUserState_NoLicense'
          Removed: '#/components/schemas/DistributionUserState_Removed'
    DistributionAssignmentTypeConfig_Conversation:
      title: DistributionAssignmentTypeConfig_Conversation
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Conversation
    MeetingTypeStatus:
      title: MeetingTypeStatus
      type: string
      enum:
      - Active
      - Inactive
    GuestsBehavior_CreateEvents:
      title: GuestsBehavior_CreateEvents
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateEvents
    ConditionGroupId:
      title: ConditionGroupId
      type: string
      pattern: '[^\s\\/]+'
    MeetingHandling_Flexible:
      title: MeetingHandling_Flexible
      type: object
      required:
      - reassignmentType
      - allowPickingAssignee
      - type
      properties:
        reassignmentType:
          $ref: '#/components/schemas/ReassignmentType'
        allowPickingAssignee:
          type: boolean
        type:
          type: string
          const: Flexible
    RelatedDataObject:
      title: RelatedDataObject
      description: 'Related object path in slash-separated string format: <relation1>/<relation2>/.../topObject.
        The topObject is the last segment; relations precede it. Example: "Account/Lead" means Lead with
        Account as a relation. Each segment is a SimpleDataObject (NormalDataObject, MatchedObject, CustomMatchedObjectRef,
        or RelatedChildObjectRef).'
      type: string
    SearchOwnershipByDTO:
      title: SearchOwnershipByDTO
      default: CrmIdOrEmail
      type: string
      enum:
      - CrmIdOrEmail
      - SalesforceIdOrEmail
      - TeamMemberFullNames
    CrmAction_Notify:
      title: CrmAction_Notify
      type: object
      required:
      - type
      properties:
        slackChannel:
          type: string
        type:
          type: string
          const: Notify
    Option_String:
      title: Option_String
      type: string
    CrmUpdateContactField:
      title: CrmUpdateContactField
      type: object
      required:
      - object
      - field
      - value
      properties:
        object:
          $ref: '#/components/schemas/CrmUpdateContactFieldTarget'
        field:
          description: Salesforce field to write.
          type: string
          pattern: '[^\s\\/]+'
        value:
          $ref: '#/components/schemas/UpdateFieldValue'
    RecordHandling:
      title: RecordHandling
      oneOf:
      - $ref: '#/components/schemas/RecordHandling_Strict'
      - $ref: '#/components/schemas/RecordHandling_WorkingHours'
      discriminator:
        propertyName: type
        mapping:
          Strict: '#/components/schemas/RecordHandling_Strict'
          WorkingHours: '#/components/schemas/RecordHandling_WorkingHours'
    Evaluable_RelativeWeek:
      title: Evaluable_RelativeWeek
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
          description: Signed number of periods to shift from the current one; 0 = current period, negative
            = past, positive = future.
          type: integer
          format: int32
        length:
          description: How many consecutive periods the window spans.
          type: integer
          format: int32
          exclusiveMinimum: 0
        timeZone:
          $ref: '#/components/schemas/Option_String'
        type:
          type: string
          const: RelativeWeek
    ReminderTrigger:
      title: ReminderTrigger
      type: object
      required:
      - kind
      properties:
        kind:
          $ref: '#/components/schemas/ReminderTriggerKind'
        offset:
          description: Lead time before (or lag after) the meeting for timed kinds; absent for the MeetingBooked
            kind.
          type: string
    MeetingLocation_HostsDefaultConferenceDetails:
      title: MeetingLocation_HostsDefaultConferenceDetails
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: HostsDefaultConferenceDetails
    MeetingLocation_RingCentralLink:
      title: MeetingLocation_RingCentralLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: RingCentralLink
    SalesforceUser:
      title: SalesforceUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked Salesforce user.
        id:
          description: Identifier of the linked Salesforce user.
          type: string
          pattern: '[^\s\\/]+'
        name:
          description: Display name of the linked Salesforce user, when known.
          type: string
          minLength: 1
        active:
          description: Whether the linked Salesforce user is active, when known.
          type: boolean
    DistributionUserState_Active:
      title: DistributionUserState_Active
      description: User is active in the distribution and eligible for assignments. Carries the user's
        current level.
      type: object
      required:
      - userId
      - total
      - level
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        level:
          $ref: '#/components/schemas/Levels'
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Active
    RouteAssignment:
      title: RouteAssignment
      oneOf:
      - $ref: '#/components/schemas/RouteAssignment_Distribution'
      - $ref: '#/components/schemas/RouteAssignment_User'
      discriminator:
        propertyName: type
        mapping:
          Distribution: '#/components/schemas/RouteAssignment_Distribution'
          User: '#/components/schemas/RouteAssignment_User'
    RuleView_NonOwnershipRule:
      title: RuleView_NonOwnershipRule
      type: object
      required:
      - id
      - workspaceId
      - name
      - conditions
      - ruleBuilderVersion
      - metadata
      - type
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          description: Human-readable name of the rule.
          type: string
        conditions:
          $ref: '#/components/schemas/NonOwnershipConditionsRequest'
        ruleBuilderVersion:
          $ref: '#/components/schemas/RuleBuilderVersion'
        product:
          $ref: '#/components/schemas/Option_ChiliProduct'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
        type:
          type: string
          const: NonOwnershipRule
    HandoffRouterUpdate:
      title: HandoffRouterUpdate
      type: object
      properties:
        name:
          description: New router name; omit to keep the current one.
          type: string
        routing:
          $ref: '#/components/schemas/HandoffRouterRouting'
    EventRelatedTo_Opportunity:
      title: EventRelatedTo_Opportunity
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Opportunity
    MeetingBookingLimit:
      title: MeetingBookingLimit
      type: object
      required:
      - limitBy
      - timeframe
      - count
      properties:
        limitBy:
          $ref: '#/components/schemas/MeetingBookingLimitBy'
        timeframe:
          $ref: '#/components/schemas/MeetingBookingLimitTimeframe'
        count:
          description: Maximum bookings a single person (per the limitBy scope) may make within each timeframe
            window.
          type: integer
          format: int32
    SharedWith_Workspace:
      title: SharedWith_Workspace
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Workspace
    NormalDataObject:
      title: NormalDataObject
      description: Standard CRM object name, e.g. "Account", "Contact", "Lead", "Opportunity", "Case".
        Use for direct conditions on any Salesforce/CRM object. Do NOT use MatchedAccount/MatchedContact/etc.
        here — those are special matching-config references.
      type: string
    UserWeight:
      title: UserWeight
      type: object
      required:
      - userId
      - weight
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        weight:
          description: Relative assignment share for the user (0–10000, default 100); higher weight receives
            proportionally more assignments, 0 disables the user.
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
    HandoffRouterId:
      title: HandoffRouterId
      examples:
      - e1f2a3b4-c5d6-4e7f-b8a9-0b1c2d3e4f5a
      type: string
      pattern: '[^\s\\/]+'
    WhenMatchBehaviour_UpdateContactOrLead:
      title: WhenMatchBehaviour_UpdateContactOrLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: UpdateContactOrLead
    HubspotUpdateContactField:
      title: HubspotUpdateContactField
      type: object
      required:
      - object
      - field
      - value
      properties:
        object:
          $ref: '#/components/schemas/HubspotUpdateContactFieldTarget'
        field:
          description: HubSpot property to write.
          type: string
          pattern: '[^\s\\/]+'
        value:
          $ref: '#/components/schemas/UpdateFieldValue'
    MeetingLocation_GoToMeetingLink:
      title: MeetingLocation_GoToMeetingLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: GoToMeetingLink
    User:
      title: User
      type: object
      required:
      - id
      - name
      - email
      - isSuperAdmin
      - licenses
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        name:
          type: string
          minLength: 1
        email:
          $ref: '#/components/schemas/Email'
          description: User's email address.
        isSuperAdmin:
          description: Whether the user is a super administrator of the tenant.
          type: boolean
        managedWorkspaces:
          description: Workspaces the user administers.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        managedTeams:
          description: Teams the user administers.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        licenses:
          $ref: '#/components/schemas/UserLicenses'
        salesforce:
          $ref: '#/components/schemas/SalesforceUser'
        hubspot:
          $ref: '#/components/schemas/HubspotUser'
        slug:
          description: User's personal booking-page slug; absent if they have none.
          type: string
          pattern: '[-0-9a-z_]+'
        workspaces:
          description: All workspaces the user is a member of.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        personalWorkspaceId:
          description: The user's personal workspace, when they have one.
          type: string
          pattern: '[^\s\\/]+'
        personalDetails:
          $ref: '#/components/schemas/UserPersonalDetails'
        workingHours:
          $ref: '#/components/schemas/WorkingHours'
        timezone:
          description: The user's configured scheduling timezone (IANA id); absent when synced from their
            connected calendar. Populated by user-read only.
          examples:
          - America/New_York
          type: string
    DistributionAssignmentTypeConfig_Meeting:
      title: DistributionAssignmentTypeConfig_Meeting
      type: object
      required:
      - handling
      - limits
      - type
      properties:
        handling:
          $ref: '#/components/schemas/MeetingHandling'
        limits:
          $ref: '#/components/schemas/MeetingLimit'
        type:
          type: string
          const: Meeting
    RoutingCatchAllSummary:
      title: RoutingCatchAllSummary
      type: object
      required:
      - outcome
      properties:
        outcome:
          $ref: '#/components/schemas/RoutingOutcome'
    UpdateFieldValue_RelativeWeek:
      title: UpdateFieldValue_RelativeWeek
      type: object
      required:
      - length
      - offset
      - timeZone
      - type
      properties:
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        offset:
          type: integer
          format: int32
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: RelativeWeek
    EngagementRelatedTo_Company:
      title: EngagementRelatedTo_Company
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Company
    DistributionUserState_Disabled:
      title: DistributionUserState_Disabled
      description: User has been explicitly disabled in this distribution (weight set to 0). Still on
        the team but won't receive assignments until re-enabled.
      type: object
      required:
      - userId
      - total
      - disabledAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        disabledAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Disabled
    UpdateFieldValue_RelativeYear:
      title: UpdateFieldValue_RelativeYear
      type: object
      required:
      - length
      - offset
      - timeZone
      - type
      properties:
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        offset:
          type: integer
          format: int32
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: RelativeYear
    TeamRef:
      title: TeamRef
      type: object
      required:
      - id
      - revision
      properties:
        id:
          $ref: '#/components/schemas/TeamId'
        revision:
          type: integer
          format: int32
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    GuestsBehavior:
      title: GuestsBehavior
      oneOf:
      - $ref: '#/components/schemas/GuestsBehavior_CreateEvents'
      - $ref: '#/components/schemas/GuestsBehavior_DoNothing'
      discriminator:
        propertyName: type
        mapping:
          CreateEvents: '#/components/schemas/GuestsBehavior_CreateEvents'
          DoNothing: '#/components/schemas/GuestsBehavior_DoNothing'
    EngagementRelatedTo_Deal:
      title: EngagementRelatedTo_Deal
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Deal
    LeadOrContactSettings:
      title: LeadOrContactSettings
      type: object
      required:
      - noMatch
      - whenMatch
      properties:
        noMatch:
          $ref: '#/components/schemas/NoMatchBehaviour'
        whenMatch:
          $ref: '#/components/schemas/WhenMatchBehaviour'
    MeetingBookingLimitBy:
      title: MeetingBookingLimitBy
      type: string
      enum:
      - Email
      - Domain
    ReminderSendFrom:
      title: ReminderSendFrom
      type: string
      enum:
      - SendFromHost
      - SendFromBooker
      - SendFromNoReply
    NonOwnershipConditionsRequest:
      title: NonOwnershipConditionsRequest
      oneOf:
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_ConditionGroup'
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_EvaluableCondition'
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_ObjectExistsCondition'
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_SingleParameterCondition'
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_StaticValueCondition'
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_ValueCondition'
      discriminator:
        propertyName: type
        mapping:
          ConditionGroup: '#/components/schemas/NonOwnershipConditionsRequest_ConditionGroup'
          EvaluableCondition: '#/components/schemas/NonOwnershipConditionsRequest_EvaluableCondition'
          ObjectExistsCondition: '#/components/schemas/NonOwnershipConditionsRequest_ObjectExistsCondition'
          SingleParameterCondition: '#/components/schemas/NonOwnershipConditionsRequest_SingleParameterCondition'
          StaticValueCondition: '#/components/schemas/NonOwnershipConditionsRequest_StaticValueCondition'
          ValueCondition: '#/components/schemas/NonOwnershipConditionsRequest_ValueCondition'
    Evaluable_RelativeMonth:
      title: Evaluable_RelativeMonth
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
          description: Signed number of periods to shift from the current one; 0 = current period, negative
            = past, positive = future.
          type: integer
          format: int32
        length:
          description: How many consecutive periods the window spans.
          type: integer
          format: int32
          exclusiveMinimum: 0
        timeZone:
          $ref: '#/components/schemas/Option_String'
        type:
          type: string
          const: RelativeMonth
    OwnershipReference:
      title: OwnershipReference
      type: object
      required:
      - source
      - object
      - field
      properties:
        source:
          $ref: '#/components/schemas/DataSource'
        object:
          $ref: '#/components/schemas/DataObject'
        field:
          $ref: '#/components/schemas/DataField'
    CrmAction_HubspotUpdateOwnership:
      title: CrmAction_HubspotUpdateOwnership
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/HubspotContactOwnershipRow'
        type:
          type: string
          const: HubspotUpdateOwnership
    HandoffRouteOutcome_Schedule:
      title: HandoffRouteOutcome_Schedule
      type: object
      required:
      - assignment
      - meetingTypeId
      - type
      properties:
        assignment:
          $ref: '#/components/schemas/RouteAssignment'
        meetingTypeId:
          $ref: '#/components/schemas/MeetingTypeId'
        crmActions:
          type: array
          items:
            $ref: '#/components/schemas/HandoffCrmAction'
        type:
          type: string
          const: Schedule
    MeetingBuffers:
      title: MeetingBuffers
      type: object
      properties:
        before:
          description: Buffer reserved before the meeting to prevent back-to-back bookings.
          type: string
        after:
          description: Buffer reserved after the meeting to prevent back-to-back bookings.
          type: string
    RuleId:
      title: RuleId
      examples:
      - 3b4c5d6e-7f8a-4b9c-9d0e-1f2a3b4c5d6e
      type: string
      pattern: '[^\s\\/]+'
    ListRequest:
      title: ListRequest
      type: object
      properties:
        workspaceIds:
          description: Restrict results to these workspaces. Omit to search all accessible workspaces.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        page:
          description: Zero-based page index. Defaults to 0.
          type: integer
          format: int64
          minimum: 0
        pageSize:
          description: Number of distributions per page.
          type: integer
          format: int64
          exclusiveMinimum: 0
        name:
          description: Filter to distributions matching this name.
          type: string
        assignmentType:
          $ref: '#/components/schemas/DistributionAssignmentType'
    PaginatedResult_User:
      title: PaginatedResult_User
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    RuleView_OwnershipRule:
      title: RuleView_OwnershipRule
      type: object
      required:
      - id
      - workspaceId
      - name
      - conditions
      - ruleBuilderVersion
      - metadata
      - type
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        teamId:
          $ref: '#/components/schemas/Option_TeamId'
        name:
          description: Human-readable name of the rule.
          type: string
        conditions:
          $ref: '#/components/schemas/OwnershipConditionsRequest'
        ruleBuilderVersion:
          $ref: '#/components/schemas/RuleBuilderVersion'
        product:
          $ref: '#/components/schemas/Option_ChiliProduct'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
        type:
          type: string
          const: OwnershipRule
    DistributionAssignmentTypeConfig_Record:
      title: DistributionAssignmentTypeConfig_Record
      type: object
      required:
      - handling
      - type
      properties:
        handling:
          $ref: '#/components/schemas/RecordHandling'
        type:
          type: string
          const: Record
    MeetingLocationHost:
      title: MeetingLocationHost
      type: string
      enum:
      - Host
      - AssigneeIfExists
      - BookerIfExists
    MeetingLocation_WebexLink:
      title: MeetingLocation_WebexLink
      type: object
      required:
      - index
      - host
      - type
      properties:
        index:
          type: integer
          format: int32
        host:
          $ref: '#/components/schemas/MeetingLocationHost'
        type:
          type: string
          const: WebexLink
    ReminderTriggerKind:
      title: ReminderTriggerKind
      type: string
      enum:
      - BeforeMeeting
      - BeforeMeetingNoResponse
      - MeetingBooked
      - AfterMeeting
    MeetingLimitReset_Daily:
      title: MeetingLimitReset_Daily
      type: object
      required:
      - every
      - startsOn
      - resetLocalTime
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetLocalTime:
          type: string
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    HandoffCrmAction_SalesforceUpdateFields:
      title: HandoffCrmAction_SalesforceUpdateFields
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateContactField'
        lead:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateLeadField'
        type:
          type: string
          const: SalesforceUpdateFields
    OwnershipConditionsRequest_SingleParameterCondition:
      title: OwnershipConditionsRequest_SingleParameterCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/SingleOperator'
        type:
          type: string
          const: SingleParameterCondition
    DistributedAssignmentLimitReset_Weekly:
      title: DistributedAssignmentLimitReset_Weekly
      type: object
      required:
      - timeZone
      - dayOfWeek
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        dayOfWeek:
          type: integer
          format: int32
          minimum: 1
          maximum: 7
        type:
          type: string
          const: Weekly
    OwnershipConditionsRequest_StaticValueCondition:
      title: OwnershipConditionsRequest_StaticValueCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - value
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        value:
          $ref: '#/components/schemas/StaticValue'
        type:
          type: string
          const: StaticValueCondition
    CrmAction_AddToCampaign:
      title: CrmAction_AddToCampaign
      type: object
      required:
      - campaignId
      - memberStatus
      - type
      properties:
        campaignId:
          $ref: '#/components/schemas/CampaignId'
        memberStatus:
          type: string
          minLength: 1
        type:
          type: string
          const: AddToCampaign
    DistributedAssignmentLimitReset_Monthly:
      title: DistributedAssignmentLimitReset_Monthly
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    HubspotUpdateContactOwnershipTarget:
      title: HubspotUpdateContactOwnershipTarget
      type: string
      enum:
      - Contact
      - Company
    NonOwnershipConditionsRequest_ConditionGroup:
      title: NonOwnershipConditionsRequest_ConditionGroup
      type: object
      required:
      - id
      - operator
      - conditions
      - type
      properties:
        id:
          $ref: '#/components/schemas/ConditionGroupId'
        name:
          $ref: '#/components/schemas/Option_String'
        operator:
          $ref: '#/components/schemas/LogicalOperator'
        conditions:
          $ref: '#/components/schemas/NonEmptyList_NonOwnershipConditionsRequest'
        type:
          type: string
          const: ConditionGroup
    ReassignmentType:
      title: ReassignmentType
      type: string
      enum:
      - SameUser
      - AnyTeamMember
    HandoffCrmAction:
      title: HandoffCrmAction
      oneOf:
      - $ref: '#/components/schemas/HandoffCrmAction_AddToCampaign'
      - $ref: '#/components/schemas/HandoffCrmAction_ConvertLead'
      - $ref: '#/components/schemas/HandoffCrmAction_HubspotCreateEngagement'
      - $ref: '#/components/schemas/HandoffCrmAction_HubspotUpdateFields'
      - $ref: '#/components/schemas/HandoffCrmAction_HubspotUpdateOwnership'
      - $ref: '#/components/schemas/HandoffCrmAction_SalesforceCreateEvent'
      - $ref: '#/components/schemas/HandoffCrmAction_SalesforceUpdateFields'
      - $ref: '#/components/schemas/HandoffCrmAction_SalesforceUpdateOwnership'
      discriminator:
[...]
