# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — User Details Actions
  version: 1.230.0
  description: GPT Actions for the user-details GPT — a subset of the Chili Piper Edge API. Authenticate
    with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/user/find:
    get:
      tags:
      - user
      summary: Finds user
      description: '[operation: user-find]




        READ-ONLY




        Searches users by free-text query matched against email and name (partial matches supported).
        Paginated.


        - query (req): partial email or name


        - page (opt), pageSize (opt, default 200)


        → paginated list of users, each with: {id, name, email, isSuperAdmin, licenses, workspaces, salesforce
        (opt), hubspot (opt), slug (opt), managedWorkspaces, managedTeams}


        see: user-read (full profile), user-find-by-ids (batch by ID), user-find-by-filter (advanced multi-field
        filtering)'
      operationId: userFind
      parameters:
      - name: query
        in: query
        description: Search by email or name
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_User'
        '400':
          description: 'Invalid value for: query parameter query, Invalid value for: query parameter page,
            Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
  /v1/org/user/read/{userId}:
    get:
      tags:
      - user
      summary: Reads user information
      description: "[operation: user-read]\n\n\n\nREAD-ONLY\n\n\n\nFetches full profile for a single user\
        \ by userId.\n\n- userId (req): UUID\n\n→\n\n    {id, name, email, isSuperAdmin, licenses, workspaces\
        \ (set of workspaceIds), salesforce: {email, id} (opt), hubspot: {email, id} (opt), slug (opt),\
        \ managedWorkspaces, managedTeams}\n\n  Note: top-level field is id (not userId); workspaces (not\
        \ workspaceMemberships); salesforce is an object {email, id} (not a string salesforceId)\n\nsee:\
        \ user-find (look up userId by email/name), user-find-by-ids (batch fetch), user-update-licenses/workspace-add-users/team-add-users\
        \ (act on user)"
      operationId: userRead
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: 'Invalid value for: path parameter userId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: "[operation: workspace-list]\n\n\n\nREAD-ONLY\n\n\n\nReturns all workspaces in the\
        \ org. Hierarchy: Tenant → Workspaces → Teams → Users.\n\n- page (opt), pageSize (opt, default\
        \ 200)\n\n→\n\n    [{workspaceId, name, settings}]\n\nsee: workspace-list-users (members), workspace-add/remove-users\
        \ (manage membership), meeting-list/export (filter by workspaceId), concierge-logs (filter by\
        \ workspaceId)"
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
  /v2/org/team:
    put:
      tags:
      - team
      summary: Read all teams (PUT)
      description: "[operation: team-list-put]\n\n\n\nREAD-ONLY\n\n\n\nReturns all teams in the org. Accepts\
        \ filter params in request body to avoid query-string length limits.\n\n- body.workspaceIds (opt):\
        \ filter by workspace\n\n- body.name (opt): filter by team name (substring match)\n\n- body.member\
        \ (opt): filter to teams containing all specified user IDs; use user-find to resolve emails to\
        \ IDs\n\n- body.page (opt), body.pageSize (opt, default 200)\n\n→\n\n    {results: [{teamId, name,\
        \ members}]}\n\nsee: team-list (GET equivalent), user-find (resolve email → userId for member\
        \ filter)"
      operationId: teamListPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindAllRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Team'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - team.read
  /v1/org/schedulingLinks/list-personal/{userId}:
    get:
      tags:
      - schedulingLinks
      summary: Scheduling Links - personal
      description: "[operation: scheduling-link-list-personal]\n\n\n\nREAD-ONLY\n\n\n\nReturns all personal\
        \ scheduling links for a user.\n\n- userId (req): use user-find\n\n→\n\n    [{slug (EdgeLinkSlug),\
        \ meetingTypeId (MeetingTypeId), meetingTypeName, bookingUrl (SchedulingLink)}]\n\nsee: user-find\
        \ (resolve userId), scheduling-link-list-round-robin (team/distribution-backed links)"
      operationId: schedulingLinkListPersonal
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: List of personal scheduling links with full details.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonalSchedulingLinkDetail'
        '400':
          description: 'Invalid value for: path parameter userId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
  /v1/org/schedulingLinks/list-round-robin:
    post:
      tags:
      - schedulingLinks
      summary: Scheduling Links - round robin
      description: "[operation: scheduling-link-list-round-robin]\n\n\n\nREAD-ONLY\n\n\n\nReturns round-robin\
        \ scheduling links (booking URLs backed by a distribution). All filters optional — omit all for\
        \ org-wide results.\n\n- filterWorkspaceIds (opt): use workspace-list\n\n- filterLinkSlugs (opt)\n\
        \n- filterMeetingTypeId (opt)\n\n- filterDistributionIds (opt): use distribution-list\n\n→\n\n\
        \    {links: [{workspaceId, distributionId, linkId, name, slug, meetingTypeIds, members, assignments,\
        \ bookingUrl}]}\n\nsee: distribution-list (find distributionIds), workspace-list (find workspaceIds),\
        \ scheduling-link-list-personal (per-user links)"
      operationId: schedulingLinkListRoundRobin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoundRobinSchedulingLinksRequest'
        required: true
      responses:
        '200':
          description: List of round robin scheduling links. Payload structure might change.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundRobinSchedulingLinkDetails'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - scheduling-links.read
  /v3/org/meetings/meetings/export:
    put:
      tags:
      - meetings
      summary: Export Meetings streaming (PUT)
      description: "[operation: meeting-export-v2-put]\n\n\n\nREAD-ONLY\n\n\n\nExports meetings in a time\
        \ range as CSV via v2 streaming endpoint. Accepts filter params in request body. Max window: 7\
        \ days.\n\n- body.start, body.end (req): ISO-8601; max 7-day span\n\n- body.workspaceIds (opt):\
        \ filter by workspace\n\n- body.assigneeIds (opt): filter by assignee user IDs (array of userId\
        \ strings); use user-find to resolve email → userId\n\n- body.hostIds (opt): filter by host user\
        \ IDs (array of userId strings); use user-find to resolve email → userId\n\n- body.bookerIds (opt):\
        \ filter by booker user IDs (array of userId strings); use user-find to resolve email → userId\n\
        \n- body.meetingTypeIds (opt): filter by meeting type IDs (array of meetingTypeId strings)\n\n\
        - body.status (opt): filter by meeting status; array of \"Active\"|\"Canceled\"|\"NoShow\"|\"\
        Completed\"\n\n→\n\n    {filename: \"meetings-export-....csv\", data: \"<CSV content>\"}\n\nsee:\
        \ meeting-export-v2 (GET equivalent), meeting-list (JSON output), user-find (resolve email → userId)"
      operationId: meetingExportV2Put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportMeetingsRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
            Content-Type:
              required: true
              schema:
                type: string
            Content-Disposition:
              required: true
              schema:
                type: string
          content:
            text/csv; charset=utf-8:
              schema:
                type: string
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - meeting.read
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    RoundRobinSchedulingLinkId:
      title: RoundRobinSchedulingLinkId
      examples:
      - b7c8d9e0-f1a2-4b3c-8d4e-5f6a7b8c9d0e
      type: string
      pattern: '[^\s\\/]+'
    Team:
      title: Team
      type: object
      required:
      - id
      - workspaceId
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/TeamId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        members:
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        metadata: {}
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        emoji:
          type: string
        logo:
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    HubspotUser:
      title: HubspotUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
        id:
          type: integer
          format: int64
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    DistributionAssignment:
      title: DistributionAssignment
      type: object
      required:
      - distributionId
      - required
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        required:
          type: boolean
        members:
          type: array
          items:
            $ref: '#/components/schemas/SchedulingLinkMemberDetail'
    SalesforceUser:
      title: SalesforceUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
        id:
          type: string
          pattern: '[^\s\\/]+'
    MeetingStatus:
      title: MeetingStatus
      type: string
      enum:
      - Active
      - Canceled
      - NoShow
      - Completed
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    PaginatedResult_Team:
      title: PaginatedResult_Team
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Team'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    MeetingTypeId:
      title: MeetingTypeId
      examples:
      - 4a8f2b3c-7d1e-4f9b-8a2c-3d5e6f789012
      type: string
      format: uuid
    RoundRobinSchedulingLinkDetail:
      title: RoundRobinSchedulingLinkDetail
      type: object
      required:
      - workspaceId
      - linkId
      - name
      - slug
      - assignments
      - bookingUrl
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        distributionId:
          deprecated: true
          type: string
          pattern: '[^\s\\/]+'
        linkId:
          $ref: '#/components/schemas/RoundRobinSchedulingLinkId'
        name:
          type: string
          minLength: 1
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeIds:
          type: array
          items:
            type: string
            format: uuid
        members:
          deprecated: true
          type: array
          items:
            $ref: '#/components/schemas/SchedulingLinkMemberDetail'
        assignments:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistributionAssignment'
        bookingUrl:
          examples:
          - https://example.com
          type: string
    RoundRobinSchedulingLinkDetails:
      title: RoundRobinSchedulingLinkDetails
      type: object
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/RoundRobinSchedulingLinkDetail'
    DistributionId:
      title: DistributionId
      examples:
      - 7f8a1b2c-3d4e-4f5a-8b9c-0d1e2f3a4b5c
      type: string
      pattern: '[^\s\\/]+'
    TeamId:
      title: TeamId
      examples:
      - 2a9c3f1e-8b7d-4a5c-9e6f-1b2c3d4e5f6a
      type: string
      pattern: '[^\s\\/]+'
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    ExportMeetingsRequest:
      title: ExportMeetingsRequest
      type: object
      required:
      - start
      - end
      properties:
        workspaceIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        assigneeIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        hostIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        bookerIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        status:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingStatus'
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
    PaginatedResult_User:
      title: PaginatedResult_User
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    SchedulingLinkMemberDetail:
      title: SchedulingLinkMemberDetail
      type: object
      required:
      - id
      properties:
        email:
          type: string
          pattern: .+@.+
        id:
          $ref: '#/components/schemas/UserId'
        name:
          type: string
          minLength: 1
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    PersonalSchedulingLinkDetail:
      title: PersonalSchedulingLinkDetail
      type: object
      required:
      - slug
      - meetingTypeId
      - meetingTypeName
      - bookingUrl
      properties:
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        meetingTypeId:
          $ref: '#/components/schemas/MeetingTypeId'
        meetingTypeName:
          type: string
        bookingUrl:
          examples:
          - https://example.com
          type: string
    User:
      title: User
      type: object
      required:
      - id
      - name
      - email
      - isSuperAdmin
      - licenses
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        name:
          type: string
          minLength: 1
        email:
          $ref: '#/components/schemas/Email'
        isSuperAdmin:
          type: boolean
        managedWorkspaces:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        managedTeams:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        licenses:
          $ref: '#/components/schemas/UserLicenses'
        salesforce:
          $ref: '#/components/schemas/SalesforceUser'
        hubspot:
          $ref: '#/components/schemas/HubspotUser'
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        workspaces:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        personalWorkspaceId:
          type: string
          pattern: '[^\s\\/]+'
    RoundRobinSchedulingLinksRequest:
      title: RoundRobinSchedulingLinksRequest
      type: object
      properties:
        filterWorkspaceIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        filterLinkSlugs:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[-0-9a-z_]+'
        filterMeetingTypeId:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        filterDistributionIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
    UserLicenses:
      title: UserLicenses
      type: object
      required:
      - distro
      - chiliCalOrg
      - concierge
      - conciergeLive
      - chat
      - handoff
      properties:
        distro:
          type: boolean
        chiliCalOrg:
          type: boolean
        concierge:
          type: boolean
        conciergeLive:
          type: boolean
        chat:
          type: boolean
        handoff:
          type: boolean
    FindAllRequest:
      title: FindAllRequest
      type: object
      properties:
        workspaceIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
        name:
          type: string
        member:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
