# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — Distro Router Configuration Actions
  version: 1.494.0
  description: GPT Actions for the distro-router-configuration GPT — a subset of the Chili Piper Edge
    API. Authenticate with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: 'READ-ONLY. Read all workspaces. List the workspaces that partition the org and their
        workspaceIds. Params: page, pageSize.'
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
      x-mcp-tool: workspace-list
  /v1/org/distro/routers/list:
    post:
      tags:
      - distro
      summary: Lists all distro routers
      description: READ-ONLY. Lists all distro routers. Browse every Distro router to find routerIds,
        status and triggers.
      operationId: distroListRouters
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRoutersListResponse'
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.read
      x-mcp-tool: distro-list-routers
  /v1/org/distro/routers/{routerId}:
    get:
      tags:
      - distro
      summary: Get distro router
      description: 'READ-ONLY. Get distro router. Fetch one Distro router''s identity, activation status
        and routing summary. Params: routerId (required).'
      operationId: distroRouterGet
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRouterView'
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.read
      x-mcp-tool: distro-router-get
    put:
      tags:
      - distro
      summary: Update distro router
      description: 'MUTATING — IDEMPOTENT. Update distro router. Edit a Distro router and republish it,
        preserving activation. Params: routerId (required). Takes a JSON body.'
      operationId: distroRouterUpdate
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistroRouterUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRouterView'
        '400':
          description: 'Invalid value for: path parameter routerId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.modify
      x-mcp-tool: distro-router-update
    delete:
      tags:
      - distro
      summary: Remove distro router
      description: 'MUTATING — DESTRUCTIVE. Remove distro router. Permanently delete a Distro router.
        Params: routerId (required).'
      operationId: distroRouterDelete
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.remove
      x-mcp-tool: distro-router-delete
  /v1/org/distro/routers:
    post:
      tags:
      - distro
      summary: Create distro router
      description: MUTATING. Create distro router. Create and publish a Distro router, left inactive until
        activated. Takes a JSON body.
      operationId: distroRouterCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistroRouterCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRouterView'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.create
      x-mcp-tool: distro-router-create
  /v1/org/distro/routers/{routerId}/activate:
    post:
      tags:
      - distro
      summary: Activate distro router
      description: 'MUTATING — IDEMPOTENT. Activate distro router. Turn a Distro router on so it starts
        routing records. Params: routerId (required).'
      operationId: distroRouterActivate
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRouterView'
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.modify
      x-mcp-tool: distro-router-activate
  /v1/org/distro/routers/{routerId}/deactivate:
    post:
      tags:
      - distro
      summary: Deactivate distro router
      description: 'MUTATING — IDEMPOTENT. Deactivate distro router. Turn a Distro router off so it stops
        routing records. Params: routerId (required), force.'
      operationId: distroRouterDeactivate
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: force
        in: query
        description: 'Force deactivation even if the router''s revision is stale (default: false).'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRouterView'
        '400':
          description: 'Invalid value for: path parameter routerId, Invalid value for: query parameter
            force'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.modify
      x-mcp-tool: distro-router-deactivate
  /v1/org/rule/list:
    get:
      tags:
      - rule
      summary: List rules
      description: 'READ-ONLY. List rules. Browse the org''s reusable routing rules to find ruleIds and
        revisions. Params: page, pageSize, workspaceId, name.'
      operationId: ruleList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
      - name: pageSize
        in: query
        description: Number of items per page.
        required: false
        schema:
          default: 200
          type: integer
          format: int64
          exclusiveMinimum: 0
      - name: workspaceId
        in: query
        description: Filter rules by workspace ID.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: name
        in: query
        description: Filter rules by name.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_RuleView'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize,
            Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - rule.read
      x-mcp-tool: rule-list
  /v2/org/distribution/list:
    put:
      tags:
      - distribution
      summary: List all distributions (PUT)
      description: READ-ONLY. List all distributions (PUT). Browse published distributions in the org
        (preferred list). Takes a JSON body.
      operationId: distributionListPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Distribution'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distribution.read
      x-mcp-tool: distribution-list-put
  /v1/org/campaign/list:
    get:
      tags:
      - campaign
      summary: List Salesforce campaigns
      description: 'READ-ONLY. List Salesforce campaigns. List Salesforce campaigns to find the campaignId
        for a router''s Add-to-Campaign action. Params: isActive, page, pageSize.'
      operationId: campaignList
      parameters:
      - name: isActive
        in: query
        description: Filter to active (true) or inactive (false) campaigns; omit for all.
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesforceCampaignPage'
        '400':
          description: 'Invalid value for: query parameter isActive, Invalid value for: query parameter
            page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - tenant.read
      x-mcp-tool: campaign-list
  /v1/org/campaign/search:
    get:
      tags:
      - campaign
      summary: Search Salesforce campaigns
      description: 'READ-ONLY. Search Salesforce campaigns. Search Salesforce campaigns by text to find
        the campaignId for a router''s Add-to-Campaign action. Params: searchText (required), isActive,
        page, pageSize.'
      operationId: campaignSearch
      parameters:
      - name: searchText
        in: query
        description: Text to match against campaign names; at least 2 characters.
        required: true
        schema:
          type: string
      - name: isActive
        in: query
        description: Filter to active (true) or inactive (false) campaigns; omit for all.
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesforceCampaignPage'
        '400':
          description: 'Invalid value for: query parameter searchText, Invalid value for: query parameter
            isActive, Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - tenant.read
      x-mcp-tool: campaign-search
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    DistroEnrichmentFieldMapping:
      title: DistroEnrichmentFieldMapping
      type: object
      required:
      - variableId
      - field
      - waterfallId
      - overwriteExisting
      properties:
        variableId:
          description: Router variable identifying the target record.
          type: string
        field:
          description: CRM field to write the waterfall result into.
          type: string
        waterfallId:
          description: Enrichment waterfall supplying the value.
          type: string
        overwriteExisting:
          description: Whether to overwrite an existing field value.
          type: boolean
        relation:
          description: Related-object path to traverse before writing.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistroSimpleObjectType'
    DistroSpamSalesforceWrite_Enabled:
      title: DistroSpamSalesforceWrite_Enabled
      type: object
      required:
      - type
      properties:
        scoreField:
          type: string
        otherFields:
          type: array
          items:
            $ref: '#/components/schemas/DistroSpamFieldUpdate'
        type:
          type: string
          const: Enabled
    DistributionAssignmentTypeConfig:
      title: DistributionAssignmentTypeConfig
      oneOf:
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
      discriminator:
        propertyName: type
        mapping:
          Conversation: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
          Meeting: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
          Record: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
    DistroRoutingStep_SpamCheck:
      title: DistroRoutingStep_SpamCheck
      type: object
      required:
      - salesforceWrite
      - type
      properties:
        id:
          type: string
        salesforceWrite:
          $ref: '#/components/schemas/DistroSpamSalesforceWrite'
        type:
          type: string
          const: SpamCheck
    SingleOperator:
      title: SingleOperator
      type: string
      enum:
      - notEmpty
      - empty
    RuleView:
      title: RuleView
      oneOf:
      - $ref: '#/components/schemas/RuleView_AssignmentTableRule'
      - $ref: '#/components/schemas/RuleView_NonOwnershipRule'
      - $ref: '#/components/schemas/RuleView_OwnershipRule'
      discriminator:
        propertyName: type
        mapping:
          AssignmentTableRule: '#/components/schemas/RuleView_AssignmentTableRule'
          NonOwnershipRule: '#/components/schemas/RuleView_NonOwnershipRule'
          OwnershipRule: '#/components/schemas/RuleView_OwnershipRule'
    DistroRouting:
      title: DistroRouting
      type: object
      required:
      - trigger
      - catchAll
      properties:
        trigger:
          $ref: '#/components/schemas/DistroRoutingTrigger'
        routes:
          description: Conditional route rows, evaluated in order.
          type: array
          items:
            $ref: '#/components/schemas/DistroRouteRow'
        catchAll:
          $ref: '#/components/schemas/DistroCatchAll'
        routingSteps:
          description: Ordered pre-distribution steps; replaces existing steps when supplied.
          type: array
          items:
            $ref: '#/components/schemas/DistroRoutingStep'
    Levels:
      title: Levels
      type: object
      required:
      - current
      - nextAssignmentDelta
      - total
      properties:
        current:
          description: Earned score plus prolonged-reservation projection, before manual calibration.
          type: number
        nextAssignmentDelta:
          description: Score increment that will be added if this user receives the next assignment. Forward-looking;
            not included in `current` or `total`.
          type: number
        calibrationDelta:
          description: Manual-calibration adjustment applied on top of `current`. Absent when no calibration
            is in effect. When present, `total = current + calibrationDelta`.
          type: number
        total:
          description: Current score with manual calibration applied.
          type: number
    Prioritization:
      title: Prioritization
      type: object
      properties:
        queue:
          description: Ordered list of active user IDs in the order they will receive the next assignments.
            This is the authoritative assignment-ordering surface; level fields are informational.
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        onVacation:
          description: Users currently on vacation and skipped by the queue until they return.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        reachedCap:
          description: Users who have reached their assignment cap for the current period and are skipped
            until the cap resets.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
    DistributionAssignmentType:
      title: DistributionAssignmentType
      type: string
      enum:
      - Record
      - Meeting
      - Conversation
    NonOwnershipConditionsRequest_ValueCondition:
      title: NonOwnershipConditionsRequest_ValueCondition
      type: object
      required:
      - conditionId
      - lhsReference
      - operator
      - rhsReference
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        lhsReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        rhsReference:
          $ref: '#/components/schemas/DataReference'
        type:
          type: string
          const: ValueCondition
    RuleView_AssignmentTableRule:
      title: RuleView_AssignmentTableRule
      type: object
      required:
      - id
      - workspaceId
      - name
      - assignmentTableId
      - conditions
      - ruleBuilderVersion
      - metadata
      - type
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          description: Human-readable name of the rule.
          type: string
        assignmentTableId:
          $ref: '#/components/schemas/AssignmentTableId'
        conditions:
          $ref: '#/components/schemas/NonOwnershipConditionsRequest'
        ruleBuilderVersion:
          $ref: '#/components/schemas/RuleBuilderVersion'
        product:
          $ref: '#/components/schemas/Option_ChiliProduct'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
        type:
          type: string
          const: AssignmentTableRule
    DistroTriggerEventType_Scheduled:
      title: DistroTriggerEventType_Scheduled
      type: object
      required:
      - schedulerId
      - type
      properties:
        schedulerId:
          $ref: '#/components/schemas/ResourceSchedulerId'
        type:
          type: string
          const: Scheduled
    DistroRouterStatus_Error:
      title: DistroRouterStatus_Error
      type: object
      required:
      - message
      - type
      properties:
        message:
          type: string
        type:
          type: string
          const: Error
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    RecordHandling_Strict:
      title: RecordHandling_Strict
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Strict
    DataSource:
      title: DataSource
      type: string
      enum:
      - SF
      - DF
      - CP
      - HS
      - MK
      - AT
    Evaluable_RelativeQuarter:
      title: Evaluable_RelativeQuarter
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
          description: Signed number of periods to shift from the current one; 0 = current period, negative
            = past, positive = future.
          type: integer
          format: int32
        length:
          description: How many consecutive periods the window spans.
          type: integer
          format: int32
          exclusiveMinimum: 0
        timeZone:
          $ref: '#/components/schemas/Option_String'
        type:
          type: string
          const: RelativeQuarter
    UserCalibration:
      title: UserCalibration
      type: object
      required:
      - userId
      - calibration
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        calibration:
          description: Manual offset added to this user's computed score to bias their position in the
            assignment queue (signed).
          type: integer
          format: int32
    DistributedAssignmentLimit:
      title: DistributedAssignmentLimit
      type: object
      required:
      - resetPeriodicity
      properties:
        userCaps:
          description: Per-user assignment caps.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/DistributedAssignmentLimitReset'
    AssignmentTableId:
      title: AssignmentTableId
      type: string
      pattern: '[^\s\\/]+'
    UserStatistics:
      title: UserStatistics
      type: object
      required:
      - assigned
      - cancelled
      - noShow
      - reassignedToThis
      - reassignedFromThis
      properties:
        assigned:
          description: Number of assignments booked directly to this user in the current period.
          type: integer
          format: int32
        cancelled:
          description: Number of assignments that were later cancelled.
          type: integer
          format: int32
        noShow:
          description: Number of assignments where the invitee did not show up.
          type: integer
          format: int32
        reassignedToThis:
          description: Number of assignments that were reassigned to this user from another.
          type: integer
          format: int32
        reassignedFromThis:
          description: Number of assignments originally made to this user that were reassigned away.
          type: integer
          format: int32
    RelatedChildObjectRef:
      title: RelatedChildObjectRef
      type: string
      pattern: '[a-zA-Z0-9_]+__rc'
    MeetingHandling_Strict:
      title: MeetingHandling_Strict
      type: object
      required:
      - hideAssignee
      - type
      properties:
        hideAssignee:
          type: boolean
        type:
          type: string
          const: Strict
    DistributedAssignmentLimitReset:
      title: DistributedAssignmentLimitReset
      oneOf:
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
          HourlyRolling: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
          Monthly: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
          Weekly: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
    DistributionUserState_NoLicense:
      title: DistributionUserState_NoLicense
      description: User is still on the team but has lost their license, so they cannot receive assignments.
        Re-licensing restores them.
      type: object
      required:
      - userId
      - total
      - licenseRemovedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        licenseRemovedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: NoLicense
    RouterId:
      title: RouterId
      examples:
      - c5d6e7f8-a9b0-4c1d-ae2f-3a4b5c6d7e8f
      type: string
      pattern: '[^\s\\/]+'
    DistroLeadConversionOpportunity:
      title: DistroLeadConversionOpportunity
      oneOf:
      - $ref: '#/components/schemas/DistroLeadConversionOpportunity_CreateNewOpportunity'
      - $ref: '#/components/schemas/DistroLeadConversionOpportunity_DoNotCreateOpportunity'
      discriminator:
        propertyName: type
        mapping:
          CreateNewOpportunity: '#/components/schemas/DistroLeadConversionOpportunity_CreateNewOpportunity'
          DoNotCreateOpportunity: '#/components/schemas/DistroLeadConversionOpportunity_DoNotCreateOpportunity'
    DistroFieldUpdateExpression_FieldUpdateAnd:
      title: DistroFieldUpdateExpression_FieldUpdateAnd
      type: object
      required:
      - expressions
      - type
      properties:
        expressions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistroFieldUpdateExpression'
        type:
          type: string
          const: FieldUpdateAnd
    Option_ChiliProduct:
      $ref: '#/components/schemas/ChiliProduct'
    DistroRoutingRowSummary:
      title: DistroRoutingRowSummary
      type: object
      required:
      - outcome
      properties:
        ruleId:
          description: Gating rule for this row, if any.
          type: string
          pattern: '[^\s\\/]+'
        outcome:
          $ref: '#/components/schemas/DistroRoutingOutcome'
    DistroRelativeDateUnit:
      title: DistroRelativeDateUnit
      oneOf:
      - $ref: '#/components/schemas/DistroRelativeDateUnit_Day'
      - $ref: '#/components/schemas/DistroRelativeDateUnit_Month'
      - $ref: '#/components/schemas/DistroRelativeDateUnit_Quarter'
      - $ref: '#/components/schemas/DistroRelativeDateUnit_Week'
      - $ref: '#/components/schemas/DistroRelativeDateUnit_Year'
      discriminator:
        propertyName: type
        mapping:
          Day: '#/components/schemas/DistroRelativeDateUnit_Day'
          Month: '#/components/schemas/DistroRelativeDateUnit_Month'
          Quarter: '#/components/schemas/DistroRelativeDateUnit_Quarter'
          Week: '#/components/schemas/DistroRelativeDateUnit_Week'
          Year: '#/components/schemas/DistroRelativeDateUnit_Year'
    DistroRouterStatus_Active:
      title: DistroRouterStatus_Active
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Active
    DistroSimpleObjectType_DuplicateContact:
      title: DistroSimpleObjectType_DuplicateContact
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DuplicateContact
    DistributionId:
      title: DistributionId
      examples:
      - 7f8a1b2c-3d4e-4f5a-8b9c-0d1e2f3a4b5c
      type: string
      pattern: '[^\s\\/]+'
    DataField:
      title: DataField
      type: string
      pattern: '[^\s\\/]+'
    DistroLeadToContactConversion:
      title: DistroLeadToContactConversion
      type: object
      required:
      - convertedStatus
      - accountSettings
      - opportunitySettings
      properties:
        convertedStatus:
          description: Salesforce lead status label to set on conversion.
          type: string
        accountSettings:
          $ref: '#/components/schemas/DistroLeadConversionAccount'
        opportunitySettings:
          $ref: '#/components/schemas/DistroLeadConversionOpportunity'
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    DistroTriggerEventType_UpdateField:
      title: DistroTriggerEventType_UpdateField
      type: object
      required:
      - expression
      - type
      properties:
        expression:
          $ref: '#/components/schemas/DistroFieldUpdateExpression'
        type:
          type: string
          const: UpdateField
    DistroSimpleObjectType_Lead:
      title: DistroSimpleObjectType_Lead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Lead
    DistroRouteRow:
      title: DistroRouteRow
      type: object
      required:
      - distributionId
      properties:
        ruleId:
          description: Gating rule; the row matches when this rule matches.
          type: string
          pattern: '[^\s\\/]+'
        distributionId:
          $ref: '#/components/schemas/DistributionId'
          description: Distribution selecting the assignee for this row.
        actions:
          description: CRM actions performed on the selected assignee.
          type: array
          items:
            $ref: '#/components/schemas/DistroAction'
        convertLead:
          $ref: '#/components/schemas/DistroLeadToContactConversion'
        addToCampaign:
          $ref: '#/components/schemas/DistroCampaignAddition'
    DistroAction:
      title: DistroAction
      oneOf:
      - $ref: '#/components/schemas/DistroAction_ReassignRecord'
      - $ref: '#/components/schemas/DistroAction_SendEmailReminderToAssignee'
      - $ref: '#/components/schemas/DistroAction_SendSlackToAssignee'
      - $ref: '#/components/schemas/DistroAction_UpdateField'
      - $ref: '#/components/schemas/DistroAction_UpdateFieldDynamic'
      - $ref: '#/components/schemas/DistroAction_UpdateOwnership'
      discriminator:
        propertyName: type
        mapping:
          ReassignRecord: '#/components/schemas/DistroAction_ReassignRecord'
          SendEmailReminderToAssignee: '#/components/schemas/DistroAction_SendEmailReminderToAssignee'
          SendSlackToAssignee: '#/components/schemas/DistroAction_SendSlackToAssignee'
          UpdateField: '#/components/schemas/DistroAction_UpdateField'
          UpdateFieldDynamic: '#/components/schemas/DistroAction_UpdateFieldDynamic'
          UpdateOwnership: '#/components/schemas/DistroAction_UpdateOwnership'
    Option_OwnershipReference:
      $ref: '#/components/schemas/OwnershipReference'
    MeetingLimit:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitSet'
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimit_MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
    DistroDynamicFieldValue_RelativeDate:
      title: DistroDynamicFieldValue_RelativeDate
      type: object
      required:
      - unit
      - offset
      - type
      properties:
        unit:
          $ref: '#/components/schemas/DistroRelativeDateUnit'
        offset:
          type: integer
          format: int64
        timeZone:
          type: string
        type:
          type: string
          const: RelativeDate
    Operator:
      title: Operator
      type: string
      enum:
      - <
      - '>'
      - <=
      - '>='
      - startsWithAnyOf
      - endsWithAnyOf
      - isAnyOf
      - isNotAnyOf
      - equal
      - notEqual
      - contains
      - doesNotContain
      - containsAnyOf
      - containsNoneOf
      - startsWith
      - endsWith
    DistroRelativeDateUnit_Quarter:
      title: DistroRelativeDateUnit_Quarter
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Quarter
    MeetingHandling:
      title: MeetingHandling
      oneOf:
      - $ref: '#/components/schemas/MeetingHandling_Flexible'
      - $ref: '#/components/schemas/MeetingHandling_Strict'
      discriminator:
        propertyName: type
        mapping:
          Flexible: '#/components/schemas/MeetingHandling_Flexible'
          Strict: '#/components/schemas/MeetingHandling_Strict'
    DistroTriggerEventType_NewRecordOrUpdateField:
      title: DistroTriggerEventType_NewRecordOrUpdateField
      type: object
      required:
      - expression
      - type
      properties:
        expression:
          $ref: '#/components/schemas/DistroFieldUpdateExpression'
        type:
          type: string
          const: NewRecordOrUpdateField
    MeetingLimit_MeetingLimitUnset:
      title: MeetingLimit_MeetingLimitUnset
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: MeetingLimitUnset
    LogicalOperator:
      title: LogicalOperator
      type: string
      enum:
      - and
      - or
    UserLimit:
      title: UserLimit
      type: object
      required:
      - userId
      - limit
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        limit:
          description: Maximum assignments this user may receive per reset period (non-negative).
          type: integer
          format: int32
          minimum: 0
    NonOwnershipConditionsRequest_SingleParameterCondition:
      title: NonOwnershipConditionsRequest_SingleParameterCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/SingleOperator'
        type:
          type: string
          const: SingleParameterCondition
    PaginatedResult_Distribution:
      title: PaginatedResult_Distribution
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    DistributionState:
      title: DistributionState
      type: object
      properties:
        userStates:
          description: Per-user state and statistics for every user in the distribution.
          type: array
          items:
            $ref: '#/components/schemas/DistributionUserState'
        lastReset:
          description: When the distribution's counters were last reset; absent if never reset.
          type: string
          format: date-time
    DistroSimpleObjectType_Contact:
      title: DistroSimpleObjectType_Contact
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Contact
    DistroSimpleObjectType_DuplicateLead:
      title: DistroSimpleObjectType_DuplicateLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DuplicateLead
    Option_TeamId:
      $ref: '#/components/schemas/TeamId'
    DistributedAssignmentLimitReset_Daily:
      title: DistributedAssignmentLimitReset_Daily
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    ChiliProduct:
      title: ChiliProduct
      type: string
      enum:
      - Chat
      - ChiliCal
      - Concierge
      - Distro
      - Handoff
    NonOwnershipConditionsRequest_EvaluableCondition:
      title: NonOwnershipConditionsRequest_EvaluableCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - evaluable
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        evaluable:
          $ref: '#/components/schemas/Evaluable'
        type:
          type: string
          const: EvaluableCondition
    CustomMatchedObjectRef:
      title: CustomMatchedObjectRef
      description: 'custom matched object ref - format: $id__$tpe


        available types: LeadToAccountMatchingConfigType,ContactToDuplicateContactMatchingConfigType,LeadToDuplicateContactMatchingConfigType,ProspectToContactMatchingConfigType,LeadToDuplicateLeadMatchingConfigType,ContactToDuplicateLeadMatchingConfigType,ProspectToLeadMatchingConfigType,LeadToRelatedLeadMatchingConfigType,LeadToOpportunityMatchingConfigType,ContactToOpportunityMatchingConfigType,LeadToCaseMatchingConfigType,ContactToCaseMatchingConfigType,RelatedChildConfigType'
      type: string
    DistroTriggerDelay_BeforeRecordEval:
      title: DistroTriggerDelay_BeforeRecordEval
      type: object
      required:
      - duration
      - type
      properties:
        duration:
          type: string
        type:
          type: string
          const: BeforeRecordEval
    ConditionId:
      title: ConditionId
      type: string
      pattern: '[^\s\\/]+'
    DistroTriggerEventType:
      title: DistroTriggerEventType
      oneOf:
      - $ref: '#/components/schemas/DistroTriggerEventType_NewRecord'
      - $ref: '#/components/schemas/DistroTriggerEventType_NewRecordOrUpdateField'
      - $ref: '#/components/schemas/DistroTriggerEventType_Scheduled'
      - $ref: '#/components/schemas/DistroTriggerEventType_Signal'
      - $ref: '#/components/schemas/DistroTriggerEventType_UpdateField'
      discriminator:
        propertyName: type
        mapping:
          NewRecord: '#/components/schemas/DistroTriggerEventType_NewRecord'
          NewRecordOrUpdateField: '#/components/schemas/DistroTriggerEventType_NewRecordOrUpdateField'
          Scheduled: '#/components/schemas/DistroTriggerEventType_Scheduled'
          Signal: '#/components/schemas/DistroTriggerEventType_Signal'
          UpdateField: '#/components/schemas/DistroTriggerEventType_UpdateField'
    DistroTriggerEventType_Signal:
      title: DistroTriggerEventType_Signal
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Signal
    MeetingLimitReset_Monthly:
      title: MeetingLimitReset_Monthly
      type: object
      required:
      - every
      - startsOn
      - resetDay
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDay:
          type: integer
          format: int32
          minimum: 1
          maximum: 28
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    MeetingLimitReset_Weekly:
      title: MeetingLimitReset_Weekly
      type: object
      required:
      - every
      - startsOn
      - resetDayOfWeek
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDayOfWeek:
          examples:
          - MONDAY
          type: string
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Weekly
    Distribution:
      title: Distribution
      type: object
      required:
      - id
      - published
      - state
      - prioritization
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        published:
          $ref: '#/components/schemas/ConfigurationDTO'
        state:
          $ref: '#/components/schemas/DistributionState'
        prioritization:
          $ref: '#/components/schemas/Prioritization'
    MeetingLimitReset:
      title: MeetingLimitReset
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitReset_Daily'
      - $ref: '#/components/schemas/MeetingLimitReset_Monthly'
      - $ref: '#/components/schemas/MeetingLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/MeetingLimitReset_Daily'
          Monthly: '#/components/schemas/MeetingLimitReset_Monthly'
          Weekly: '#/components/schemas/MeetingLimitReset_Weekly'
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
          description: Unique identifier of the workspace.
        name:
          description: Human-readable workspace name.
          type: string
        emoji:
          description: Optional emoji shown as the workspace's icon.
          type: string
        logo:
          description: Optional URL of the workspace's logo image.
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    DistroSpamFieldUpdate:
      title: DistroSpamFieldUpdate
      type: object
      required:
      - objectType
      - field
      properties:
        objectType:
          $ref: '#/components/schemas/DistroSimpleObjectType'
        field:
          description: CRM field to set on the spam path.
          type: string
        value:
          description: Value to write; omit to clear the field.
    DistroRouterStatus_Inactive:
      title: DistroRouterStatus_Inactive
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Inactive
    SalesforceCampaign:
      title: SalesforceCampaign
      type: object
      required:
      - id
      - name
      - active
      properties:
        id:
          $ref: '#/components/schemas/CampaignId'
        name:
          description: Campaign name.
          type: string
        status:
          description: Campaign status (e.g. Planned, In Progress, Completed, Aborted), if set.
          type: string
        startDate:
          description: Campaign start date (ISO-8601, e.g. 2025-01-31), if set.
          type: string
          format: date
        endDate:
          description: Campaign end date (ISO-8601, e.g. 2025-01-31), if set.
          type: string
          format: date
        active:
          description: Whether the campaign is active in Salesforce.
          type: boolean
    DistributionUserState:
      title: DistributionUserState
      oneOf:
      - $ref: '#/components/schemas/DistributionUserState_Active'
      - $ref: '#/components/schemas/DistributionUserState_Capped'
      - $ref: '#/components/schemas/DistributionUserState_Disabled'
      - $ref: '#/components/schemas/DistributionUserState_NoLicense'
      - $ref: '#/components/schemas/DistributionUserState_Removed'
      discriminator:
        propertyName: type
        mapping:
          Active: '#/components/schemas/DistributionUserState_Active'
          Capped: '#/components/schemas/DistributionUserState_Capped'
          Disabled: '#/components/schemas/DistributionUserState_Disabled'
          NoLicense: '#/components/schemas/DistributionUserState_NoLicense'
          Removed: '#/components/schemas/DistributionUserState_Removed'
    DistributionAssignmentTypeConfig_Conversation:
      title: DistributionAssignmentTypeConfig_Conversation
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Conversation
    DistroRoutingOutcome_Route:
      title: DistroRoutingOutcome_Route
      type: object
      required:
      - type
      properties:
        distributionId:
          type: string
          pattern: '[^\s\\/]+'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/DistroAction'
        convertLead:
          $ref: '#/components/schemas/DistroLeadToContactConversion'
        addToCampaign:
          $ref: '#/components/schemas/DistroCampaignAddition'
        type:
          type: string
          const: Route
    ConditionGroupId:
      title: ConditionGroupId
      type: string
      pattern: '[^\s\\/]+'
    MeetingHandling_Flexible:
      title: MeetingHandling_Flexible
      type: object
      required:
      - reassignmentType
      - allowPickingAssignee
      - type
      properties:
        reassignmentType:
          $ref: '#/components/schemas/ReassignmentType'
        allowPickingAssignee:
          type: boolean
        type:
          type: string
          const: Flexible
    DistroLeadConversionAccount_CreateNewAccount:
      title: DistroLeadConversionAccount_CreateNewAccount
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateNewAccount
    RelatedDataObject:
      title: RelatedDataObject
      description: 'Related object path in slash-separated string format: <relation1>/<relation2>/.../topObject.
        The topObject is the last segment; relations precede it. Example: "Account/Lead" means Lead with
        Account as a relation. Each segment is a SimpleDataObject (NormalDataObject, MatchedObject, CustomMatchedObjectRef,
        or RelatedChildObjectRef).'
      type: string
    SearchOwnershipByDTO:
      title: SearchOwnershipByDTO
      default: CrmIdOrEmail
      type: string
      enum:
      - CrmIdOrEmail
      - SalesforceIdOrEmail
      - TeamMemberFullNames
    Option_String:
      title: Option_String
      type: string
    DistroRoutingOutcome_Unrepresentable:
      title: DistroRoutingOutcome_Unrepresentable
      type: object
      required:
      - kind
      - type
      properties:
        kind:
          type: string
        type:
          type: string
          const: Unrepresentable
    DistroRelativeDateUnit_Month:
      title: DistroRelativeDateUnit_Month
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Month
    RecordHandling:
      title: RecordHandling
      oneOf:
      - $ref: '#/components/schemas/RecordHandling_Strict'
      - $ref: '#/components/schemas/RecordHandling_WorkingHours'
      discriminator:
        propertyName: type
        mapping:
          Strict: '#/components/schemas/RecordHandling_Strict'
          WorkingHours: '#/components/schemas/RecordHandling_WorkingHours'
    Evaluable_RelativeWeek:
      title: Evaluable_RelativeWeek
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
          description: Signed number of periods to shift from the current one; 0 = current period, negative
            = past, positive = future.
          type: integer
          format: int32
        length:
          description: How many consecutive periods the window spans.
          type: integer
          format: int32
          exclusiveMinimum: 0
        timeZone:
          $ref: '#/components/schemas/Option_String'
        type:
          type: string
          const: RelativeWeek
    DistroAction_ReassignRecord:
      title: DistroAction_ReassignRecord
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: ReassignRecord
    DistroOwnershipMatch:
      title: DistroOwnershipMatch
      oneOf:
      - $ref: '#/components/schemas/DistroOwnershipMatch_Email'
      - $ref: '#/components/schemas/DistroOwnershipMatch_Id'
      discriminator:
        propertyName: type
        mapping:
          Email: '#/components/schemas/DistroOwnershipMatch_Email'
          Id: '#/components/schemas/DistroOwnershipMatch_Id'
    DistributionUserState_Active:
      title: DistributionUserState_Active
      description: User is active in the distribution and eligible for assignments. Carries the user's
        current level.
      type: object
      required:
      - userId
      - total
      - level
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        level:
          $ref: '#/components/schemas/Levels'
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Active
    DistroCampaignAddition:
      title: DistroCampaignAddition
      type: object
      required:
      - campaignId
      - status
      properties:
        campaignId:
          description: Salesforce campaign id to add the record to.
          type: string
        status:
          description: Campaign-member status to set on the added record.
          type: string
    RuleView_NonOwnershipRule:
      title: RuleView_NonOwnershipRule
      type: object
      required:
      - id
      - workspaceId
      - name
      - conditions
      - ruleBuilderVersion
      - metadata
      - type
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          description: Human-readable name of the rule.
          type: string
        conditions:
          $ref: '#/components/schemas/NonOwnershipConditionsRequest'
        ruleBuilderVersion:
          $ref: '#/components/schemas/RuleBuilderVersion'
        product:
          $ref: '#/components/schemas/Option_ChiliProduct'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
        type:
          type: string
          const: NonOwnershipRule
    DistroAction_UpdateField:
      title: DistroAction_UpdateField
      type: object
      required:
      - field
      - type
      properties:
        field:
          type: string
        value: {}
        objectType:
          $ref: '#/components/schemas/DistroSimpleObjectType'
        type:
          type: string
          const: UpdateField
    DistroSpamSalesforceWrite:
      title: DistroSpamSalesforceWrite
      oneOf:
      - $ref: '#/components/schemas/DistroSpamSalesforceWrite_Enabled'
      - $ref: '#/components/schemas/DistroSpamSalesforceWrite_Off'
      discriminator:
        propertyName: type
        mapping:
          Enabled: '#/components/schemas/DistroSpamSalesforceWrite_Enabled'
          'Off': '#/components/schemas/DistroSpamSalesforceWrite_Off'
    DistroRouter:
      title: DistroRouter
      type: object
      required:
      - id
      - name
      - status
      - trigger
      properties:
        id:
          $ref: '#/components/schemas/RouterId'
          description: Router identifier.
        name:
          description: Router display name.
          type: string
        status:
          $ref: '#/components/schemas/DistroRouterStatus'
        trigger:
          $ref: '#/components/schemas/DistroTrigger'
    NormalDataObject:
      title: NormalDataObject
      description: Standard CRM object name, e.g. "Account", "Contact", "Lead", "Opportunity", "Case".
        Use for direct conditions on any Salesforce/CRM object. Do NOT use MatchedAccount/MatchedContact/etc.
        here — those are special matching-config references.
      type: string
    DistroDynamicFieldValue:
      title: DistroDynamicFieldValue
      oneOf:
      - $ref: '#/components/schemas/DistroDynamicFieldValue_RelativeDate'
      - $ref: '#/components/schemas/DistroDynamicFieldValue_TemplateText'
      - $ref: '#/components/schemas/DistroDynamicFieldValue_VariableField'
      discriminator:
        propertyName: type
        mapping:
          RelativeDate: '#/components/schemas/DistroDynamicFieldValue_RelativeDate'
          TemplateText: '#/components/schemas/DistroDynamicFieldValue_TemplateText'
          VariableField: '#/components/schemas/DistroDynamicFieldValue_VariableField'
    UserWeight:
      title: UserWeight
      type: object
      required:
      - userId
      - weight
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        weight:
          description: Relative assignment share for the user (0–10000, default 100); higher weight receives
            proportionally more assignments, 0 disables the user.
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
    DistroRelativeDateUnit_Day:
      title: DistroRelativeDateUnit_Day
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Day
    DistroTriggerDelay_AfterRecordEval:
      title: DistroTriggerDelay_AfterRecordEval
      type: object
      required:
      - duration
      - type
      properties:
        duration:
          type: string
        type:
          type: string
          const: AfterRecordEval
    DistributionAssignmentTypeConfig_Meeting:
      title: DistributionAssignmentTypeConfig_Meeting
      type: object
      required:
      - handling
      - limits
      - type
      properties:
        handling:
          $ref: '#/components/schemas/MeetingHandling'
        limits:
          $ref: '#/components/schemas/MeetingLimit'
        type:
          type: string
          const: Meeting
    DistributionUserState_Disabled:
      title: DistributionUserState_Disabled
      description: User has been explicitly disabled in this distribution (weight set to 0). Still on
        the team but won't receive assignments until re-enabled.
      type: object
      required:
      - userId
      - total
      - disabledAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        disabledAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Disabled
    TeamRef:
      title: TeamRef
      type: object
      required:
      - id
      - revision
      properties:
        id:
          $ref: '#/components/schemas/TeamId'
        revision:
          type: integer
          format: int32
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    DistroSimpleObjectType_Opportunity:
      title: DistroSimpleObjectType_Opportunity
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Opportunity
    NonOwnershipConditionsRequest:
      title: NonOwnershipConditionsRequest
      oneOf:
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_ConditionGroup'
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_EvaluableCondition'
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_ObjectExistsCondition'
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_SingleParameterCondition'
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_StaticValueCondition'
      - $ref: '#/components/schemas/NonOwnershipConditionsRequest_ValueCondition'
      discriminator:
        propertyName: type
        mapping:
          ConditionGroup: '#/components/schemas/NonOwnershipConditionsRequest_ConditionGroup'
          EvaluableCondition: '#/components/schemas/NonOwnershipConditionsRequest_EvaluableCondition'
          ObjectExistsCondition: '#/components/schemas/NonOwnershipConditionsRequest_ObjectExistsCondition'
          SingleParameterCondition: '#/components/schemas/NonOwnershipConditionsRequest_SingleParameterCondition'
          StaticValueCondition: '#/components/schemas/NonOwnershipConditionsRequest_StaticValueCondition'
          ValueCondition: '#/components/schemas/NonOwnershipConditionsRequest_ValueCondition'
    DistroSimpleObjectType_CustomObject:
      title: DistroSimpleObjectType_CustomObject
      type: object
      required:
      - value
      - type
      properties:
        value:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: CustomObject
    Evaluable_RelativeMonth:
      title: Evaluable_RelativeMonth
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
          description: Signed number of periods to shift from the current one; 0 = current period, negative
            = past, positive = future.
          type: integer
          format: int32
        length:
          description: How many consecutive periods the window spans.
          type: integer
          format: int32
          exclusiveMinimum: 0
        timeZone:
          $ref: '#/components/schemas/Option_String'
        type:
          type: string
          const: RelativeMonth
    OwnershipReference:
      title: OwnershipReference
      type: object
      required:
      - source
      - object
      - field
      properties:
        source:
          $ref: '#/components/schemas/DataSource'
        object:
          $ref: '#/components/schemas/DataObject'
        field:
          $ref: '#/components/schemas/DataField'
    DistroRelativeDateUnit_Week:
      title: DistroRelativeDateUnit_Week
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Week
    DistroSimpleObjectType_AccountTeamMember:
      title: DistroSimpleObjectType_AccountTeamMember
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: AccountTeamMember
    DistroLeadConversionOpportunity_CreateNewOpportunity:
      title: DistroLeadConversionOpportunity_CreateNewOpportunity
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateNewOpportunity
    RuleId:
      title: RuleId
      examples:
      - 3b4c5d6e-7f8a-4b9c-9d0e-1f2a3b4c5d6e
      type: string
      pattern: '[^\s\\/]+'
    ListRequest:
      title: ListRequest
      type: object
      properties:
        workspaceIds:
          description: Restrict results to these workspaces. Omit to search all accessible workspaces.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        page:
          description: Zero-based page index. Defaults to 0.
          type: integer
          format: int64
          minimum: 0
        pageSize:
          description: Number of distributions per page.
          type: integer
          format: int64
          exclusiveMinimum: 0
        name:
          description: Filter to distributions matching this name.
          type: string
        assignmentType:
          $ref: '#/components/schemas/DistributionAssignmentType'
    DistroOwnershipMatch_Id:
      title: DistroOwnershipMatch_Id
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Id
    RuleView_OwnershipRule:
      title: RuleView_OwnershipRule
      type: object
      required:
      - id
      - workspaceId
      - name
      - conditions
      - ruleBuilderVersion
      - metadata
      - type
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        teamId:
          $ref: '#/components/schemas/Option_TeamId'
        name:
          description: Human-readable name of the rule.
          type: string
        conditions:
          $ref: '#/components/schemas/OwnershipConditionsRequest'
        ruleBuilderVersion:
          $ref: '#/components/schemas/RuleBuilderVersion'
        product:
          $ref: '#/components/schemas/Option_ChiliProduct'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
        type:
          type: string
          const: OwnershipRule
    DistributionAssignmentTypeConfig_Record:
      title: DistributionAssignmentTypeConfig_Record
      type: object
      required:
      - handling
      - type
      properties:
        handling:
          $ref: '#/components/schemas/RecordHandling'
        type:
          type: string
          const: Record
    DistroAction_UpdateOwnership:
      title: DistroAction_UpdateOwnership
      type: object
      required:
      - respectWorkingHours
      - sendSlackNotification
      - sendEmailNotification
      - matchBy
      - type
      properties:
        respectWorkingHours:
          type: boolean
        sendSlackNotification:
          type: boolean
        sendEmailNotification:
          type: boolean
        matchBy:
          $ref: '#/components/schemas/DistroOwnershipMatch'
        type:
          type: string
          const: UpdateOwnership
    DistroCatchAll:
      title: DistroCatchAll
      type: object
      required:
      - distributionId
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
          description: Distribution selecting the assignee for unmatched records.
        actions:
          description: CRM actions performed on the selected assignee.
          type: array
          items:
            $ref: '#/components/schemas/DistroAction'
        convertLead:
          $ref: '#/components/schemas/DistroLeadToContactConversion'
        addToCampaign:
          $ref: '#/components/schemas/DistroCampaignAddition'
    MeetingLimitReset_Daily:
      title: MeetingLimitReset_Daily
      type: object
      required:
      - every
      - startsOn
      - resetLocalTime
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetLocalTime:
          type: string
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    OwnershipConditionsRequest_SingleParameterCondition:
      title: OwnershipConditionsRequest_SingleParameterCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/SingleOperator'
        type:
          type: string
          const: SingleParameterCondition
    DistributedAssignmentLimitReset_Weekly:
      title: DistributedAssignmentLimitReset_Weekly
      type: object
      required:
      - timeZone
      - dayOfWeek
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        dayOfWeek:
          type: integer
          format: int32
          minimum: 1
          maximum: 7
        type:
          type: string
          const: Weekly
    OwnershipConditionsRequest_StaticValueCondition:
      title: OwnershipConditionsRequest_StaticValueCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - value
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        value:
          $ref: '#/components/schemas/StaticValue'
        type:
          type: string
          const: StaticValueCondition
    DistributedAssignmentLimitReset_Monthly:
      title: DistributedAssignmentLimitReset_Monthly
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    NonOwnershipConditionsRequest_ConditionGroup:
      title: NonOwnershipConditionsRequest_ConditionGroup
      type: object
      required:
      - id
      - operator
      - conditions
      - type
      properties:
        id:
          $ref: '#/components/schemas/ConditionGroupId'
        name:
          $ref: '#/components/schemas/Option_String'
        operator:
          $ref: '#/components/schemas/LogicalOperator'
        conditions:
          $ref: '#/components/schemas/NonEmptyList_NonOwnershipConditionsRequest'
        type:
          type: string
          const: ConditionGroup
    DistroDynamicFieldValue_VariableField:
      title: DistroDynamicFieldValue_VariableField
      type: object
      required:
      - variableId
      - field
      - type
      properties:
        variableId:
          type: string
        field:
          type: string
        relation:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistroSimpleObjectType'
        type:
          type: string
          const: VariableField
    ReassignmentType:
      title: ReassignmentType
      type: string
      enum:
      - SameUser
      - AnyTeamMember
    DistroSimpleObjectType_OpportunityTeamMember:
      title: DistroSimpleObjectType_OpportunityTeamMember
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: OpportunityTeamMember
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
      properties: {}
    DistroTrigger:
      title: DistroTrigger
      type: object
      required:
      - objectType
      - eventTypes
      properties:
        objectType:
          $ref: '#/components/schemas/DistroSimpleObjectType'
        eventTypes:
          description: CRM events that make a record flow through the router.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistroTriggerEventType'
        evaluation:
          description: Optional gating rule; only matching records flow through.
          type: string
          pattern: '[^\s\\/]+'
        delay:
          $ref: '#/components/schemas/DistroTriggerDelay'
    OwnershipConditionsRequest_ObjectExistsCondition:
      title: OwnershipConditionsRequest_ObjectExistsCondition
      type: object
      required:
      - conditionId
      - reference
      - exists
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        reference:
          $ref: '#/components/schemas/DataObjectReference'
        exists:
          description: Whether the condition matches when the referenced object exists (true) or is absent
            (false).
          type: boolean
        type:
          type: string
          const: ObjectExistsCondition
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    DistroSimpleObjectType:
      title: DistroSimpleObjectType
      oneOf:
      - $ref: '#/components/schemas/DistroSimpleObjectType_Account'
      - $ref: '#/components/schemas/DistroSimpleObjectType_AccountTeamMember'
      - $ref: '#/components/schemas/DistroSimpleObjectType_Case'
      - $ref: '#/components/schemas/DistroSimpleObjectType_Contact'
      - $ref: '#/components/schemas/DistroSimpleObjectType_CustomObject'
      - $ref: '#/components/schemas/DistroSimpleObjectType_DuplicateContact'
      - $ref: '#/components/schemas/DistroSimpleObjectType_DuplicateLead'
      - $ref: '#/components/schemas/DistroSimpleObjectType_Lead'
      - $ref: '#/components/schemas/DistroSimpleObjectType_Opportunity'
      - $ref: '#/components/schemas/DistroSimpleObjectType_OpportunityTeamMember'
      - $ref: '#/components/schemas/DistroSimpleObjectType_Task'
      discriminator:
        propertyName: type
        mapping:
          Account: '#/components/schemas/DistroSimpleObjectType_Account'
          AccountTeamMember: '#/components/schemas/DistroSimpleObjectType_AccountTeamMember'
          Case: '#/components/schemas/DistroSimpleObjectType_Case'
          Contact: '#/components/schemas/DistroSimpleObjectType_Contact'
          CustomObject: '#/components/schemas/DistroSimpleObjectType_CustomObject'
          DuplicateContact: '#/components/schemas/DistroSimpleObjectType_DuplicateContact'
          DuplicateLead: '#/components/schemas/DistroSimpleObjectType_DuplicateLead'
          Lead: '#/components/schemas/DistroSimpleObjectType_Lead'
          Opportunity: '#/components/schemas/DistroSimpleObjectType_Opportunity'
          OpportunityTeamMember: '#/components/schemas/DistroSimpleObjectType_OpportunityTeamMember'
          Task: '#/components/schemas/DistroSimpleObjectType_Task'
    DistroTriggerEventType_NewRecord:
      title: DistroTriggerEventType_NewRecord
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NewRecord
    DistroRoutingStep_Unrepresentable:
      title: DistroRoutingStep_Unrepresentable
      type: object
      required:
      - kind
      - type
      properties:
        kind:
          type: string
        type:
          type: string
          const: Unrepresentable
    DistroRouterView:
      title: DistroRouterView
      type: object
      required:
      - id
      - workspaceId
      - status
      - routing
      properties:
        id:
          $ref: '#/components/schemas/RouterId'
          description: Router identifier.
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
          description: Workspace the router belongs to.
        name:
          description: Router display name.
          type: string
        description:
          description: Router description.
          type: string
        status:
          $ref: '#/components/schemas/DistroRouterStatus'
        routing:
          $ref: '#/components/schemas/DistroRoutingSummary'
    OwnershipConditionsRequest_ConditionGroup:
      title: OwnershipConditionsRequest_ConditionGroup
      type: object
      required:
      - id
      - operator
      - conditions
      - type
      properties:
        id:
          $ref: '#/components/schemas/ConditionGroupId'
        name:
          $ref: '#/components/schemas/Option_String'
        operator:
          $ref: '#/components/schemas/LogicalOperator'
        conditions:
          $ref: '#/components/schemas/NonEmptyList_OwnershipConditionsRequest'
        type:
          type: string
          const: ConditionGroup
    DistributionUserState_Removed:
      title: DistributionUserState_Removed
      description: User was removed from the team entirely — historical record, no assignments will go
        to this user.
      type: object
      required:
      - userId
      - total
      - removedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        removedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Removed
    DistroOwnershipMatch_Email:
      title: DistroOwnershipMatch_Email
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Email
    SalesforceCampaignPage:
      title: SalesforceCampaignPage
      type: object
      required:
      - page
      - pageSize
      properties:
        results:
          description: Campaigns on this page.
          type: array
          items:
            $ref: '#/components/schemas/SalesforceCampaign'
        total:
          description: Total matching campaigns; omitted for search, which does not return a total.
          type: integer
          format: int64
        page:
          description: Zero-based index of this page.
          type: integer
          format: int64
        pageSize:
          description: Number of items requested per page.
          type: integer
          format: int64
    DistributedAssignmentLimitReset_HourlyRolling:
      title: DistributedAssignmentLimitReset_HourlyRolling
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: HourlyRolling
    PaginatedResult_RuleView:
      title: PaginatedResult_RuleView
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/RuleView'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    OwnershipConditionsRequest_EvaluableCondition:
      title: OwnershipConditionsRequest_EvaluableCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - evaluable
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        evaluable:
          $ref: '#/components/schemas/Evaluable'
        type:
          type: string
          const: EvaluableCondition
    DistroRoutingStep:
      title: DistroRoutingStep
      oneOf:
      - $ref: '#/components/schemas/DistroRoutingStep_Enrichment'
      - $ref: '#/components/schemas/DistroRoutingStep_SpamCheck'
      - $ref: '#/components/schemas/DistroRoutingStep_Unrepresentable'
      discriminator:
        propertyName: type
        mapping:
          Enrichment: '#/components/schemas/DistroRoutingStep_Enrichment'
          SpamCheck: '#/components/schemas/DistroRoutingStep_SpamCheck'
          Unrepresentable: '#/components/schemas/DistroRoutingStep_Unrepresentable'
    Evaluable_RelativeDay:
      title: Evaluable_RelativeDay
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
          description: Signed number of periods to shift from the current one; 0 = current period, negative
            = past, positive = future.
          type: integer
          format: int32
        length:
          description: How many consecutive periods the window spans.
          type: integer
          format: int32
          exclusiveMinimum: 0
        timeZone:
          $ref: '#/components/schemas/Option_String'
        type:
          type: string
          const: RelativeDay
    NonOwnershipConditionsRequest_StaticValueCondition:
      title: NonOwnershipConditionsRequest_StaticValueCondition
      type: object
      required:
      - conditionId
      - dataReference
      - operator
      - value
      - type
      properties:
        conditionId:
          $ref: '#/components/schemas/ConditionId'
        dataReference:
          $ref: '#/components/schemas/DataReference'
        operator:
          $ref: '#/components/schemas/Operator'
        value:
          $ref: '#/components/schemas/StaticValue'
        type:
          type: string
          const: StaticValueCondition
    DistributionUserState_Capped:
      title: DistributionUserState_Capped
      description: User has reached their assignment cap for the current period and is temporarily excluded
        until the cap resets.
      type: object
      required:
      - userId
      - total
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Capped
    DistroSimpleObjectType_Case:
      title: DistroSimpleObjectType_Case
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Case
    DataObject:
      title: DataObject
      oneOf:
      - $ref: '#/components/schemas/CustomMatchedObjectRef'
      - $ref: '#/components/schemas/MatchedObject'
      - $ref: '#/components/schemas/NormalDataObject'
      - $ref: '#/components/schemas/RelatedChildObjectRef'
      - $ref: '#/components/schemas/RelatedDataObject'
    DistroLeadConversionAccount_MatchAccount:
      title: DistroLeadConversionAccount_MatchAccount
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: MatchAccount
    MatchedObject:
      title: MatchedObject
      description: Matched/related-object reference from a matching configuration (e.g. MatchedAccount
        = account matched via Lead-to-Account config). NOT for ordinary Salesforce objects — use NormalDataObject
        (plain string) for those.
      type: string
      enum:
      - MatchedAccount
      - MatchedCase
      - MatchedOpportunity
      - RelatedLead
      - DuplicateLead
      - DuplicateContact
      - MatchedLead
      - MatchedContact
      - PrimaryOwner
      - MatchedCompany
      - MatchedDeal
      - MatchedTicket
    DistroRelativeDateUnit_Year:
      title: DistroRelativeDateUnit_Year
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Year
    MeetingLimit_MeetingLimitSet:
      title: MeetingLimit_MeetingLimitSet
      type: object
      required:
      - resetPeriodicity
      - type
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/MeetingLimitReset'
        type:
          type: string
          const: MeetingLimitSet
    ResourceSchedulerId:
      title: ResourceSchedulerId
      examples:
      - d4e5f6a7-b8c9-4d0e-a1f2-3b4c5d6e7f8a
      type: string
      format: uuid
    DistroDynamicFieldValue_TemplateText:
      title: DistroDynamicFieldValue_TemplateText
      type: object
      required:
      - text
      - type
      properties:
        text:
          type: string
        type:
          type: string
          const: TemplateText
    ConfigurationDTO:
      title: ConfigurationDTO
      type: object
      required:
      - distributionId
      - workspaceId
      - assignmentTypeConfig
      - teamRef
      - metadata
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
          description: Workspace the distribution belongs to.
        assignmentTypeConfig:
          $ref: '#/components/schemas/DistributionAssignmentTypeConfig'
        teamRef:
          $ref: '#/components/schemas/TeamRef'
          description: Team whose members participate in this distribution.
        weights:
          description: Per-user relative assignment weights.
          type: array
          items:
            $ref: '#/components/schemas/UserWeight'
        name:
          description: Human-readable distribution name; absent for unnamed distributions.
          type: string
        manualCalibration:
          description: Per-user manual score offsets applied on top of computed levels.
          type: array
          items:
            $ref: '#/components/schemas/UserCalibration'
        capping:
          $ref: '#/components/schemas/DistributedAssignmentLimit'
          description: Per-user assignment cap; absent means uncapped.
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
          description: Creation/update audit metadata.
    DistroTriggerDelay:
      title: DistroTriggerDelay
      oneOf:
      - $ref: '#/components/schemas/DistroTriggerDelay_AfterRecordEval'
      - $ref: '#/components/schemas/DistroTriggerDelay_BeforeRecordEval'
      discriminator:
        propertyName: type
        mapping:
          AfterRecordEval: '#/components/schemas/DistroTriggerDelay_AfterRecordEval'
          BeforeRecordEval: '#/components/schemas/DistroTriggerDelay_BeforeRecordEval'
    RuleBuilderVersion:
      title: RuleBuilderVersion
      type: string
      enum:
      - ExplicitV1
    DistroRoutersListResponse:
      title: DistroRoutersListResponse
      type: object
      properties:
        routers:
          description: Distro routers in the workspace.
          type: array
          items:
            $ref: '#/components/schemas/DistroRouter'
    DistroRouterStatus:
      title: DistroRouterStatus
      oneOf:
      - $ref: '#/components/schemas/DistroRouterStatus_Activating'
      - $ref: '#/components/schemas/DistroRouterStatus_Active'
      - $ref: '#/components/schemas/DistroRouterStatus_Deactivating'
      - $ref: '#/components/schemas/DistroRouterStatus_Error'
      - $ref: '#/components/schemas/DistroRouterStatus_Inactive'
      discriminator:
        propertyName: type
        mapping:
          Activating: '#/components/schemas/DistroRouterStatus_Activating'
          Active: '#/components/schemas/DistroRouterStatus_Active'
          Deactivating: '#/components/schemas/DistroRouterStatus_Deactivating'
          Error: '#/components/schemas/DistroRouterStatus_Error'
          Inactive: '#/components/schemas/DistroRouterStatus_Inactive'
    DistroFieldUpdateExpression_FieldUpdate:
      title: DistroFieldUpdateExpression_FieldUpdate
      type: object
      required:
      - fieldName
      - type
      properties:
        fieldName:
          type: string
        type:
          type: string
          const: FieldUpdate
    CampaignId:
      title: CampaignId
      type: string
      pattern: ^(701)[a-zA-Z0-9]{15}
    DistroAction_UpdateFieldDynamic:
      title: DistroAction_UpdateFieldDynamic
      type: object
      required:
      - field
      - value
      - type
      properties:
        field:
          type: string
        value:
          $ref: '#/components/schemas/DistroDynamicFieldValue'
        objectType:
          $ref: '#/components/schemas/DistroSimpleObjectType'
        type:
          type: string
          const: UpdateFieldDynamic
    Evaluable_RelativeYear:
      title: Evaluable_RelativeYear
      type: object
      required:
      - offset
      - length
      - type
      properties:
        offset:
[...]
