# Generated from the Chili Piper Edge API OpenAPI spec by
# .github/scripts/generate_gpt_openapi.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Chili Piper — Chat Conversation Inspector Actions
  version: 1.494.0
  description: GPT Actions for the chat-conversation-inspector GPT — a subset of the Chili Piper Edge
    API. Authenticate with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
paths:
  /v1/org/workspace:
    get:
      tags:
      - workspace
      summary: Read all workspaces
      description: 'READ-ONLY. Read all workspaces. List the workspaces that partition the org and their
        workspaceIds. Params: page, pageSize.'
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
      x-mcp-tool: workspace-list
  /v1/org/chat/logs:
    get:
      tags:
      - chat
      summary: Reads Chat Conversation Logs
      description: 'READ-ONLY. Reads Chat Conversation Logs. Read a workspace''s Chat AI conversation
        logs over a time window. Params: workspaceId (required), start (required), end (required), playbookId,
        guestEmail, guestId, ruleId, ruleName, page, pageSize.'
      operationId: chatLogs
      parameters:
      - name: workspaceId
        in: query
        description: Id of the workspace
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: start
        in: query
        description: time of start such as 2025-01-08T13:46:18.681Z (ISO8601 format)
        required: true
        schema:
          type: string
          format: date-time
      - name: end
        in: query
        description: time of end such as 2025-01-14T13:46:18.681Z (ISO8601 format)
        required: true
        schema:
          type: string
          format: date-time
      - name: playbookId
        in: query
        description: Optional chat playbook id(s) to restrict the logs to; repeatable. When omitted, all
          playbooks in the workspace are considered.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: guestEmail
        in: query
        description: Optional guest email to filter logs by (case-insensitive exact match). When omitted,
          all guests are considered.
        required: false
        schema:
          type: string
          pattern: .+@.+
      - name: guestId
        in: query
        description: Optional guest id to filter logs by (exact match). When omitted, all guests are considered.
        required: false
        schema:
          type: string
          format: uuid
      - name: ruleId
        in: query
        description: Optional routing-rule id to filter logs by (exact match on any rule executed in the
          session). Stable across rule renames. When omitted, all rules are considered.
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: ruleName
        in: query
        description: Optional routing-rule name to filter logs by (exact match on any rule executed in
          the session). When omitted, all rules are considered.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_ChatConversationLog'
        '400':
          description: 'Invalid value for: query parameter workspaceId, Invalid value for: query parameter
            start, Invalid value for: query parameter end, Invalid value for: query parameter guestEmail,
            Invalid value for: query parameter guestId, Invalid value for: query parameter ruleId, Invalid
            value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - logs.read
      x-mcp-tool: chat-logs
  /v1/org/chat/transcript:
    get:
      tags:
      - chat
      summary: Reads a Chat Conversation Transcript
      description: 'READ-ONLY. Reads a Chat Conversation Transcript. Read one guest''s full chat conversation
        transcript. Params: workspaceId (required), guestId (required), before, beforeSeenId, pageSize.'
      operationId: chatTranscript
      parameters:
      - name: workspaceId
        in: query
        description: Id of the workspace
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: guestId
        in: query
        description: Guest whose transcript to read (exact match). Find it via chat-logs.
        required: true
        schema:
          type: string
          format: uuid
      - name: before
        in: query
        description: 'Boundary timestamp cursor: echo the previous page''s `nextCursor.before`; omit for
          the latest page.'
        required: false
        schema:
          type: string
          format: date-time
      - name: beforeSeenId
        in: query
        description: Message-archive ids already returned at `before` (echo `nextCursor.seenIds`); repeatable,
          ignored when `before` is omitted.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: pageSize
        in: query
        description: Number of messages per page (1–200, default 50).
        required: false
        schema:
          default: 50
          type: integer
          format: int32
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatTranscriptPage'
        '400':
          description: 'Invalid value for: query parameter workspaceId, Invalid value for: query parameter
            guestId, Invalid value for: query parameter before, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - logs.read
      x-mcp-tool: chat-transcript
  /v1/org/user/find-by-id:
    post:
      tags:
      - user
      summary: Finds users by IDs
      description: 'READ-ONLY. Finds users by IDs. Batch-fetch full profiles for a set of userIds. Params:
        page, pageSize. Takes a JSON body.'
      operationId: userFindByIds
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                pattern: '[^\s\\/]+'
        required: false
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_User'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize,
            Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - user.read
      x-mcp-tool: user-find-by-ids
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the
        word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer
        prefix returns 401.'
      name: Authorization
      in: header
  schemas:
    ChatTranscriptCursor:
      title: ChatTranscriptCursor
      type: object
      required:
      - before
      properties:
        before:
          description: 'Boundary timestamp: the oldest message time of the page this cursor came from.'
          type: string
          format: date-time
        seenIds:
          description: Message-archive ids already returned at `before`; echoed back as `beforeSeenId`
            to skip the overlap.
          type: array
          items:
            type: string
    User:
      title: User
      type: object
      required:
      - id
      - name
      - email
      - isSuperAdmin
      - licenses
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        name:
          type: string
          minLength: 1
        email:
          $ref: '#/components/schemas/Email'
          description: User's email address.
        isSuperAdmin:
          description: Whether the user is a super administrator of the tenant.
          type: boolean
        managedWorkspaces:
          description: Workspaces the user administers.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        managedTeams:
          description: Teams the user administers.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        licenses:
          $ref: '#/components/schemas/UserLicenses'
        salesforce:
          $ref: '#/components/schemas/SalesforceUser'
        hubspot:
          $ref: '#/components/schemas/HubspotUser'
        slug:
          description: User's personal booking-page slug; absent if they have none.
          type: string
          pattern: '[-0-9a-z_]+'
        workspaces:
          description: All workspaces the user is a member of.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        personalWorkspaceId:
          description: The user's personal workspace, when they have one.
          type: string
          pattern: '[^\s\\/]+'
        personalDetails:
          $ref: '#/components/schemas/UserPersonalDetails'
        workingHours:
          $ref: '#/components/schemas/WorkingHours'
        timezone:
          description: The user's configured scheduling timezone (IANA id); absent when synced from their
            connected calendar. Populated by user-read only.
          examples:
          - America/New_York
          type: string
    HubspotUser:
      title: HubspotUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked HubSpot user.
        id:
          description: Identifier of the linked HubSpot user.
          type: integer
          format: int64
    Tier:
      title: Tier
      type: string
      enum:
      - RoutingAndScheduling
      - Experiences
      - ChiliDataPlatform
    PaginatedResult_ChatConversationLog:
      title: PaginatedResult_ChatConversationLog
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ChatConversationLog'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    ChatRoutingOutcome:
      title: ChatRoutingOutcome
      type: string
      enum:
      - Routed
      - NotRouted
      - Abandoned
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    WorkInterval:
      title: WorkInterval
      type: object
      required:
      - start
      - end
      properties:
        start:
          description: Start of the working interval as a local time (HH:mm), in the schedule timezone.
          type: string
        end:
          description: End of the working interval as a local time (HH:mm); must be after start.
          type: string
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
          description: Unique identifier of the workspace.
        name:
          description: Human-readable workspace name.
          type: string
        emoji:
          description: Optional emoji shown as the workspace's icon.
          type: string
        logo:
          description: Optional URL of the workspace's logo image.
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    RuleId:
      title: RuleId
      examples:
      - 3b4c5d6e-7f8a-4b9c-9d0e-1f2a3b4c5d6e
      type: string
      pattern: '[^\s\\/]+'
    PaginatedResult_User:
      title: PaginatedResult_User
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    UserPersonalDetails:
      title: UserPersonalDetails
      type: object
      required:
      - email
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: The user's email address.
        firstName:
          description: The user's first name.
          type: string
        lastName:
          description: The user's last name.
          type: string
        jobTitle:
          description: The user's job title.
          type: string
        conferenceDetails:
          description: Free-text conferencing details shown on the user's meetings.
          type: string
        location:
          description: The user's location.
          type: string
        phoneNumber:
          description: The user's phone number.
          type: string
        imageUrl:
          description: URL of the user's profile picture.
          type: string
        customCompanyLogoUrl:
          description: URL of a custom company logo shown on the user's booking pages.
          type: string
    UserLicenses:
      title: UserLicenses
      type: object
      required:
      - chiliCalOrg
      - handoff
      properties:
        distro:
          description: Whether the user holds a Distro (lead-routing) license.
          type: boolean
        chiliCalOrg:
          description: Whether the user holds a ChiliCal organization license.
          type: boolean
        concierge:
          description: Whether the user holds a Concierge license.
          type: boolean
        conciergeLive:
          description: Whether the user holds a Concierge Live license.
          type: boolean
        chat:
          description: Whether the user holds a Chat license.
          type: boolean
        handoff:
          description: Whether the user holds a Handoff license.
          type: boolean
        tier:
          $ref: '#/components/schemas/Tier'
    ChatTranscriptSender:
      title: ChatTranscriptSender
      type: string
      enum:
      - Bot
      - Guest
      - Rep
    ChatTranscriptMessage:
      title: ChatTranscriptMessage
      type: object
      required:
      - sender
      - text
      - timestamp
      properties:
        sender:
          $ref: '#/components/schemas/ChatTranscriptSender'
        text:
          description: Message body text; a reply-button selection reads as "<label> [Shortcut]".
          type: string
        timestamp:
          description: When the message was sent.
          type: string
          format: date-time
    ChatConversationMeeting:
      title: ChatConversationMeeting
      type: object
      required:
      - assigneeId
      - origin
      - scheduledAt
      properties:
        assigneeId:
          $ref: '#/components/schemas/UserId'
          description: Rep the meeting was booked with.
        origin:
          description: How the meeting was booked (e.g. chat, form).
          type: string
        scheduledAt:
          description: When the meeting is scheduled to start.
          type: string
          format: date-time
    WorkingHours:
      title: WorkingHours
      type: object
      properties:
        monday:
          description: Working intervals on Monday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        tuesday:
          description: Working intervals on Tuesday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        wednesday:
          description: Working intervals on Wednesday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        thursday:
          description: Working intervals on Thursday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        friday:
          description: Working intervals on Friday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        saturday:
          description: Working intervals on Saturday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
        sunday:
          description: Working intervals on Sunday; empty means unavailable.
          type: array
          items:
            $ref: '#/components/schemas/WorkInterval'
    ChatMessageRole:
      title: ChatMessageRole
      type: string
      enum:
      - Bot
      - Guest
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    ChatAssignment:
      title: ChatAssignment
      type: object
      required:
      - assigneeId
      - method
      - assignmentType
      properties:
        assigneeId:
          $ref: '#/components/schemas/UserId'
          description: Assignee (rep) user id.
        method:
          description: Assignment method that selected this assignee, e.g. FlexibleRoundRobin.
          type: string
        assignmentType:
          description: Whether this assignee took the Conversation (live chat) or the Meeting.
          type: string
    ChatTranscriptPage:
      title: ChatTranscriptPage
      type: object
      properties:
        messages:
          description: Messages in this page, ordered newest-first.
          type: array
          items:
            $ref: '#/components/schemas/ChatTranscriptMessage'
        nextCursor:
          $ref: '#/components/schemas/ChatTranscriptCursor'
    SalesforceUser:
      title: SalesforceUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
          description: Email of the linked Salesforce user.
        id:
          description: Identifier of the linked Salesforce user.
          type: string
          pattern: '[^\s\\/]+'
        name:
          description: Display name of the linked Salesforce user, when known.
          type: string
          minLength: 1
        active:
          description: Whether the linked Salesforce user is active, when known.
          type: boolean
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
      properties: {}
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    ChatConversationMessage:
      title: ChatConversationMessage
      type: object
      required:
      - role
      - content
      - timestamp
      properties:
        role:
          $ref: '#/components/schemas/ChatMessageRole'
        content:
          description: Message body text.
          type: string
        timestamp:
          description: When the message was sent.
          type: string
          format: date-time
    ChatConversationLog:
      title: ChatConversationLog
      type: object
      required:
      - guestId
      - sessionId
      - playbookId
      - startedAt
      - ended
      - targetedUrl
      - routingOutcome
      - repJoined
      - chatAiStarted
      - meetingBooked
      properties:
        guestId:
          description: Anonymous visitor id for the chat session.
          type: string
          format: uuid
        sessionId:
          description: Numeric chat session identifier.
          type: integer
          format: int64
        playbookId:
          description: Chat playbook that handled the session.
          type: string
          format: uuid
        guestEmail:
          description: Guest email, once captured during the conversation.
          type: string
          pattern: .+@.+
        startedAt:
          description: When the conversation began.
          type: string
          format: date-time
        endedAt:
          description: When the conversation ended, if it has.
          type: string
          format: date-time
        ended:
          description: Whether the conversation has ended.
          type: boolean
        targetedUrl:
          description: Page URL the visitor was on when chat engaged.
          type: string
        respondedUrl:
          description: Page URL where the visitor responded, if different.
          type: string
        routingOutcome:
          $ref: '#/components/schemas/ChatRoutingOutcome'
        ruleId:
          description: Id of the rule that produced the routing outcome.
          type: string
          pattern: '[^\s\\/]+'
        ruleName:
          description: Name of the rule that produced the routing outcome.
          type: string
        evaluatedRules:
          description: All rules evaluated during the session, in order.
          type: array
          items:
            $ref: '#/components/schemas/ChatRuleEvaluation'
        conversationAssigneeId:
          description: Primary rep assigned to the conversation, if routed.
          type: string
          pattern: '[^\s\\/]+'
        assignments:
          description: Full assignee roster for the session — every conversation and meeting assignee
            (all candidates in double round robin), not just the primary.
          type: array
          items:
            $ref: '#/components/schemas/ChatAssignment'
        routedAt:
          description: When the visitor was routed to a rep.
          type: string
          format: date-time
        repJoined:
          description: Whether a rep joined the conversation.
          type: boolean
        chatAiStarted:
          description: Whether the AI chat assistant handled the session.
          type: boolean
        meetingBooked:
          description: Whether a meeting was booked during the session.
          type: boolean
        meetings:
          description: Meetings booked during the session.
          type: array
          items:
            $ref: '#/components/schemas/ChatConversationMeeting'
        messages:
          description: Conversation messages in chronological order.
          type: array
          items:
            $ref: '#/components/schemas/ChatConversationMessage'
    ChatRuleEvaluation:
      title: ChatRuleEvaluation
      type: object
      required:
      - ruleId
      - ruleName
      - ruleType
      - matched
      - evaluatedAt
      properties:
        ruleId:
          $ref: '#/components/schemas/RuleId'
          description: Stable id of the evaluated rule (survives renames).
        ruleName:
          description: Rule display name at evaluation time.
          type: string
        ruleType:
          description: Kind of routing rule evaluated.
          type: string
        matched:
          description: Whether the session satisfied this rule.
          type: boolean
        evaluatedAt:
          description: When the rule was evaluated.
          type: string
          format: date-time
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
